 body {
   padding-left: 0;
   padding-right: 0;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .brand {
   background: rgba(0, 0, 0, 0);
   width: 147px;
   height: 49px;
   position: absolute;
   top: -124px;
   left: -10px;
 }
 #absolute-wrapper .badge {
   width: 36px;
   height: 14px;
   position: absolute;
   top: 606px;
   left: -387px;
 }
 .navbar {
   height: 78px;
 }
 .navbar .navbar-inner {
   background: #0e2d4c;
   border: none;
   border-radius: 0;
   height: 78px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .navbar .navbar-inner .nav li a {
   padding: 20px 15px 10px 15px;
   text-shadow: none;
   font-family:"museo-sans";
   color: #ffffff;
   line-height: 40px;
 }
 .navbar .navbar-inner .nav li a .icon.icon-comments-alt {
   margin: -5px 0 0 0;
   font-size: 31px;
   color: rgba(255, 255, 255, 0.796875);
   height: 31px;
   width: 39px;
 }
 .navbar .navbar-inner .nav li a .icon.icon-cog {
   margin: -5px 0 0 0;
   font-size: 28px;
   color: rgba(255, 255, 255, 0.75);
   height: 28px;
   width: 33px;
 }
 .navbar .navbar-inner .image {
   margin: 15px 0 0 0;
 }
 .container-fluid {
   background: rgba(255, 255, 255, 0);
   padding: 0 10px 30px 10px;
 }
 .container-fluid .well.well-1 {
   border-radius: 0;
 }
 .container-fluid .well.well-2 {
   border: none;
 }
 .container-fluid .well.well-3 {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
 }
 .container-fluid .well.well-4 {
   padding: 20px 0 5px 0;
 }
 .container-fluid .well.well-5 {
   -moz-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   -webkit-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   -o-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   padding: 10px;
 }
 .container-fluid .well.well-6 {
   padding: 0;
   margin: 0 -10px 20px -10px;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-4.well-7 {
   background: #0e2d4c;
   margin: 0 -10px 0 0;
   -moz-box-shadow: 0 1px 2px 0 #000000;
   -webkit-box-shadow: 0 1px 2px 0 #000000;
   -o-box-shadow: 0 1px 2px 0 #000000;
   box-shadow: 0 1px 2px 0 #000000;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-4.well-7 .easel-inserted-link .heading {
   margin: 0;
   font-family:"museo-sans";
   font-size: 32px;
   text-align: center;
   color: #ffffff;
   line-height: 40px;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-4.well-7 .easel-inserted-link .row-fluid .span4 p {
   margin: 0;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-4.well-7 .easel-inserted-link .row-fluid .span4 .badge.badge-1 {
   background: rgba(255, 0, 0, 0.769531);
   margin: 5px 0 0 0;
   font-family:"museo-sans";
   text-align: center;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-4.well-7 .easel-inserted-link .row-fluid .span4 .badge-important {
   font-weight: normal;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-4.well-7 .easel-inserted-link .row-fluid .span4 p.p-1 {
   text-align: right;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-3.well-4.well-8 {
   background: rgba(14, 45, 76, 0.308594);
   margin: 0 -11px 0 -11px;
   border-top: none;
   border-bottom: none;
   border-right: 1px solid rgba(14, 45, 76, 0.179688);
   border-left: 1px solid rgba(14, 45, 76, 0.179688);
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-3.well-4.well-8 .easel-inserted-link .heading {
   margin: 0;
   font-family:"museo-sans";
   text-align: center;
   color: rgba(255, 255, 255, 0.476562);
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-3.well-4.well-8 .easel-inserted-link .row-fluid .span4 p.p-2 {
   margin: 0;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-3.well-4.well-8 .easel-inserted-link .row-fluid .span4 p.p-3 {
   text-align: center;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-3.well-4.well-8 .easel-inserted-link .row-fluid .span4 .p-2.p-4 {
   text-align: right;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-3.well-4 {
   background: rgba(14, 45, 76, 0.296875);
   margin: 0 0 0 -10px;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-3.well-4 .easel-inserted-link .heading {
   margin: 0;
   font-family:"museo-sans";
   font-size: 32px;
   text-align: center;
   line-height: 40px;
   color: rgba(255, 255, 255, 0.476562);
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-3.well-4 .easel-inserted-link .row-fluid .span4 p {
   margin: 0;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-3.well-4 .easel-inserted-link .row-fluid .span4 .badge-important {
   font-weight: normal;
 }
 .container-fluid .well.well-1.well-2.well-3.well-6 .row-fluid .span4 .well.well-1.well-2.well-3.well-4 .easel-inserted-link .row-fluid .span4 p.p-5 {
   text-align: right;
 }
 .container-fluid .row-fluid .span3 .image {
   -moz-box-shadow: 0 1px 2px 0 #000000;
   -webkit-box-shadow: 0 1px 2px 0 #000000;
   -o-box-shadow: 0 1px 2px 0 #000000;
   box-shadow: 0 1px 2px 0 #000000;
 }
 .container-fluid .row-fluid .span9 .heading {
   margin: 10px 0 0 0;
   font-family:"museo-sans";
   font-weight: normal;
   color: #0e2d4c;
 }
 .container-fluid .row-fluid .span9 p {
   margin: 0 0 0 10px;
   font-family:"museo-sans";
   color: #0e2d4c;
 }
 .container-fluid .row-fluid .span9 .btn {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%);
   font-family:"museo-sans";
   margin: 0 0 0 10px;
 }
 .container-fluid .heading.heading-1 {
   margin: 0;
 }
 .container-fluid .heading {
   font-family:"museo-sans";
 }
 .container-fluid .heading.heading-2 {
   font-size: 32px;
   line-height: 40px;
 }
 .container-fluid .heading.heading-3 {
   text-align: center;
 }
 .container-fluid .heading.heading-4 {
   color: rgba(255, 255, 255, 0.476562);
 }
 .container-fluid .heading.heading-5 {
   margin: 10px 0 0 0;
 }
 .container-fluid .heading.heading-6 {
   color: #0e2d4c;
 }
 .container-fluid .heading.heading-7 {
   font-size: 26px;
 }
 .container-fluid .heading.heading-8 {
   margin: 40px 0 0 0;
 }
 .container-fluid .heading.heading-9 {
   font-size: 16px;
 }
 .container-fluid .heading-1.heading-3.heading-6 .btn {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%);
   font-family:"museo-sans";
 }
 .container-fluid .well.well-5 .row-fluid .span8 .row-fluid .span12 p {
   font-family:"museo-sans";
   color: #0e2d4c;
 }
 .container-fluid .well.well-5 .row-fluid .span8 .row-fluid .span10 p {
   font-family:"museo-sans";
   color: #0e2d4c;
 }
 .container-fluid .well.well-5 .row-fluid .span8 .row-fluid .span10 p.p-6 {
   line-height: 10px;
 }
 .container-fluid .well.well-5 .row-fluid .span8 .row-fluid.row-fluid-1 {
   margin: 20px 0 0 0;
 }
 .container-fluid .well.well-5 .row-fluid .span8 .row-fluid .span2 .icon.icon-credit-card {
   font-size: 40px;
   color: #0e2d4c;
   height: 40px;
   width: 67px;
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 {
   background: rgba(245, 245, 245, 0.777344);
   margin: 0;
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 p {
   font-family:"museo-sans";
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 p.p-7 {
   text-align: center;
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 p.p-8 {
   color: #0e2d4c;
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 p.p-9 {
   line-height: 10px;
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 p.p-10 {
   margin: 0 0 10px 10px;
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 p.p-11 {
   font-size: 12px;
   line-height: 8px;
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 p.p-12 {
   color: rgba(14, 45, 76, 0.53125);
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 p.p-13 {
   margin: 30px 0 10px 0;
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 p.p-14 {
   color: rgba(14, 45, 76, 0.523438);
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 p.p-15 {
   padding: 0 0 5px 0;
   margin: 0 0 5px 0;
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 .row-fluid .span3 .icon.icon-check {
   color: #ff0000;
   margin-top: 20px;
   font-size: 26px;
   height: 26px;
   width: 33px;
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 .row-fluid .span7 .heading-5.heading-9.heading-10 {
   color: rgba(14, 45, 76, 0.472656);
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 .row-fluid .span3 .p-7.p-9.p-13.p-16 {
   color: rgba(14, 45, 76, 0.5);
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 .row-fluid .span7 .heading-5.heading-9.heading-11 {
   color: rgba(14, 45, 76, 0.484375);
 }
 .container-fluid .well.well-5 .row-fluid .span4 .well.well-5 .row-fluid .span3 .p-7.p-9.p-13.p-17 {
   color: rgba(14, 45, 76, 0.519531);
 }
 .container-fluid .well.well-5 .table thead tr th.th-1 {
   text-align: center;
 }
 .container-fluid .well.well-5 .table tbody tr td.td-1 {
   text-align: center;
 }
 .container-fluid .container .row-fluid .span12 .pull-left p {
   font-weight: 300;
   color: #ffffff;
   line-height: 36px;
 }
 .container-fluid .container .row-fluid .span12 .nav {
   margin: 0;
 }
 .container-fluid .container .row-fluid .span12 .nav li a {
   text-align: center;
   color: #cccccc;
 }
