 body {
   padding-left: 0;
   padding-right: 0;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .brand {
   background: rgba(0, 0, 0, 0);
   width: 147px;
   height: 49px;
   position: absolute;
   top: -124px;
   left: -10px;
 }
 #absolute-wrapper .badge {
   width: 36px;
   height: 14px;
   position: absolute;
   top: 606px;
   left: -387px;
 }
 .navbar {
   height: 78px;
 }
 .navbar .navbar-inner {
   background: #0e2d4c;
   border: none;
   border-radius: 0px;
   height: 78px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .navbar .navbar-inner .nav li a {
   padding: 20px 15px 10px 15px;
   text-shadow: none;
   font-family:"museo-sans";
   color: #ffffff;
   line-height: 40px;
 }
 .navbar .navbar-inner .nav li a .icon.icon-comments-alt {
   font-size: 31px;
   color: rgba(255, 255, 255, 0.796875);
   margin: -5px 0px 0px 0px;
   height: 31px;
   width: 39px;
 }
 .navbar .navbar-inner .nav li a .icon.icon-cog {
   font-size: 28px;
   color: rgba(255, 255, 255, 0.75);
   margin: -5px 0px 0px 0px;
   height: 28px;
   width: 33px;
 }
 .navbar .navbar-inner .image {
   margin: 15px 0px 0px 0px;
 }
 .container-fluid {
   background: rgba(255, 255, 255, 0);
   padding: 0px 10px 30px 10px;
 }
 .container-fluid .well.well-1 {
   border-radius: 0px;
 }
 .container-fluid .well.well-2 {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
   border: none;
 }
 .container-fluid .well.well-3 {
   padding: 0px;
 }
 .container-fluid .well.well-4 {
   background: rgba(14, 45, 76, 0.296875);
 }
 .container-fluid .well.well-5 {
   padding: 20px 0px 5px 0px;
 }
 .container-fluid .well.well-6 {
   border-bottom: none;
 }
 .container-fluid .well.well-7 {
   -moz-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   -webkit-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   -o-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   padding: 10px;
 }
 .container-fluid .well.well-8 {
   border-top: 1px dashed #0e2d4c;
   margin: 0px;
   border-left: none;
   border-right: none;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 {
   margin: 0px -10px 0px -10px;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-2.well-4.well-5.well-9 {
   margin: 0px -10px 0px 0px;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-2.well-4.well-5.well-9 .easel-inserted-link .heading {
   font-family:"museo-sans";
   text-align: center;
   font-size: 32px;
   margin: 0px;
   line-height: 40px;
   color: rgba(255, 255, 255, 0.488281);
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-2.well-4.well-5.well-9 .easel-inserted-link .row-fluid .span4 p {
   margin: 0px;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-2.well-4.well-5.well-9 .easel-inserted-link .row-fluid .span4 .badge-important {
   font-weight: normal;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-2.well-4.well-5.well-9 .easel-inserted-link .row-fluid .span4 p.p-1 {
   text-align: right;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-5.well-6 {
   background: #0e2d4c;
   margin: 0px -11px 0px -11px;
   border-top: none;
   border-right: 1px solid rgba(14, 45, 76, 0.179688);
   border-left: 1px solid rgba(14, 45, 76, 0.179688);
   -moz-box-shadow: 0px 1px 2px 0px #000000;
   -webkit-box-shadow: 0px 1px 2px 0px #000000;
   -o-box-shadow: 0px 1px 2px 0px #000000;
   box-shadow: 0px 1px 2px 0px #000000;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-5.well-6 .easel-inserted-link .heading {
   margin: 0px;
   font-family:"museo-sans";
   text-align: center;
   color: #ffffff;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-5.well-6 .easel-inserted-link .row-fluid .span4 p.p-2 {
   margin: 0px;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-5.well-6 .easel-inserted-link .row-fluid .span4 p.p-3 {
   text-align: center;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-5.well-6 .easel-inserted-link .row-fluid .span4 .p-2.p-4 {
   text-align: right;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-2.well-4.well-5.well-10 {
   margin: 0px 0px 0px -10px;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-2.well-4.well-5.well-10 .easel-inserted-link .heading {
   margin: 0px;
   font-family:"museo-sans";
   font-size: 32px;
   text-align: center;
   line-height: 40px;
   color: rgba(255, 255, 255, 0.484375);
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-2.well-4.well-5.well-10 .easel-inserted-link .row-fluid .span4 p {
   margin: 0px;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-2.well-4.well-5.well-10 .easel-inserted-link .row-fluid .span4 .badge-important {
   font-weight: normal;
 }
 .container-fluid .well.well-1.well-2.well-3 .well.well-1.well-2.well-3 .row-fluid .span4 .well.well-1.well-2.well-4.well-5.well-10 .easel-inserted-link .row-fluid .span4 p.p-5 {
   text-align: right;
 }
 .container-fluid .heading {
   font-family:"museo-sans";
 }
 .container-fluid .heading.heading-1 {
   text-align: center;
   margin: 0px;
 }
 .container-fluid .heading.heading-2 {
   font-size: 32px;
   line-height: 40px;
 }
 .container-fluid .heading.heading-3 {
   color: #0e2d4c;
 }
 .container-fluid .heading.heading-4 {
   font-weight: normal;
 }
 .container-fluid .heading.heading-5 {
   text-align: right;
   margin: 10px 10px 10px 0px;
 }
 .container-fluid .heading-3.heading-5 .icon.icon-star {
   margin-top: 2px;
   margin-right: 0px;
   margin-bottom: 0px;
   margin-left: 0px;
   color: #f4821c;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span3.span3-1 {
   padding: 0px 0px 20px 0px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span3-1 .well {
   background: rgba(14, 45, 76, 0.191406);
   padding: 5px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span3-1 .well .form-inline .control-group .control-label {
   font-weight: bold;
   color: #0e2d4c;
   font-family:"museo-sans";
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span3-1 .well .form-inline .control-group .controls .checkbox.checkbox-1 {
   padding: 0px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span3-1 .well .form-inline .control-group .controls .checkbox {
   color: #0e2d4c;
   font-family:"museo-sans";
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span3-1 .well .form-inline .control-group .controls select {
   width: 100px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span3-1 .well .form-inline .form-actions {
   background: rgba(245, 245, 245, 0);
   padding: 0px;
   border: none;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span11 p {
   font-family:"museo-sans";
   font-weight: bold;
   color: rgba(14, 45, 76, 0.476562);
   margin: 0px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span11 p.p-6 {
   font-size: 10px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span1 .icon.icon-star {
   font-size: 27px;
   color: #f4821c;
   height: 27px;
   width: 33px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span1 p {
   font-family:"museo-sans";
   font-size: 10px;
   text-align: center;
   color: #0e2d4c;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span3 .icon.icon-map-marker {
   font-size: 22px;
   color: #f4821c;
   margin: 5px 0px 0px 0px;
   height: 22px;
   width: 23px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span3 p.p-7 {
   margin: 5px 0px 10px 0px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span3 p {
   font-family:"museo-sans";
   font-size: 10px;
   color: #0e2d4c;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span3 p.p-8 {
   font-weight: bold;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span3 p.p-9 {
   margin: 5px 0px 10px 5px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span3 .icon.icon-credit-card {
   font-size: 19px;
   margin: 5px 0px 0px 0px;
   color: #0e2d4c;
   height: 25px;
   width: 19px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span3 .icon.icon-time {
   font-size: 24px;
   color: #0e2d4c;
   margin: 5px 0px 0px 0px;
   height: 24px;
   width: 24px;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span8 p {
   font-family:"museo-sans";
   color: #0e2d4c;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span4 .btn-primary {
   background: #0088cc;
   background-image: -moz-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: -webkit-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: -o-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: linear-gradient(180deg, #0088cc 0%, #0044cc 100%);
   font-family:"museo-sans";
   border: none;
 }
 .container-fluid .container .row-fluid .span12 .pull-left .row-fluid .span9 .well.well-7 .row-fluid .span1 .icon.icon-star-empty {
   font-size: 28px;
   margin-top: 10px;
   color: #0e2d4c;
   height: 28px;
   width: 32px;
 }
 .container-fluid .container .row-fluid .span12 .nav {
   margin: 0px;
 }
 .container-fluid .container .row-fluid .span12 .nav li a {
   text-align: center;
   color: #cccccc;
 }