html {
  background-color: #457393;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
  margin-top: 0 !important;
}
#absolute-wrapper {
  position: relative;
  width: 940px;
  margin: 0 auto;
  height: 1px;
}
#absolute-wrapper .brand {
  background: rgba(0, 0, 0, 0);
  width: 147px;
  height: 49px;
  position: absolute;
  top: -124px;
  left: -10px;
}
#absolute-wrapper .badge {
  width: 36px;
  height: 14px;
  position: absolute;
  top: 606px;
  left: -387px;
}
.container {
  background: rgba(255, 255, 255, 0);
}
.container .row-fluid .span6.span6-1 {
  padding: 0 0 20px 0;
}
.container .row-fluid .span6-1 div .image {
  margin: 0 0 0 5px;
}
.container .row-fluid .span6-1 div .badge {
  background: rgba(255, 0, 0, 0.777344);
  margin: 0 0 0 60px;
}
.container .row-fluid .span6-1 div .table tbody tr td.td-1 {
  text-align: center;
}
.container .row-fluid .span6-1 div .table tbody tr td.td-2 {
  text-align: right;
}
.container .row-fluid .span6-1 .well {
  background: rgba(245, 245, 245, 0);
}
.container .row-fluid .span6-1 .well .table thead tr th.th-1 {
  text-align: center;
}
.container .row-fluid .span6 .profile-row .span4 .profile-label {
  margin: 0;
}
.container .row-fluid .span6 .profile-row .span8 p.p-1 {
  margin: 0;
}
.container .row-fluid .span6 .profile-row .span8 p.p-2 {
  text-align: right;
}
.container .row-fluid .span6 .profile-row .span8 .pull-right {
  margin: 0 10px 10px 0;
  width: 108px;
}
.container .row-fluid .span6 .profile-row .span8 .row-fluid .span7 select {
  margin: 0;
  width: 108px;
}
.container .row-fluid .span6 .profile-row .span8 .row-fluid .span6 p span {
  background-color: rgba(255, 255, 255, 0);
}
.container .row-fluid .span6 .profile-row .span8 .row-fluid .span7 .btn-group.btn-group-1 {
  width: 137px;
}
.container .row-fluid .span6 .profile-row .span8 .row-fluid .span7 .btn-group.btn-group-vertical .btn {
  width: 120px;
}
.container .row-fluid .span6 .profile-row .span12 .profile-label {
  margin: 0;
}
.container .row-fluid .span6 .profile-row .span12 .profile-label.profile-label-1 {
  line-height: 12px;
}
.container .row-fluid .span6 .profile-row .span12 .well {
  background: rgba(245, 245, 245, 0.0507812);
  padding: 5px 20px 0 10px;
}
.container .row-fluid .span6 .profile-row .span12 .well .profile-row .span12 .availability-row .span5 .control-label {
  line-height: 14px;
}
.container .row-fluid .span6 .profile-row .span12 .well .profile-row .span12 .availability-row .span1 .checkbox {
  text-align: center;
  line-height: 12px;
}
