 body {
   padding-left: 0;
   padding-right: 0;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 900px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .row-fluid {
   width: 940px;
   height: 30px;
   position: absolute;
   top: -219px;
   left: -719px;
 }
 .container-fluid .row-fluid .span12 .heading {
   font-family:"museo-sans";
   color: #0e2d4c;
 }
 .container-fluid .row-fluid .span12 .heading.heading-1 {
   text-align: center;
 }
 .container-fluid .row-fluid .span12 .well.well-1 {
   -moz-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   -webkit-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   -o-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   padding: 10px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span12 .heading {
   font-weight: normal;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span12 p {
   font-family:"museo-sans";
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span12 p.p-1 {
   font-weight: bold;
   color: rgba(14, 45, 76, 0.476562);
   margin: 0px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span12 .p-1.p-2 {
   font-size: 10px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span3 .icon.icon-map-marker {
   font-size: 22px;
   color: #f4821c;
   margin: 5px 0px 0px 0px;
   height: 22px;
   width: 23px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span3 p.p-3 {
   margin: 5px 0px 10px 0px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span3 p {
   font-family:"museo-sans";
   font-size: 10px;
   color: #0e2d4c;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span3 p.p-4 {
   font-weight: bold;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span3 .icon.icon-credit-card {
   font-size: 19px;
   margin: 5px 0px 0px 0px;
   color: #0e2d4c;
   height: 25px;
   width: 19px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span3 p.p-5 {
   margin: 5px 0px 10px 5px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span3 .icon.icon-time {
   font-size: 24px;
   color: #0e2d4c;
   margin: 5px 0px 0px 0px;
   height: 24px;
   width: 24px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .well {
   padding: 0px;
   border-top: 1px dashed #0e2d4c;
   border-radius: 0px;
   margin: 0px;
   border-left: none;
   border-bottom: none;
   border-right: none;
 }
 .container-fluid .row-fluid .span12 .well.well-1 .row-fluid .span12 p.p-6 {
   color: #0e2d4c;
 }
 .container-fluid .row-fluid .span12 .well.well-1 form .span12 {
   font-family:"museo-sans";
   color: #000000;
   height: 97px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 form .checkbox {
   font-size: 10px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 form .form-actions {
   background: transparent;
   border: none;
   margin: 0px;
   padding: 5px 20px 5px 20px;
 }
 .container-fluid .row-fluid .span12 .well.well-1 form .form-actions .btn-primary {
   margin: 0px 10px 0px 0px;
 }