.profile-row {
  padding: 5px 10px;
}
.profile-row p {
  margin: 0;
}
.availability-header {
  border-bottom: 1px solid #CCC;
  margin-bottom: 5px;
  height: 18px;
}
.availability-row {
  height: 12px;
}