<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<h3>Your Transportation Employment Hub</h3>
		</div>

		<div class="row text-center" style="margin: 20px 0">
			<div class="well col-md-5 col-xs-12">
				<div class="row">
					<h2>
						For <strong>Drivers</strong>
					</h2>
					<p>Find Great Jobs &amp; Control Your Career</p>
				</div>
				<div class="row">
					<p>
						<a class="btn btn-primary btn-lg" href="#forDrivers">Learn more</a>
					</p>
				</div>
			</div>

			<div class="well col-md-offset-2 col-md-5 col-xs-12">
				<div class="row">
					<h2>
						For <strong>Owners</strong>
					</h2>
					<p>Find Qualified Drivers Quickly and Easily</p>
				</div>
				<div class="row">
					<p>
						<a class="btn btn-primary btn-lg" href="#forOwners">Learn more</a>
					</p>
				</div>
			</div>

		</div>

		<div class="row">
			<p class="lead">
				Launching soon in the greater Phoenix area
			</p>
		</div>
	</div>

	<section class="jumbotron" id="forDrivers" data-spy="forDrivers" data-target="#forDrivers">
		<h2>For <strong>Drivers</strong></h2>
		<div class="row">
			<ul>
				<li>Find jobs that match <strong>your</strong> schedule</li>
				<li>Take control of your information</li>
				<li>Show your value!</li>
			</ul>
		</div>
	</section>

	<section class="jumbotron" id="forOwners" data-spy="forOwners" data-target="#forOwners">
		<h2>For <strong>Owners</strong></h2>
		<div class="row">
			<ul>
				<li>Find qualified drivers</li>
				<li>Simplify the search process</li>
				<li>Connect with drivers</li>
			</ul>
		</div>
	</section>

</section>