body{
  font-size: 11px;
  color: $content-body-text;
  line-height: 15px;
  margin-bottom: 5px;
}


/** HEADER STYLES **/
.header{
  background-image: linear-gradient(-180deg, $tab-selected 0%, $gradient-bottom 100%);
  background-repeat: repeat-x;
  font: 14px Helvetica Neue, Helvetica, Arial;
  color: $white;
  overflow: visible;
  z-index: 2;

  /** full size header and content pane **/
  &.full-size{height: 180px;}
  &.full-size ~ .pane{
    top: 180px;
    height: auto;
  }

  /** mid-size size header and content pane **/
  &.mid-size{height: 150px;}
  &.mid-size ~ .pane{
    top: 150px;
    height: auto;
  }

  /** compact size header and content pane **/
  &.compact-size{height: 120px;}
  &.compact-size ~ .pane{
    top: 120px;
    height: auto;
  }

  & ~ .pane.has-footer{
    bottom: 44px;
  }

  .bar-header{
    padding: 0 5px;
    background: none;
    color: $secondary-text-action;

    .title{
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
      color: $white;
    }
    .button{
      color: $secondary-text-action;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

/** Action Buttons **/
.action-buttons{
  height: 44px;
  letter-spacing: 0.82px;

  .button{
    font-weight: bold;

    &.primary{
      color: $modal-primary-text;
      background-color: $modal-primary-bg;
    }

    &.secondary{
      color: $modal-secondary-text;
      background-color: $modal-secondary-bg;
    }
  }
}



.label{
  text-transform: uppercase;
  display: inline-block;
  &:after { content : ":"; }
  .ico,
  .icon{
    color: $badge-green;
    height: 15px;
    margin-right: 5px;
  }
}

.content-text{
  /* BODY CONTENT TEXT: */
  text-transform: none;
  text-align: right;

  /* BODY ICON/BADGE: */
  color: $badge-green;
  height: 32px;
  margin-left: 5px;
}



