body{
  font-size: 11px;
  background-color: #0A2422;
  color: $content-body-text;
  line-height: 15px;
  margin-bottom: 5px;
}

.view-section{
  background-image: linear-gradient(-180deg, $tab-selected 0%, $gradient-bottom 100%);
  background-repeat: repeat-x;

  &.full-size > .pane{
    top: $bar-fullsize-height;
    height: auto;
  }

  &.mid-size > .pane{
    top: $bar-midsize-height;
    height: auto;
  }

  &.compact-size > .pane{
    top: $bar-compact-height;
    height: auto;
  }

  &.min-size > .pane{
    top: $bar-minsize-height;
    height: auto;
  }

  .bar-header{
    padding: 0 5px;
    background: none;
    border: 0;
    font: $bar-title-font-size Helvetica Neue, Helvetica, Arial;
    color: $secondary-text-action;

    .title{
      font-size: $bar-title-font-size;
      font-weight: $headings-font-weight;
      text-transform: capitalize;
      color: $light;
    }

    .button{
      color: $secondary-text-action;
      font-size: $bar-title-font-size;
      font-weight: $headings-font-weight;
      padding: 0 5px;

      &:first-child,
      &:last-child{
        top:0;
        max-height: $bar-height;
        line-height: $bar-height;
        border: 0;
      }

      &:first-child:before,
      &:last-child:before{
        line-height: $bar-height;
      }

      &.back-button{
        i{
          display: none;
        }
      }
    }
  }

  .bar-subheader{
    background:none;
    border: 0;

    h3{
      font-weight: normal;
      font-size: 15px;
      line-height: 19px;
      white-space: normal;
      padding: 0 20px;
      margin: 0;
      text-overflow: initial;
      color: #fff;
    }
  }

  .content-pane {
    bottom: $tabs-height;

    .ionic-scroll{
      height: auto;
      top: 0;
      right: 0;
      left: 0;
      // bottom: 44px;
      bottom: 0;
      position: absolute;

      &:nth-last-child(1){
        bottom:0;
      }
      
      .list {
        padding-bottom: 74px;
        
        & > :last-child > .item {
          //padding-bottom: 84px;
        }
      } 
    }
    &.profile-tabs{
      .ionic-scroll{
        top:70px;
      }
    }
  }
}


.pane.has-title{padding-top: 64px;}
.pane.has-footer{
  bottom: $bar-footer-height;
  height: auto;
}

.ionic-scroll,
.ionic-scroll .scroll{height: 100%;}


textarea{
  background-color: transparent;
  max-height: 100%;
}


/** Action Buttons **/
.action-buttons{
  height: $bar-footer-height;
  letter-spacing: 0.82px;

  &.button-bar{
    .button{
      font-weight: bold;
      border-width: 1px 0 0;
      border-radius: 0 0 0 0 !important;

      &.primary{
        color: $modal-primary-text;
        background-color: $modal-primary-bg;
      }

      &.secondary{
        color: $modal-secondary-text;
        background-color: $modal-secondary-bg;
      }

      &.button-block{
        margin-top: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
        

        .ico{
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }
  }
}

.item-input {
  textarea {
    min-height: 125px; 
    padding-top: 13px;
    //font-size: 16px; 
    //line-height: 18px; 
    //color: #9b9b9b;
    
    &.optional {
      min-height: 36px;
    }
  }
}

.no-content {
  text-align: center;
  font-size: 16px;
  padding: 20px;
  font-weight: 300;
  line-height: 1.2em;
  
  strong {
    font-weight: 500;
  }
  
  a {
    text-decoration: none;
    color: $action-icon;
  }
}

.label{
  text-transform: uppercase;
  display: inline-block;
  &:after { content : ":"; }
  .ico,
  .icon{
    color: $badge-green;
    height: 15px;
    margin-right: 5px;
  }
}

.content-text{
  /* BODY CONTENT TEXT: */
  text-transform: none;
  text-align: right;

  /* BODY ICON/BADGE: */
  color: $badge-green;
  height: 32px;
  margin-left: 5px;
}

.action-sheet-title {
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.content-top {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  height: 64px;
  padding: 14px 20px;
  color: $tab-text;

  .button {
    @include rounded-corner(5px);
    margin: 0;
    border-width: 1px;
    font-size: 14px;
    min-height: 32px;
    line-height: 32px;
  }

  .title{
    line-height: 36px;
    color: #fff;
    margin: 0;
  }
}


.share-form{
  height: 100%;
  display: flex;
  flex-direction: column;
  
  &.list-inset {
    background: none;
  }
  
  label.multiline {
    height: auto;
    min-height: 108px;
    
    i.icon {
      font-size: 1.4em;
      margin-right: 4px;
      float: right;
    }
  }

  .item-input{
    padding: 5px 15px;
    border-width: 1px 1px 0 1px;
    border-color: #D2D2D2;
    background-color: $light;

    &:last-child{
      align-items: stretch;
      border-bottom: 1px;
    }

    input{
      padding-right: 0;
    }
    
    i.icon {
      font-size: 1.4em;
      margin-right: 20px;
      float: right;
    }

    textarea{
      background: none;
      padding: 8px 0 0;
      resize: none;
      vertical-align: top;
    }
  }
}

.button-holder{
  .button{
    .icon{
      padding-right: 5px;

      &:before{margin-top: 0;}
    }
  }
}

.popup-container{
  input{
    padding-left: 10px;
    padding-right: 10px;
  }
}

.toggle-block{
  border:solid #ddd;
  padding: 12px 16px;
  border-width: 1px 0;
  overflow: hidden;

  .label{
    float: left;
    color: #444;
    font-size: 16px;
    text-transform: none;
    font-weight: normal;
    width: 40%;
  }

  .button-bar{
    float: right;
    width: 55%;

    .button{
      background: transparent;
      color: #ccc;

      &.active{
        background: #fff;
        color: #333;
        box-shadow: inset 0 0 8px #CAC8C8;
      }
    }
  }
}

.bar-footer.item-input-inset {
    height: auto;
    min-height: 64px;
    background-color: darken($stable, 10%);

    .item-input-wrapper {
      background: none;
      //border-top: 1px solid #3eaeb1;

      textarea {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 100%;
        min-height: 45px!important;
        font-size: 12px;
        background-color: $light;
        resize: none;
        padding: 5px 20px 5px 5px;
      }
    }

    .button-positive {
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 0 10px;
      font-weight: bold;
      margin-left: 0;
    }
  }


.platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
  height: 64px;
}
.platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
  margin-top: 19px;
}
.platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
  margin-top: 20px;
}
.platform-ios.platform-cordova .modal-wrapper .modal .has-header, .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
  top: 64px;
}
.platform-ios.platform-cordova .modal-wrapper .modal .has-subheader {
  top: 108px;
}

// google map tweaks to hide links from the map
#map{
  div div a,
  .gmnoprint div{
    display: none !important;
  }
}

@media only screen
and (max-device-height : 568px) {

  .view-section{
    &.full-size > .pane{
      top: 220px;
    }

    &.mid-size > .pane{
      top: 150px;
    }

    &.compact-size > .pane{
      top: 130px;
    }

    &.min-size > .pane{
      top: 64px;
    }

    .bar-header{
      height: 44px;
      
      .title{
        font-size: 14px;
        height: 43px;
        line-height: 44px;
      }

      .button{
        font-size: 12px;

        &:first-child,
        &:last-child{
          max-height: 43px;
          line-height: 43px;
        }

        &:first-child:before,
        &:last-child:before{
          max-height: 43px;
          line-height: 43px;
        }

        &.button-small.button-icon:before {
          font-size: 20px !important;
          line-height: 40px;
        }

        &.back-button{
          i{
            display: none;
          }
        }
      }
    }

    .bar-subheader{
      top: 64px;

      .title{
        height: auto;
        font-size: 14px;

        &.big-lineheight{
          line-height: 63px;
        }
      }
    }

    &.compact-size .bar-subheader{
      height: 64px;
    }

    &.min-size .bar-subheader{
      height: 44px;
    }

    .content-pane {
      bottom: 59px;

      &.profile-tabs{
        .ionic-scroll{
          top:50px;
        }
      }
    }
  }

  .item{
    font-size: 12px;
  }

  .pane.has-footer{
    bottom: 54px;
  }

  .bar-footer,
  .action-buttons{
    height: 54px;
  }

  .platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader){
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: 19px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header, .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }
  .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader{
    top: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-subheader {
    top: 108px;
  }
}
