body{
  font-size: 11px;
  color: $content-body-text;
  line-height: 15px;
  margin-bottom: 5px;
}

/*.ionic-scroll,
.ionic-scroll .scroll{height: 100%;}*/


/** HEADER STYLES **/
.header{
  background-image: linear-gradient(-180deg, $tab-selected 0%, $gradient-bottom 100%);
  background-repeat: repeat-x;
  font: 14px Helvetica Neue, Helvetica, Arial;
  color: $white;
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;

  /** full size header and content pane **/
  &.full-size{height: 180px;}
  &.full-size ~ .pane{
    top: 180px;
    height: auto;
  }

  /** mid-size size header and content pane **/
  &.mid-size{height: 150px;}
  &.mid-size ~ .pane{
    top: 150px;
    height: auto;
  }

  /** compact size header and content pane **/
  &.compact-size{height: 120px;}
  &.compact-size ~ .pane{
    top: 120px;
    height: auto;
  }

  /** min size header and content pane **/
  &.min-size{height: 44px;}
  &.min-size ~ .pane{
    top: 44px;
    height: auto;
  }

  & ~ .pane.has-title{padding-top: 64px;}
  & ~ .pane.has-footer{bottom: 44px;}

  .bar-header{
    padding: 0 5px;
    background: none;
    color: $secondary-text-action;

    .title{
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
      color: $white;
    }
    .button{
      color: $secondary-text-action;
      font-size: 14px;
      font-weight: bold;
      &.back-button{
        i{
          display: none;
        }
      }
    }
  }
}

/** Action Buttons **/
.action-buttons{
  height: 44px;
  letter-spacing: 0.82px;

  .button{
    font-weight: bold;

    &.primary{
      color: $modal-primary-text;
      background-color: $modal-primary-bg;
    }

    &.secondary{
      color: $modal-secondary-text;
      background-color: $modal-secondary-bg;
    }

    &.button-block{
      margin-top: 0;
      margin-bottom: 0;
      border-width: 1px 0 0;

      .ico{
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}



.label{
  text-transform: uppercase;
  display: inline-block;
  &:after { content : ":"; }
  .ico,
  .icon{
    color: $badge-green;
    height: 15px;
    margin-right: 5px;
  }
}

.content-text{
  /* BODY CONTENT TEXT: */
  text-transform: none;
  text-align: right;

  /* BODY ICON/BADGE: */
  color: $badge-green;
  height: 32px;
  margin-left: 5px;
}

// document list
.document-list{
  border-bottom: 1px solid #D2D2D2;

  .item{
    border-top: 1px solid #D2D2D2;
    padding-left: 62px;
    padding-right: 100px;

    .ico{
      position: absolute;
      top: 50%;
      left: 10px;
      margin-top: -20px;
    }

    .item-content{
      text-overflow: initial;
      white-space: normal;

      strong,
      span{display: block;}
    }

    .checkbox{
      left: 0;
      right: 0;
      top: 0;
      margin: 0;
      bottom: 0;

      input{
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 21px;
      }
    }

    .button{
      padding: 0 25px;
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -15px;
      z-index: 4;
    }
  }
}


.content-top {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  height: 64px;
  padding: 14px 20px;
  color: $tab-text;

  .button {
    @include rounded-corner(5px);
    margin: 0;
    border-width: 1px;
    font-size: 14px;
    min-height: 32px;
    line-height: 32px;
  }
}


.share-form{
  height: 100%;
  display: flex;
  flex-direction: column;

  .item-input{
    padding: 5px 15px;
    border-width: 1px 0 0;
    border-color: #D2D2D2;

    &:last-child{
      height: 100%;
      align-items: stretch;
    }

    input{
      padding-right: 0;
    }

    textarea{
      background: none;
      padding: 8px 0 0;
      resize: none;
    }
  }
}


.popup-container{
  input{
    padding-left: 10px;
    padding-right: 10px;
  }
}
