.ico {
  background-image: url('../img/sprite.png');
  display: inline-block;
  vertical-align: top;
  pointer-events: none;
  -webkit-background-size: 2399px 2269px;
  background-size: 2399px 2269px;

  &.ico-text-top{
    vertical-align: text-top;
  }
  &.ico-middle{
    vertical-align: middle;
  }

  &.ico-activityiconblue {
    width: 26px;
    height: 20px;
    background-position: 0 0;
  }

  &.ico-activityiconwhite {
    width: 26px;
    height: 20px;
    background-position: -26px -20px;
  }

  &.ico-avatar {
    width: 25px;
    height: 25px;
    background-position: -52px -40px;
  }

  &.ico-cameraicon {
    width: 75px;
    height: 75px;
    background-position: -77px -65px;
  }

  &.ico-checkboxdeselected {
    width: 20px;
    height: 20px;
    background-position: -152px -140px;
  }

  &.ico-checkboxselected {
    width: 20px;
    height: 20px;
    background-position: -172px -160px;
  }

  &.ico-checkmarkwhite {
    width: 14px;
    height: 10px;
    background-position: -192px -180px;
  }

  &.ico-companyavatar {
    width: 116px;
    height: 116px;
    background-position: -206px -190px;
  }

  &.ico-documentimage {
    width: 44px;
    height: 40px;
    background-position: -322px -306px;
  }

  &.ico-documentimagebg {
    width: 44px;
    height: 40px;
    background-position: -366px -346px;
  }

  &.ico-documentimageev {
    width: 44px;
    height: 40px;
    background-position: -410px -386px;
  }

  &.ico-documentimagemvr {
    width: 44px;
    height: 40px;
    background-position: -454px -426px;
  }

  &.ico-doubletraileractive {
    width: 62px;
    height: 62px;
    background-position: -498px -466px;
  }

  &.ico-doubletrailerinactive {
    width: 62px;
    height: 62px;
    background-position: -560px -528px;
  }

  &.ico-hazardousmaterialsactive {
    width: 62px;
    height: 62px;
    background-position: -622px -590px;
  }

  &.ico-hazardousmaterialsinactive {
    width: 62px;
    height: 62px;
    background-position: -684px -652px;
  }

  &.ico-licenseaactive {
    width: 118px;
    height: 117px;
    background-position: -746px -714px;
  }

  &.ico-licenseainactive {
    width: 82px;
    height: 82px;
    background-position: -864px -831px;
  }

  &.ico-licensebactive {
    width: 118px;
    height: 117px;
    background-position: -946px -913px;
  }

  &.ico-licensebinactive {
    width: 82px;
    height: 82px;
    background-position: -1064px -1030px;
  }

  &.ico-licensecactive {
    width: 118px;
    height: 117px;
    background-position: -1146px -1112px;
  }

  &.ico-licensecinactive {
    width: 82px;
    height: 82px;
    background-position: -1264px -1229px;
  }

  &.ico-likessmall {
    width: 14px;
    height: 14px;
    background-position: -1346px -1311px;
  }

  &.ico-lockboxiconblue {
    width: 18px;
    height: 22px;
    background-position: -1360px -1325px;
  }

  &.ico-lockboxiconwhite {
    width: 18px;
    height: 22px;
    background-position: -1378px -1347px;
  }

  &.ico-messagesiconblue {
    width: 22px;
    height: 21px;
    background-position: -1396px -1369px;
  }

  &.ico-messagesiconwhite {
    width: 22px;
    height: 21px;
    background-position: -1418px -1390px;
  }

  &.ico-milestraveledsmall {
    width: 12px;
    height: 12px;
    background-position: -1440px -1411px;
  }

  &.ico-outsetlogo {
    width: 178px;
    height: 60px;
    background-position: -1452px -1423px;
  }

  &.ico-passengeractive {
    width: 62px;
    height: 62px;
    background-position: -1630px -1483px;
  }

  &.ico-passengerinactive {
    width: 62px;
    height: 62px;
    background-position: -1692px -1545px;
  }

  &.ico-previewimageplaceholder {
    width: 69px;
    height: 84px;
    background-position: -1754px -1607px;
  }

  &.ico-professionalicon {
    width: 116px;
    height: 116px;
    background-position: -1823px -1691px;
  }

  &.ico-profileiconblue {
    width: 22px;
    height: 22px;
    background-position: -1939px -1807px;
  }

  &.ico-profileiconwhite {
    width: 22px;
    height: 22px;
    background-position: -1961px -1829px;
  }

  &.ico-settingsicon {
    width: 18px;
    height: 18px;
    background-position: -1983px -1851px;
  }

  &.ico-socialicon {
    width: 116px;
    height: 116px;
    background-position: -2001px -1869px;
  }

  &.ico-stardeselected {
    width: 12px;
    height: 12px;
    background-position: -2117px -1985px;
  }

  &.ico-starselected {
    width: 11px;
    height: 12px;
    background-position: -2129px -1997px;
  }

  &.ico-tankhazardousactive {
    width: 62px;
    height: 62px;
    background-position: -2140px -2009px;
  }

  &.ico-tankhazardousinactive {
    width: 62px;
    height: 62px;
    background-position: -2202px -2071px;
  }

  &.ico-tankvehicleactive {
    width: 62px;
    height: 62px;
    background-position: -2264px -2133px;
  }

  &.ico-tankvehicleinactive {
    width: 62px;
    height: 62px;
    background-position: -2326px -2195px;
  }

  &.ico-timesmall {
    width: 11px;
    height: 12px;
    background-position: -2388px -2257px;
  }




  // temp styles, this would be replaced after proper and full sprite will be generated
  &.ico-share{
    width: 18px;
    height: 15px;
    background: url('../img/shareIconOrange@2x.png') 0 0 no-repeat;
    background-size: 18px 15px;
    -webkit-background-size: 18px 15px;
  }
  &.ico-request-review{
    width: 15px;
    height: 18px;
    vertical-align: text-bottom !important;
    background: url('../img/bg-request-review.png') 0 0 no-repeat;
    background-size: 15px 18px;
    -webkit-background-size: 15px 18px;
  }
  &.ico-freight{
    width: 13px;
    height: 16px;
    vertical-align: bottom;
    background: url('../img/bg-freight.png') 0 0 no-repeat;
  }
  &.ico-exp-truck{
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background: url('../img/ico01.png') 0 0 no-repeat;
  }

}

.bg{
   background-image:url("../img/welcomeBackground@2x.png");
}
.trailers-bg{
   background-image:url("../img/trailersBg.png");
}

.logo{
  .freightliner-logo{
     background-image:url("../img/freightliner_logo.png");
     width: 102px;
    height: 72px;
  }
  .kenworth-logo{
     background-image:url("../img/kenworth_logo.png");
     width: 102px;
    height: 72px;
  }
  .international-logo{
     background-image:url("../img/international_logo.png");
     width: 102px;
    height: 72px;
  }
  .mack-logo{
     background-image:url("../img/mack_logo.png");
     width: 102px;
    height: 72px;
  }
  .peterbilt-logo{
     background-image:url("../img/peterbilt_logo.png");
     width: 102px;
     height: 72px;
  }
  .volvo-logo{
     background-image:url("../img/volvo_logo.png");
     width: 102px;
     height: 72px;
  }
}



@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi){
      .ico {
        background-image: url('../img/sprite2x.png');
      }

      .bg{
         background-image:url("../img/welcomeBackground@2x.png");
      }
  }

@media
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 401dpi){
    .ico {
      background-image: url('../img/sprite3x.png');
    }

    .bg{
         background-image:url("../img/welcomeBackground@3x.png");
     }
}



