.ico {
  background-image: url('../img/sprite3x.png');
  display: inline-block;
  vertical-align: top;
  pointer-events: none;
  -webkit-background-size: (7197/3)+px (351)/3+px;
  background-size: (7197/3)+px (351)/3+px;

  &.ico-text-top{
    vertical-align: text-top;
  }
  &.ico-middle{
    vertical-align: middle;
  }

  &.ico-activityiconblue {
    width: 26px;
    height: 20px;
    background-position: 0 0;
  }

  &.ico-activityiconwhite {
    width: 26px;
    height: 20px;
    background-position: -26px 0;
  }

  &.ico-avatar {
    width: 25px;
    height: 25px;
    background-position: -52px 0;
  }

  &.ico-cameraicon {
    width: 75px;
    height: 75px;
    background-position: -77px 0;
  }

  &.ico-checkboxdeselected {
    width: 20px;
    height: 20px;
    background-position: -152px 0;
  }

  &.ico-checkboxselected {
    width: 20px;
    height: 20px;
    background-position: -172px 0;
  }

  &.ico-checkmarkwhite {
    width: 14px;
    height: 10px;
    background-position: -192px 0;
  }

  &.ico-companyavatar {
    width: 116px;
    height: 116px;
    background-position: -206px 0;
  }

  &.ico-documentimage {
    width: 44px;
    height: 40px;
    background-position: -322px 0;
  }

  &.ico-documentimagebg {
    width: 44px;
    height: 40px;
    background-position: -366px 0;
  }

  &.ico-documentimageev {
    width: 44px;
    height: 40px;
    background-position: -410px 0;
  }

  &.ico-documentimagemvr {
    width: 44px;
    height: 40px;
    background-position: -454px 0;
  }

  &.ico-doubletraileractive {
    width: 62px;
    height: 62px;
    background-position: -498px 0;
  }

  &.ico-doubletrailerinactive {
    width: 62px;
    height: 62px;
    background-position: -560px 0;
  }

  &.ico-hazardousmaterialsactive {
    width: 62px;
    height: 62px;
    background-position: -622px 0;
  }

  &.ico-hazardousmaterialsinactive {
    width: 62px;
    height: 62px;
    background-position: -684px 0px;
  }

  &.ico-license-a.ico-active {
    width: 118px;
    height: 117px;
    background-position: -746px 0px;
  }

  &.ico-license-a.ico-inactive {
    width: 82px;
    height: 82px;
    background-position: -864px 0px;
  }

  &.ico-license-b.ico-active {
    width: 118px;
    height: 117px;
    background-position: -946px 0px;
  }

  &.ico-license-b.ico-inactive {
    width: 82px;
    height: 82px;
    background-position: -1064px 0px;
  }

  &.ico-license-c.ico-active {
    width: 118px;
    height: 117px;
    background-position: -1146px 0px;
  }

  &.ico-license-c.ico-inactive {
    width: 82px;
    height: 82px;
    background-position: -1264px 0px;
  }

  &.ico-likessmall {
    width: 14px;
    height: 14px;
    background-position: -1346px 0px;
  }

  &.ico-lockboxiconblue {
    width: 18px;
    height: 22px;
    background-position: -1360px 0px;
  }

  &.ico-lockboxiconwhite {
    width: 18px;
    height: 22px;
    background-position: -1378px 0px;
  }

  &.ico-messagesiconblue {
    width: 22px;
    height: 21px;
    background-position: -1396px 0px;
  }

  &.ico-messagesiconwhite {
    width: 22px;
    height: 21px;
    background-position: -1418px 0px;
  }

  &.ico-milestraveledsmall {
    width: 12px;
    height: 12px;
    background-position: -1440px 0px;
  }

  &.ico-outsetlogo {
    width: 178px;
    height: 60px;
    background-position: -1452px 0px;
  }

  &.ico-passengeractive {
    width: 62px;
    height: 62px;
    background-position: -1630px 0px;
  }

  &.ico-passengerinactive {
    width: 62px;
    height: 62px;
    background-position: -1692px 0px;
  }

  &.ico-previewimageplaceholder {
    width: 69px;
    height: 84px;
    background-position: -1754px 0px;
  }

  &.ico-professionalicon {
    width: 116px;
    height: 116px;
    background-position: -1823px 0px;
  }

  &.ico-profileiconblue {
    width: 22px;
    height: 22px;
    background-position: -1939px 0px;
  }

  &.ico-profileiconwhite {
    width: 22px;
    height: 22px;
    background-position: -1961px 0px;
  }

  &.ico-settingsicon {
    width: 18px;
    height: 18px;
    background-position: -1983px 0px;
  }

  &.ico-socialicon {
    width: 116px;
    height: 116px;
    background-position: -2001px 0px;
  }

  &.ico-stardeselected {
    width: 12px;
    height: 12px;
    background-position: -2117px 0px;
  }

  &.ico-starselected {
    width: 11px;
    height: 12px;
    background-position: -2129px 0px;
  }

  &.ico-tankhazardousactive {
    width: 62px;
    height: 62px;
    background-position: -2140px 0px;
  }

  &.ico-tankhazardousinactive {
    width: 62px;
    height: 62px;
    background-position: -2202px 0px;
  }

  &.ico-tankvehicleactive {
    width: 62px;
    height: 62px;
    background-position: -2264px 0px;
  }

  &.ico-tankvehicleinactive {
    width: 62px;
    height: 62px;
    background-position: -2326px 0px;
  }

  &.ico-timesmall {
    width: 11px;
    height: 12px;
    background-position: -2388px 0px;
  }




  // temp styles, this would be replaced after proper and full sprite will be generated
  &.ico-share{
    width: 18px;
    height: 15px;
    background: url('../img/shareIconOrange@2x.png') 0 0 no-repeat;
    background-size: 18px 15px;
    -webkit-background-size: 18px 15px;
  }
  &.ico-request-review{
    width: 15px;
    height: 18px;
    vertical-align: text-bottom !important;
    background: url('../img/bg-request-review.png') 0 0 no-repeat;
    background-size: 15px 18px;
    -webkit-background-size: 15px 18px;
  }
  &.ico-freight{
    width: 13px;
    height: 16px;
    vertical-align: bottom;
    background: url('../img/bg-freight.png') 0 0 no-repeat;
  }
  &.ico-exp-truck{
    width: 34px;
    height: 34px;
    vertical-align: middle;
    background: url('../img/ico01.png') 0 0 no-repeat;
  }
}

