.content {
    margin-top: 0px;
    margin-bottom: 40px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
body {
    background: url('/modules/core/img/home-country-road.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
}
section > .container {
    padding-top: 67px;
    padding-bottom: 20px;
}
div.clear-bg {
    background-color: rgba(238, 238, 238, 0.0);
}
div.opaque-bg {
    background-color: rgba(238, 238, 238, 0.5);
}
/* NAVBAR - TOP */

.navbar {
    height: 67px;
    background: rgba(161, 161, 161, 0.4);
}
.navbar .navbar-inner {
    border: none;
    border-radius: 0px;
    height: 67px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar a {
    padding: 20px 15px 10px 15px;
    text-shadow: none;
    font-family: 'museo-sans', 'museo_sans500', sans-serif;
    font-size: 17px;
    color: #ffffff;
    line-height: 40px;
}
.navbar-brand img {
    /*height: 65px;*/
}
/* END : NAVBAR - TOP */

/* Footer */

footer.navbar {
    height: 42px;
}
footer .navbar .navbar-inner {
    /*background: #0e2d4c;*/
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
}
.footer .navbar-inner .responsive-container .nav-collapse.collapse .nav li a {
    text-shadow: none;
}
footer .nav > li > a:hover, footer .nav > li > a:focus {
    background-color: rgba(238, 238, 238, .2);
    border-radius: 0;
}
/* Home - Main Content */

.separator div {
    background: #ffffff;
    height: 5px;
}
.container .heading {
    font-family: 'Pathway Gothic One', 'alternate-gothic-no-2-d', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-weight: normal;
    text-align: center;
}
.container .heading.leader {
    padding: 20px 0px 0px 0px;
    font-size: 100px;
}
.container .heading.sub {
    font-size: 50px;
    color: #ffffff;
    margin: 15px 0px 10px 0px;
}
.instruction {
    font-family: 'museo-sans', 'museo_sans500', sans-serif;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 29px;
}
.container .tagline {
    text-shadow: 1px 1px 2px #000000;
    font-size: 50px;
    margin: 15px 0px 10px 0px;
}
.signup {
    padding: 10px 0px 0px 0px;
}
.signup .btn-success {
    background: #5475b6;
    background-image: -moz-linear-gradient(270deg, #5475b6 0%, #0f34a2 100%);
    background-image: -webkit-linear-gradient(270deg, #5475b6 0%, #0f34a2 100%);
    background-image: -o-linear-gradient(270deg, #5475b6 0%, #0f34a2 100%);
    background-image: linear-gradient(180deg, #5475b6 0%, #0f34a2 100%);
    font-family: 'Pathway Gothic One', 'alternate-gothic-no-2-d', sans-serif;
    font-size: 40px;
    padding: 25px 60px 25px 60px;
    margin-top: 80px;
}
.features.full-width {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px 0 80px 0;
    position: absolute;
    left: 0;
    width: 100%;
}
p.details {
    font-family: 'museo-sans', 'museo_sans500', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}
.detail-pane {
    font-family: 'museo-sans', 'museo_sans500', sans-serif;
}
.detail-pane div {
    background-color: rgba(238, 238, 238, 0.5);
}
.detail-pane img {
    opacity: 0.6;
}
.container .row-fluid.features {
    padding-top: 30px;
}
/* END : Home - Main Content */

;
