{% extends 'layout.server.view.html' %}

{% block content %}
<section class="content-section" data-ng-controller="PasswordController">
	<h3 class="title container text-center">404 Not Found</h3>

	<div class="content-container container text-center">
		<div class="content-container-inner">
			<div class="about">
				<p class="text-center">We're Sorry, but we couldn't find what you were looking for. Please try again later</p>

				<div class="container-fluid row">
					<div>

						<div class="col-xs-12">
							<div data-ng-show="success" class="text-center text-success">
								<button class="btn btn-primary" ui-sref="home">Return Home</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<script type="application/javascript">
	(function () {
		setTimeout(function () {
			this.window.location = '/'
		}, 10000);
	})();
</script>
{% endblock %}
