.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/
config/sslcert/*.pem

## Outset Additions ##
*.pem
data
readonly_rsa
*.pub
coverage
*.orig
