<section name="os-driver-inline.directive" class="row">
    <div class="col-sm-12">
        <!-- Driver Inline Template Begin -->
        <div class="col-md-3 col-lg-2 hidden-sm hidden-xs stronger text-right">
            License
        </div>
        <div class="col-md-9 col-lg-10 col-xs-12">
            <oset-license-inline model="vm.license" show-endorsements="true"></oset-license-inline>
        </div>


        <div class="col-md-3 col-lg-2 hidden-sm hidden-xs stronger text-right">
            Documents
        </div>
        <div class="col-md-9 col-lg-10 col-xs-12">
            <p>
                <oset-document-list driver="vm.driver" application="vm.application" doc-access="vm.application.canViewDocs" display-mode="inline"></oset-document-list>
            </p>
        </div>


        <div class="col-md-3 col-lg-2 hidden-sm hidden-xs stronger text-right">
            Interests
        </div>
        <div class="col-md-9 col-lg-10 col-xs-12">
            <p style="margin-bottom: 2px;">
                    <span ng-repeat="interest in visibleInterests = (vm.driver.interests | filter: {value: true})"
                          class="label label-primary mgn-right">{{interest.key}}&nbsp;</span>

                    <span ng-show="!visibleInterests.length">
                        <span ng-show="!vm.canEdit">none entered</span>
                    </span>
            </p>
        </div>


        <div class="col-md-3 col-lg-2 hidden-sm hidden-xs stronger text-right">
            Messages
        </div>
        <div class="col-md-9 col-lg-10 col-xs-12">
                <span ng-show="!!vm.application.connection && !vm.application.messageCt">
                    <p style="margin-bottom: 2px;">
                        discuss the job and schedule an interview
                        <a ui-sref="applications.view({applicationId: vm.application._id, target: 'message'})">
                            by sending a message
                        </a>
                    </p>
                </span>
                <span ng-show="!!vm.application.connection && !!vm.application.messageCt">
                    <p style="margin-bottom: 2px;">
                        {{vm.application.messagingText}}
                        <a ui-sref="applications.view({applicationId: vm.application._id, target: 'message'})">
                            ... view now
                        </a>
                    </p>
                </span>
                <span ng-hide="!!vm.application.isConnected">
                    <p style="margin-bottom: 2px;">
                        <em class="text-muted" ng-if="vm.profile.type === 'owner'">
                            once connected, you will be able to exchange messages with
                            the applicant
                        </em>
                        <em class="text-muted" ng-if="vm.profile.type === 'driver'">
                            once connected, you will be able to exchange messages with
                            the employer
                        </em>
                    </p>
                </span>
        </div>
    </div>


</section>
