<section name="os-driver-inline.directive" class="row inline-item">
    <div class="col-sm-12">
        <!-- Driver Inline Template Begin -->
        <div class="col-md-3 col-lg-2 hidden-sm hidden-xs inline-label">
            License
        </div>
        <div class="col-md-9 col-lg-10 col-xs-12 inline-content">
            <oset-license-inline model="vm.license" show-endorsements="true"></oset-license-inline>
        </div>


        <div class="col-md-3 col-lg-2 hidden-sm hidden-xs inline-label">
            Documents
        </div>
        <div class="col-md-9 col-lg-10 col-xs-12 inline-content">
            <oset-document-list driver="vm.driver" application="vm.application"
                                doc-access="vm.application.canViewDocs" display-mode="inline"></oset-document-list>
        </div>


        <div class="col-md-3 col-lg-2 hidden-sm hidden-xs inline-label">
            Interests
        </div>
        <div class="col-md-9 col-lg-10 col-xs-12 inline-content label-list">

            <span ng-repeat="interest in visibleInterests = (vm.driver.interests | filter: {value: true})"
                  class="label label-primary mgn-right">{{interest.key}}&nbsp;</span>

            <span ng-show="!visibleInterests.length">
                <span ng-show="!vm.canEdit">none entered</span>
            </span>
        </div>


        <div class="col-md-3 col-lg-2 hidden-sm hidden-xs inline-label">
            Messages
        </div>
        <div class="col-md-9 col-lg-10 col-xs-12 inline-content">
                <span ng-show="!!vm.application.connection && !vm.application.messageCt">
                        discuss the job and schedule an interview
                    <a ui-sref="applications.view({applicationId: vm.application._id, target: 'message'})">
                        by sending a message
                    </a>
                </span>
                <span ng-show="!!vm.application.connection && !!vm.application.messageCt">
                        {{vm.application.messagingText}}
                    <a ui-sref="applications.view({applicationId: vm.application._id, target: 'message'})">
                        ... view now
                    </a>
                </span>
                <span ng-hide="!!vm.application.isConnected">
                        <em class="text-muted" ng-if="vm.profile.type === 'owner'">
                            once connected, you will be able to exchange messages with
                            the applicant
                        </em>
                        <em class="text-muted" ng-if="vm.profile.type === 'driver'">
                        once connected, you will be able to exchange messages with
                        the employer
                    </em>
                </span>
        </div>
    </div>


</section>
