<section>
    <div class="list-group">
        <a data-ng-repeat="application in applications" data-ng-href="applications/{{application._id}}" class="list-group-item">
            <div class="container-fluid">
                <os-view-application display-mode="normal" model="application"></os-view-application>
            </div>
        </a>
    </div>
    <div class="text-center" data-ng-hide="!applications.$resolved || applications.length">
        <p>{{::noItemsText}}</p>
    </div>
</section>
