<div class="applicant" name="os-applicant.client-template">
    <div class="h4 stronger">{{vm.applicant.displayName}}
        <small class="pull-right">Applied {{vm.application.created | date: 'short'}}</small>
    </div>
    <hr/>

    <div class="col-sm-2">
        <img ng-src="{{vm.applicant.profileImageURL}}" class="img-responsive">
    </div>

    <div class="col-sm-10">
        <dl>
            <dt>Cover Letter:</dt>
            <dd>
                <p class="panel panel-default letter" data-ng-bind-html="vm.application.introduction"></p>
            </dd>
        </dl>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <dl class="dl-horizontal">
                <dt>About:</dt>
                <dd ng-show="vm.isConnected">
                    <p class="panel panel-default letter" data-ng-bind-html="vm.driver.about"></p>
                </dd>
                <dd ng-hide="vm.isConnected">
                    <em class="text-muted" ng-bind-html="vm.text.pre.about"> </em>
                </dd>

                <dt>Messages:</dt>
                <dd ng-show="vm.isConnected">
                    <p ng-show="vm.application.messages && vm.application.messages.length">
                        {{vm.application.messages.length}} Total Messages
                        <a href="#messaging" class="pull-right" ng-click="vm.scrollToMessageFn()">
                            send a new message
                        </a>
                    </p>

                    <p class="panel panel-info letter"
                       ng-hide="vm.application.messages && vm.application.messages.length">
                        Now that you are connected, use the messaging functionality to communicate with the
                        {{vm.user.type === 'driver' ? 'Employer' : 'Applicant'}}.
                        You can ask and answer questions, and coordinate a telephone or in-person interview.</p>
                    <p class="text-center">
                        <a href="#messaging" class="btn btn-primary"
                           ng-click="vm.scrollToMessageFn()">
                            Click Here to Begin
                        </a>
                    </p>
                </dd>
                <dd ng-hide="vm.isConnected">
                    <p>
                        <em class="text-muted" ng-if="vm.user.type === 'owner'"
                            ng-bind-html="vm.text.pre.messaging.owner"></em>
                        <em class="text-muted" ng-if="vm.user.type === 'driver'"
                            ng-bind-html="vm.text.pre.messaging.driver"></em>
                    </p>
                </dd>

                <dt>License:</dt>
                <dd>
                    <p>
                        <i class="fa fa-credit-card"></i> &nbsp;{{vm.license.state.name}}
                    <span ng-show="vm.license.type">
                        <span ng-if="vm.license.rating"> Class {{vm.license.rating | uppercase }}</span>
                        {{vm.license.type}}
                    </span>
                        Driver License
                    </p>
                </dd>

                <dt>Endorsements</dt>
                <dd>
                    <p>
                        <oset-list-endorsements model="vm.license.endorsements"></oset-list-endorsements>
                    </p>
                </dd>

                <dt>Reports</dt>
                <dd class="report-badges" ng-class="{'not-visible':!vm.isConnected}">

                <span class="fa-stack fa-3x report-badge" tooltip="Resumé"
                        ng-class="{'available': !!vm.driver.resume}"
                        ng-click="vm.isConnected && vm.openResumeFile()">
                    <i class="fa fa-file fa-stack-2x"></i>
                    <span class="badge-info">
                        <span class="badge-info-inner fa fa-stack-1x">
                            <i class="fa fa-check fa-1x"></i>
                            <span class="title">Resume</span>
                        </span>
                    </span>
                </span>

                <span class="fa-stack fa-3x report-badge" tooltip="Motor Vehicle Report">
                    <i class="fa fa-certificate fa-stack-2x"></i>
                    <span class="badge-info">
                        <span class="badge-info-inner fa fa-stack-1x">
                            <i class="fa fa-check fa-1x hidden"></i>
                            <span class="title">MVR</span>
                        </span>
                    </span>
                </span>

                <span class="fa-stack fa-3x report-badge" tooltip="Background Check">
                    <i class="fa fa-certificate fa-stack-2x"></i>
                    <span class="badge-info">
                        <span class="badge-info-inner fa fa-stack-1x">
                        <i class="fa fa-times fa-1x hidden"></i>
                        <span class="title">BG</span>
                    </span>
                    </span>
                </span>

                <span class="fa-stack fa-3x report-badge" tooltip="National Criminal">
                    <i class="fa fa-certificate fa-stack-2x"></i>
                    <span class="badge-info">
                        <span class="badge-info-inner fa fa-stack-1x">
                        <i class="fa fa-question fa-1x hidden"></i>
                        <span class="title">N-CRIM</span>
                    </span>
                    </span>
                </span>

                <span class="fa-stack fa-3x report-badge" tooltip="County Criminal">
                    <i class="fa fa-certificate fa-stack-2x"></i>
                    <span class="badge-info">
                        <span class="badge-info-inner fa fa-stack-1x">
                        <i class="fa fa-question fa-1x hidden"></i>
                        <span class="title">C-CRIM</span>
                    </span>
                    </span>
                </span>


                </dd>
                <dd ng-hide="vm.isConnected">
                    <em class="text-muted">
                        <span ng-hide="vm.driver.reports.length">No reports on file</span>
                        <span ng-show="vm.driver.reports.length"> available once connected</span>
                    </em>
                </dd>

                <dt>Interests</dt>
                <dd><p>
                    <span ng-repeat="interest in visibleInterests = (vm.driver.interests | filter: {value: true})"
                          class="label label-primary mgn-right">{{interest.key}}&nbsp;</span></span>

                    <span ng-show="!visibleInterests.length">
                        <span ng-show="!vm.canEdit">The applicant has not yet entered any job type preferences or interests.</span>
                    </span>
                    </p>
                </dd>

                <dt>Experience</dt>
                <dd ng-show="vm.isConnected">
                    <div class="panel-body" ng-repeat="exp in vm.driver.experience | orderBy : exp.time.end">
                        <strong>{{exp.title}}</strong><label class="pull-right"
                                                             data-ng-bind="vm.getDateRange(exp.time)"></label>

                        <p>{{exp.description | limitTo : 1000}}</p>
                        <hr ng-hide="$last"/>

                        <p ng-hide="!!vm.driver.experience.length">None Added</p>
                    </div>
                </dd>
                <dd ng-hide="vm.isConnected"><em class="text-muted" ng-bind-html="vm.experienceText">
                    experience will be available once you have connected</em>
                </dd>
            </dl>
        </div>
    </div>
</div>
