<section name="os-list-applications.directive" class="application-list">

    <div class="row">
        <div class="job-list blog-category-list">

            <!-- Iterate over the list of jobs ... For Owners -->
            <oset-application-list-item user-type="owner"
                                        ng-if="vm.user.type === 'owner'"
                                        ng-repeat="job in vm.jobs"
                                        job="job"
                                        class="post col-sm-12 applicant"
                                        visible-id="vm.visibleId"
                                        visible-tab="vm.visibleTab"
                                        ng-show="vm.visibleId === job._id || !vm.visibleId">
                <!-- TODO: Move ng-show into the filter on teh repeater -->
            </oset-application-list-item>

            <!-- Iterate over the list of applications ... For Drivers -->
            <oset-application-list-item user-type="driver"
                                        ng-if="vm.user.type === 'driver'"
                                        ng-repeat="application in vm.applications"
                                        application="application"
                                        class="post job-post col-sm-12 applicant"
                                        visible-id="vm.visibleId"
                                        visible-tab="vm.visibleTab"
                    popover="{{application | prettyPrint}}" popover-placement="bottom">
                <!-- TODO: Figure out disagreement between 'visibleId', ng-show, and inline (nested) vs top level behavior -->
                <!-- TODO: Move ng-show into the filter on teh repeater -->
                <!-- TODO: Combine with the 'owner' repeater above, if possible :) -->

            </oset-application-list-item>
        </div>
    </div>
</section>
