<section class='job-item'>
    <div class="well well-1 container-fluid">
        <div class="row-fluid">
            <div class="col-md-10">
                <h2 class="heading">{{ job.name }}</h2>
                <small>
                    <em class="text-muted">
                        Posted on
                        <span data-ng-bind="job.created | date:'mediumDate'"></span>
                        by
                        <span data-ng-bind="job.user.displayName"></span>
                    </em>
                </small>
                <p class="p-1">Job ID {{ job._id }}</p>
            </div>
            <div class="col-md-2">
                <h4><i class="fa fa-star center-block"></i>Favorite</h4>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-3">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-map-marker pull-left fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="p-2 p-3">{{ job.location.zipCode }}</h4>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="p-2">
                    ${{ job.payRate.min }} to ${{ job.payRate.max }} per Hour</h4>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="p-4">{{ job.endorsements || "Operator - Class D" }}</h4>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-lg pull-left">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="p-2">{{ job.positionType || "Part-Time Employment" }}</h4>
            </div>
        </div>
        <div class="row-fluid">
            <span class="col-md-8">
                <p>{{ job.description }}</p>
            </span>
            <span class="col-md-4">
                <div class="pull-right" data-ng-show="authentication.user._id == job.user._id">
                    <a class="btn btn-primary" href="/#!/jobs/{{job._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" data-ng-click="remove();">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <div class="pull-right" data-ng-show="authentication.user._id != job.user._id && formMode[$index] !== 'apply'">
                    <a class="btn btn-primary btn-large" data-ng-click="toggleApplication(true, $index)">Full Details</a>

                    <a class="btn btn-primary btn-large" data-ng-click="apply('lg', job)">Apply</a>
                </div>
            </span>
        </div>
        <div class="row-fluid" data-ng-show="formMode[$index] === 'apply' ">
            <span class="col-md-12 " data-ng-controller="ApplicationsController">
                <div ng-include="'/modules/applications/views/templates/create-application.client.template.html'"></div>
            </span>
        </div>

        <div class="row-fluid">
            <span class="col-md-12" data-ng-controller="ApplicationsController" data-ng-init="initJobList()">
                <h4>{{listTitle}}</h4>
                <div ng-include="'/modules/applications/views/templates/list-applications.client.template.html'">
                </div>
            </span>
        </div>
    </div>
</section>
