{
     "ios": {
         "debug": {
             "codeSignIdentitiy": "iOS Development",
             "provisioningProfile": "0ba85469-6f90-465c-8791-16209b258fa8"
         },
         "release": {
             "codeSignIdentitiy": "iOS Distribution",
             "provisioningProfile": "a443e728-c724-498f-9ec6-beeb4b1b7ba2"
         }
     }
 }