<section class="container-fluid">
    <os-page-header
            title="Driver Profile"></os-page-header>

    <div class="driver create panel panel-default">
        <form name="vm.driverForm" class="form-horizontal" novalidate>
            <fieldset class="container-fluid">
                <!-- Biography -->
                <h3>About Me
                    <small>Include an introduction to yourself here to help employers know who you are</small>
                </h3>
                <div class="container-fluid well">
                    <div ng-if="vm.driverForm.description.$pristine && vm.driverForm.description.$invalid"
                         class="text-danger">Please add some information about yourself
                    </div>
                    <textarea class="form-control" rows="10" name="description" ng-model="vm.driver.about"
                              ng-required="true"></textarea>
                </div>

                <h3>Interests
                    <small>Tell us about what kind of jobs you are interested in. Select from the list or add your
                        own.
                    </small>
                </h3>

                <div class="container-fluid well">
                    <div class="row text-center">
                        <pre ng-if="vm.debug">driver.interests: {{vm.driver.interests}}</pre>

                        <!-- List of available Interests -->
                        <label ng-repeat="interest in vm.driver.interests"
                               class="btn btn-cta-secondary btn-md no-border"
                               ng-click="interest.value = !interest.value"
                               data-ng-class="{'active':interest.value}">
                            <i class="fa pull-left"></i>

                            <div class="col-xs-12">{{interest.key}}</div>
                        </label>

                        <!-- Input for "other" -->
                        <label class="btn btn-cta-secondary oset-input btn-md"
                               data-ng-class="{'active':vm.newInterest != null}">

                            <div ng-click="vm.toggleInterest()">{{ vm.newInterest != null ? 'cancel' : 'other ...'}}
                            </div>
                            <input ng-show="vm.newInterest != null" type="text" style="display: inline;"
                                   ng-model="vm.newInterest">

                            <div style="display: inline;" ng-show="vm.newInterest !== null" ng-click="vm.addInterest()">
                                add&nbsp;<i class="fa fa-plus"></i>
                            </div>

                        </label>

                    </div>
                </div>

                <!-- Driver's License Information -->
                <h3>Driver License
                    <br/>
                    <small>This information will improve the visibility of your profile and will not be shared
                        without your permission
                    </small>
                </h3>


                <div class="well">
                    <os-edit-license model="vm.driver.licenses[0]"></os-edit-license>
                </div>

                <!-- Driver's Experience Breakdown -->
                <h3>Experience
                    <small>Add information about past Experience to help employers know more about you and your
                        background
                    </small>
                </h3>

                <div class="container-fluid well">
                    <div class="row profile-row">
                        <div class="col-sm-12">
                            <div class="form-group "
                                 ng-show="vm.driver.experience && !!vm.driver.experience.length">
                                <div data-ng-repeat="exp in vm.driver.experience" name="experience">
                                    <os-driver-experience model="exp" edit-enable="true" edit-mode="false"
                                                          add-fn="vm.addExperience" is-last="$last"
                                                          drop-fn="vm.dropExperience"></os-driver-experience>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row profile-row">
                        <div class="col-sm-12 text-center">
                            <button type="button" class="btn btn-primary" ng-click="vm.addExperience()"
                                    ng-hide="vm.driver.experience && vm.driver.experience.length > 0">
                                <i class="fa fa-plus-circle" style="padding-right: 10px;"></i> Add Experience
                            </button>
                        </div>
                    </div>
                </div>

                <div ng-if="vm.enableSchedule">

                    <h3>Availability</h3>
                    <!-- Driver's Availability -->
                    <div class="container-fluid well">
                        <div class="row profile-row" ng-show="vm.driver.schedule && !!vm.driver.schedule.length">
                            <div class="col-md-12 availability_matrix" name="schedule">
                                <div class="container-fluid well">
                                    <div class="col-md-12">
                                        <div class="row availability-header">
                                            <div class="col-md-5">
                                                <h6 class="heading profile-label profile-label-1">Time</h6>
                                            </div>
                                            <div class="col-md-1">
                                                <h6 class="heading profile-label profile-label-1">M</h6>
                                            </div>
                                            <div class="col-md-1">
                                                <h6 class="heading profile-label profile-label-1">Tu</h6>
                                            </div>
                                            <div class="col-md-1">
                                                <h6 class="heading profile-label profile-label-1">W</h6>
                                            </div>
                                            <div class="col-md-1">
                                                <h6 class="heading profile-label profile-label-1">Th</h6>
                                            </div>
                                            <div class="col-md-1">
                                                <h6 class="heading profile-label profile-label-1">F</h6>
                                            </div>
                                            <div class="col-md-1">
                                                <h6 class="heading profile-label profile-label-1">Sa</h6>
                                            </div>
                                            <div class="col-md-1">
                                                <h6 class="heading profile-label profile-label-1">Su</h6>
                                            </div>
                                        </div>
                                        <div ng-include="'modules/users/views/templates/schedule.client.template.html'"
                                             ng-repeat='schedule in vm.driver.schedule'></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row profile-row" ng-hide="vm.driver.schedule">
                            <div class="col-sm-8 col-sm-offset-2">
                                <alert type="info text-center">
                                    <i class="fa fa-info-circle text-info fa-2x pull-left"
                                       style="padding-right: 10px;"></i>
                                    <span>You will be able to set your schedule after saving your primary information</span>
                                </alert>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="pull-right">
                    <input type="button" class="btn btn-link" value="cancel" ng-click="vm.cancel()">
                    <input type="button" class="btn btn-success" value="Save" ng-click="vm.submit()">
                </div>
                <div data-ng-show="vm.error" class="text-danger text-center">
                    <strong data-ng-bind="vm.error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
