<section class="lockbox">
	<div ng-if="vm.hasAccess && !vm.documents.length" class="no-content text-center">No documents</div>
	<div ng-if="!vm.hasAccess" class="no-content text-center">Sorry, {{vm.profile.firstName}} has not shared access to their documents.</div>

	<div class="row" ng-repeat="document in vm.documents" ng-init="vm.initDocument(document)">
		<div class="col-sm-12 center-block pdf-container">
				<div class="row mgn-btm">
					<div class="col-sm-9">
						<h3 class="no-margin-top">{{document.name}}</h3>
					</div>
					<div class="col-sm-3 text-right" ng-show="document.documentUrl">
						<a class="btn btn-cta-primary" target="_self" ng-href="{{document.documentUrl}}" 
						download="{{document.documentTitle}}" type="{{document.fileType || 'application/pdf'}}">
                                Download<i class="fa fa-download"></i>
                            </a>
					</div>
					<div class="col-sm-3 text-right" ng-show="document.imgSrc">
						<a class="btn btn-cta-primary" target="_self" ng-href="{{document.imgSrc}}" 
						download="{{document.documentTitle}}" type="{{document.fileType || 'image/jpeg'}}">
                                Download<i class="fa fa-download"></i>
                            </a>
					</div>
				</div>

				<div class="row text-center">
					<img ng-hide="document.error || !document.imgSrc" ng-src="{{document.imgSrc}}" />
					<pdf ng-hide="document.error || !document.documentUrl" pdf-src="{{document.documentUrl}}"></pdf>
					<h4 class="text-danger strong text-center">{{document.error}}</h4>
				</div>
			</div>
		</div>
	</div>

</section>