<section class="container-fluid">
    <os-page-header title="{{vm.user.displayName}}" edit-sref="drivers.edit({driverId: '{{vm.driver._id}}'})"
                    show-edit="vm.auth.user._id === vm.driver.user._id">
        Member Since <span data-ng-bind="vm.user.created | date:'mediumDate'"></span>
    </os-page-header>

    <div class="row">

        <div class="col-md-8">

            <div>
                <os-driver-view model="vm.driver"></os-driver-view>

                <div data-ng-if="!vm.driver.user">
                    {{vm.user.displayName}} has not yet created a driver profile

                    <button type="button" class="btn btn-primary" ui-sref="drivers.create" data-ng-show="vm.canEdit">
                        Create
                        Your Driver Profile
                    </button>
                </div>
            </div>

        </div>

        <div class="gutter right col-md-4">
            <span class="evilNonSemanticSpacer"></span>

            <div class="profile-floater">
                <img data-ng-src="{{vm.user.profileImageURL}}" alt="{{vm.user.displayName}}"
                     class="img-thumbnail user-profile-picture">
                <a class="btn btn-link" data-ui-sref="settings.picture">edit
                    <i class="fa fa-pencil-square-o"></i>
                </a>
            </div>

            <div class="well">
                <os-map-location addresses="vm.driver.user.addresses"></os-map-location>
            </div>

            <os-bg-check-summary user="vm.user"></os-bg-check-summary>
        </div>

    </div>


</section>
