@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}
.remove-account-container {
    display: inline-block;
    position: relative;
}
.btn-remove-account {
    top: 10px;
    right: 10px;
    position: absolute;
}
/* driver-profile client template */

.profile-row {
    padding: 5px 10px;
}
.profile-row p {
    margin: 0;
}
.availability-header {
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
    height: 18px;
}
.availability-row {
    height: 12px;
}
.span6 .profile-row .profile-label {
    margin: 0px;
}
.profile-row .pull-right {
    margin: 0px 10px 10px 0px;
    width: 108px;
}
.profile-row .row-fluid .span5 p {
    text-align: right;
}
.profile-row .span8 .row-fluid select {
    margin: 0px;
    width: 108px;
}
.profile-row .row-fluid .span6 p span {
    background-color: rgba(255, 255, 255, 0);
}
.profile-row .row-fluid .btn-group.btn-group-1 {
    width: 137px;
}
.profile-row .row-fluid .btn-group.btn-group-vertical .btn {
    width: 120px;
}
.profile-row .profile-label {
    margin: 6px;
}
.span6 .profile-row .span12 .well {
    background: rgba(245, 245, 245, 0.0509804);
    padding: 5px 20px 0px 10px;
}
.span6 .profile-row .availability-row .control-label {
    line-height: 14px;
}
.availability-row .checkbox {
    text-align: center;
    line-height: 12px;
}
