@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}
.remove-account-container {
    display: inline-block;
    position: relative;
}
.btn-remove-account {
    top: 10px;
    right: 10px;
    position: absolute;
}
/* TODO: Move these to SIGNUP Specific CSS File */

/* Signup classes */

.social-link img {
    /*height: 60px;*/
}
/* driver-profile client template */

.profile-row {
    padding: 5px 10px;
}
.profile-row > div {
    padding: 0;
}
.profile-row p {
    margin: 0;
}
.availability_matrix > .well {
    padding: 5px;
}
.availability-header {
    border-bottom: 1px solid #CCC;
}
.availability-header > div {
    padding: 0;
}
.col-md-6 .profile-row .profile-label {
    margin: 0;
}
.profile-row .pull-right {
    margin: 0 10px 10px 0;
    width: 108px;
}
.profile-row .row-fluid .col-md-5 p {
    text-align: right;
}
.profile-row .col-md-8 .row-fluid select {
    margin: 0;
    width: 108px;
}
.profile-row .row-fluid .col-md-6 p span {
    background-color: rgba(255, 255, 255, 0);
}
.profile-row .row-fluid .btn-group.btn-group-1 {
    width: 137px;
}
.profile-row .row-fluid .btn-group.btn-group-vertical .btn {
    width: 120px;
}
.profile-row .profile-label {
    margin: 6px;
}
.col-md-6 .profile-row .col-md-12 .well {
    background: rgba(245, 245, 245, 0.0509804);
    padding: 5px 20px 0 10px;
}
.col-md-6 .profile-row .availability-row .control-label {
    line-height: 14px;
}
.availability-row .checkbox {
    text-align: center;
    line-height: 12px;
}
/* License Details */

.license_details .license_label {
    width: 80px;
    text-align: right;
}
.license_details select {
    -webkit-appearance: none;
}
/* Signup Typing */

.signup-type {
    color: #ffffff;
}
.signup-type img {
    padding: 40px;
}
.signup-type .heading {
    border: none;
}
.signup-type div > * {
    border: none;
    background: #0e2d4c;
    padding: 20px;
    text-align: center;
}
/*.container-fluid .signup-type img {}*/
