commands:
  bower_install:
    command: "PATH=$PATH:/opt/elasticbeanstalk/node-install/node-v0.10.31-linux-x64/bin/node; ./node_modules/.bin/bower install --config-interactive=false"
    cwd: /var/app/current
    test: '[ ! -d ./public/lib ] && echo "++++++++++++++  BOWER LIBS NOT INSTALLED -----------------------------------"'
