# commands:
#   bower_install:
#    command: su -s /bin/sh -c ./node_modules/.bin/bower install --config-interactive=false
#    cwd: /var/app/current
#    env:
#      PATH : $PATH:/opt/elasticbeanstalk/node-install/node-v0.10.31-linux-x64/bin/node;
#    test: '[ ! -d ./public/lib ] && echo "++++++++++++++  BOWER LIBS NOT INSTALLED -----------------------------------"'
