# aws:elasticbeanstalk:application:environment:
    option_settings:
    - option_name: NODE_ENV
      value: production
    - option_name: DB_1_PORT_27017_TCP_ADDR
      value: "172.31.7.158"
    - option_name: GOOGLE_ANALYTICS_TRACKING_ID
      value: "UA-52626400-1"
    - option_name: MAILER_FROM
      value: "Outset <info@joinoutset.com>"
    - option_name: BRAINTREE_MERCHANT_ID
      value: "9thy557h7r7t5x95"
    - option_name: BRAINTREE_PUBLIC_KEY
      value: "sfnrsv2k6c78574s"
    - option_name: BRAINTREE_PRIVATE_KEY
      value: "9da8cb7ae133c4021633f00e495fbf77"
