<div class="container-fluid navbar-inverse" data-ng-controller="FooterController">
    <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">© {{year}} Outset Inc.</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms of Service</a>
            </li>
        </ul>
    </nav>
</div>
