<div class="container" data-ng-controller="FooterController">
    <div class="navbar-inner">
        <div class="responsive-container">
            <div class="nav">
                <ul class="nav nav-pills pull-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">Terms of Service</a>
                    </li>
                </ul>
                <ul class="nav pull-left">
                    <li>
                        <a href="#">© {{year}} Outset Inc.</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
