<header class="section-menu" data-ng-controller="HeaderController as vm"
        data-ng-class="{'navbar-landing' : vm.state.is('intro'), 'shadow' : (vm.scroll > 20), 'truckerline': !!vm.options.isTL }"
        data-ng-hide="!!vm.hideHeader">

    <div class="content container">
        <div class="main-menu">
            <div class="mobile-nav" mobile-nav></div>
            <div class="menu-block">
                <div class="logo">
                    <a href="/"><img ng-src="modules/core/img/brand/{{vm.logoURL}}"></a>
                </div>

                <div data-ng-hide="vm.auth.user">
                    <div class="menu-list">
                        <!--<div class="menu-item pull-left" ng-class="{'active': vm.state.is('intro.driver')}">-->
                            <!--<a ui-sref="intro.driver">Drivers</a>-->
                        <!--</div>-->
                        <!--<div class="menu-item pull-left" ng-class="{'active': vm.state.is('intro.owner')}">-->
                        <!--<a ui-sref="intro.owner">Employers</a>-->
                        <!--</div>-->
                        <!--<div class="menu-item pull-left" ng-class="{'active': vm.state.includes('jobs')}">-->
                        <!--<a ui-sref="jobs.list">Jobs</a>-->
                        <!--</div>-->

                        <div class="pull-right right-menu" ng-show="vm.options.showAuth">
                            <div class="auth-menu-item pull-left" ng-show="vm.options.login" login-modal>
                                <a>login</a>
                            </div>
                            <div class="auth-menu-item active pull-left" ng-show="vm.options.signup" signup-modal>
                                <a>register</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="pull-right right-menu">
                            <div class="auth-menu-item pull-left">
                                <a ui-sref="intro.driver">For Truckers</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div data-ng-show="vm.auth.user">

                    <div class="menu-list">
                        <div data-ng-repeat="item in vm.menu.items | orderBy: 'position'"
                             data-ng-if="item.shouldRender(vm.auth.user);" ng-switch="item.type"
                             class="menu-item pull-left {{item.class}} {{item.type}}"
                             data-ui-sref-active="active"
                             data-ng-init="itemParentName = item.state.split('.')[0] "
                             data-ng-class="{'active': vm.state.includes(itemParentName)}"
                             ng-attr-dropdown="item.type === 'dropdown'">

                            <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle>
                                <span data-ng-bind-html="item.title"></span>
                                <b class="caret"></b>
                            </a>

                            <div ng-switch-when="dropdown" class="dropdown-menu">
                                <div data-ng-repeat="subitem in item.items | orderBy: 'position'"
                                     data-ng-if="subitem.shouldRender(vm.auth.user);" data-ui-sref-active="active">
                                    <a data-ui-sref="{{subitem.state}}" data-ng-bind-html="subitem.title"></a>
                                </div>
                            </div>

                            <a ng-switch-default data-ui-sref="{{item.state}}" data-ui-sref-active="active"
                               data-ng-bind-html="item.title"></a>
                        </div>

                        <div class="pull-right right-menu">
                            <div class="menu-item pull-left dropdown" dropdown>

                                <a ui-sref="settings.profile" class="dropdown-toggle text-right" dropdown-toggle>
                                    <i class="fa fa-cog fa-lg"></i>
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <div class="dropdown-menu pull-right">
                                    <div data-ui-sref-active="active">
                                        <a data-ui-sref="settings.profile">Edit Profile</a>
                                    </div>
                                    <div data-ui-sref-active="active">
                                        <a data-ui-sref="settings.picture">Change Profile Picture</a>
                                    </div>
                                    <div data-ui-sref-active="active" data-ng-show="vm.auth.user.provider === 'local'">
                                        <a data-ui-sref="settings.password">Change Password</a>
                                    </div>
                                    <div data-ui-sref-active="active" ng-if="social.isEnabled">
                                        <a data-ui-sref="settings.accounts">Manage Social Accounts</a>
                                    </div>
                                    <div class="divider"></div>
                                    <div>
                                        <a target="_self" ng-click="vm.logout()">signout</a>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>


