<section data-ng-controller="HomeController" class="home">
</section>

<header class="intro">
    <div scroll class="container-fluid">
        <div class="row">
            <div class="brand-lead col-xs-12">
                <img src="/modules/core/img/brand/title_white.png" />
            </div>
        </div>
        <div class="row blue-bg semi-bg">
            <div class="leader col-sm-8 col-sm-offset-2 col-xs-12">
                <h1>Driving Connections</h1>
                <h2>The best way to find and fill transportation jobs</h2>
                <signup-modal class="signup">
                    <button class="btn btn-primary btn-large center-block">Sign Up Today</button>
                </signup-modal>
            </div>
        </div>
    </div>
</header>

<div class="intro-section">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="intro-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">One Stop</h2>
                <p class="lead">Outset brings together the best job postings and the most qualified drivers.&nbsp; Search no further - you'll find what you're looking for right here.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/modules/core/img/pin.svg" onerror="this.src='/modules/core/img/pin.png'">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="intro-section darken">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-2 col-sm-push-6 col-sm-6">
                <hr class="intro-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Quality Connections</h2>
                <p class="lead">Outset only connects the best drivers with the right jobs. No more wasting time wading through lists of jobs or an inbox full of applicants.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                <img class="img-responsive" src="/modules/core/img/handshake.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>


<div class="intro-section">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="intro-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Keeps You Moving</h2>
                <p class="lead">Whether you're looking for a driving job or filling one, Outset is the fastest way to get drivers behind the wheel and moving business forward.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/modules/core/img/speedometer.png">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>

<div class="intro-break"></div>

<div class="intro-section darken">
    <div class="container vcenter">
        <h3>Contact Us</h3>
    </div>
</div>
