
<div class="headline-bg headline-sm headline-map-bg">
    <div class="blue-mask container-fluid"></div>
</div>

<div class="container profile-base section section-on-bg">
    <div class="profile-navigation-wrapper">
        <a href="">
            <div class="nav-item active">
                <span class="text">PROFILE</span>
                <span class="icon pull-right"><i class="fa fa-user"></i></span>
            </div>
        </a>
        <a href="">
            <div class="nav-item">
                <span class="text">MESSAGES</span>
                <span class="icon pull-right"><i class="fa fa-comments-o"></i></span></div>
        </a>
        <a href="">
            <div class="nav-item">
                <span class="text">INVITE FRIENDS</span>
                <span class="icon pull-right"><i class="fa fa-users"></i></span></div>
        </a>
    </div>

    <div class="row profile">
        <div ui-view="content" class="col-md-8 profile-body left"></div>

        <div ui-view="sidebar" class="col-md-4 gutter profile-gutter right"></div>
    </div>
</div>
