<a ng-click="vm.showModal()" ng-transclude>Outset Partners Inc., Terms of Use</a>

<script type="text/ng-template" id="tosModal.html">
    <div class="modal-header bg-primary">
            <span class="modal-title h3 text-center" data-ng-value="vm.tosTitle">
                Outset Terms and Conditions
            </span>

        <div class="pull-right">
            <button type="button" class="close modal-title"
                    ng-click="$dismiss('close')"><span aria-hidden="true">
                    <i class="fa fa-close fa-2x"></i>
                    <span class="sr-only">Close</span></span>
            </button>
        </div>
    </div>


    <div class="modal-body">
        <p data-ng-bind-html="vm.tosHTML"><div data-ng-include="'/modules/core/views/templates/termsofservice.template.html'"></div></p>

    </div>

    <div class="modal-footer" ng-show="!!vm.acceptFn">
        <div class="col-sm-10 col-sm-offset-1">
            <p class="text-center">Do you agree to all conditions listed in the document above?
                <i class="fa"
                   ng-class="{'fa-question' : !vm.terms, 'fa-check-circle text-success fa-2x': vm.terms=='yes', 'fa-times-circle-o text-danger' : vm.terms=='no'}"></i>
                <button ng-hide="vm.terms === 'yes'" type="button"
                        ng-click="vm.terms='yes'" class="btn btn-oset-success btn-sm mgn-left">Yes,
                    I Agree!
                </button>
            </p>
        </div>
    </div>


</script>
