<section data-ng-init="findOne()">
    <!-- edit-job.client.view.html -->
    <section class="container-fluid">
        <os-page-header title="{{ pageTitle || 'Edit Job'}}">
            <span ng-show="!!company">For {{company.name}}</span>
        </os-page-header>
        <div class="col-md-12">
            <form class="form-horizontal" data-ng-submit="upsert()" novalidate>
                <fieldset>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="name">Headline</label></span>
                        </div>
                        <div class="panel-body">
                            <input type="text" data-ng-model="job.name" id="name" class="form-control"
                                   placeholder="Job Headline" required>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="description">Description</label></span>
                        </div>
                        <div class="panel-body">
                            <os-html-edit id="description" model="job.description"></os-html-edit>
                        </div>

                        <div class="panel-heading" data-ng-click="showPreview = !showPreview">Preview</div>
                        <div class="panel-body" data-ng-show="showPreview" ng-bind-html="job.description"></div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="location">Location</label></span>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <os-edit-address address="job.location[0]"
                                                 enable-edit="vm.enableEdit"></os-edit-address>
                            </div>

                            <div class="col-sm-8">
                                <os-map-location address="job.location[0]"
                                                 zip-code="{{job.location[0].zipCode}}"></os-map-location>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">


                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="payMin">Pay</label></span>
                        </div>
                        <div class="panel-body">
                            <div class="controls form-horizontal">
                                <input type="text" data-ng-model="job.payRate.min" id="payMin" class="form-control"
                                       placeholder="$min" required>&nbsp;-&nbsp;
                                <input type="text" data-ng-model="job.payRate.max" id="payMax" class="form-control"
                                       placeholder="$max" required>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="name">Post Status</label></span>
                        </div>
                        <div class="panel-body">
                            <div class="badge" data-ng-model="job.postStatus">{{job.postStatus || 'UNKNOWN' }}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-default">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</section>
