<section>
    <!-- edit-job.client.view.html -->
    <section class="container-fluid">
        <os-page-header title="{{ vm.pageTitle || 'Edit Job'}}" sub-title="{{!!vm.company ? vm.company.name : ''}}">
            <span><span ng-if="!!vm.job._id" class="text-muted">
                <em>
                    <strong>Posted:</strong> {{vm.job.posted || vm.job.created}}
                    <span ng-if="vm.job.created !== vm.job.modified">,
                        <strong>Last Modified:</strong> {{vm.job.modified}}
                    </span>
                </em>
            </span></span>
        </os-page-header>
        <div class="col-md-12">
            <form class="" name="vm.jobForm" data-ng-submit="vm.submit()" novalidate>
                <fieldset>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="name">Headline</label></span>
                        </div>
                        <div class="panel-body">
                            <input type="text" data-ng-model="vm.job.name" id="name" class="form-control"
                                   placeholder="Job Headline" name="headline" required>
                            <small class="error"
                                   ng-show="vm.jobForm.headline.$invalid">
                                <i class="fa fa-times text-danger"></i>
                            </small>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="name">Categories</label></span>
                        </div>
                        <div class="panel-body">
                            <oset-categories model="vm.job.categories" mode="edit" id="categories" data-type="job"></oset-categories>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="description">Description</label></span>
                        </div>
                        <div class="panel-body">
                            <os-html-edit id="description" model="vm.job.description"></os-html-edit>
                        </div>

                        <div class="panel-heading" data-ng-click="vm.showPreview = !vm.showPreview">Preview</div>
                        <div class="panel-body" data-ng-show="vm.showPreview" ng-bind-html="vm.job.description"></div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="requirements">Requirements</label></span>
                        </div>
                        <div class="panel-body">
                            <os-html-edit id="requirements" model="vm.job.requirements"></os-html-edit>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="location">Location</label></span>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <os-edit-address model="vm.job.location[0]" id="location"></os-edit-address>
                            </div>

                            <div class="col-sm-8">
                                <os-map-location address="vm.job.location[0]" precision="approximate"
                                                 zip-code="vm.job.location[0].zipCode"></os-map-location>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="pay">Pay</label></span>
                        </div>
                        <div class="panel-body form-inline" id="pay">
                            <div class="form-group mgn-right">
                                <label for="payMin">Minimum Pay : </label>

                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input type="number" class="form-control"
                                           name="payMin" id="payMin"
                                           data-ng-model="vm.job.payRate.min">
                                    <small class="error"
                                           ng-show="vm.jobForm.payMin.$invalid">
                                        <i class="fa fa-times text-danger"></i>
                                    </small>
                                </div>
                            </div>
                            <div class="form-group mgn-right">
                                <label for="payMax">Maximum Pay : </label>

                                <div class="input-group">
                                    <div class="input-group-addon">$</div>
                                    <input type="number" class="form-control" name="payMax"
                                           id="payMax" placeholder="Amount"
                                           data-ng-model="vm.job.payRate.max">
                                    <small class="error"
                                           ng-show="vm.jobForm.payMax.$invalid">
                                        <i class="fa fa-times text-danger"></i>
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="payBy">Paid per : </label>
                                <select id="payBy" class="form-control" name="payBy"
                                        ng-model="vm.job.payRate.period">
                                    <option value="hour">Hour</option>
                                    <option value="week">Week</option>
                                    <option value="month">Month</option>
                                    <option value="year">Year</option>
                                </select>
                                <small class="error"
                                       ng-show="vm.jobForm.payPeriod.$invalid">
                                    <i class="fa fa-times text-danger"></i>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default hidden">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="name">Post Status</label></span>
                        </div>
                        <div class="panel-body">
                            <div class="badge" data-ng-model="vm.job.postStatus">UNKNOWN</div>
                        </div>
                    </div>

                    <div class="pull-right">
                        <input type="button" class="btn btn-link" value="cancel" ng-click="vm.cancel()">
                        <!--<input type="button" class="btn btn-default" value="Save as draft" ng-if="!vm.job._id" ng-click="vm.saveDraft()">-->
                        <input type="submit" class="btn btn-oset-success" ng-disabled="vm.disabled" ng-class="{disabled:!vm.job}" value="Save">
                    </div>
                    <div data-ng-show="vm.error" class="text-danger text-center">
                        <strong data-ng-bind="vm.error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</section>
