<section data-ng-init="initList()">
    <section class="container-fluid">
        <os-page-header title="{{listTitle}}" btn-show="true" btn-text="Post Job" btn-sref="jobs.create({companyId: '{{company._id}}' })">
            <button ng-if="authentication.user._id === company.owner._id" class="btn btn-primary pull-right" ui-sref="jobs.create({companyId: company._id})">Post Job</button>
        </os-page-header>
        <os-job-list src-jobs="jobs" company="company" company-id="{{company._id}}"></os-job-list>
    </section>
</section>
