<section class="container-fluid">
    <os-page-header title="Job Details" edit-sref="jobs.edit({jobId: '{{vm.job._id}}'})"
                    show-edit="vm.enableEdit" sub-title="{{vm.job.name}}">
        Posted on
        <span data-ng-bind="vm.job.created | date:'mediumDate'"></span> by
        <span data-ng-bind="vm.job.user.displayName"></span>
    </os-page-header>

    <div class="row">
        <div class="col-md-8">
            <os-job job="vm.job"></os-job>
        </div>

        <div class="col-md-4">

            <div class="mgn-bottom" data-ng-if="vm.user.type==='driver'">
                <os-view-application job="vm.job" user="vm.user" display-mode="mine"></os-view-application>
            </div>

            <div class="company-image panel panel-default"
                 data-ng-if="vm.user.type === 'driver' || vm.user.company._id !== vm.job.company._id">
                <img ng-src="{{vm.job.company.profileImageURL}}" class="img-responsive"/>
            </div>

            <div class="panel panel-default" data-ng-if="vm.user.type === 'owner' && vm.enableEdit">
                <div class="panel-heading ">
                    <span class="h4">Applications</span>
                </div>
                <div class="panel-body">
                    <os-list-applications job="vm.job" display-mode="table"></os-list-applications>
                    <pre ng-if="vm.debug">{{vm.job.applications}}</pre>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">Location: {{ vm.job.location[0].zipCode }}</span>
                </div>
                <div class="panel-body">
                    <os-map-location address="vm.job.location[0]"></os-map-location>
                    <div class="text-center" data-ng-hide="vm.job.location[0]">No Location Available</div>
                </div>
            </div>

            <div class="panel panel-default ">
                <div class="panel-heading ">
                    <span class="h4">Info</span>
                </div>
                <div class="panel-body ">
                    <div class="row" ng-if="vm.job.positionType">
                            <span class="fa-stack fa-lg pull-left ">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-clock-o fa-stack-1x fa-inverse "></i>
                            </span>
                        <span>{{ vm.job.positionType }}</span>
                        <br>
                    </div>

                    <div class="row" ng-if="vm.job.payRate && (vm.job.payRate.min || vm.job.payRate.max)">
                            <span class="fa-stack fa-lg pull-left ">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-usd fa-stack-1x fa-inverse "></i>
                            </span>
                            <span>
                                ${{ vm.job.payRate.min }} to ${{ vm.job.payRate.max }} per Hour</span>
                        <br>
                    </div>

                    <div class="row" ng-if="vm.job.endorsements">
                            <span class="fa-stack fa-lg pull-left ">
                                <i class="fa fa-circle fa-stack-2x "></i>
                                <i class="fa fa-credit-card fa-stack-1x fa-inverse "></i>
                            </span>
                        <span>{{ vm.job.endorsements }}</span>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
