<section class="container-fluid" name="view-job-client-view">
    <os-page-header title="Job Details" edit-sref="jobs.edit({jobId: '{{vm.job._id}}'})"
                    show-edit="vm.enableEdit" sub-title="{{vm.job.name}}">
        Posted on
        <span data-ng-bind="vm.job.created | date:'mediumDate'"></span> by
        <span data-ng-bind="vm.job.user.displayName"></span>
    </os-page-header>

    <div class="row">
        <!--Primary content column: Show the Job Details in Read-only mode-->
        <div class="col-md-8">
            <os-job job="vm.job" show-edit="vm.enableEdit"></os-job>
        </div>

        <!--Right-Hand sidebar for secondary information and links-->
        <div class="col-md-4">

            <!--Company Profile Image-->
            <div class="company-image mgn-bottom">
                <img ng-src="{{vm.job.company.profileImageURL}}" class="img-responsive center-block"/>
            </div>

            <!--Signup-Apply Modal Launch Button-->
            <div class="mgn-bottom" data-ng-if="!vm.user" oset-signup-apply-modal type="driver" job='vm.job'>
                <button class="btn btn-cta-primary btn-lg btn-block bigger">
                    apply
                </button>
            </div>

            <!--Gateway Signup/Apply/Info Launch Button-->
            <div class="mgn-bottom" type="driver" job='vm.job'
                 data-ng-if="!vm.user || vm.user.type === 'driver' || vm.user.company._id !== vm.job.company._id">
                <button class="btn btn-cta-primary btn-lg btn-block bigger" ui-sref="gateway({jobId:vm.job._id})">
                    gateway
                </button>
            </div>

            <!--Application Summary for Driver-->
            <div class="mgn-bottom" data-ng-if="vm.user.isDriver">
                <oset-application-summary job="vm.job" profile="vm.user" display-mode="mine"></oset-application-summary>
            </div>

            <!--Application List Summary info for Owner-->
            <div class="panel panel-default" data-ng-if="vm.user.type === 'owner' && vm.enableEdit">
                <div class="panel-heading ">
                    <span class="h4">Applications</span>
                </div>
                <div class="panel-body">

                    <table class="table table-hover">
                        <tbody>
                        <tr ng-repeat="application in vm.applications">
                            <td>{{application.user.displayName}}</td>
                            <td class="text-right">
                                <os-application-status-badge model="application"></os-application-status-badge>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <pre ng-if="true || vm.debug">{{vm.applications.length}}</pre>
                </div>
            </div>

            <!--Map & Location Information - Only shown if location is available-->
            <div class="panel panel-default" ng-if="!!vm.job.location[0] && !vm.job.location[0].empty">
                <div class="panel-heading">
                    <span class="h4">Location: {{ vm.job.location[0].zipCode }}</span>
                </div>
                <div class="panel-body">
                    <os-map-location address="vm.job.location[0]"></os-map-location>
                    <div class="text-center" data-ng-hide="vm.job.location[0]">No Location Available</div>
                </div>
            </div>

            <!--Summary and Additional Info-->
            <div class="panel panel-default ">
                <div class="panel-heading ">
                    <span class="h4">Info</span>
                </div>
                <div class="panel-body ">
                    <span ng-if="vm.job.positionType">
                        <strong>Type: </strong><span>{{ vm.job.positionType }}</span>
                    </span>

                    <span ng-if="!!vm.job.payString || vm.job.payRate && (vm.job.payRate.min || vm.job.payRate.max)">
                        <strong>Pay: </strong>
                            <span ng-show="!!vm.job.payRate.min">{{ vm.job.payRate.min | currency }}</span>
                            <span ng-show="!!vm.job.payRate.max"><span ng-show="!!vm.job.payRate.min"> to </span>{{ vm.job.payRate.max | currency }}</span>
                            <span ng-show="!!vm.job.payString && !!vm.job.payRate.period"> per {{vm.job.payRate.period}}</span>
                    </span>
                </div>
            </div>


        </div>

    </div>

    <div class="row">
        <div class="panel panel-default col-md-10 col-md-offset-1">
            <pre>{{vm.applications | prettyPrint}}</pre>
        </div>
    </div>
</section>
