<section data-ng-controller="AddressesController" ng-form data-ng-submit="update()">
    <div class="profile-row form-group" ng-repeat="(a,address) in addresses track by a">

        <label data-ng-hide="editMode" for="address-type">{{address.type}}</label>
        <select data-ng-show="editMode" ng-model="address.type" ng-options="type as type for type in types">
            <option value="">-- choose type --</option>
        </select>
        <div ng-repeat="(s,street) in address.streetAddresses track by s">
            <p data-ng-hide="editMode">{{street}}</p>
            <input data-ng-show="editMode" type="text" id="street-address" name="street-address" class="form-control" data-ng-model="addresses[a].streetAddresses[s]" placeholder="Street Address {{$index+1}}">
        </div>
        <div class="row" style="margin-left: 0; margin-right: 18px;">
            <div class="form-group col-md-6">
                <label class="sr-only" for="address-city">City</label>
                <p data-ng-hide="editMode">{{address.city}}</p>
                <input data-ng-show="editMode" type="text" id="city" name="city" class="form-control" data-ng-model="address.city" placeholder="City">
            </div>
            <div class="form-group col-md-2">
                <label class="sr-only" for="address-state">State</label>
                <p data-ng-hide="editMode">{{address.state}}</p>
                <input type="text" id="state" name="state" class="form-control" data-ng-model="address.state" data-ng-show="editMode" placeholder="State" style="padding-left: 2px; padding-right: 2px;">
            </div>
            <div class="form-group col-md-4">
                <label class="sr-only" for="address-zip">Zip Code</label>
                <p data-ng-hide="editMode">{{address.zip}}</p>
                <input data-ng-show="editMode" type="text" id="address-zip" name="zip" class="form-control" data-ng-model="address.zipCode" placeholder="ZIP">
            </div>
        </div>
    </div>
</section>
