<a ng-click="vm.showModal()" ng-transclude>Privacy</a>

<script type="text/ng-template" id="privacyModal.html">
    <div class="modal-header bg-primary">
            <span class="modal-title h3 text-center" data-ng-value="vm.privacyTitle">
                Outset Privacy Policy
            </span>

        <div class="pull-right">
            <button type="button" class="close modal-title"
                    ng-click="$dismiss('close')"><span aria-hidden="true">
                    <i class="fa fa-close fa-2x"></i>
                    <span class="sr-only">Close</span></span>
            </button>
        </div>
    </div>


    <div class="modal-body">
        <p data-ng-bind-html="vm.privacyHTML"><div data-ng-include="'/modules/core/views/templates/privacy.template.html'"></div></p>
    </div>


</script>
