<ion-view class="friends-screen view-section min-size">

    <ion-header-bar>
        <ion-nav-bar>
            <ion-nav-back-button>Back</ion-nav-back-button>
        </ion-nav-bar>
        <h1 class="title">Add Friends</h1>
        <a class="button button-clear" ng-click="vm.skipToProfile();">Skip</a>
    </ion-header-bar>

    <ion-pane class="has-footer friends-pane">
        <div class="item item-input search-bar">
            <i class="icon light ion-ios-search-strong"></i>
            <input type="text" placeholder="Search for Friends" ng-model="vm.searchText" ng-change="vm.searchHandler()">
        </div>
        <ion-scroll delegate-handle="main-content-scroll">
            <div class="list friends-list">
                <div class="title">Your Friends</div>
                <ion-checkbox
                    collection-repeat="contact in contacts = (vm.contacts | filter:vm.searchText)"
                    ng-model="contact.checked">
                    {{contact.displayName}}
                </ion-checkbox>
            </div>
            <div class="button-holder text-center">
                <a class="button button-block button-clear manual-add" ui-sref="signup-friends-manually">
                    <i class="icon ion-ios-plus-outline"></i>
                    Add by Mobile Phone or Email
                </a>
            </div>
        </ion-scroll>
    </ion-pane>

    <ion-footer-bar>
        <div class="button-bar">
            <button class="button block-button" ng-click="vm.sendInvitations();">Send Invitations</button>
        </div>
    </ion-footer-bar>

</ion-view>
