<ion-view class="view-section compact-size">

    <ion-header-bar align-title="center">
        <ion-nav-bar>
            <ion-nav-back-button>Back</ion-nav-back-button>
        </ion-nav-bar>
        <h1 class="title">Add Friends</h1>
    </ion-header-bar>

    <div class="bar bar-subheader">
        <h3 class="title">Please enter a Mobile Phone Number or Email Address below.</h3>
    </div>

    <ion-pane class="pane has-footer content-pane">
        <ion-scroll>
            <oset-manual-contact model="vm.contact" message="false"></oset-manual-contact>
        </ion-scroll>
    </ion-pane>

    <ion-footer-bar>
        <div class="button-bar action-buttons">
            <button class="button secondary" ng-click="$ionicGoBack()">Cancel</button>
            <button class="button primary" ng-disabled="!(!!vm.contact.phone || !!vm.contact.email)"  ng-click="vm.invite();">Invite</button>
        </div>
    </ion-footer-bar>

</ion-view>
