<ion-view class="signup-section view-section compact-size">

    <ion-header-bar align-title="center" class="bar-stable">
        <h1 class="title">Create Account</h1>
    </ion-header-bar>

    <div class="bar bar-subheader">
        <h3 class="title">Personalize your account with a Picture, your Handle and how long you've been on the road</h3>
    </div>

    <ion-pane class="has-footer has-subheader">
        <ion-scroll>
        <form name="mainEnagegmentForm" id="mainEnagegmentForm" class="list signup-form" ng-init="vm.initEngagementForm(this)" ng-submit="vm.continueToLicense()"
        role="form">
            <label class="item item-input">
                <input type="text" placeholder="Enter your CB Handle" ng-model="vm.handle" autofocus>
            </label>
            <div class="avatar-wrapper">
                <div class="avatar" ng-click="vm.showEditAvatar()">
                    <button type="button" class="button button-block button-clear button-light">
                        Add your Profile Picture
                    </button>
                    <i ng-if="!vm.profileData.props.avatar" class="ico ico-cameraicon ico-middle"></i>
                    <img ng-if="vm.profileData.props.avatar" class="round-avatar" ng-src="{{ vm.profileData.props.avatar }}" />
                </div>
            </div>
            <oset-toggle label="Owner Operator" type="button-small" model="vm.owner"></oset-toggle>
            <label class="item item-input">
                <input type="text" placeholder="Driving Since" ng-model="vm.started" onfocus="this.type='month';this.setAttribute('onfocus','');this.blur();this.focus();">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Name of Employer" ng-model="vm.employer">
            </label>
        </form>
        </ion-scroll>
    </ion-pane>

    <ion-footer-bar>
        <div class="button-bar action-buttons">
            <button type="button" class="button secondary submit" form="mainEnagegmentForm" ng-click="vm.continueToLicense()">Continue</button>
        </div>
    </ion-footer-bar>

</ion-view>