<ion-view class="signup-section home">
    <ion-pane>
        <div class="home-content">
            <i class="ico ico-outsetlogo"></i>
            <h3>Take control of your driving career</h3>
        </div>
    </ion-pane>

    <ion-footer-bar>
        <div class="button-bar action-buttons">
            <button class="button secondary submit" ng-disabled="vm.form.mainForm.$invalid" nav-direction="forward" ui-sref="signup.register">Sign Up</button>
        </div>
        <div class="button-bar action-buttons">
            <button class="button primary submit" ng-disabled="vm.form.mainForm.$invalid" nav-direction="forward" ui-sref="signup.login">Login</button>
        </div>
    </ion-footer-bar>
</ion-view>
