<ion-view class="signup-section home">

<div class="home-content">
    <i class="app-logo"></i>
</div>
        <ion-slide-box class="home-slide-box" auto-play="true" does-continue="true" slide-interval="5000">
            <ion-slide>
                <div class="box home-content">
                    <h3>Take control of your Trucking career</h3>
                </div>
            </ion-slide>
            
            <ion-slide>
                <div class="box home-content">
                    <h3>Share info with Friends in the Industry & Track your life on the Road!</h3>
                </div>
            </ion-slide>
            
            <ion-slide>
                <div class="box home-content">
                    <h3>Manage your Career with your Professional Driver Profile & quickly share it with Employers & Shippers</h3>
                </div>
            </ion-slide>
            
            <ion-slide>
                <div class="box home-content">
                    <h3>Quickly Digitize, Store and Securely Share your Professional Documents!</h3>
                </div>
            </ion-slide>
            
        </ion-slide-box>

    <ion-footer-bar>
        <div class="button-bar action-buttons">
            <button class="button secondary submit" ng-disabled="vm.form.mainForm.$invalid" nav-direction="forward" ui-sref="signup-register">Sign Up</button>
        </div>
        <div class="button-bar action-buttons">
            <button class="button primary submit" ng-disabled="vm.form.mainForm.$invalid" nav-direction="forward" ui-sref="login">Login</button>
        </div>
    </ion-footer-bar>

</ion-view>