<ion-modal-view class="signup-section view-section min-size bg-transparent">
    <ion-header-bar>
        <button class="button button-icon ion-close-round" ng-click="vm.cancel()"></button>
        <h1 class="title">{{::vm.header}}</h1>
    </ion-header-bar>

    <ion-pane class="has-footer license-content">
        <ion-scroll>

            <h4>Select your license Class</h4>
            <div class="list license">
                <span class="oset-cb-item category-a" ng-click="vm.class='A'" ng-class="{'active':vm.class==='A'}">
                    <div class="item-content">
                        <i class="ico {{vm.class === 'A' ? 'ico-licenseaactive' : 'ico-licenseainactive'}}"></i>
                    </div>
                </span>
                <span class="oset-cb-item category-b" ng-click="vm.class='B'" ng-class="{'active':vm.class==='B'}">
                    <div class="item-content">
                        <i class="ico {{vm.class === 'B' ? 'ico-licensebactive' : 'ico-licensebinactive'}}"></i>
                    </div>
                </span>
                <span class="oset-cb-item category-c" ng-click="vm.class='C'" ng-class="{'active':vm.class==='C'}">
                    <div class="item-content">
                        <i class="ico {{vm.class === 'C' ? 'ico-licensecactive' : 'ico-licensecinactive'}}"></i>
                    </div>
                </span>
            </div>

            <h4>Select your endorsements</h4>
            
            <ion-list class="signup-list">
              <ion-checkbox ng-model="vm.endorsement.T">Double/Triple Trailers</ion-checkbox>
              <ion-checkbox ng-model="vm.endorsement.N">Tank Vehicles</ion-checkbox>
              <ion-checkbox ng-model="vm.endorsement.H">Hazardous Materials</ion-checkbox>
              <ion-checkbox ng-model="vm.endorsement.P">Passenger</ion-checkbox>
              <ion-checkbox ng-model="vm.endorsement.X">Tank Vehicle and Hazardous Materials</ion-checkbox>
            </ion-list>

        </ion-scroll>
    </ion-pane>

    <ion-footer-bar>
        <div class="button-bar action-buttons">
            <button class="button secondary" ng-if="vm.showCancel" ng-click="vm.cancel()">Cancel</button>
            <button class="button {{!!vm.showCancel ? 'primary' : secondary}} submit" ng-click="vm.save()">{{::vm.saveTxt}}</button>
        </div>
    </ion-footer-bar>

</ion-modal-view>
