<ion-view class="signup-section view-section min-size">

    <ion-header-bar align-title="center" class="bar-stable">
        <ion-nav-bar>
            <ion-nav-back-button>Back</ion-nav-back-button>
        </ion-nav-bar>
            <h1 class="title">Create Account</h1>
        </ion-header-bar>

    <ion-pane class="has-footer license-content">
        <ion-scroll>
            <h4>Select your license</h4>
            <div class="list license">
                <label class="oset-cb-item category-a" ng-click="vm.class='A'" ng-class="{'active':vm.class==='A'}">
                    <div class="item-content">
                        <i class="ico ico-license-a {{vm.class === 'A' ? 'ico-active' : 'ico-inactive'}}"></i>
                    </div>
                </label>
                <label class="oset-cb-item category-b" ng-click="vm.class='B'" ng-class="{'active':vm.class==='B'}">
                    <div class="item-content">
                        <i class="ico ico-license-b {{vm.class === 'B' ? 'ico-active' : 'ico-inactive'}}"></i>
                    </div>
                </label>
                <label class="oset-cb-item category-c" ng-click="vm.class='C'" ng-class="{'active':vm.class==='C'}">
                    <div class="item-content">
                        <i class="ico ico-license-c {{vm.class === 'C' ? 'ico-active' : 'ico-inactive'}}"></i>
                    </div>
                </label>
            </div>
            <h4>Select your endorsements</h4>
            <ul class="list endorsements">
                <li class="item item-checkbox endorsement-a col">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vm.endorsement.T">
                    </label>
                    <p>Double /
                        <br> Triple trailers</p>
                </li>
                <li class="item item-checkbox endorsement-b col">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vm.endorsement.P">
                    </label>
                    <p>Passenger</p>
                </li>
                <li class="item item-checkbox endorsement-c col">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vm.endorsement.N">
                    </label>
                    <p>Tank Vehicle</p>
                </li>
                <li class="item item-checkbox endorsement-d col">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vm.endorsement.H">
                    </label>
                    <p>Hazardous Materials</p>
                </li>
                <li class="item item-checkbox endorsement-e col">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vm.endorsement.X">
                    </label>
                    <p>Tank Vehicle
                        <br> and
                        <br> Hazardous Materials</p>
                </li>
            </ul>
        </ion-scroll>
    </ion-pane>

    <ion-footer-bar>
        <div class="button-bar action-buttons">
            <button class="button secondary submit" ng-click="vm.continueToTrucks()">Continue</button>
        </div>
    </ion-footer-bar>

</ion-view>