<ion-view>

    <div class="bg-wrapper">
        <div class="bg">
        </div>
    </div>

    <ion-nav-bar>
        <ion-nav-back-button>Back</ion-nav-back-button>
    </ion-nav-bar>

    <ion-header-bar align-title="center" class="bar bar-header bar-light">
        <h1 class="title">Create Account</h1>
    </ion-header-bar>

    <ion-content>
        <p class="title">Select your license</p>


        <div class="list license">
            <label class="item item-radio">
                <input type="radio" name="group" class="category-a" ng-model="radios.name" ng-value="'A'">
                <div class="item-content">
                    <i class="ico ico-licenseainactive" ></i>
                </div>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group" class="category-b" ng-init="radios.name = 'B' " ng-model="radios.name" ng-value="'B'">
                <div class="item-content">
                    <i class="ico ico-licensebinactive" ></i>
                </div>
            </label>

            <label class="item item-radio">
                <input type="radio" name="group" class="category-c" ng-model="radios.name" ng-value="'C'">
                <div class="item-content">
                    <i class="ico ico-licensecinactive" ></i>
                </div>
            </label>
            <p>{{radios.name | json}}</p>
        </div>





        <p class="title">Select your endorsements</p>
        <ul class="list endorsements">
            <div class="row">
                <li class="item item-checkbox endorsement-a col">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <p>Double /<br>
                    Triple trailers</p>
                </li>
                <li class="item item-checkbox endorsement-b col">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <p>Passenger</p>
                </li>
                <li class="item item-checkbox endorsement-c col">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <p>Tank Vehicle</p>
                </li>
             </div>

            <div class="endorsements-bottom row">
                <li class="item item-checkbox endorsement-d col">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <p>Hazardous Materials</p>
                </li>
                <li class="item item-checkbox endorsement-e col">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    <p>Tank Vehicle<br>
                    and<br>
                    Hazardous Materials</p>
                </li>
            </div>
        </ul>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <button class="bar bar-footer bar-light" ng-click="continue()" type="submit" >
            <p class="title">Continue<p>
        </button>
    </ion-footer-bar>
</ion-view>