<ion-view class="signup-section view-section min-size" can-swipe-back="{{vm.canGoBack}}">

    <ion-header-bar align-title="center" class="bar-stable">            
        <button class="button button-icon icon ion-ios-arrow-back" ng-click="vm.cancel()" 
        nav-direction="{{!!vm.showCancel ? 'exit' : 'back'}}"></button>
        
        <h1 class="title">
            <span ng-if="!!vm.header" ng-bind="vm.header"></span>
            <i ng-if="!vm.header" class="app-brand"></i>
        </h1>
    </ion-header-bar>

    <ion-content class="has-footer license-content">
            <h4>Select your license Class</h4>
            <div class="list license">
                <label class="oset-cb-item category-a" ng-click="vm.class='A'" ng-class="{'active':vm.class==='A'}">
                    <div class="item-content">
                        <i class="ico {{vm.class === 'A' ? 'ico-licenseaactive' : 'ico-licenseainactive'}}"></i>
                    </div>
                </label>
                <label class="oset-cb-item category-b" ng-click="vm.class='B'" ng-class="{'active':vm.class==='B'}">
                    <div class="item-content">
                        <i class="ico {{vm.class === 'B' ? 'ico-licensebactive' : 'ico-licensebinactive'}}"></i>
                    </div>
                </label>
                <label class="oset-cb-item category-c" ng-click="vm.class='C'" ng-class="{'active':vm.class==='C'}">
                    <div class="item-content">
                        <i class="ico {{vm.class === 'C' ? 'ico-licensecactive' : 'ico-licensecinactive'}}"></i>
                    </div>
                </label>
            </div>
            <h4>Select your endorsements</h4>
            <ul class="list endorsements">
                <li class="item item-checkbox endorsement-a col">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vm.endorsement.T">
                    </label>
                    <p>Double /
                        <br> Triple trailers</p>
                </li>
                <li class="item item-checkbox endorsement-c col">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vm.endorsement.N">
                    </label>
                    <p>Tank Vehicle</p>
                </li>
                <li class="item item-checkbox endorsement-d col">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vm.endorsement.H">
                    </label>
                    <p>Hazardous Materials</p>
                </li>
                <li class="item item-checkbox endorsement-b col">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vm.endorsement.P">
                    </label>
                    <p>Passenger</p>
                </li>
                <li class="item item-checkbox endorsement-e col">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vm.endorsement.X">
                    </label>
                    <p>Tank Vehicle and
                        <br> Hazardous Materials</p>
                </li>
            </ul>
    </ion-content>

    <ion-footer-bar>
        <div class="button-bar action-buttons">
            <button class="button secondary" ng-if="vm.showCancel" ng-click="vm.cancel()" nav-direction="exit">Cancel</button>
            <button class="button {{!!vm.showCancel ? 'primary' : secondary}} submit" ng-click="vm.save()"
             nav-direction="{{!!vm.showCancel ? 'exit' : 'forward'}}">{{::vm.saveTxt}}</button>
        </div>
    </ion-footer-bar>

</ion-view>
