<ion-view class="signup-section view-section min-size">

    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-arrow-back" nav-direction="back" ui-sref="home"></button>
        </div>
        <h1 class="title">
            <i class="app-brand dark"></i>
        </h1>
    </ion-header-bar>

    <div class="bar bar-subheader">
        <h3 class="title">Log in to your account</h3>
    </div>

    <ion-content class="has-subheader has-footer">
        <div class="login-content">
            <form name="vm.mainLoginForm" id="vm.mainLoginForm" class="list signup-form" ng-submit="vm.submitForm($event)" accessible-form
            novalidate>
                <ion-input class="item item-input">
                    <i class="icon ion-email placeholder-icon"></i>
                    <input type="email" name="email" placeholder="Email" ng-change="vm.echange()" ng-model="vm.user.email" ng-focus="vm.lastElementFocused = false"
                    debounce required oset-focus focus-me="vm.focus['email']">
                    <i class="icon ion-backspace-outline" ng-if="vm.user.email && vm.user.email.length" ng-click="vm.user.email = ''"></i>
                </ion-input>


                <ion-input class="item item-input">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input id="password" type="password" placeholder="Password" ng-model="vm.user.password" name="password" ng-focus="vm.lastElementFocused = true"
                    required focus-me="vm.focus['pass']">
                    <i class="icon ion-backspace-outline" ng-if="vm.user.password.length > 0" ng-click="vm.user.password = ''"></i>
                </ion-input>


                <input style="position:absolute; left:9999px" type="submit" />
                <div ng-if="vm.mainLoginForm.$submitted && (vm.mainLoginForm.$invalid || !!vm.error)" class="error">
                    <span ng-if="!vm.error && vm.mainLoginForm.password.$error.required && vm.mainLoginForm.email.$error.required">Please enter your email and password</span>
                    <span ng-if="!vm.error && !vm.mainLoginForm.password.$error.required && !vm.mainLoginForm.email.$error.required && vm.mainLoginForm.email.$invalid">Please enter a valid email address</span>
                    <span ng-if="!vm.error && !vm.mainLoginForm.password.$error.required && vm.mainLoginForm.email.$error.required">Please enter your email address</span>
                    <span ng-if="!vm.error && vm.mainLoginForm.password.$error.required && !vm.mainLoginForm.email.$error.required">Please enter your password</span>
                    <span ng-if="vm.error">{{vm.error}}</span>
                </div>
            </form>

            <div class="register-content">
                <i class="app-icon"></i>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar>
        <div class="button-bar action-buttons">
            <button class="button primary" ng-click="vm.submitForm($event);" event-focus="click" event-focus-id="password">Login</button>
        </div>
    </ion-footer-bar>
</ion-view>