<ion-view class="signup-section register-screen view-section compact-size">

    <ion-header-bar align-title="center" class="bar-stable">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-arrow-back" nav-direction="back" ui-sref="home"></button>
        </div>
        <h1 class="title">Create Account</h1>
    </ion-header-bar>

    <div class="bar bar-subheader">
        <h3 class="title">Create your Truckerline account below</h3>
    </div>

    <ion-pane class="has-footer">
        <form name="mainForm" id="mainForm" class="list sign-up signup-form" ng-init="vm.initForm(this)" ng-submit="vm.submitForm()"
        novalidate>
            <label class="item item-input">
                <input id="firstName" name="firstName" type="text" placeholder="First Name" ng-model="vm.user.firstName" ng-focus="vm.lastElementFocused = false" required>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="vm.user.lastName" ng-focus="vm.lastElementFocused = false" required>
            </label>
            <label class="item item-input">
                <input type="email" name="email" placeholder="Email" ng-model="vm.user.email" ng-focus="vm.lastElementFocused = false" required>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="vm.user.password" ng-focus="vm.lastElementFocused = false" required>
            </label>
            <label class="item item-input item-ass">
                <input name="confirmPassword" type="password" placeholder="Confirm Password" ng-model="vm.user.confirmPassword" compare-to="vm.user.password" ng-focus="vm.lastElementFocused = true" required>
            </label>
            <input style="position:absolute; left:9999px" type="submit" />
        </form>
    </ion-pane>

    <ion-footer-bar>
        <div class="button-bar action-buttons">
            <button class="button secondary submit" ng-disabled="vm.form.mainForm.$invalid" ng-click="vm.continueToEngagement()">Create Account</button>
        </div>
    </ion-footer-bar>

</ion-view>
