<ion-view class="signup-section">

    <div class="header compact-size">
        <ion-header-bar align-title="center">
            <button class="button button-clear" ng-click="$ionicGoBack()">Back</button>
            <h1 class="title">Create Account</h1>
            <button class="button button-clear" ng-click="vm.continueToProfile(false)">
                Skip
            </button>
        </ion-header-bar>
        <div class="bar bar-subheader" >
            <h3 class="title">Choose Your Trailer Type</h3>
        </div>
    </div>

    <ion-pane class="has-footer">
        <ion-scroll>
            <ul class="list select-trailer">
                <li class="item item-checkbox" ng-repeat="trailer in vm.trailers">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="trailer.checked">
                        <div class="item-content">
                            <i class="ico ico-checkboxselected" ></i>
                        </div>
                    </label>
                    <p>{{ trailer.name }}</p>
                </li>

                <li class="item item-checkbox">
                    <label class="item item-radio" ng-click="vm.addTrailer()">
                        <div class="item-content button-other">
                            <p class="center-text">Other</p>
                        </div>
                    </label>
                </li>

            </ul>
        </ion-scroll>
    </ion-pane>
    <ion-footer-bar>
        <div class="button-bar action-buttons">
            <button class="button secondary"  ng-click="vm.continueToAddFriends()" type="submit">Continue</button>
        </div>
    </ion-footer-bar>
</ion-view>
