<ion-view class="signup-screen trucks-screen">

    <div class="bar bar-subheader">
        <h3 class="title big-lineheight">What type of truck do you drive?</h3>
    </div>

    <ion-content class="has-subheader has-progress-footer">
        <div class="description content-body">
            <ion-list class="select-truck has-footer">
                <span ng-repeat="truck in vm.trucks">
                <ion-radio ng-class="{'active': vm.currentTruck === truck.name}"
                           type="radio" name="trucks" ng-model="vm.currentTruck" value="{{truck.name}}">
                    <p>{{ truck.name }}</p>
                    <div class="logo {{ truck.logoClass }}"></div>
                </ion-radio> 
            </span>
                <ion-item>
                    <ion-input class="item item-radio item-content button-other" ng-click="vm.addTruck()">
                        <p class="center-text capitalize">other...</p>
                    </ion-input>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>

</ion-view>