<ion-view>

    <div class="bg-wrapper">
        <div class="bg">
        </div>
    </div>

    <ion-nav-bar>
        <ion-nav-back-button>Back</ion-nav-back-button>
    </ion-nav-bar>

    <ion-header-bar align-title="center" class="bar bar-header bar-light">
        <h1 class="title">Create Account</h1>

    </ion-header-bar>

    <ion-content>
        <p class="title">Choose Your Truck Make</p>
        <div class="list select-truck">
            <label class="item item-radio"  ng-repeat="truck in vm.trucks"  >
                <input type="radio" name="trucks"  ng-model="currentTruck.name" value="{{truck.name}}">
                <div class="item-content">
                    <p>{{ truck.name }}</p>
                    <div class="logo">
                        <div class="{{ truck.logoClass }} " ></div>
                     </div>
                </div>
            </label>

            <label class="item item-radio">
                <input type="radio" name="trucks">
                <div class="item-content">
                    <p class="center-text">Other...</p>
                    <div class="logo" ></div>
                </div>
            </label>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-light">
        <button class="bar bar-footer bar-light" ng-click="vm.continueToTrailers()" type="submit" >
            <p class="title">Continue<p>
        </button>
    </ion-footer-bar>
</ion-view>
