<ion-view>
    <ion-nav-bar>
        <ion-nav-back-button>Back</ion-nav-back-button>
    </ion-nav-bar>

    <ion-header-bar align-title="center" class="bar-stable">
        <h1 class="title">Sign In</h1>
    </ion-header-bar>

    <ion-content>

        <button class="button button-full button-stable" ng-click="continueProfile()">Profile</button>
        <button class="button button-full button-stable" ng-click="continueRegister()">Register</button>
    </ion-content>
    <ion-footer-bar>

    </ion-footer-bar>
</ion-view>
