<!DOCTYPE html>
<html lang="en">

<!-- ############################################################################################# --> 
<!-- {{ editWarning }} -->
<!-- ############################################################################################# -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" 
          content="
          default-src 'self' data: gap: https://*.truckerline.com 127.0.0.1:* localhost:* http://*.elasticbeanstalk.com/ https://*.elasticbeanstalk.com ws://localhost:*/ https://*.facebook.com/  https://*.s3.amazonaws.com https://*.gstatic.com https://*.branch.io/;
          script-src 'self' 'unsafe-inline' 'unsafe-eval' 127.0.0.1:* http://localhost:*/ https://*.googleapis.com/ http://*.google-analytics.com/ https://api.branch.io/ ; 
          img-src 'self' data: gap: https://*.facebook.com https://*.gstatic.com http://www.google-analytics.com/ https://*.s3.amazonaws.com/ https://*.googleapis.com/;
          style-src  'self' 'unsafe-inline' *">
    <title>TruckerLine</title>
    
    <!--Application CSS Files-->{% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}" />{% endfor %}

    <!--Application Font Files-->{% for fontFile in fontFiles %}
    <link type="text/css" rel="stylesheet" href="{{fontFile}}" />{% endfor %}
</head>

<body ng-app="truckerline">

    <ion-nav-view></ion-nav-view>
    
    <!-- JavaScript Libs -->{% for jsFile in jsLibs %}
    <script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
    
    <!-- TruckerLine App JS Sources -->{% for jsFile in jsFiles %}
    <script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
    
</body>
</html>