<section class="container-fluid" style="height: 200%;">
    <!-- Masthead -->
    <div class="page-header" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
        <h1>{{ vm.company.name }}
            <span data-ng-show="hover && vm.authentication.user._id == vm.company.owner._id">
                <a class="btn btn-link" ui-sref="companies.edit({companyId: vm.company._id})">edit
                    <i class="fa" ng-class="{'fa-pencil-square-o': hover}" ></i>
                </a>
            </span>
        </h1>
        <!-- Sub-heading -->
        <small>
            <em class="text-muted">
                Joined on
                <span data-ng-bind="vm.company.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="vm.company.owner.displayName"></span>
            </em>
        </small>
    </div>


    <div class="row">
        <div class="col-md-8" style="border: 1px solid #666;">
            <div class="row">
                <div data-ng-bind-html="vm.company.about" class="well"></div>
            </div>

            <div class="row">
                <h3>My Jobs <small>for co: {{vm.company._id}}</small><button class="btn btn-primary pull-right" ui-sref="jobs.create({companyId: vm.company._id})">Post Job</button></h3>
                <os-job-list company="company" company-id="vm.company._id"></os-list-jobs>
            </div>
        </div>

        <div class="gutter right well col-md-4" style="position: relative; border: 1px solid #666;">

            <span id="evilNonSemanticSpacer"></span>
            <div class="profile-floater">
                <img data-ng-src="{{vm.imageURL}}" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture">
                <a class="btn btn-link" href="/companies/{{vm.company._id}}/edit/picture">edit
                    <i class="fa fa-pencil-square-o"></i>
                </a>
            </div>

            <os-map-location zipCode='{{vm.company.zipCode}}'></os-map-location>

            <div style="margin: auto; width: 300px; height: 300px; background-color: #CCC; border: solid 1px #666">
                <h1 class="text-center" style="margin-top: 100px;"><small>Location</small><br/>{{vm.company.zipCode}}</h1>
            </div>

        </div>
    </div>

</section>
