<div class="pricing-table">
            <div class="table-col pull-left first">
                <div class="table-row">
                    <div class="empty-header"></div>
                    <div class="table-header local">
                        <div class="title">local</div>
                        <div class="price">
                            <span class="small">$</span>
                            <span class="value">60</span>
                        </div>
                        <div class="period">per month</div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title">Job posts</div>
                    <div class="row-cell">2</div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title">Applicant redirect</div>
                    <div class="row-cell enable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title">Applicant tracking</div>
                    <div class="row-cell disable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title">downloadable reports</div>
                    <div class="row-cell disable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title">Require reports</div>
                    <div class="row-cell disable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title">Multiple log-ins</div>
                    <div class="row-cell disable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title">Customized background checks</div>
                    <div class="row-cell">N/A</div>
                </div>
            </div>
            <div class="table-col pull-left second">
                <div class="table-row">
                    <div class="empty-header mobile"></div>
                    <div class="table-header regional">
                        <div class="title">regional</div>
                        <div class="price">
                            <span class="small">$</span>
                            <span class="value">95</span>
                        </div>
                        <div class="period">per month</div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Job posts</div>
                    <div class="row-cell">5</div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Applicant redirect</div>
                    <div class="row-cell enable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Applicant tracking</div>
                    <div class="row-cell enable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">downloadable reports</div>
                    <div class="row-cell enable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Require reports</div>
                    <div class="row-cell disable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Multiple log-ins</div>
                    <div class="row-cell disable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Customized background checks</div>
                    <div class="row-cell">+65 per month</div>
                </div>
            </div>
            <div class="table-col pull-left third">
                <div class="table-row">
                    <div class="empty-header mobile"></div>
                    <div class="table-header fleet">
                        <div class="title">fleet</div>
                        <div class="price">
                            <span class="small">$</span>
                            <span class="value">145</span>
                        </div>
                        <div class="period">per month</div>
                    </div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Job posts</div>
                    <div class="row-cell">15</div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Applicant redirect</div>
                    <div class="row-cell enable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Applicant tracking</div>
                    <div class="row-cell enable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">downloadable reports</div>
                    <div class="row-cell enable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Require reports</div>
                    <div class="row-cell enable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Multiple log-ins</div>
                    <div class="row-cell enable"></div>
                </div>
                <div class="table-row">
                    <div class="row-cell row-title mobile">Customized background checks</div>
                    <div class="row-cell">+65 per month</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


<!--<section class="subscription-client-template col-sm-12">
    <div class="row">
        <h3 class="title text-center mgn-top">{{vm.text.sub}}</h3>
    </div>

    <div class="row subscription-info">
        <div class="col-md-10 col-md-offset-1">
            <div class="row name">
                <div class="package col-md-3 firstRow"
                     ng-repeat="package in vm.packages | orderBy : 'index'"
                     ng-init="package.current = vm.subscription.isValid && package.planId === vm.subscription.planId"
                     ng-class="{'col-md-offset-3': !!$first, 'active': package.active, 'current': package.current}"
                     ng-mouseenter="package.active = true;"
                     ng-mouseleave="package.active = false;">
                    <h3>
                        {{package.name}}
                        <i class="mgn-left fa fa-star"
                           ng-show="package.planId === vm.subscription.planId"
                           uib-tooltip="This is your current subscription level"
                           tooltip-popup-delay="700"></i>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="package col-md-3"
                     ng-repeat="package in vm.packages"
                     ng-class="{'col-md-offset-3': !!$first, 'active': package.active, 'current': package.current}">
                    <p class="price-figure">
                        <span class="price-figure-inner">
                            <span class="currency">$</span><span
                                class="number">{{package.price}}</span><br>
                        <span class="unit"> per month</span></span>
                    </p>

                </div>
            </div>

            <div class="row features" ng-repeat="feature in vm.features"
                 ng-init="lastFeature = $last">
                <div class="package col-md-3 li text-right">
                    {{feature}}
                </div>

                <div ng-repeat="package in vm.packages | orderBy : 'index'"
                     ng-init="pkgValue = package.features[feature];"
                     class="package col-md-3 li {{pkgValue.classes}}"
                     ng-class="{'active': package.active, 'lastRow': !vm.user && lastFeature, 'current': package.current}"
                     ng-mouseenter="package.active = true;"
                     ng-mouseleave="package.active = false;"
                     ng-attr-uib-tooltip="{{pkgValue.tooltip}}"
                     tooltip-popup-delay="700">

                    <span ng-if="lastFeature && !!pkgValue.text">
                        <span class="strong">{{pkgValue.text}}</span>
                        <span ng-if="!!pkgValue.value" class="unit text-muted"> per month</span>
                    </span>

                    <span ng-if="lastFeature && !pkgValue.value">&nbsp;</span>

                    <span ng-if="!lastFeature && !!pkgValue.text">
                        {{pkgValue.text}}
                    </span>

                    <i class="fa {{pkgValue.icon}}" ng-if="!lastFeature && !pkgValue.text">
                    </i>
                </div>

            </div>

            <div class="row mgn-bottom" ng-if="!!vm.user">
                <div class="package col-md-3 lastRow text-center pad-vert"
                     ng-repeat="package in vm.packages | orderBy : 'index'"
                     ng-class="{'col-md-offset-3': !!$first, 'active': package.active, 'current': package.current}"
                     ng-mouseenter="package.active = true;"
                     ng-mouseleave="package.active = false;">
                    <button type="button" class="btn btn-oset-secondary"
                            ng-click="vm.orderSubscription(package.planId)">
                        Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>-->
