<section name="os-company.directive">
    <!-- os-company directive : view-company.client.template.html -->
    <div ng-show="!!vm.inline">
        <div class="row">
            <div class="col-md-8">
                <h4 class="list-group-item-heading">{{vm.company.name}}</h4>
            </div>
            <div class="col-md-4">
                <small class="list-group-item-text">
                    <p class="text-right">Added on <span data-ng-bind="vm.company.created | date:'shortDate'"></span>
                    </p>
                </small>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 opaque-bg">
                <span class="nowrap"
                      style="white-space: nowrap; overflow:hidden; text-overflow: ellipsis; display: block;"
                      ng-bind-html="vm.company.about | limitTo : 1000"></span>
            </div>
            <dl class="col-md-4 dl-horizontal">
                <dt>Location:</dt>
                <dd>{{vm.company.zipCode || vm.company.addresses.length && vm.company.addresses[0] || 'n/a'}}&nbsp;</dd>
                <dt>Owner:</dt>
                <dd>{{vm.company.owner.displayName}}</dd>
            </dl>
        </div>
    </div>

    <div ng-hide="!!vm.inline">
        <div class="panel panel-default" ng-if="!!vm.company && vm.company.about">
            <div class="panel-heading">
                <span class="h4">
                    About Us
                    <a data-ng-if="vm.canEdit"
                       class="btn btn-link pull-right"
                       ui-sref="companies.create({'companyId': vm.company._id})">
                        edit company profile
                        <i class="fa fa-pencil-square-o"></i></a>
                </span>
            </div>
            <div class="panel-body">
                <div data-ng-bind-html="vm.company.about"></div>
            </div>
        </div>
        <div class="panel panel-default" ng-if="(!vm.company || !vm.company.about) && vm.createEnabled">
            <div class="panel-heading"><span class="h4">Please create your company profile</span></div>
            <div class="panel-body">
                <p class="text-muted">Hi {{::vm.user.firstName}},<br/>{{::vm.createText}}</p><br/>

                <p class="text-right" ng-if="!vm.createEnabled"><img src="/modules/core/img/brand/logo-blue.png"
                                                                     alt="The Outset Team"/></p>

                <div class="text-center" ng-if="vm.createEnabled">
                    <button type="button" class="btn btn-cta-secondary btn-lg" ng-click="vm.creEdit()">Get Started!
                    </button>
                </div>

            </div>
        </div>
        <div class="panel panel-default" ng-if="(!vm.company || !vm.company.about) && !vm.createEnabled">
            <div class="panel-body">
                <p class="text-muted text-center">
                    Sorry, but {{vm.company.owner.displayName}} has not completed their Company Profile.
                </p>
            </div>
        </div>
    </div>
    <!-- os-company directive : END -->
</section>
