<ion-tabs class="main-tabs">
    <ion-tab title="profile" icon-on="ico ico-profileiconwhite" icon-off="ico ico-profileiconblue" ui-sref="account.profile.user">
        <ion-nav-view name="profile"></ion-nav-view>
    </ion-tab>
    <ion-tab title="lockbox" icon-on="ico ico-lockboxiconwhite" icon-off="ico ico-lockboxiconblue" ui-sref="account.lockbox">
        <ion-nav-view name="lockbox"></ion-nav-view>
    </ion-tab>
    <ion-tab title="activity" icon-on="ico ico-activityiconwhite" icon-off="ico ico-activityiconblue" ui-sref="account.activity">
        <ion-nav-view name="activity"></ion-nav-view>
    </ion-tab>
    <ion-tab title="messages" icon-on="ico ico-messagesiconwhite" icon-off="ico ico-messagesiconblue" ui-sref="account.messages">
        <ion-nav-view name="messages"></ion-nav-view>
    </ion-tab>
</ion-tabs>
