<section class="pricing">
    <div class="item price text-center" ng-click="vm.viewReports()">
        <div class="item-inner">
            <div class="heading text-center">
                <div class="head-block"></div>
                <div class="row item-content center-block">
                    <span class="percent">75%</span>
                </div>
                 <h3>Enhance Your Profile!</h3>

            </div>
            <div class="item-content">
                <ul class="list-unstyled feature-list">
                    <li><img src="modules/bgchecks/img/check.png">Motor Vehicle Report</li>
                    <li><img src="modules/bgchecks/img/check.png">National &amp; County Background Check</li>
                    <li><img src="modules/bgchecks/img/check.png">Drug Test</li>
                    <li class="get-reports"><a class="btn btn-block btn-cta-secondary" ng-sref="reviewReports">Get Reports</a>
                    </li>
                </ul>

            </div>
            <!--//item-content-->
        </div>
        <!--//item-inner-->
    </div>
</section>
