<section class="well">
    <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center" data-ui-sref="reviewReports">
        <div class="item-inner">
            <div class="heading">
                <h3>Enhance Your Profile!</h3>


                <div class="row item-content">
                    <div class="col-md-3 col-xs-12">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                            <span class="price-figure">
                            <span class="price-figure-inner fa fa-stack-1x">
                                <span class="currency"></span>
                                <span class="number ng-binding"></span>
                            </span></span>
                        </span>
                    </div>

                </div></div>
            <div class="item-content">
                <ul class="list-unstyled feature-list">
                    <li><i class="fa fa-check"></i>Motor Vehicle Report</li>
                    <li><i class="fa fa-check"></i>National and County Background Check</li>
                    <li><i class="fa fa-check"></i>Drug Test</li></ul>

            </div>
            <!--//item-content-->
        </div>
        <!--//item-inner-->
    </div>
</section>
