<section class="well">
    <h3>Background Reports</h3>

    <div class="text-center">
        <button class="btn btn-info" data-ui-sref="bgreportview({userId: '{{vm.user._id}}' })">View Report</button>
    </div>

    <h5>Choose from one of the following packages!</h5>
    <div class="list-group">
        <a ng-repeat="rptType in vm.reportTypes" class="list-group-item" ui-sref="reviewReports({sku: '{{rptType.sku}}' })">
            <p class="list-group-item-heading">{{::rptType.name}}</p>

            <p>{{::rptType.type.description}}</p>
        </a>
    </div>
</section>
