<section data-ng-controller="BgchecksController" class="container opaque-bg">
    <div class="page-header">
        <h1>New Bgcheck</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Select an Applicant:</label>
                    <div class="controls">
                        <select ng-model='applicant' ng-options='(applicant.firstName + " " + applicant.lastName) for applicant in applicants' ng-init='loadApplicants()'>
                            <option value="">-- select from available applicants --</option>
                        </select>
                    </div>

                    <label class="control-label">Name</label>
                    <div class="controls">
                        <p>{{applicantInfo.firstName}} {{applicantInfo.middleName}} {{applicantInfo.lastName}}, {{applicantInfo.nameSuffix}}</p>
                    </div>

                    <label class="control-label">Aliases</label>
                    <div class="controls">
                        <p ng-repeat="alias in applicantInfo.aliases">
                            {{alias.firstName}} {{alias.middleName}} {{alias.lastName}}
                        </p>
                        <p ng-hide="applicantInfo.aliases.length">NONE</p>
                    </div>

                    <label class="control-label">Addresses</label>
                    <div class="controls" ng-show="!!applicantInfo.currentAddress">
                        <p>{{applicantInfo.currentAddress.street1}}
                            <br/>{{applicantInfo.currentAddress.street2}}
                            <br/>{{applicantInfo.currentAddress.city}}, {{applicantInfo.currentAddress.state || applicantInfo.currentAddress.province}} {{applicantInfo.currentAddress.postalCode}}
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
