<section class="content-section section section-on-bg">
    <h2 class="title container text-center">Order your {{vm.report.description}} today!</h2>

    <div class="content-container container text-center">
        <div class="content-container-inner">
            <div class="about">
                <p ng-bind-html="vm.introText"></p>

                <p ng-bind-html="vm.getStartedText"></p>
            </div>
            <!--//form data-->
            <div class="form-data row">
                <h3 class="title">Let's get started!</h3>


                <form name="vm.reportForm" data-ng-hide="vm.verify"
                      class="form-horizontal" data-ng-submit="vm.submit($event)"
                      novalidate>
                    <fieldset>
                        <div class="form-group" ng-repeat="field in vm.report.fields"
                             ng-class="{'has-error':(vm.reportForm[field.name].$invalid || vm.reportForm['hidden_'+field.name].$invalid) && (vm.reportForm.$submitted || vm.reportForm[field.name].$touched)}">
                            <!-- field = { description, length, name, required, type } -->
                            <label class="col-sm-2 control-label"
                                   data-ng-class="{'optional':!field.required}">{{field.description |
                                titlecase}} </label>

                            <input type="hidden" ng-model="vm.model[field.name]" name="hidden_{{field.name}}" ng-required="field.required" ng-maxlength="field.ngMaxLength || field.length"/>

                            <div class="col-sm-10">
                                <input ng-if="!!field.ngType" type="{{field.ngType}}" class="form-control"
                                       name="{{field.name}}" ng-model="vm.model[field.name]"
                                       maxlength="{{field.ngMaxLength}}" ng-required="field.required"/>

                                <date-input ng-if="field.isDate" format="field.format" model="vm.model[field.name]"
                                            class="form-control"></date-input>
                                <!-- ng-required="field.required" -->

                                <!-- States -->
                                <input ng-if="field.type==='state'" type="text" ng-model="vm.model[field.name]"
                                       typeahead="state.id as state.name for state in vm.states | filter:$viewValue | limitTo:8"
                                       class="form-control" >

                                <!-- Countries -->
                                <!-- TODO: typeahead="country.id as country.name for country in vm.countries | filter:$viewValue | limitTo:8" -->
                                <input ng-if="field.type==='contry'" type="text" ng-model="vm.model[field.name]"
                                       class="form-control" ng-required="field.required"
                                       ng-maxlength="field.length">

                                <div class="" ng-if="field.isArray">
                                    <div ng-repeat="(i,arrayItem) in vm.model[field.name]">
                                        <div ng-repeat="df1 in field.dataFields" class="well">
                                            <div class="col-xs-12" style="vertical-align: baseline;">
                                                <label class="pull-left">{{df1.description}} #{{i+1}}</label>
                                                <button type="button" class="btn btn-close pull-right">&times;</button>
                                                <div class="clearfix"></div>
                                            </div>
                                            <hr/>

                                            <div ng-repeat="df2 in df1.dataFields" ng-init="$ai = $index" class="form-group"
                                                 ng-class="{'has-error':vm.reportForm[field.name+'_'+i+'_'+df2.name].$invalid && (vm.reportForm.$submitted || vm.reportForm[field.name+'_'+i+'_'+df2.name].$touched)}">
                                                <label class="col-sm-3 control-label"
                                                       data-ng-class="{'optional':!df2.required}">{{df2.description}}</label>

                                                <div class="col-sm-8">
                                                    <input ng-if="!!df2.ngType || df2.type === 'string' || !df2.isDate"
                                                           type="{{df2.ngType || text}}" class="form-control"
                                                           name="{{field.name}}_{{i}}_{{df2.name}}"
                                                           ng-model="vm.model[field.name][i][df2.name]"
                                                           maxlength="{{df2.length}}" ng-required="df2.required"/>

                                                    <date-input ng-if="df2.isDate" format="df2.format"
                                                                name="{{field.name}}_{{i}}_{{df2.name}}"
                                                                model="vm.model[df2.name]" class="form-control"
                                                                ></date-input>
                                                    <!--ng-required="df2.required"-->
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <button type="button" data-ng-click="vm.model[field.name].push({})">Add</button>
                                </div>

                                <div class="well" ng-if="field.isObject">
                                    <div ng-repeat="dataField in field.dataFields" class="form-group"
                                         ng-class="{'has-error':vm.reportForm[field.name+'_'+dataField.name].$invalid && (vm.reportForm.$submitted || vm.reportForm[field.name+'_'+dataField.name].$touched)}">

                                        <label class="col-sm-3 control-label"
                                               data-ng-class="{'optional':!dataField.required}">{{dataField.description}}</label>

                                        <div class="col-sm-8">
                                            <input ng-if="!!dataField.ngType || dataField.type === 'string' || !dataField.isDate"
                                                   type="{{dataField.ngType || text}}" class="form-control"
                                                   name="{{field.name}}_{{dataField.name}}"
                                                   ng-model="vm.model[field.name][dataField.name]"
                                                   ng-maxlength="dataField.length" ng-required="dataField.required"/>

                                            <date-input ng-if="dataField.isDate" format="dataField.format"
                                                        model="vm.model[dataField.name]" class="form-control"
                                                        name="{field.name}}_{{dataField.name}}"
                                                        ></date-input>
                                            <!--ng-required="dataField.required"-->
                                        </div>
                                    </div>
                                </div>

                                <select ng-if="field.isPickList" class="form-control"
                                        ng-options="item.value as item.description for item in field.pickList"
                                        ng-model="vm.model[field.name]">
                                </select>

                                <!--  <option ng-repeat="option in field.pickList" value="{{option.name}}">
                                        {{option.description}}
                                    </option> -->
                            </div>
                        </div>
                    </fieldset>

                    <div class="press-kit text-center">
                        <button type="submit" class="btn btn-cta btn-cta-primary">Save and Continue ...</button>
                        <div data-ng-show="vm.error" class="text-danger">
                            <strong data-ng-bind="vm.error"></strong>
                        </div>
                    </div>


                </form>


                <!-- BEGIN : Verify Applicant -->
                <form data-name="vm.applicantForm" data-ng-show="vm.verify"
                      class="form-horizontal" data-ng-submit="vm.execute($event)"
                      novalidate>
                    <fieldset>
                        <div class="form-group" ng-repeat="field in vm.report.fields"
                             data-ng-init="value = vm.applicant[field.name]">
                            <label class="col-sm-2 control-label"
                                   data-ng-class="{'optional':!field.required}">{{field.description |
                                titlecase}} </label>

                            <div class="col-sm-10">
                                <p ng-if="!_.isArray(value)" type="{{field.ngType}}" class="form-control-static"
                                       ng-model="vm.applicant[field.name]"/>

                                <div ng-if="_.isArray(value)" class="form-group container-fluid"
                                     ng-repeat="(subkey, subvalue) in value" ng-attr-id="key">
                                    <label class="col-sm-4 control-label">{{fields[subkey].description
                                        ||
                                        subkey}}</label>

                                    <div class="col-sm-8">
                                        <input class="form-control form-control-static" name="{{subkey}}"
                                               ng-model="subvalue"/>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </fieldset>

                    <div class="press-kit text-center">
                        <button type="submit" class="btn btn-cta btn-cta-primary">Save and Continue ...</button>
                        <div data-ng-show="vm.error" class="text-danger">
                            <strong data-ng-bind="vm.error"></strong>
                        </div>
                    </div>


                </form>
            </div>
            <!--//form data-->
            <!--//press-kit-->
        </div>
        <!--//content-container-->
    </div>
    <!--//container-->
</section>
<!--//content-video-->
