<section class="content-section">
    <h3 class="title container text-center">Applicant Information</h3>

    <div class="content-container container text-center panel panel-default">
        <div class="content-container-inner">

            <!--//form data-->
            <div class="form-data row" ng-hide="vm.pay" id="enterData">


                <div class="about row no-pad-bottom" ng-hide="vm.verify">
                    <div class="col-sm-3">
                        <img class="img-responsive" src="./modules/bgchecks/img/everifile_logo.png">
                    </div>
                    <div class="col-sm-9" ng-hide="vm.verify">
                        <p ng-bind-html="vm.introText"></p>

                        <p ng-bind-html="vm.getStartedText"></p>

                        <p ng-show="!!vm.error && !vm.verify" ng-bind-html="vm.correctErrorsText"></p>
                    </div>
                </div>

                <div class="about row no-pad-bottom" ng-show="vm.verify && !vm.ispay">
                    <div class="col-sm-12">
                        <h3 ng-show="vm.verify && !vm.pay" ng-init="$element.focus()" class="text-center">Please verify
                            your
                            information</h3>
                        <!-- BEGIN : Verify Applicant -->
                        <p class="text-center" ng-if="vm.reviewText" ng-bind-html="vm.reviewText"></p>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-sm-12">
                        <form name="vm.reportForm"
                              class="form-horizontal" ng-class="{'readonly-validation':vm.verify}"
                              ng-submit="vm.saveForm($event)" novalidate>
                            <fieldset ng-class="{'text-muted': vm.disabled || vm.ispay}">
                                <div class="form-group" ng-repeat="field in vm.report.fields"
                                     ng-class="{'has-error':(vm.reportForm[field.name].$invalid || vm.reportForm['hidden_'+field.name].$invalid) && (vm.reportForm.$submitted || vm.reportForm[field.name].$touched)}">
                                    <!-- field = { description, length, name, required, type } -->
                                    <label class="col-sm-3 control-label"
                                           data-ng-class="{'optional':!field.required}">
                                        {{field.description | titlecase}} </label>

                                    <input type="hidden" ng-model="vm.model[field.name]" name="hidden_{{field.name}}"
                                           ng-required="field.required"
                                           ng-maxlength="field.ngMaxLength || field.length"/>

                                    <div class="col-sm-9 col-md-8">
                                        <form-input field="field" ng-hide="vm.verify" model="vm.model"></form-input>
                                        <form-input field="field" ng-show="vm.verify" model="vm.model"
                                                    mode="static"></form-input>
                                    </div>
                                </div>
                            </fieldset>

                            <hr class="mgn-vert"/>

                            <div class="container-fluid row" ng-show="vm.verify">

                                <div class="col-sm-3">
                                    <img class="img-responsive" src="./modules/bgchecks/img/everifile_logo.png">
                                </div>
                                <div class="col-xs-12 col-sm-7 col-sm-offset-1">
                                    <h4>Order Details</h4>

                                    <div class="row">
                                        <div class="col-sm-10">{{::vm.report.description}}</div>
                                        <div class="col-sm-2">{{::vm.price | toDollarString}}</div>
                                    </div>
                                    <hr>
                                </div>
                                <br/>
                            </div>

                            <div class="about row">
                                <div class="col-sm-3">
                                    <!-- Begin DigiCert site seal HTML and JavaScript -->
                                    <div id="DigiCertClickID_MNfovC8_" data-language="en_US">
                                        <a href="https://www.digicert.com/ssl-certificate.htm">SSL Certificates</a>
                                    </div>
                                    <script type="text/javascript">
                                        var __dcid = __dcid || [];
                                        __dcid.push(["DigiCertClickID_MNfovC8_", "5", "s", "black", "MNfovC8_"]);
                                        (function () {
                                            var cid = document.createElement("script");
                                            cid.async = true;
                                            cid.src = "//seal.digicert.com/seals/cascade/seal.min.js";
                                            var s = document.getElementsByTagName("script");
                                            var ls = s[(s.length - 1)];
                                            ls.parentNode.insertBefore(cid, ls.nextSibling);
                                        }());
                                    </script>
                                    <!-- End DigiCert site seal HTML and JavaScript -->
                                </div>
                                <div class="col-sm-9 press-kit text-center" ng-hide="vm.verify">
                                    <p>You will have a chance to review your information on the next page.</p>
                                    <button type="submit" class="btn btn-cta btn-cta-primary"
                                            ng-class="{'disabled':!!vm.disabled}">Save and Continue ...
                                    </button>
                                    <div data-ng-show="vm.error" class="text-danger">
                                        <strong data-ng-bind="vm.error"></strong>
                                    </div>
                                </div>
                                <div class="col-sm-9 press-kit text-center" ng-show="vm.verify">
                                    <p ng-bind-html="vm.createText"></p>
                                    <button type="button" class="btn btn-cta" ng-class="{'disabled':!!vm.disabled}"
                                            ng-click="vm.goBack()"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;Make
                                        Changes
                                    </button>
                                    <button type="button" class="btn btn-cta btn-cta-primary"
                                            ng-class="{'disabled':!!vm.disabled}"
                                            ng-click="vm.submitApplicant($event)">Continue&nbsp;&nbsp;<i
                                            class="fa fa-arrow-right"></i>
                                    </button>
                                    <p ng-show="vm.disabled">Please wait, this may take a moment</p>

                                    <div data-ng-show="vm.error" class="text-danger">
                                        <strong data-ng-bind="vm.error"></strong>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>

            <div class="form-data row" ng-show="vm.verify && !vm.ispay" id="verifyData">
                <div class="form-data-row">
                    <div class="press-kit text-center" ng-show="vm.ispay">
                        <p ng-bind-html="vm.payExplanation"></p>
                        <button type="button" class="btn btn-link text-muted" ng-class="{'disabled':!!vm.disabled}"
                                ui-sref="home">cancel
                        </button>
                        <button type="button" class="btn btn-cta btn-cta-primary" ng-class="{'disabled':!!vm.disabled}"
                                ui-sref="reportpayments({sku:vm.report.sku})"><i class="fa fa-lock"></i>&nbsp;Continue
                            to Payment&nbsp;&nbsp;<i
                                    class="fa fa-arrow-right"></i>
                        </button>
                        <div data-ng-show="vm.error" class="text-danger">
                            <strong data-ng-bind="vm.error"></strong>
                        </div>
                    </div>
                </div>

                <script type="text/ng-template" id="spinnerModal.html">
                    <div class="label label-default center-block">
                        <br/>

                        <p><i class="fa fa-cog fa-4x fa-spin"></i></p>

                        <p class="h3">{{vm.uploadStatusText || 'Communicating Background Check Servers'}}</p>
                    </div>
                </script>

            </div>
            <!--//form data-->
        </div>
        <!--//content-container-->
    </div>
    <!--//container-->
</section>
<!--//content-video-->
