


<section class="content-section">
    <h3 class="title container text-center">Enter Payment Information</h3>

    <div class="content-container container text-center">
        <div class="content-container-inner">
            <div class="about">
                <p class="text-center">Please enter your payment information below</p>

                <div class="container-fluid row">
                    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">

                        <form name="vm.paymentAuthForm" ng-submit="vm.postPayment($event)">
                            <div id="dropin" name="dropin"></div>
                            <button type="submit" class="btn btn-cta btn-cta-payment" value="Pay $10"> </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
