<section class="content-section">
    <h3 class="title container text-center">Enter Payment Information</h3>

    <div class="content-container container text-center">
        <div class="content-container-inner">
            <div class="about">
                <div class="container-fluid row">

                    <div class="col-sm-3">
                        <img class="img-responsive" src="./modules/bgchecks/img/everifile_logo.png">
                    </div>
                    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
                        <h4>Order Details</h4>

                        <div class="row">
                            <div class="col-sm-10">{{::vm.report.description}}</div>
                            <div class="col-sm-2">{{::vm.getPriceString(vm.price)}}</div>
                        </div>
                    </div>
                </div>
                <hr>



                <div class="container-fluid row" ng-hide="vm.success" class="payment-form"
                     ng-class="{'disabled':vm.processing}">
                    <form id="paymentAuthForm" name="vm.paymentAuthForm" method="POST" action="/api/payments/create/">
                        <div class="well col-xs-12 col-md-offset-2 col-md-8">
                            <h4>Payment Information
                                <small class="mgn-left">Please enter your credit card information</small>
                            </h4>

                            <div id="dropin" class="dropin"></div>

                            <div class="row">
                                <button type="submit" class="btn btn-cta btn-cta-primary center-block"
                                        ng-class="{'disabled': vm.paymentAuthForm.$submitted || vm.processing}">
                                    <i class="fa fa-lock"></i>&nbsp;Purchase Reports
                                </button>
                            </div>
                            <div class="row text-center">
                                <br>
                                <a href="https://www.braintreegateway.com/merchants/YOUR_MERCHANT_ID/verified"
                                   target="_blank" class="center-block">
                                    <img src="https://braintree-badges.s3.amazonaws.com/07.png" class="" border="0"/>
                                </a>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="container-fluid row" ng-show="vm.error">

                    <div class="col-xs-12 col-md-offset-2 col-md-8 text-danger text-center">
                        <h4>Sorry, an error occurred processing the transaction.</h4>

                        <p>{{vm.error}}</p>
                        <hr>
                    </div>
                </div>


                <div class="container-fluid row" ng-show="vm.success">

                    <div class="col-xs-12 col-md-offset-2 col-md-8">
                        <h4 class="text-center">Order Complete!</h4>

                        <p>{{vm.success}}</p>
                        <br>

                        <button type="submit" class="btn btn-cta btn-cta-secondary center-block" ui-sref="home">
                            Return Home...
                        </button>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
