
    <section class="pricing section section-on-bg">
        <div class="container">


            <div class="price-lead">
                <div class="row">
                    <h3 class="title text-center">Get started with a standalone Motor Vehicle Report</h3>

                    <div class="item horizontal price-1 col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 col-xs-12 text-center" ui-sref="orderReports({sku:'MVRDOM'})">

                        <div class="item-inner">
                            <div class="row item-content">
                                <div class="col-md-3 col-xs-4">
                                    <span class="fa-stack fa-3x">
                                        <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                                        <span class="price-figure"><span class="price-figure-inner fa fa-stack-1x"><span
                                                    class="currency">$</span><span class="number">5</span></span></span>
                                    </span>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <h3 class="lead">Motor Vehicle Report<br>
                                        <span class="small">Show employers your clean driving record!</span></h3>
                                </div>
                            </div>
                            <!--//item-content-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                </div>

            </div>

            <h3 class="title text-center">...or add a complete package to really shine!</h3>

            <div class="price-cols row">
                <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title">Good</h3>

                                <p class="price-figure"><span class="price-figure-inner"><span
                                        class="currency">$</span><span class="number">14.95</span><br><span
                                        class="unit"> per month</span></span></p>
                            </div>
                            <div class="item-content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>National Criminal Background Report</li>
                                    <li><i class="fa fa-check"></i>Motor Vehicle Report (MVR)</li>
                                </ul>

                            </div>
                            <!--//item-content-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->

                    <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title">Better</h3>

                                <p class="price-figure"><span class="price-figure-inner"><span
                                        class="currency">$</span><span class="number">39.95</span><br><span
                                        class="unit">per month</span></span></p>
                            </div>
                            <div class="item-content">
                                <ul class="list-unstyled feature-list">
                                    <li class="text-success"><i class="fa fa-plus text-success"></i>
                                        <strong>County Criminal Background Check</strong>
                                    </li>
                                    <li class="text-success"><i class="fa fa-plus text-success"></i>
                                        <strong>Employment History Verification</strong>
                                    </li>
                                    <li class="text-success"><i class="fa fa-plus text-success"></i>
                                        <strong>SSN Verification</strong>
                                    </li>
                                    <li><i class="fa fa-check"></i>Everything from <em>Good</em></li>
                                </ul>
                            </div>
                            <!--//item-content-->
                            <div class="ribbon">
                                <div class="text">Popular</div>
                            </div>
                            <!--//ribbon-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->

                    <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title">Best</h3>

                                <p class="price-figure"><span class="price-figure-inner"><span
                                        class="currency">$</span><span class="number">79.95</span><br><span
                                        class="unit">per month</span></span></p>
                            </div>
                            <div class="item-content">
                                <ul class="list-unstyled feature-list">
                                    <li class="text-success"><i class="fa fa-plus text-success"></i><strong>Drug
                                        Test</strong></li>
                                    <li><i class="fa fa-check"></i>Everything from <em>Better</em></li>
                                </ul>

                            </div>
                            <!--//item-content-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                </div>
                <!--//items-wrapper-->
            </div>
            <!--//row-->

            <div class="row" ng-if="vm.showDrugTest">
                <div class="item horizontal price-1 col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12 text-center">

                    <div class="item-inner">
                        <div class="row item-content">
                            <div class="col-md-4">
                                <p class="price-figure"><span class="price-figure-inner"><span
                                        class="currency">$</span><span class="number">40</span><br><span
                                        class="unit"> one time</span></span></p>
                            </div>
                            <div class="col-md-8">
                                <h3 class="lead">Drug Test</h3>

                                <p>The easiest way to show employers that you have a clean driving record!</p>

                            </div>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
            </div>
        </div>
        <!--//container-->
    </section>


</section>


<section class="container-fluid opaque-bg">
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center">Frequently Asked Questions</h2>

            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq1"><i
                                    class="fa fa-plus-square"></i>Can I viverra sit amet quam eget lacinia?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq2"><i
                                    class="fa fa-plus-square"></i>What is the ipsum dolor sit amet quam tortor?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq3"><i
                                    class="fa fa-plus-square"></i>How does the morbi quam tortor work?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq4"><i
                                    class="fa fa-plus-square"></i>Can I ipsum dolor sit amet nascetur ridiculus?</a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq4">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq5"><i
                                    class="fa fa-plus-square"></i>Is it possible to tellus eget auctor condimentum?</a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq5">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq6"><i
                                    class="fa fa-plus-square"></i>Would it elementum turpis semper imperdiet?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq6">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq7"><i
                                    class="fa fa-plus-square"></i>How can I imperdiet lorem sem non nisl?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq7">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <!--//panel-->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq8"><i
                                    class="fa fa-plus-square"></i>Can I imperdiet massa ut?</a></h4>
                        </div>

                        <div class="panel-collapse collapse" id="faq8">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life
                                accusamus terry richardson ad squid. 3 wolf moon officia
                                aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                sunt aliqua put a bird on it squid single-origin coffee
                                nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them
                                accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <!--//panel-->
                </div>
            </div>
            <!--//row-->
            <div class="contact-lead text-center">
                <h4 class="title">Have more questions?</h4>
                <a class="btn btn-cta btn-cta-secondary" href="contact.html">Get in touch</a>
            </div>
        </div>
        <!--//container-->
    </section>
