<section class="pricing section section-on-bg no-pad-bottom">
    <div class="container">


        <div class="price-lead">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="title text-center" ng-bind-html="vm.text.lead"></h3>
                </div>

                <div class="item horizontal price-1 col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 col-xs-12 text-center"
                ng-if="vm.packages.featured.enabled" ui-sref="orderReports({'sku':vm.packages.featured.sku})">

                    <div class="item-inner">
                        <div class="row item-content">
                            <div class="col-md-3 col-xs-4">
                                <span class="fa-stack fa-3x">
                                        <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                                        <span class="price-figure"><span class="price-figure-inner fa fa-stack-1x" ng-class="{'price-promo': !!vm.packages.featured.promo}"><span
                                                class="currency">$</span><span class="number">{{vm.packages.featured.promo || vm.packages.featured.price || 5}}</span></span>
                                </span>
                                </span>
                            </div>
                            <div class="col-md-9 col-xs-8">
                                <h3 class="lead">{{vm.packages.featured.title || 'Motor Vehicle Report'}}<br>
                                    <span class="small" style="text-wrap: none;">Show employers your clean driving record!</span></h3>
                            </div>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="clearfix"></div>

                <div class="col-sm-12">
                    <h3 class="title secondary text-center" data-ng-bind-html="vm.text.sub"></h3>
                </div>
            </div>

        </div>


        <div class="price-cols row">
            <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center" ng-click="vm.order(vm.packages.left.sku)">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title" ng-bind="vm.packages.left.title"></h3>

                            <p class="price-figure"><span class="price-figure-inner"><span
                                    class="currency">$</span><span class="number" ng-bind="vm.packages.left.price"></span>
                                <br><span class="unit"></span></span>
                            </p>
                        </div>
                        <div class="item-content">
                            <ul class="list-unstyled feature-list">
                                <li ng-repeat="feature in vm.packages.left.features" class="{{feature.classes}}">
                                    <i class="fa {{feature.icon}}"></i>
                                    <strong ng-bind="feature.title"></strong>
                                </li>
                            </ul>

                        </div>
                        <div class="footer visible-xs visible-sm">
                            <button type="button" class="btn btn-oset-primary">Order Now</button>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->

                <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy" ng-click="vm.order(vm.packages.center.sku)">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title" ng-bind="vm.packages.center.title"></h3>

                            <p class="price-figure"><span class="price-figure-inner"><span
                                    class="currency">$</span><span class="number" ng-bind="vm.packages.center.price"></span>
                                <br><span class="unit"></span></span>
                            </p>
                        </div>
                        <div class="item-content">
                            <ul class="list-unstyled feature-list">
                                <li ng-repeat="feature in vm.packages.center.features" class="{{feature.classes}}">
                                    <i class="fa {{feature.icon}}"></i>
                                    <strong ng-bind="feature.title"></strong>
                                </li>
                            </ul>
                        </div>
                        <div class="footer visible-xs visible-sm">
                            <button type="button" class="btn btn-oset-primary">Order Now</button>
                        </div>
                        <!--//item-content-->
                        <div class="ribbon">
                            <div class="text">Popular</div>
                        </div>
                        <!--//ribbon-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->

                <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center" ng-click="vm.order(vm.packages.right.sku)">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title" ng-bind="vm.packages.right.title"></h3>

                            <p class="price-figure"><span class="price-figure-inner"><span
                                    class="currency">$</span><span class="number" ng-bind="vm.packages.right.price"></span>
                                <br><span class="unit"></span></span>
                            </p>
                        </div>
                        <div class="item-content">
                            <ul class="list-unstyled feature-list">
                                <li ng-repeat="feature in vm.packages.right.features" class="{{feature.classes}}">
                                    <i class="fa {{feature.icon}}"></i>
                                    <strong ng-bind="feature.title"></strong>
                                </li>
                            </ul>
                        </div>
                        <div class="footer visible-xs visible-sm">
                            <button type="button" class="btn btn-oset-primary">Order Now</button>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
            </div>
            <!--//items-wrapper-->
        </div>
        <!--//row-->

        <div class="row" ng-if="vm.packages.drugs.enabled">
            <div class="item horizontal price-1 col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12 text-center">
                ui-sref="orderReports({'sku':vm.packages.drugs.sku})">

                <div class="item-inner">
                    <div class="row item-content">
                        <div class="col-md-4">
                            <p class="price-figure"><span class="price-figure-inner"><span
                                    class="currency">$</span><span class="number" ng-bind="vm.packages.drugs.price">pan>
                                <br><span class="unit"> one time</span></span>
                            </p>
                        </div>
                        <div class="col-md-8">
                            <h3 class="lead" ng-bind="vm.packages.drugs.title"></h3>

                        </div>
                    </div>
                    <!--//item-content-->
                </div>
                <!--//item-inner-->
            </div>
        </div>

        <!--<div class="row">
            <div class="col-md-10 col-md-offset-1">
                <pre ng-bind="vm.packages | prettyPrint"></pre>
            </div>
        </div>-->
    </div>
    <!--//container-->
</section>




<section class="container-fluid opaque-bg">
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center mgn-bottom">Frequently Asked Questions</h2>
            <hr>

            <uib-accordion class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <uib-accordion-group class="panel" ng-repeat="faq in vm.faqs">
                        <uib-accordion-heading class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq1"><i
                                    class="fa fa-plus-square"></i>{{faq.question}}</a></h4>
                        </uib-accordion-heading>

                        <p class="panel-body" data-ng-bind-html="faq.answer">
                        </p>

                        <div class="label label-muted hidden" ng-repeat="key in faq.keywords track by $index">{{key}}
                        </div>
                    </uib-accordion-group>
                    <!--//panel-->
                </div>
            </uib-accordion>
            <!--//row-->
        </div>
        <!--//container-->
    </section>