
    <section class="pricing section section-on-bg">
        <div class="container">


            <div class="price-lead">
                <div class="row">
                    <h3 class="title text-center">Get started with a standalone Motor Vehicle Report</h3>

                    <div class="item horizontal price-1 col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 col-xs-12 text-center"
                         ui-sref="orderReports({sku:vm.packages.base.sku})">

                        <div class="item-inner">
                            <div class="row item-content">
                                <div class="col-md-3 col-xs-4">
                                    <span class="fa-stack fa-3x">
                                        <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                                        <span class="price-figure"><span class="price-figure-inner fa fa-stack-1x"><span
                                                    class="currency">$</span><span class="number">{{vm.packages.base.price || 5}}</span></span></span>
                                    </span>
                                </div>
                                <div class="col-md-9 col-xs-8">
                                    <h3 class="lead">{{vm.packages.base.title || 'Motor Vehicle Report'}}<br>
                                        <span class="small">Show employers your clean driving record!</span></h3>
                                </div>
                            </div>
                            <!--//item-content-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                    <div class="clearfix"></div>

                    <h3 class="title secondary text-center">...or add a complete package to really shine!</h3>
                </div>

            </div>


            <div class="price-cols row">
                <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <div class="item price-1 col-md-4 col-sm-4 col-xs-12 text-center"
                         ui-sref="orderReports({sku:vm.packages.good.sku})">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title" ng-bind="vm.packages.good.title">Good</h3>

                                <p class="price-figure"><span class="price-figure-inner"><span
                                        class="currency">$</span><span class="number" ng-bind="vm.packages.good.price">14.95</span><br><span
                                        class="unit"></span></span></p>
                            </div>
                            <div class="item-content">
                                <ul class="list-unstyled feature-list">
                                    <li><i class="fa fa-check"></i>National Criminal Background Report</li>
                                    <li><i class="fa fa-check"></i>Motor Vehicle Report (MVR)</li>
                                </ul>

                            </div>
                            <!--//item-content-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->

                    <div class="item price-2 col-md-4 col-sm-4 col-xs-12 text-center best-buy"
                         ui-sref="orderReports({sku:vm.packages.better.sku})">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title" ng-bind="vm.packages.better.title">Better</h3>

                                <p class="price-figure"><span class="price-figure-inner"><span
                                        class="currency">$</span><span class="number" ng-bind="vm.packages.better.price">39.95</span><br><span
                                        class="unit"></span></span></p>
                            </div>
                            <div class="item-content">
                                <ul class="list-unstyled feature-list">
                                    <li class="text-success"><i class="fa fa-plus text-success"></i>
                                        <strong>County Criminal Background Check</strong>
                                    </li>
                                    <li class="text-success"><i class="fa fa-plus text-success"></i>
                                        <strong>Employment History Verification</strong>
                                    </li>
                                    <li class="text-success"><i class="fa fa-plus text-success"></i>
                                        <strong>SSN Verification</strong>
                                    </li>
                                    <li><i class="fa fa-check"></i>Everything from <em>Good</em></li>
                                </ul>
                            </div>
                            <!--//item-content-->
                            <div class="ribbon">
                                <div class="text">Popular</div>
                            </div>
                            <!--//ribbon-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->

                    <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center"
                         ui-sref="orderReports({sku:vm.packages.best.sku})">
                        <div class="item-inner">
                            <div class="heading">
                                <h3 class="title" ng-bind="vm.packages.best.title">Best</h3>

                                <p class="price-figure"><span class="price-figure-inner"><span
                                        class="currency">$</span><span class="number"ng-bind="vm.packages.best.price">85.95</span><br><span
                                        class="unit"></span></span></p>
                            </div>
                            <div class="item-content">
                                <ul class="list-unstyled feature-list">
                                    <li class="text-success"><i class="fa fa-plus text-success"></i><strong>Drug
                                        Test</strong></li>
                                    <li><i class="fa fa-check"></i>Everything from <em>Better</em></li>
                                </ul>

                            </div>
                            <!--//item-content-->
                        </div>
                        <!--//item-inner-->
                    </div>
                    <!--//item-->
                </div>
                <!--//items-wrapper-->
            </div>
            <!--//row-->

            <div class="row" ng-if="vm.packages.drugs.enabled">
                <div class="item horizontal price-1 col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12 text-center">

                    <div class="item-inner">
                        <div class="row item-content">
                            <div class="col-md-4">
                                <p class="price-figure"><span class="price-figure-inner"><span
                                        class="currency">$</span><span class="number">40</span><br><span
                                        class="unit"> one time</span></span></p>
                            </div>
                            <div class="col-md-8">
                                <h3 class="lead">Drug Test</h3>

                                <p>The easiest way to show employers that you have a clean driving record!</p>

                            </div>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
            </div>
        </div>
        <!--//container-->
    </section>


</section>


<section class="container-fluid opaque-bg">
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center">Frequently Asked Questions</h2>

            <accordion class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <accordion-group class="panel" ng-repeat="faq in vm.faqs">
                        <accordion-heading class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq1"><i
                                    class="fa fa-plus-square"></i>{{faq.question}}</a></h4>
                        </accordion-heading>

                            <p class="panel-body" data-ng-bind-html="faq.answer">
                            </p>
                            <div class="label label-muted hidden" ng-repeat="key in faq.keywords track by $index">{{key}}</div>
                    </accordion-group>
                    <!--//panel-->
                </div>
            </accordion>
            <!--//row-->
        </div>
        <!--//container-->
    </section>
