<section name="os-job-list.directive">
    <h3 ng-if="!!dm.header">{{dm.header}}
        <button ng-if="dm.showPost" class="btn btn-primary pull-right" ui-sref="jobs.create({companyId: dm.companyId})">Post Job</button>
    </h3>
    <div class="list-group">
        <a data-ng-repeat="job in dm.jobs | limitTo: dm.limitTo" data-ng-href="jobs/{{job._id}}" class="list-group-item">
            <small><os-job job="job" inline="true"></os-job></small>
        </a>
        <button ng-show="dm.jobs.length > dm.limitTo" class="btn btn-link text-center" ui-sref="jobs.list({companyId: dm.companyId})">view all ...</button>
    </div>
</section>
