<span ng-click="vm.showModal()" ng-transclude>Apply</span>

<script type="text/ng-template" id="applyModal.html">
    <div class="modal-header bg-primary" ng-init="yo()">
        <span class="h4" data-ng-bind="vm.placeholders.title">Apply to job</span>

        <div class="pull-right">
            <button type="button" class="close modal-title" ng-click="$dismiss('cancel')">
                <span aria-hidden="true">&times;<span class="sr-only">Close</span></span>
            </button>
        </div>
    </div>
    <form class="form-horizontal" name="vm.applicantForm" data-ng-submit="vm.createApplication()" novalidate>
        <div class="modal-body">
            <fieldset>
                <label class="control-label" for="name">{{vm.placeholders.messageHeading}}
                    <small ng-bind="vm.placeholders.messageSubHeading"></small>
                </label>

                <div class="controls">
                    <textarea type="text" data-ng-model="vm.application.message" id="name" class="form-control"
                              placeholder="{{vm.placeholders.intro}}" required></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="vm.application.termsAccepted" data-ng-required="true" name="disclaimer"/>
                        <strong>Disclaimer: </strong><span data-ng-bind="vm.placeholders.disclaimer"></span>
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <div class="pull-right">
                <input type="button" class="btn btn-link" value="cancel" ng-click="$dismiss('cancel')">
                <input type="button" class="btn btn-default" value="Save as draft" ng-click="vm.saveDraft()">
                <input type="submit" class="btn btn-oset-success" ng-class="{disabled:!vm.job}" value="Apply!">
            </div>
            <div data-ng-show="vm.error" class="text-danger text-center">
                <strong data-ng-bind="vm.error"></strong>
            </div>
        </div>
    </form>
</script>
