<form name="vm.userForm" data-ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="form" autocomplete="off">
    <fieldset class="create">
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <div class="form-inline margin-bottom-sm" name="name" id="name">
                <div class="input-group margin-bottom-sm" name="First">
                    <span class="input-group-addon">First</span>
                    <input class="form-control" type="text" data-ng-model="vm.profile.firstName" placeholder="First">
                </div>

                <div class="input-group margin-bottom-sm" name="Last">
                    <span class="input-group-addon">Last</span>
                    <input class="form-control" type="text" data-ng-model="vm.profile.lastName" placeholder="Last">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <div class="input-group margin-bottom-sm" id="username">
                <span class="input-group-addon">
                    <i class="fa fa-envelope-o fa-fw"></i>
                </span>
                <input class="form-control-static" type="text" placeholder="Username" data-ng-bind="vm.profile.username">
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group margin-bottom-sm" id="email">
                <span class="input-group-addon">
                    <i class="fa fa-envelope-o fa-fw"></i>
                </span>
                <input class="form-control" type="text" placeholder="Email address" data-ng-model="vm.profile.email">
            </div>
        </div>

        <div class="form-group">
            <label for="addresses">Addresses</label>
            <button class="btn pull-right btn-small btn-link" ng-click="vm.addAddress()">
                Add Address
            </button>

            <div class="container-fluid" id="addresses">
                <os-address-list models="vm.profile.addresses" inline-edit="true" required="false"></os-address-list>
            </div>
        </div>

        <!-- Driver's Telephone -->
        <div class="form-group">
            <label for="phone">Phone</label>
            <div class="input-group margin-bottom-sm" id="phone">
                <input class="form-control" type="tel" name="phone" data-ng-model="vm.profile.phone" placeholder="(xxx) xxx-xxxx">
                <span class="input-group-addon">
                    <i class="fa fa-phone fa-fw"></i>
                </span>
            </div>
        </div>

        <div class="form-group" data-ng-show="vm.show">
            <div class="text-right form-group">
                <button type="button" value="cancel" class="btn btn-large btn-link" ng-click="vm.cancel()">cancel</button>
                <button type="submit" value="update" class="btn btn-large btn-primary">Save Profile</button>
            </div>
            <div data-ng-show="vm.error" class="text-center text-danger">
                <strong data-ng-bind="vm.error"></strong>
            </div>
        </div>



    </fieldset>
    <div data-ng-show="vm.success" class="text-center text-success">
        <strong>Profile Saved Successfully!</strong>
    </div>
</form>
