<span ng-click="vm.show()" ng-transclude>Signup</span>
<!-- <a data-ui-sref="authentication.signup" target="_self">Sign Up</a>  -->

<script type="text/ng-template" id="signupApplyModal.html">
    <div class="modal-header bg-primary">
        <span class="modal-title h3 text-center">
            New Job Application
            </span>
    </div>

    <form id="vm.newUserApplicationForm">
        <div class="modal-body">

            <section class="row" id="step_0_welcome"
                     ng-form="vm.subForm0" ng-show="true || vm.currentStep === 0">

                <div class="col-sm-12">
                    <p class="info">In the next few screens, you will fill out the information necessary for
                        applying to this job. Once complete you will be able to </p>

                    <p class="info">Lets get started with your email address:</p>

                    <div class="form-group has-feedback col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

                        <label for="email" class="control-label">Email</label>

                        <input modal-focus="true" type="email" id="email" name="email"
                               class="form-control" debounce
                               data-ng-model="vm.credentials.email"
                               placeholder="Email" ng-required="true">

                        <span class="form-control-feedback"
                              ng-show="vm.subForm0.email.$valid && vm.subForm0.email.$touched">
                            <i class="fa fa-check"></i>
                        </span>
                        <span class="form-control-feedback"
                              ng-show="vm.subForm0.email.$touched && vm.subForm0.email.$error.required">
                            <i class="fa fa-times" tootltip="Please enter an email address"></i>
                        </span>

                    </div>
                    <p class="info col-xs-12">This is my email: {{vm.credentials.email}}</p>
                </div>

            </section>

            <section class="row" id="step_1_basics"
                     ng-form="vm.subForm1" ng-show="true || vm.currentStep === 1">
                <div class="col-sm-12">
                    <p class="info">Please enter some basic identifying information about yourself</p>
                    <!--Enter your name-->
                    <div class="form-group has-feedback col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                        <label class="control-label col-xs-12">Your Name</label>

                        <div class="col-xs-6">
                            <input type="text" id="firstName" name="firstName"
                                   class="form-control" debounce ng-required="true"
                                   data-ng-model="vm.credentials.firstName" placeholder="First Name">
                        </div>
                        <div class="col-xs-6">
                            <input type="text" id="lastName" name="lastName"
                                   class="form-control" debounce ng-required="true"
                                   data-ng-model="vm.credentials.lastName" placeholder="Last Name">
                        </div>
                    </div>

                    <p class="verify col-xs-12 text-center">
                        Your name will appear as <strong>{{vm.credentials.firstName || '_________'}}
                        {{vm.credentials.lastName || '_________'}}</strong>
                    </p>
                    </div>
                <div class="col-xs-12">
                    <div class="form-group has-feedback col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                        <label class="control-label col-xs-12">Your Zip Code</label>

                        <div class="col-xs-6">
                            <input type="text" id="firstName" name="firstName"
                                   class="form-control" debounce ng-required="true"
                                   data-ng-model="vm.credentials.firstName" placeholder="First Name">
                        </div>a
                    </div>
                </div>

                    <!--What are you interested in -->
                    <div class="form-group">
                        <label class="control-label">Your Interests</label>

                        <div class="col-sm-12 text-center">
                            <oset-categories model="vm.driver.interests" mode="edit"></oset-categories>
                            <input type="hidden" name="interests" ng-model="vm.driver.interests"/>
                        </div>
                    </div>

                    <!--What is your address?-->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
                            <os-edit-address model="vm.credentials.location[0]" id="location"></os-edit-address>
                        </div>
                    </div>
                </div>

            </section>

            <section class="row" id="step_2_info"
                     ng-form="vm.subForm2" ng-show="true || vm.currentStep === 2">

                <div class="col-sm-12">
                    <!--Cover Letter-->
                    <div class="form-group">
                        <span class="h4" for="name" ng-bind-html="vm.placeholders.messageHeading || 'Cover Letter'"></span>

                        <p class="text-muted text-center" ng-bind-html="vm.placeholders.messageSubHeading || 'Please introduce yourself to the employer in a brief letter'"></p>

                        <div class="controls">
                    <textarea type="text" data-ng-model="vm.application.message" id="name" class="form-control"
                              placeholder="{{vm.placeholders.intro}}" required></textarea>
                        </div>

                    </div>

                    <!--Past Experience-->
                    <div class="form-group">
                        <h3>Experience
                            <small>Add information about past Experience to help employers know more about you and your
                                background
                            </small>
                        </h3>

                        <oset-experience-list list="vm.driver.experience" can-edit="true"></oset-experience-list>
                    </div>
                </div>

            </section>

            <section class="row" id="step_3_docs"
                     ng-form="vm.subForm3" ng-show="true || vm.currentStep === 3">

                <div class="col-sm-12">

                    <!--Please upload a picture-->
                    <!--<os-picture-uploader model="vm.credentials.picture" mode="raw"></os-picture-uploader>-->
                    <h4 class="text-center">TODO: Picture Upload</h4>
                    <!--Do you have a resume to attach-->
                    <!--<oset-file-upload model="vm.credentials.resume" mode="resume"></oset-file-upload>-->
                    <h4 class="text-center">TODO: Picture Upload</h4>

                    <p class="info">After you have completed your application, you will have a chance to order Motor
                        Vehicle
                        Reports, Background Checks and more. This will help employers see how professional and
                        employable
                        you are, and move you more quickly through the job application process.</p>

                </div>

            </section>

            <section class="row" id="step_4_password"
                     ng-form="vm.subForm4" ng-show="true || vm.currentStep === 4">

                <div class="col-sm-12">
                    <p class="info">In order to see the status uf your application and communicate with the employer,
                        please
                        enter a password before continuing.</p>

                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-10">
                            <input type="password" id="password" name="password" class="form-control"
                                   data-ng-model="vm.credentials.password" placeholder="Password"
                                   ng-required="true">
                            <br/>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                                   data-ng-model="vm.credentials.confirmPassword" placeholder="Confirm Password"
                                   ng-required="true" compare-to="vm.credentials.password">
                        </div>
                    </div>


                    <div class="col-sm-10">
                        <p class="text-left">Do you agree to all conditions in the Outset <span
                                tos>Terms of Service</span>
                            <i class="fa"
                               ng-class="{'fa-question' : !vm.credentials.terms, 'fa-check-circle text-success fa-2x': vm.credentials.terms=='yes', 'fa-times-circle-o text-danger' : vm.credentials.terms=='no'}"></i>
                            <button ng-hide="vm.credentials.terms === 'yes'" type="button"
                                    ng-click="vm.credentials.terms='yes'" class="btn btn-oset-success btn-sm mgn-left">
                                Yes,
                                I Agree!
                            </button>
                        </p>
                    </div>
                </div>

            </section>
        </div>

        <div class="modal-footer">
            <div class="pull-left">
                <button type="button" class="btn btn-oset-secondary"
                        ng-click="vm.prevStep()"
                        ng-hide="vm.currentStep === 0">
                    <i class="fa fa-arrow-circle-left"></i>&nbsp;Back
                </button>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-oset-primary"
                        ng-click="vm.nextStep()"
                        ng-show="true || vm.currentStep < 4">
                    Next&nbsp;<i class="fa fa-arrow-circle-right"></i>
                </button>
                <button type="button" class="btn btn-oset-primary"
                        ng-click="vm.signup()"
                        ng-show="true || vm.currentStep === 4"
                        ng-class="{'disabled':vm.credentials.terms != 'yes'}">
                    Submit Application&nbsp;<i class="fa fa-check-circle"></i>
                </button>
            </div>
            <div data-ng-show="vm.error" class="text-center text-danger">
                <strong data-ng-bind="vm.error"></strong>
            </div>
        </div>


    </form>

</script>
