<span ng-click="vm.show()" ng-transclude>Signup</span>
<!-- <a data-ui-sref="authentication.signup" target="_self">Sign Up</a>  -->

<script type="text/ng-template" id="signupApplyModal.html">
    <div class="modal-header bg-primary" ng-show="!!vm.currentStep">
        <span class="modal-title h3 text-center">
            New Job Application
            </span>
    </div>

    <form id="vm.newUserApplicationForm" class="oset-form">
        <div class="modal-body" ng-class="{'bg-primary': vm.currentStep === 0}">

            <section class="row" ng-show="vm.currentStep===0">
                <user-signup-type ng-form="vm.subForm0" model="vm.credentials.signupType" callback="vm.selectUserType()"></user-signup-type>
            </section>


            <section class="row" ng-show="vm.currentStep===1">
                <p class="info col-sm-10 col-sm-offset-1">Lets get started with your email address and some basic
                    information
                    <br/>
                    <em class="text-muted">... or <a ng-click="$dismiss('login')" login-modal>apply with an existing user</a> </em>
                </p>

                <user-signup-form ng-form="vm.subForm1" model="vm.credentials" text="vm.about"
                                  methods="vm.subform1Methods">
                </user-signup-form>
            </section>

            <section class="row" ng-show="vm.currentStep === 2">

                <driver-info-form ng-form="vm.subForm2" model="vm.driver" text="vm.about"
                                  class="col-sm-12" methods="vm.subform2Methods">
                </driver-info-form>

            </section>

            <section class="row" id="step_3_docs"
                     ng-form="vm.subForm3" ng-show="vm.currentStep === 3">

                <div class="col-sm-12">

                    <div class="col-sm-6">
                        <div class="text-center control-label">Profile Picture</div>
                        <os-picture-uploader model="vm.user" mode="user" success-callback="vm.userPicUploaded"
                                             auto-crop="true"
                                             title="Profile Picture" is-editing="vm.picIsEditing"></os-picture-uploader>
                    </div>
                    <div class="col-sm-6">
                        <oset-file-upload mode="resume"
                                          model="vm.driver.resume" model-id="vm.driver._id"
                                          title="Resume Upload" auto-upload="true"></oset-file-upload>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="checkbox">
                        <label class="small">
                            <input type="checkbox" data-ng-model="vm.application.termsAccepted" data-ng-required="true"
                                   name="disclaimer"/>
                            <small data-ng-bind-html="vm.about.disclaimer"></small>
                        </label>
                    </div>
                </div>

            </section>
        </div>

        <div class="modal-footer" ng-show="!!vm.currentStep || !!vm.error">
            <div class="pull-left">
                <button type="button" class="btn btn-oset-secondary"
                        ng-click="vm.prevStep()"
                        ng-class="{'disabled': vm.currentStep === 2}"
                        tabindex="-1">
                    <i class="fa fa-arrow-circle-left"></i>&nbsp;Back
                </button>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-oset-primary"
                        ng-click="vm.createUser()"
                        ng-show="vm.currentStep === 1"
                        ng-class="{'disabled':vm.loading, 'disabled':vm.credentials.terms != 'yes'}">
                    Next&nbsp;<i class="fa fa-arrow-circle-right"></i>
                </button>
                <button type="button" class="btn btn-oset-primary"
                        ng-click="vm.createDriver()"
                        ng-show="vm.currentStep === 2"
                        ng-class="{'disabled':vm.loading}">
                    Next&nbsp;<i class="fa fa-arrow-circle-right"></i>
                </button>
                <button type="button" class="btn btn-oset-primary"
                        ng-click="vm.createApplication()"
                        ng-show="vm.currentStep === 3"
                        ng-class="{'disabled':vm.loading}">
                    Submit Application&nbsp;<i class="fa fa-check-circle"></i>
                </button>
            </div>
            <div data-ng-show="vm.error" class="text-center text-danger">
                <strong data-ng-bind="vm.error"></strong>
            </div>
        </div>


    </form>

</script>
