<section class="signup-type">
    <div class="row">
        <a class="col-sm-4 col-sm-offset-1 undecorated-link" ng-href="/signup/driver">
            <img src="modules/users/img/steering-wheel.png" class="image" />
            <br/>
            <span class="heading h3">I am a Driver</span>
        </a>
        <a class="col-sm-4 col-sm-offset-2 undecorated-link" ng-href="/signup/owner">
            <img src="modules/users/img/owner-group.png" class="image" />
            <br/>
            <span class="heading h3">I am an Employer</span>
        </a>
    </div>
</section>
