<section>

    <div class="row">
        <div class="form-group has-feedback col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

            <label for="email" class="control-label col-xs-12">Email</label>

            <div class="col-xs-12">
                <input modal-focus="vm.focusEmail" type="email" id="email" name="email"
                       class="form-control" debounce
                       data-ng-model="vm.user.email"
                       placeholder="Email" ng-required="true"
                       autocorrect="off">

                <div ng-show="vm.form.$submitted || vm.form.email.$touched" ng-messages="vm.form.email.$error">
                    <div ng-message="required" class="panel panel-danger">Please enter your email</div>
                    <div ng-message="email" class="panel panel-danger">Please enter a valid email address</div>
                </div>

                <span class="form-control-feedback"
                      ng-show="vm.form.email.$valid && vm.form.email.$touched">
                    <i class="fa fa-check text-success"></i>
                </span>
                <span class="form-control-feedback"
                      ng-show="vm.form.email.$touched && vm.form.email.$error.required">
                    <i class="fa fa-times text-danger" tootltip="Please enter an email address"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group has-feedback col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3"
             ng-show="vm.user.signupType === 'owner'">
            <label for="companyName" class="control-label col-xs-12">Business Name</label>

            <div class="col-xs-12">
                <input type="text" id="companyName" name="companyName" class="form-control"
                       data-ng-model="vm.user.companyName" placeholder="Name of your Business"
                       ng-required="!!vm.user.signupType && vm.user.signupType === 'owner'"
                       autocapitalize="words">
            </div>
        </div>
    </div>

    <div class="row">
        <!--Enter your name-->
        <div class="form-group has-feedback col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <label class="control-label col-xs-12">Your Name</label>

            <div class="col-xs-6">
                <input type="text" id="firstName" name="firstName"
                       class="form-control" debounce ng-required="true"
                       data-ng-model="vm.user.firstName" placeholder="First Name"
                       autocapitalize="words">
            </div>
            <div class="col-xs-6">
                <input type="text" id="lastName" name="lastName"
                       class="form-control" debounce ng-required="true"
                       data-ng-model="vm.user.lastName" placeholder="Last Name"
                       autocapitalize="words">
            </div>
        </div>

        <p class="verify col-xs-12 text-center">
            Your name will appear as <strong>{{vm.user.firstName || '_________'}}
            {{vm.user.lastName || '_________'}}</strong>
        </p>
    </div>

    <div class="row">
        <div class="form-group has-feedback col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <label class="control-label col-xs-12">Your Zip Code
                <i class="fa fa-info-circle mgn-left text-muted" tooltip="{{vm.text.zip}}"></i>
            </label>

            <div class="col-xs-12">
                <input type="text" id="zipCode" name="zipCode"
                       class="form-control" debounce ng-required="true"
                       data-ng-model="vm.user.addresses[0].zipCode" placeholder="Zip Code">
            </div>
        </div>
    </div>

    <div class="row">
        <p class="info">
        </p>

        <div class="form-group has-feedback col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <label class="control-label col-xs-12">Password
                <i class="fa fa-info-circle mgn-left text-muted" tooltip="{{vm.text.password}}"></i>
            </label>

            <div class="col-xs-12">
                <input type="password" id="password" name="password"
                       class="form-control mgn-vert"
                       data-ng-model="vm.user.password"
                       placeholder="Password"
                       ng-required="true" ng-minlength="8">

                <input type="password" id="confirmPassword" name="confirmPassword"
                       class="form-control mgn-vert"
                       data-ng-model="vm.user.confirmPassword"
                       placeholder="Confirm Password"
                       ng-required="true" ng-minlength="8"
                       compare-to="vm.user.password">
            </div>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
            <p class="text-center">
                Do you agree to all conditions in the Outset <span tos>Terms of Service</span>
                <i class="fa" ng-class="{'fa-question' : !vm.user.terms}"></i>
            </p>
            <p class="text-center">
                <button type="button" class="btn btn-oset-secondary" ng-click="vm.user.terms=true"
                        ng-class="{'disabled':!!vm.user.terms}">
                    Yes, I Agree
                    <i class="fa" ng-class="{'fa-check-circle text-success': !!vm.user.terms}"></i>
                </button>

            </p>
        </div>
    </div>

</section>
