<section class="content-section" data-ng-controller="PasswordController">
    <h3 class="title container text-center">Recover your password</h3>

    <div class="content-container container text-center">
        <div class="content-container-inner">
            <div class="about">
                <p class="text-center">Please enter your account email address.</p>

                <div class="container-fluid row">
                    <div>

                        <form data-ng-submit="askForPasswordReset()" class="form-horizontal" autocomplete="off">
                            <fieldset>
                                <div  class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
                                <div class="form-group">
                                    <input type="text" id="username" name="username" class="form-control"
                                           data-ng-model="credentials.username" placeholder="Email">
                                </div>
                                <div class="text-center form-group">
                                    <button type="submit" class="btn btn-oset-primary" ng-class="{hidden: success}">Submit</button>
                                </div>
                                    </div>
                                <div  class="col-xs-12">
                                <div data-ng-show="error" class="text-center text-danger">
                                    <strong>{{error}}</strong>
                                </div>
                                <div data-ng-show="success" class="text-center text-success">
                                    <strong>{{success}}</strong><br/>
                                    <button class="btn btn-oset-primary" ui-sref="intro">Returning to Home Page{{msg}}</button>
                                </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
