<div class="headline-bg headline-sm headline-map-bg">
    <div class="blue-mask container-fluid"></div>
</div>


<div class="container profile-base section section-on-bg">

    <section class="row review">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 panel panel-default">

            <div class="row">

                <h3 class="text-center title" ng-if="!!vm.review.id">Revise your review for {{vm.profile.displayName}} </h3>
                <h3 class="text-center title" ng-if="!vm.review.id">Please submit a rating and review for {{vm.profile.displayName}} </h3>
            </div>

            <div class="row" ng-if="!!vm.greetingText">
                <div class="pad">
                    <span class="panel-body" ng-bind-html="vm.greetingText"></span>
                </div>
            </div>

            <div class="row">
                <div class="pad">
                    <form class="panel-body form-horizontal" name="vm.reviewForm" data-ng-submit="vm.create()" novalidate>
                        <fieldset>

                            <div class="form-group rating text-center">
                                <div class="controls">
                                    <uib-rating class="rating-ctr" ng-model="vm.review.rating" name="rating" id="rating" max="5" on-hover="vm.ratingHover(value)" on-leave="vm.overStar = null"
                                    aria-labelledby="default-rating" required>
                                    </uib-rating>
                                    <h5 class="no-mgn-top"><small>Click a star to rate</small></h5>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="title">Title</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="vm.review.title" name="title" id="title" class="form-control" placeholder="Review title or short summary"
                                    required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="body">Review</label>
                                <div class="controls">
                                    <textarea data-ng-model="vm.review.text" name="review body" id="body" class="form-control" rows="6" placeholder="Enter your full review here"
                                    required></textarea>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label" for="name">Your Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="vm.review.name" name="your name" id="name" class="form-control" placeholder="Name" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Your Email</label>
                                        <div class="controls">
                                            <input type="email" data-ng-model="vm.review.email" name="email" id="email" class="form-control" placeholder="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">- or -</div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="control-label" for="phone">Your Phone</label>
                                        <div class="controls">
                                            <input type="tel" data-ng-model="vm.review.phone" name="phone" id="phone" class="form-control" placeholder="Phone">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn-oset-primary">Submit Review</button>
                            </div>
                            <div data-ng-show="vm.error" class="text-danger pull-left">
                                <strong data-ng-bind="vm.error"></strong>
                            </div>
                        </fieldset>


                        <section class="container-fluid">
                            <section class="faq section">
                                <h4 class="mgn-bottom">Frequently Asked Questions</h4>

                                <uib-accordion>
                                    <div class="col-sm-12">
                                        <uib-accordion-group class="panel" ng-repeat="faq in vm.faqs">
                                            <uib-accordion-heading class="panel-heading">
                                                <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq1">
                                                       <i class="fa fa-plus-square"></i>{{faq.question}}</a></h4>
                                            </uib-accordion-heading>

                                            <p class="panel-body" data-ng-bind-html="faq.answer">
                                            </p>

                                            <div class="label label-muted hidden" ng-repeat="key in faq.keywords track by $index">{{key}}
                                            </div>
                                        </uib-accordion-group>
                                        <!--//panel-->
                                    </div>
                                </uib-accordion>
                                <!--//row-->
                                <!--//container-->
                            </section>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>