<section>
    <span class="span6">
        <div class="row-fluid profile-row">
            <span class="span4">
                <h5 class="heading profile-label">Name</h5>
            </span>
            <span class="span8">
                <p>{{user.fullName}}</p>
                <input class="textinput" type="text" name="" placeholder="First">
                <input class="textinput" type="text" name="" placeholder="Last">
            </span>
        </div>
        <div class="input-group margin-bottom-sm">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i>
            </span>
            <input class="form-control" type="text" placeholder="Email address" data-ng-value="user.email">
        </div>
        <div class="profile-row">
            <label for="street-address">Address</label>
            <div class="form-group container-fluid">
                <div>
                    <input type="text" id="street-address" name="street-address" class="form-control" data-ng-model="user.streetAddress" placeholder="Street Address">
                </div>
                <div>
                    <input type="text" id="street-address-2" name="street-address-2" class="form-control" data-ng-model="user.streetAddress2" placeholder="Street Address Line 2">
                </div>
                <div class="form-inline">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group margin-bottom-sm">
                                <span class="license_label input-group-addon">City</span>
                                <input type="text" id="city" name="city" class="form-control col-md-6" data-ng-model="user.city" placeholder="City">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group margin-bottom-sm">
                                <input type="text" id="state" name="state" class="form-control" data-ng-model="user.state" placeholder="State">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group margin-bottom-sm">
                                <span class="license_label input-group-addon">Zip</span>
                                <input type="text" id="zip" name="zip" class="form-control" data-ng-model="user.zipCode" placeholder="ZIP">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Driver's Telephone -->
        <div class="input-group margin-bottom-sm" id="phone">
            <span class="profile_label input-group-addon">Phone</span>
            <input class="form-control" type="tel" name="" data-ng-value="user.license.phone" placeholder="(xxx) xxx-xxxx">
            <span class="input-group-addon">
                <i class="fa fa-phone fa-fw"></i>
            </span>
        </div>
        <!-- Driver's License Information -->
        <div class="row-fluid profile-row">
            <h5 class="heading profile-label">Driver's License</h5>
            <button class="btn pull-left btn-small btn-success" ng-click="addLicense()" ng-show="switchHelper() == 0">
                <i class="icon icon-plus"></i> Add License
            </button>
            <div data-ng-repeat="license in user.licenses">
                <div ng-include="'modules/users/views/templates/license.client.template.html'"></div>
            </div>

        </div>

        <!-- Driver's Experience Breakdown -->
        <div class="row-fluid profile-row">
            <span class="span4">
                <h5 class="heading profile-label">Experience</h5>
            </span>
            <span class="span8">
                <div class="input-group">
                    <span class="span6">
                        <p>{{experience.type}}</p>
                    </span>
                    <span class="span6">
                        <p>{{experience.duration}}</p>
                    </span>
                </div>
            </span>
        </div>
        <!-- Driver's Certifications & Licenses -->
        <div class="row-fluid profile-row">
            <span class="span4">
                <h5 class="heading profile-label">Licenses</h5>
            </span>
            <span class="span8">
                <p>{{cert.title}}</p>
            </span>
        </div>

        <!-- Driver's Availability -->
        <div class="row-fluid profile-row">
            <div class="col-md-12 availability_matrix">
                <h5 class="heading profile-label">Availability</h5>
                <div class="container-fluid well">
                    <div class="col-md-12">
                        <div class="row availability-header">
                            <div class="col-md-5">
                                <h6 class="heading profile-label profile-label-1">Time</h6>
                            </div>
                            <div class="col-md-1">
                                <h6 class="heading profile-label profile-label-1">M</h6>
                            </div>
                            <div class="col-md-1">
                                <h6 class="heading profile-label profile-label-1">Tu</h6>
                            </div>
                            <div class="col-md-1">
                                <h6 class="heading profile-label profile-label-1">W</h6>
                            </div>
                            <div class="col-md-1">
                                <h6 class="heading profile-label profile-label-1">Th</h6>
                            </div>
                            <div class="col-md-1">
                                <h6 class="heading profile-label profile-label-1">F</h6>
                            </div>
                            <div class="col-md-1">
                                <h6 class="heading profile-label profile-label-1">Sa</h6>
                            </div>
                            <div class="col-md-1">
                                <h6 class="heading profile-label profile-label-1">Su</h6>
                            </div>
                        </div>
                        <div ng-include="'modules/users/views/templates/schedule.client.template.html'" ng-repeat='schedule in user.schedule'></div>
                    </div>
                </div>
            </div>
        </div>
    </span>
</section>
