<section>
    <div class="row availability-row">
        <div class="col-md-5">
            <label class="control-label">{{ schedule.time }}</label>
        </div>
        <div class="col-md-1">
            <input ng-readonly="isReadOnly()" type="checkbox" ng-bind="schedule.day[0]" name="">
        </div>
        <div class="col-md-1">
            <input ng-readonly="isReadOnly()" type="checkbox" ng-bind="schedule.day[1]" name="">
        </div>
        <div class="col-md-1">
            <input ng-readonly="isReadOnly()" type="checkbox" ng-bind="schedule.day[2]" name="">
        </div>
        <div class="col-md-1">
            <input ng-readonly="isReadOnly()" type="checkbox" ng-bind="schedule.day[3]" name="">
        </div>
        <div class="col-md-1">
            <input ng-readonly="isReadOnly()" type="checkbox" ng-bind="schedule.day[4]" name="">
        </div>
        <div class="col-md-1">
            <input ng-readonly="isReadOnly()" type="checkbox" ng-bind="schedule.day[5]" name="">
        </div>
        <div class="col-md-1">
            <input ng-readonly="isReadOnly()" type="checkbox" ng-bind="schedule.day[6]" name="">
        </div>
    </div>
</section>
