<section>
    <div class="row-fluid availability-row">
        <span class="span5">
            <label class="control-label">{{ schedule.name }}</label>
        </span>
        <span class="span1">
            <label class="checkbox">
                <input type="checkbox" ng-bind="schedule.day[0]" name="">
            </label>
        </span>
        <span class="span1">
            <label class="checkbox">
                <input type="checkbox" ng-bind="schedule.day[1]" name="">
            </label>
        </span>
        <span class="span1">
            <label class="checkbox">
                <input type="checkbox" ng-bind="schedule.day[2]" name="">
            </label>
        </span>
        <span class="span1">
            <label class="checkbox">
                <input type="checkbox" ng-bind="schedule.day[3]" name="">
            </label>
        </span>
        <span class="span1">
            <label class="checkbox">
                <input type="checkbox" ng-bind="schedule.day[4]" name="">
            </label>
        </span>
        <span class="span1">
            <label class="checkbox">
                <input type="checkbox" ng-bind="schedule.day[5]" name="">
            </label>
        </span>
        <span class="span1">
            <label class="checkbox">
                <input type="checkbox" ng-bind="schedule.day[6]" name="">
            </label>
        </span>
    </div>
</section>
