<section>
    <span class="col-md-12 opaque-bg">

        <div class="row">
            <div class="col-md-10">
                <h4>Profile Information</h4>
            </div>
            <div class="col-md-2">
                <a class="btn btn-default btn-sm" ng-click="toggleMode(true)" data-ng-hide="editMode">
                    <i class="fa fa-pencil">
            </i>edit</a>
            </div>
        </div>

        <div class="form-group profile-row">
            <label for="name">Name</label>
            <p data-ng-hide="editMode">{{user.displayName}}</p>
            <div class="form-inline margin-bottom-sm" name="name" data-ng-show="editMode">
                <input class="form-control" type="text" data-ng-model="user.firstName" placeholder="First">
                <input class="form-control" type="text" data-ng-model="user.lastName" placeholder="Last">
            </div>
        </div>

        <div class="form-group profile-row">
            <label for="email">Email</label>
            <p data-ng-hide="editMode">{{user.email}}</p>
            <div class="input-group margin-bottom-sm" name="email" data-ng-show="editMode">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i>
                </span>
                <input class="form-control" type="text" placeholder="Email address" data-ng-model="user.email">
            </div>
        </div>

        <div class="form-group profile-row" ng-init="addresses = user.addresses">
            <label for="addressses">Addresses</label>
            <button class="btn pull-right btn-small btn-link" ng-click="addAddress()" ng-show="editMode">
                Add Address
            </button>

            <div ng-include="'modules/addresses/views/address.client.template.html'"></div>
        </div>

        <!-- Driver's Telephone -->
        <div class="form-group profile-row">
            <label for="phone">Phone</label>
            <p data-ng-hide="editMode">{{user.phone}}</p>
            <div class="input-group margin-bottom-sm" data-ng-show="editMode">
                <input class="form-control" type="tel" name="phone" data-ng-model="user.phone" placeholder="(xxx) xxx-xxxx">
                <span class="input-group-addon">
                    <i class="fa fa-phone fa-fw"></i>
                </span>
            </div>
        </div>

        <div class="profile-row" data-ng-show="editMode">

            <hr/>
            <div class="text-right form-group">
                <button type="cancel" class="btn btn-large btn-link" ng-click="cancel()">cancel</button>
                <button type="submit" class="btn btn-large btn-primary">Save Profile</button>
            </div>
            <div data-ng-show="success" class="text-center text-success">
                <strong>Profile Saved Successfully</strong>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>
    </span>
</section>
