<section ng-init="view = profile || user" data-ng-controller="SettingsController">
    <span class="col-md-12 opaque-bg">
        user-profile.client.template
        <span ng-hide="editMode" <div class="row">
            <legend class="pull-left">Personal Information
                <div class="pull-right">
                    <a class="btn btn-link" ng-click="edit()">
                        <i class="fa fa-pencil"></i>&nbsp;edit
                    </a>
                </div>
            </legend>

            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{view.displayName}}</dd>
                <dt>Email</dt>
                <dd>{{view.email}}</dd>
                <dt>Phone</dt>
                <dd>{{view.phone}}</dd>
                <dt>Addresses</dt>
                <dd><div ng-include="'modules/addresses/views/address.client.template.html'"></div></dd>
            </dl>
        </span>


        <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="form-horizontal" autocomplete="off" ng-show="editMode">
            <fieldset class="create">
                <legend>Edit Personal Profile</legend>

                <div class="form-group profile-row">
                    <label class="control-label" for="name">Name</label>
                    <div class="form-inline margin-bottom-sm" name="name">
                        <input class="form-control" type="text" data-ng-model="view.firstName" placeholder="First">
                        <input class="form-control" type="text" data-ng-model="view.lastName" placeholder="Last">
                    </div>
                </div>

                <div class="form-group profile-row">
                    <label for="email">Email</label>
                    <div class="input-group margin-bottom-sm" name="email">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i>
                        </span>
                        <input class="form-control" type="text" placeholder="Email address" data-ng-model="view.email">
                    </div>
                </div>

                <div class="form-group profile-row" ng-init="addresses = view.addresses">
                    <label for="addressses">Addresses</label>
                    <button class="btn pull-right btn-small btn-link" ng-click="addAddress()">
                        Add Address
                    </button>

                    <div ng-include="'modules/addresses/views/address.client.template.html'"></div>
                </div>

                <!-- Driver's Telephone -->
                <div class="form-group profile-row">
                    <label for="phone">Phone</label>
                    <div class="input-group margin-bottom-sm">
                        <input class="form-control" type="tel" name="phone" data-ng-model="view.phone" placeholder="(xxx) xxx-xxxx">
                        <span class="input-group-addon">
                            <i class="fa fa-phone fa-fw"></i>
                        </span>
                    </div>
                </div>

                <div class="profile-row" data-ng-show="editMode">
                    <small class="pull-left">edit-profile.client.view</small>

                    <div class="text-right form-group">
                        <button type="button" value="cancel" class="btn btn-large btn-link" ng-click="cancel()">cancel</button>
                        <button type="submit" value="update" class="btn btn-large btn-primary">Save Profile</button>
                    </div>
                    <div data-ng-show="success" class="text-center text-success">
                        <strong>Profile Saved Successfully</strong>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </fieldset>
        </form>
    </span>
</section>
