<section ng-form="releaseAuthForm">

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 smaller">
            <div class="well" ng-show="vm.releaseType === 'preEmployment'">
                <span ng-bind-html="vm.releaseTypes[vm.releaseType].text"></span>
            </div>
        </div>
    </div>


    <div class="row mgn-vert" ng-hide="!!vm.release.signature.dataUrl && !!vm.release.signature.timestamp">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h4 class="text-center">Please sign here:</h4>

            <div signature-pad id="signature" signature="vm.release.signature" close="vm.updateSignatureStatus()"
                 methods="vm.signatureMethods"
                 ng-class="{'ng-submitted':vm.releaseAuthForm.$submitted, 'ng-invalid': (!vm.isSigValid || vm.releaseAuthForm.signature_input.$invalid)}"></div>
            <input type="hidden" ng-model="vm.release.signature" name="signature_input" ng-required="true"/>
        </div>
    </div>

    <div class="row mgn-vert" ng-show="!!vm.release.signature.dataUrl && !!vm.release.signature.timestamp">
            <section class="form-inline form-paper">
                <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 form-group text-center">
                    <img class="img-responsive" ng-src="{{vm.release.signature.dataUrl}}">
                </div>
                <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 form-group">
                    <p class="form-control-static pull-left"
                            ><strong>Signed:</strong> {{vm.release.signature.timestamp | amDateFormat : "LL LT"}}
                    </p>

                    <button type="button" ng-click="vm.release.signature = {}" class="btn btn-oset-link pull-right">
                        <i class="fa fa-times"></i>&nbsp;clear
                    </button>
                </div>
            </section>
    </div>


    <div class="row mgn-vert">

            <section class="form-inline form-paper text-center">
                <div class="col-sm-8 form-group">
                    <label for="authorizationName">Name:</label>
                    <input type="text" class="form-control" id="firstName" ng-model="vm.release.name.first"
                           placeholder="First" ng-required="true">
                    <input type="text" class="form-control" id="middleName" ng-model="vm.release.name.middle"
                           placeholder="Middle" ng-required="true">
                    <input type="text" class="form-control" id="lastName" ng-model="vm.release.name.last"
                           placeholder="Last" ng-required="true">
                </div>
                <div class="col-sm-4 form-group">
                    <label for="dateOfBirth">Date of Birth:</label>
                    <date-input model="vm.release.dob" is-required="true" name="dateOfBirth" class="form-control"></date-input>
                </div>
            </section>
    </div>
</section>
