<section class="workflow-stage-form">

    <section ng-if="vm.gw.models.application.isDraft" ng-hide="!!vm.success">
        <div class="controls col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="text-center text-muted" ng-show="!vm.gw.models.application.introduction">
                Please introduce yourself to the employer here
            </div>
                    <textarea os-html-edit minimal type="text" data-ng-model="vm.gw.models.application.introduction"
                              name="message" id="message" class="editor-md" ng-required="true"></textarea>
        </div>

        <div class="row" ng-hide="!!vm.success">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <p class="text-center">
                    Your application is now ready to submit to {{vm.gw.models.company.name}}. Review the information
                    below,
                    and click 'Submit' below when ready submit your application.
                </p>
            </div>
        </div>

        <div class="row" ng-hide="!!vm.success">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 well text-center">
                By submitting this application, you agree to the
                <tos>Outset terms and conditions</tos>
                , as well as those governing the pre-employment check process.

                <div ng-if="vm.enableFinalCheckbox" class="checkbox text-center">
                    <label class="panel" style="padding: 10px 20px 10px 40px"
                           ng-class="{'panel-success':!!vm.gw.models.application.agreement, 'panel-danger':!vm.gw.models.application.agreement}">
                        <input type="checkbox" data-ng-model="vm.gw.models.application.agreement"
                               data-ng-required="true"
                               name="disclaimer"/> I Agree
                    </label>
                </div>

            </div>
        </div>


    </section>

    <section ng-show="!!vm.success">

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h3 class="text-center">
                    <span class="label label-success">Success!</span>
                </h3>

                <p class="pnl-info mgn-top">
                    Congratulations, you have applied to a position with {{vm.gw.models.company.name}}. You can now look at your
                    active job applications, browse job listings, or return to your profile home.
                </p>

                <p class="text-center">
                    <button type="button" class="btn btn-oset-primary" ui-sref="applications.view">View Applications
                    </button>
                    <button type="button" class="btn btn-oset-primary" ui-sref="jobs.list">Job Listings</button>
                    <button type="button" class="btn btn-oset-primary" ui-sref="users.view">Home</button>
                </p>
            </div>
        </div>
    </section>

    <section ng-show="!vm.success && !vm.gw.models.application.isDraft">

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h3 class="text-center">
                    Current Application Status: <os-application-status-badge ng-model="vm.gw.models.application"></os-application-status-badge>
                </h3>

                <p class="pnl-info mgn-top">
                    Congratulations, you have successfully submitted your application for a position with
                    {{vm.gw.models.company.name}}. You can now look at your active job applications, browse
                    job listings, or return to your profile home page.
                </p>

                <p class="text-center">
                    <button type="button" class="btn btn-oset-primary" ui-sref="applications.list">Active Applications</button>
                    <button type="button" class="btn btn-oset-primary" ui-sref="jobs.list">Job Listings</button>
                    <button type="button" class="btn btn-oset-primary" ui-sref="users.view">Home</button>
                </p>
            </div>
        </div>
    </section>

</section>
