<section class="workflow-stage-form" ng-form="vm.subForm3">

    <div class="col-sm-12">

        <div class="col-sm-6">
            <div class="text-center control-label">Profile Picture</div>
            <os-picture-uploader model="vm.gw.models.user" mode="user"
                                 auto-crop="true" allow-blank="true"
                                 title="Profile Picture" is-editing="vm.picIsEditing"></os-picture-uploader>
        </div>
        <div class="col-sm-6">
            <oset-file-upload mode="resume" allow-blank="true" model-path="resume"
                              model="vm.gw.models.driver"
                              title="Resume Upload" auto-upload="true"></oset-file-upload>
        </div>
    </div>

</section>
