<section class="workflow-stage-form">

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <p class="text-center">
                As a part of your application, {{vm.gw.models.company.name}} has requested that you fill in data
                requried to run a pre-employment check. This data will only be used if {{vm.gw.models.company.name}}
                decides to proceed with your application and interview process.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">Requested Report(s)</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>{{vm.gw.models.report.title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
