.main-tabs{
  > .tab-nav{
    height: 69px;
    padding-top: 0;

    .tab-item{
      padding: 10px 0;
      font-size: 10px;
      line-height: 16px;
      font-weight: bold;
      border: solid #D2D2D2;
      border-width: 1px 0 0 0;
      text-transform: uppercase;
      background-color: $light;
      color: $tab-text;

      &:last-child{
        border-right: 0;
      }

      &.tab-item-active{
        border-left: 0;
      }

      .ico{
        margin: 3px auto;
        min-height: 22px;
      }
    }
  }
}
