.activity {

  #map {
    height:200px;
  }

  .button-padding-top{
    padding-top: 44px;
  }

  .button-padding-bottom{
    padding-bottom: 44px;
  }

  .content-pane {
    bottom: 69px;

    .content-top-button {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      font-size: 14px;
      min-height: 44px;
      border-width: 1px 0 0;
      text-align: left;

      .ico{
        float: right;
        margin: 15px 10px 0 0;
        vertical-align: middle;
      }
    }
  }

  .map{
    height:200px;
  }

  .comment {
    margin: 0 10px;
    border-top: 1px solid #D2D2D2;
    white-space: normal;
    word-wrap: normal;
    overflow: wrap;
    border-color: $stable;
    
    &.item{
      padding-top: 4px!important;
      padding-bottom: 4px!important;
    }
    
    
  }

   
    //margin-bottom: 2px;
    //padding:$item-padding/2 $item-padding;
    .card {
      padding: 0;
    }

    > .ico{
      float: left;
      margin-right: 15px;
    }

    .activity-item{
      overflow: hidden;

      .ico {
        margin: 1px;
      }

      .panel{
        position: relative;
        min-height: 15px;

        .visual{
          margin-right: 5px;
          vertical-align: middle;
          display: inline-block;
          max-width: 90px;
          max-height: 40px;
          text-align: center;
        }

        .activity-summary {
          display: inline-block;
          overflow: hidden;
          vertical-align: middle;
        }
      }


      .last-location,
      .current-location{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          margin-top: 2px;
      }

      a.user-link {
        text-decoration: none;
        text-transform: capitalize;
            color: #ff8000;
        }

      .avatar {
        margin-right: 5px;
          vertical-align: top;
          //position: absolute;
          top: 50%;
          left: 15px;
          max-width: 32px;
          max-height: 32px;
          width: 100%;
          height: 100%;
          border-radius: 50%;
      }

      &.top, &.bottom {
        padding: $item-padding/2 $item-padding;
        overflow: hidden;
        height: auto;

        .miles, .likes, .driven, .left {
          float: left;
          padding-right: 4px;
        }
        .comments, .right {
          float: right;
          padding-left: 4px;
        }
      }

      .title{
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 500;
        //padding: 0 10px 5px 5px;
      }
      
      .message{
        margin: 4px 0 9px;
        display: block;
        display: -webkit-box;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
      }
    }
    
    .static-pic {
      position: relative;
      width: 100%;
    }
    
    .static-map {
      position: relative;
      left: -$item-padding;
      //bottom: -$item-padding + (-4px);
    }
  

  .item-detail {
    padding:10px 15px;
    font-size: 14px;

    span{
      float: right;
    }
  }


  /* add activity */
  .add-activity-pane {
    .item {
      margin:0;
      padding: 10px;
      border-top: 1px solid #D2D2D2;

      .input-label {
        width:auto;
        font-weight:bold;
        color: inherit;
        max-width: 500px;
      }
      input {
        font-size:16px;
        line-height: 20px;
        padding:0;
        border: 0;
        color: $content-body-text;
      }
      div{
        white-space: normal;
        font-size:16px;
        color: $content-body-text;
        line-height: 20px;
      }
      
      .notes-holder {
        padding-bottom: 2*$content-padding;
      }
    }
    
      
    
  }

  /* details activity */
  .details-activity-pane {
    .item {
      padding: 10px;

      .likes{
        float: left;

        strong{
          display: inline;
        }
      }
    }
  }
  
  .bottom > .props {
    margin: -8px -16px 8px;
    border-bottom-width: 1px;
  }
        
  .top > .props {
    margin: 8px -16px -8px;
    border-top-width: 1px;
  }
  
  .props {
    line-height: 18px;
    padding: 4px 16px ;
    border-style: solid;
    border-color: $stable;
    
    
    font-size: 14px;
    
    & > * {
      display: inline-block;
    }
    
    //padding: $item-padding/2 $item-padding;
    overflow: hidden;
    height: auto;
  
    .miles, .driven, .left {
      float: left;
      padding-right: 4px;
    }
    .comments, .likes, .time, .right {
      float: right;
      padding-left: 4px;
    }
    
    
      .notes,
      .freight{
        padding-left: 14px;
      }
  
    .dist, .time {
      font-weight: 400;
    }
      .dist.mi:after {
        content: 'MI';
        position: relative;
        bottom: 0;
      }
      
      .lbl, .dist.mi:after  {
        font-size: 0.7em;
        text-transform: uppercase;
        padding-left: 2px;
      }
  }
  
  .time, .time-inline {
      font-size: 0.8em;
      text-transform: uppercase;
    }
  
  .time{
    background-color: $light;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7.5px;
  }
  
  .time-inline {
    display: inline;
  }
    

}


/* ion-google-place */
.ion-google-place-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;

  input.ion-google-place[readonly]{
    background-color: transparent;
    cursor: text;
  }
}

