.lockbox {
  .img-holder{
    img{width: 100%;}
  }
}

.content-button{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  min-height: 44px;
  border-width: 1px 0 0;

  .ico{
    margin-right: 10px;
    vertical-align: middle;
  }
}

// document list
.document-list{
  border-bottom: 1px solid #D2D2D2;

  .item {
    border-top: 1px solid #D2D2D2;
    padding-left: 62px;
    padding-right: 100px;
    min-height: 70px;
    
    &.stub-document {
      .ico {
        opacity: 0.4;
      }
    }

    .ico{
      position: absolute;
      top: 16px;
      left: 10px;
      //margin-top: -20px;
    }

    .item-content{
      text-overflow: initial;
      white-space: normal;

      strong,
      span{display: block;}
    }

    .checkbox{
      left: 0;
      right: 0;
      top: 0;
      margin: 0;
      bottom: 0;

      input{
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 21px;
      }
    }

    .button{
      padding: 0 25px;
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -15px;
      z-index: 4;
    }
  }
}


/* action-sheet */
.action-sheet {

  .action-sheet-group{
    background-color:$sheet-options-bg-color;
  }

  .action-sheet-options {
    background:none;

    .action-sheet-option {
       background-color: $sheet-options-bg-color;
       color: $tab-text;
       margin: 2px 0;
    }
  }

  .button{
    font-size: 18px;
    padding: 8px;
  }

  .title {
    color:white;
    font-size: 18px;
  }

}


/* lockbox modal preview */
.preview{
  background-color: transparent;
  top: 5%;
  right: 2%;
  bottom: 5%;
  left: 2%;
  width: 96%;

  .bar{
    .title{
      height: 43px;
      line-height: 44px;
    }
  }

  &.full-screen{
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 0;

    .bar{
      background-color: rgba(0,0,0,0.5);
      height: 44px;

      .button {
        line-height: 44px;
        max-height: 44px;
        color: #fff;
        font-weight: bold;

        &:first-child {
          left: 0;
          padding-left: 8px;
        }

        &:last-child {
          top: 0;
          color: #fff;
          padding-right: 8px;
          right: 0;
          font-weight: 500;
        }
      }
    }
    
    #pdf-view-content{
      margin: 0;
      padding: 0;
      bottom: 44px;
      background: none;

      &.controls-hidden{bottom: 0;}

      .image-container{
        position: static;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
      }
    }
  }

  #pdf-view-content{
    background-color: white;

    &.ionic-scroll{height: auto;}

    .image-container{
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      width: auto;
      height: auto;

      div{
        height: 100%;
        width: 100%;
      }
    }
  }

  .bar{
    background-color: transparent;

    .button{
      &.preview-cancel-button, &:last-child {
        font-size: $bar-title-font-size;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
        color: $light;
        border: 0;
      }
      
      &:last-child {
        padding-right: 0;
        right: 0;
      }
    }
  }

  .title{
    color:white;
  }

}
