.lockbox {

  .bar{
    background:none
  }
  .bar{
    &.bar-subheader{
      top:50%;

      h3{
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        white-space: normal;
        text-overflow: initial;
        color: #fff;
      }
    }
  }

  .content-pane {
    bottom: 69px;
    padding-bottom: 44px;
  }
}

.content-button{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  min-height: 44px;
  border-width: 1px 0 0;

  .ico{
    margin-right: 10px;
    vertical-align: middle;
  }
}


.documents-list{
  height: 100%;

  .button-small {
    padding: 2px 4px 1px;
    min-width: 28px;
    min-height: 30px;
    font-size: 12px;
    line-height: 25px;
  }

  .button {
  /*  @include rounded-corner(5px);*/
    margin: 0;
    font-size: 14px;
    min-height: 32px;
    line-height: 32px;

    position: absolute;
    right:0;
    top:0;
    padding: 0 30px;
    border-color: #D2D2D2;
    background-color: #f8f8f8;
    color: #858585;
  }

  .list{
    margin: 0 20px;
    padding-top: 20px;
  }

  .item {
    background: none;
    padding: 0;
    border: none;

    i{
      float:left;
      margin:0 10px 0 0;
    }

    .item-divider {
      clear: both;
      padding: 0;
      height: 1px;
      margin: 15px 0;
      min-height:1px;
      background: #D2D2D2;
    }

    .item-note {
      width: 40%;
      text-align: right;
      color: $content-body-text;
      white-space: normal;
    }
  }
}

/* action-sheet */
.action-sheet {

  .action-sheet-group{
    background-color:$sheet-options-bg-color;
  }

  .action-sheet-options {
    background:none;

    .action-sheet-option {
       background-color: $sheet-options-bg-color;
       color: $tab-text;
       margin: 2px 0;
    }
  }

  .button{
    font-size: 18px;
    padding: 8px;
  }

  .title {
    color:white;
    font-size: 18px;
  }

}


/* lockbox modal preview */
.preview{
  background-color: transparent;
  #pdf-view-content{
    background-color: white;
  }
  .bar{
    background-color: transparent;

    .preview-cancel-button {
      font-size: 17px;
      font-weight: 500;
      line-height: 44px;
      color: white;
      border: 0;
    }
  }

  .title{
    color:white;
  }

}
