.lockbox {
  .img-holder{
    img{width: 100%;}
  }
}

.content-button{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  min-height: 44px;
  border-width: 1px 0 0;

  .ico{
    margin-right: 10px;
    vertical-align: middle;
  }
}

// document list
.document-list{
  border-bottom: 1px solid #D2D2D2;

  .item {
    border-top: 1px solid #D2D2D2;
    padding-left: 62px;
    padding-right: 100px;
    min-height: 70px;
    
    &.stub-document {
      .ico {
        opacity: 0.4;
      }
    }

    .ico{
      position: absolute;
      top: 16px;
      left: 10px;
      //margin-top: -20px;
    }

    .item-content{
      text-overflow: initial;
      white-space: normal;

      strong,
      span{display: block;}
    }

    .checkbox{
      left: 0;
      right: 0;
      top: 0;
      margin: 0;
      bottom: 0;

      input{
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 21px;
      }
    }

    .button{
      padding: 0 25px;
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -15px;
      z-index: 4;
    }
  }
}


/* action-sheet */
.action-sheet {

  .action-sheet-group{
    background-color:$sheet-options-bg-color;
  }

  .action-sheet-options {
    background:none;

    .action-sheet-option {
       background-color: $sheet-options-bg-color;
       color: $tab-text;
       margin: 2px 0;
    }
  }

  .button{
    font-size: 18px;
    padding: 8px;
  }

  .title {
    color:white;
    font-size: 18px;
  }

}


/* lockbox modal preview */
.preview{
  background-color: transparent;
  top: 5%;
  right: 2%;
  bottom: 5%;
  left: 2%;
  width: 96%;

  #pdf-view-content{
    background-color: white;

    &.ionic-scroll{height: auto;}

    .image-container{
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      width: auto;
      height: auto;

      div{
        height: 100%;
        width: 100%;
      }
    }
  }

  .bar{
    background-color: transparent;

    .preview-cancel-button {
      font-size: 17px;
      font-weight: 500;
      line-height: 44px;
      color: white;
      border: 0;
    }
  }

  .title{
    color:white;
  }

}
