.message-list {
  .item {
    border-top: 1px solid #ddd;

    > .ico{
      position: absolute;
      top: 15px;
    }

    > .avatar{
      position: absolute;
      top: 15px;
      width:25px;
      height:25px;
      border-radius:20px;
    }

    .avatar-left {
      left:10px;
    }
    .avatar-right{
      right:10px;
    }

    .item-content {
      margin: 0 30px;

      .top {
        overflow: hidden;
       /* padding: 5px 0 4px;*/

        strong {
          float: left;
        }

        p{
          float: left;
          color: #ff8000;
          text-transform: uppercase;
        }

        .created {
          float: right;
        }

        .ico{
          margin: 1px 5px 0 0;
        }
      }

      .message {
        padding: 0 0 5px;
        span{white-space: normal;}
      }

      .created {
        display: block;

        .ico {
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }
}

/* messages modal details */
.new-message-modal {

  .bar-footer {

    .item-input-wrapper {
      background: none;

      textarea {
        width: 100%;
        height: 45px;
        font-size: 12px;
        background-color: transparent;
        resize: none;
        padding: 5px 20px 5px 5px;
      }
    }

    .button-positive {
      border: 0;
      padding: 0 40px;
    }
  }
}
