.message-list{
  .item{
    border-top: 1px solid #ddd;

    > .ico{
      float: left;
    }

    .item-content{
      padding: 0 0 0 10px;

      .top{
        overflow: hidden;
        padding: 0 0 4px;

        strong{
          float: left;
        }

        .created{
          float: right;
        }
      }

      .message{
        span{white-space: normal;}
      }

      .created{
        display: block;

        .ico{
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }
}
