



.material-action {
    
    position: fixed;
    right: $padding-base-horizontal;
    //top: calc(100vh - #{$tabs-height} - #{$button-height} - #{$padding-base-horizontal});
    bottom: calc(#{$tabs-height} + #{$padding-base-horizontal});
    
    .platform-ios & {
        //top: calc(100vh - #{$tabs-height} - #{$button-height} - #{$padding-base-horizontal} - #{$ios-statusbar-height});
        //bottom: calc(#{$tabs-height} + #{$padding-base-horizontal} - #{$ios-statusbar-height});
    }
    
    //top: calc(100vh - $tabs-height + $padding-base-vertical);
    // bottom: $tabs-height + $padding-base-vertical;
    z-index: 10;
        
    .button {
        border-radius: 50%;
        border-width: 0;
        width: $button-large-height;
        height: $button-large-height;
        box-shadow: 1px 1px 10px $dark;
        
        &:active {
           box-shadow: 1px 1px 3px $dark;
        }
        
        &.button-share, &.button-edit {
            i {
                zoom: 125%;
            }
        }
    }
}

.button.button-small.button-icon:before {
  font-size: 26px !important;
}


.profile-screen {
    .profile-pane {
        .scroll-view {
            padding-top: $photo-dimension/2;
            
            .platform-ios & {
                padding-top: $photo-dimension/2 + $ios-statusbar-height;
            }
        }
    }
    
    .bar.bar-header > .button {
        z-index: 3;
    }
}

@media only screen
and (max-device-height : 570px) {
    
    .platform-android, .platform-ios{
        .profile-screen {
            .profile-pane {
                .scroll-view {
                    padding-top: 20px;
                }
            }
        }
    }
}

.profile-screen .profile-list {
      
    .profile-title {
        h1, h2, h3, h4 {
            text-align: center;
            font-weight: 400;
        }
    }
    
    .item.profile-highlights {
        text-align: center;
        padding-top: $padding-base-vertical;
        padding-bottom: $padding-base-vertical;
        background-color: white;
        color: $positive;
        
        margin-left: -$padding-large-horizontal;
        margin-right: -$padding-large-horizontal;
        
        div {
            padding: $padding-base-vertical $padding-small-horizontal;
            display: inline-block;
            line-height: 25px;
            
            i.ico {
                display: inline-block;
                margin-right: $padding-base-vertical;
            }
            
            &.clickable {
                //color: $balanced;
                
                i.ico {
                    background-color: $brand-blue;
                    border-radius: 50%;
                    border-style: none;
                    padding: -2px;
                    box-shadow: 1px 1px 5px rgba($dark, 0.9);
                }
            }
        }
        
        
            
        .ico {
            & + .badge-container {
                position: relative;
                left: 10px;
                padding-left: -10px;
                
                float: left;
                display: flex;
                
                .badge {
                    opacity: 0.9;
                    position: relative;
                    left: 0;
                    top: -6px;
                    // bottom: 10px;
                    // right: 0;
                    // left: 0px;
                    //top: unset;
                    display: inline-flex;
                    
                    border-radius: 6px;
                    font-size: 0.8em;
                    line-height: 0.9em;
                    max-width: 80px;
                    
                    padding-left: 4px;
                    padding-right: 4px;
                } 
            }
        }
    }
    
    .item.profile-bubbles {
        text-align: center;
        margin-left: -$padding-large-horizontal;
        margin-right: -$padding-large-horizontal;
        padding-bottom: 12px;
    }
    
    .circle {
    margin: 0 $padding-small-horizontal/2;
    display: inline-block;
    
    vertical-align: top;
    
    
    width: 76px;
    height: 76px;
    // max-width: 80px;
    // max-height: 80px;
    
    border: 2px solid $light;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba($action-text, 0.8);
    
    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(232,232,232,1) 100%); 
    background: -webkit-linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(232,232,232,1) 100%); 
    
    color: $positive;
    
    .miles-badge, .license-badge, .experience-badge {
        
        .lte::before {
            content: '<';
            font-size: 0.8em;
        }
        
        // override to prevent `.experience-badge>.value::after` from applying to miles badge
        span.value.lte::after {
            content: '';
            font-size: 0.8em;
        }
        
        color: $positive; // $ribbon-bg;
        font-size: 1.8em;
        line-height: 9vw;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        top: 4vw;
        
        .small {
            font-size: 0.7em;
        }
        
        .empty {
            color: $calm;
            i.ion {
                font-size: 1.1em;
            }
            
            font-size: 0.7em;
            text-transform: uppercase;
        }
        
        .label-text {
            text-transform: uppercase;
            position: absolute;
            text-align: center;
            width: 100%;
            left: 0;
            font-size: 9px;
            letter-spacing: -0.5px;
            
            &.top {
                bottom: 70%;
            }
            &.bot {
                top: 60%;
            }
        }
    }
    
    .experience-badge>.value::after {
        content: '+';
        font-size: 5vw;
        position: absolute;
        //left: -2vw;
        bottom: 2vw;
    }
    
    .equipment-logo {
        width: 100%;
        margin: 5px auto;
        text-align: center;
        
        & + .badge {
            opacity: 0.9;
            position: relative;
            bottom: 10px;
            
            // margin-right: auto;
            // margin-left: auto;
            
            right: unset;
            left: unset;
            top: unset;
            display: inline-flex;
            
            border-radius: 6px;
            font-size: 0.8em;
            line-height: 0.9em;
            max-width: 76px + 2*$button-bar-button-padding;
        }   
    }
    
    .license-badge {
        font-size: 12vw;
        font-weight: 500;
        
        top: 6vw;
        
        .label-text {
            &.bot {
                top: 6vw;
            }
        }
    }
  }
  
  .card {
      &.experience, &.equipment {
        .ion-compose {
            font-size: 1.7em;
        }
      }
  }
  
  ion-item.equipment.card.item{
      margin-top: 0px;
  }
  
  .equipment.card {
      padding-left: $padding-base-horizontal;
      
      & > div {
          display: block;
      }
      
      .hanger {
          
      margin-right: 76 + $padding-base-horizontal;
      }
      
      .circle {
          vertical-align: bottom;
          background: none;
          border: none;
          box-shadow: none;
          position: absolute;
          bottom: 0;
          bottom: $padding-base-vertical;
          right: $padding-base-horizontal;
          margin: 10px;
          display: inline-block;
          
          text-align: center;
          
          .badge {
              bottom: 0; // $padding-base-vertical;
              text-align: center;
              
              //text-align: right;
          }
      }
  }
  
  .experience.item, .equipment.item {
      padding-left: $padding-base-horizontal;
      padding-right: $padding-base-horizontal;
            
      .item-label {
            padding-top: $padding-large-vertical;
            padding-bottom: $padding-small-vertical;
          //border-bottom: 1px solid black;
          color: $tab-text;
          font-weight: 400;
          font-size: 1.15em;
          
          &:first-of-type {
            padding-top: $padding-base-vertical;
            //color: purple;
        }
      }
      
      .button-clear, .button-icon {
          color: $positive;
      }
      
      .exp-item {
        margin-left: $padding-base-horizontal;
        margin-right: $padding-base-horizontal;
        
        color: $dark;
      }
      
      .col {
          padding-left: 0;
          padding-right: 0;
          padding-top: 0;
          padding-bottom: 0;
      }
      
      .company {
          font-size: 1.0em;
          font-weight: 500;
          text-transform: uppercase;
          color: $dark;
          padding-bottom: $padding-small-vertical;
      }
      
      h4 {
          margin-bottom: $padding-base-vertical;
      }
      
      .exp-spacer {
          width: 100%;
        //   background-color: purple;
          height: 2*$padding-large-vertical;
      }
  }
}

.profile-screen.view-section {
    background: linear-gradient(rgba($tab-selected, 0.7), rgba($tab-selected, 0.7)), url('../img/semi.jpg');
    background-position-x: 50%;
    background-position-y: -115%;
}

.profile-pane {
    margin-top: $profile-header-height;
}



.header-actions {
    z-index: 3;
    
    &.right {
        right: $padding-base-horizontal;
        .button {
            margin-left: $padding-small-horizontal;
        }
    }
    &.left {
        left: $padding-base-horizontal;
        .button {
            margin-right: $padding-small-horizontal;
        }
    }
    
    position: fixed;
    top: $profile-header-height - 38px;
    
    .platform-ios & {
        top:  $profile-header-height - 38px - $ios-statusbar-height;
    }
    
    &.below {
        top: $profile-header-height + $padding-base-vertical;
        
        .platform-ios & {
            top: $profile-header-height + $padding-base-vertical - $ios-statusbar-height;
        }
        
        .button {
            border-radius: 50%;
            width: 38px;
            height: 38px;
            box-shadow: 1px 1px 10px rgba($action-text, 0.8);
            
            &.button-share, &.button-edit {
                padding-top: 3px;
            }
        }
    }
}

.profile-visual {
    text-align: center;
    z-index: 2;
    width: 100%;
    float: left;
    position: fixed;
    left: 0;
  
  .photo{
    position: relative;
    top: $padding-large-vertical; 
    background: #333 url('../img/bg-profile-default.jpg') 50% no-repeat;
  
    .platform-android & {
        top: $padding-large-vertical; 
    }
    
    .platform-ios & {
        top: $padding-large-vertical + $ios-statusbar-height;
    }
    display: inline-block;
    vertical-align: top;
    width: $photo-dimension;
    height: $photo-dimension;
    -webkit-background-size: $photo-dimension $photo-dimension;
    background-size: $photo-dimension $photo-dimension;
    background-color: 4px solid rgba($search-bar, 0.6);
    text-align: center;
    @include rounded-corner(100%);

    img{
      @include rounded-corner(100%);
      width: 100%;
      vertical-align: top;
    }
  }

  &.compact{
    position: static;
    left: auto;
    top:auto;
    right: auto;
    bottom: auto;
    height: auto;
    overflow: hidden;
    padding-top: $bar-height;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 0;
  
    .platform-ios & {
        padding-top: $bar-height + $ios-statusbar-height;
        
        .photo {
            top: 0;
        }
    }

    .photo{
      float: left;
      width: 60px;
      height: 60px;
      margin-right: 15px;
      -webkit-background-size: 60px 60px;
      background-size: 60px 60px;
      top: 0;
    }
    .text{
      color: $light;
      padding-top: 11px;
      overflow: hidden;
      text-align:left;
      
      .title {
        font-size: 1.3em;
        font-weight: 500;
        margin-bottom: 5px;
      }
      
      .profile-handle {
        font-size: 0.9em;
        font-weight: 500;
        margin-left: 5px;
      }

      em {
        color: $stable;
        font-size: 12px;
      }

    }
  }
}

.profile-handle {
  color: $energized;
}

.profile-tabs{
  position: absolute;
  top: 0;
  left: 0;
  bottom: $tabs-height;
  right: 0;
  z-index: 1;

    > .tab-nav{
      top: 0 !important;
      position: absolute;
      left: 0;
      right: 0;
      height: $tabs-height;
      background: $ribbon-bg;
      text-transform: uppercase;
      padding: 0;
      color: $secondary-text-action;

      .tab-item{
        font-weight: bold;
        font-size: $tabs-text-font-size;
        padding: ($tabs-height/2 - $tabs-text-font-size/2) 0;
        line-height: $tabs-text-font-size * $line-height-base;
        color: #999;

        &.tab-item-active{
          color: $light;
        }
      }
    }

    .tab-content{
      padding-top: 70px;
      background: #eee;

      .content-button{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 14px;
        min-height: 44px;
        border-width: 1px 0 0;

        .ico{
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
}

.reviews-list{
  .item{
    margin-bottom: 2px;

    > .ico{
      float: left;
      margin-right: 15px;
    }

    .review{
      overflow: hidden;

      .top{
        padding: 3px 0 5px;
        overflow: hidden;
        height: auto;

        .rating{
          font-size: 17px;

          li{
            float: left;

            i{color: #3b9fa1;}
          }
        }

        .time{
          float: right;
        }
      }

      .title{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0 5px;
      }
      .message{
        margin: 0 0 5px;
        display: block;
        display: -webkit-box;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
      .button-holder{
        overflow: hidden;

        button{
          float: right;
          padding: 0 25px;
          min-height: 26px;
        }
      }
    }
  }
}

.button {
    &.button-pos-tr {
        position: absolute;
        // top: 10px;
        // right: 10px;
        float: right;
        top: 0; //-4px;
        right: $padding-base-horizontal;
                // max-height: 20px;
        // min-height: 18px;
    }
}

.profile-pane {
   .view-section & .list.scroll-view {
        top: 0px;
    }
    
  .list{
    margin: 0 0;
    padding-top: 20px;
  }
  
  .experience-list .list {
      .item:last-child {
          margin-bottom: 50px;
      }
  }
  
  .experience-list {
      .item.activity.profile-activity {
          max-height: 18px;
      }
  }
  
  
  .hanger {
    
    margin-left: 1em;
    text-indent: -1em;
      
    .wrap-col {
        white-space: normal;
        
        span {
            line-height: 1.3em;
        }
    }
  }
  
  .content-pane.view-only {
      .profile-list .card {
          & > .row {
            top: 0;   
          }
      }
  }
  
//   .profile-list {
//       .card {
//          & > .row {
//               position: relative;
// 	          top: -20px;
//           }
      
//         //padding-bottom: 0!important;
      
//       }
//   }

  .scroll > :last-child {
      padding-bottom: 275px;
  }

  .profile-list, .experience-list, .activity-list {
      
      
      .row {
        margin-bottom: 0px;
        
            .row {
                margin-bottom: 10px;
            }
          
          & > div {
            // border: 1px solid purple;
            padding: 10px;
        }
      }
      
      .row.nested > div {
          padding: 0;
      }
      
      margin-left: $padding-large-horizontal;
      margin-right: $padding-large-horizontal;
      
      > .item {
        //background: none;
        padding: 10px 0 15px;
        border: none;
          
      .item-label {
          color: $tab-text;
          font-weight: 400;
          font-size: 1.15em;
      }
        .item-title {
            font-size: 1.2em;
        }
      }
      
      .list {
          padding-top: 0;
      }
      
      
      
         
        .card {
            &.has-title {
                padding-top: 0;
            }
            
            margin-left: 0;
            margin-right: 0;
            
            .item-heading {
                background-color: $gradient-bottom;
                margin-top: 0;
                padding-left: 10px;
                
                .item-title, .button {
                    color: $stable!important;
                }
            }
         }
      
      
 	  .item {
              
        .license-lbl {
            line-height: 36px;
        }
        
        .endorsements-list{
            //float: right;
            width: auto;
        }
 
        endorsements-row{
            padding-top: 0;
            line-height: 31px;
        }

        &.item-divider{
            padding: 0;
            height: 1px;
            margin-bottom: 15px;
            min-height: 0;
            background: #D2D2D2;
        }

        .item-note{
            //width: 40%;
            text-align: right;
            color: $content-body-text;
            white-space: normal;
            
            .equipment-logo {
                position: relative;

                > div {
                    margin-right: 0;
                }
                .badge{
                    top: auto;
                    bottom: -13px;
                    right: 0;
                }
            }
        }
        
        .item-loading ion-spinner svg {
            width: 48px;
            height: 48px;
        }
    }
  }
  
  .activity-list .item.activity {
      .item-label, .no-feed-items {
          text-align: center;
      }
      
      .item-label {
          color: $dark;
      }
  }    
  
}
    
.experience-list{
  .center{
    text-align: center;
  }
  
  .item {
    //background: none;
    padding: 10px 15px 3px;
    border-bottom: 1px solid #ddd;
    color: #666;
    
    .edit-btn {
      float: right;
      top: -10px;
      right: -10px;
    }
    
    .experience-heading {
        font-weight: 500;
        margin-right: 25px;
        display: flexbox;
        padding-bottom: 3px;
        
      .title {
        display: block;
        text-transform: capitalize;
        margin-bottom: 3px;
      }
      
      .company{
        display: inline-block;
        font-size: 0.85em;
        text-transform: uppercase;
        color: $positive;
      }
    }
    

    .description {
      border-top: 1px solid $stable;
      padding-top: 3px;
      
      white-space: normal;
      text-overflow: initial;
      
      display: block;
      margin-bottom: 5px;
      line-height: 1.3em;
    }
    
    .props {
      display: inline-block;
      width: 100%;
      border-top: 1px solid $stable;
      padding-top: 3px;
      
      .location {
        font-weight: 400;
        float: left;
        padding: 3px 0;
      }
      
      .time {
        padding: 3px 0;
        float: right;
        
      i {
        margin-right: 4px;
        vertical-align: text-top;
      }
      }
    }
  }
}

.endorsements-list{
  //float: right;
  //width: 50%;
  text-align: center;
  white-space: normal;

  li{
    width: 36px;
    padding: 0 0 5px 5px;
    display: inline-block;
    
    &.license {
      //border: 1px solid lighten($positive, 10%);
      font-weight: 800;
      border-radius: 50%;
      background-color: $positive;
      color: $light;
      height: 29px;
      width: 29px !important;
      text-align: center;
      padding-left: 5px;
      
      position: relative;
      top: 2px;
      left: 4px;
            
      .ltxt {
        position: relative;
        left: -2px;
        top: 6px;
      }
    }

    .ico{
      width: 31px;
      height: 31px;

      -webkit-background-size: (8994/6)+px (351)/6+px;
      background-size: (8994/6)+px (351)/6+px;

      &.ico-doubletraileractive{background-position: -239px 0;}
      &.ico-passengeractive{background-position: -(1865/2)+px -0;}
      &.ico-tankvehicleactive{background-position: -(2759/2)+px 0;}
      &.ico-hazardousmaterialsactive{background-position: -(731/2)+px 0;}
      &.ico-tankhazardousactive{background-position: -1317px 0;}
    }
  }
}

// edit screen
.edit-fields-list {
  .item {
    border-width: 0 0 1px;
    input, select {
      color: $content-body-text;
      ::-webkit-input-placeholder {
        color: #333;
      }
    }
    .holder{
      overflow: hidden;
    }
  }
}

.edit-pane {
    .focused {
        box-shadow: inset 0 0 10px $energized;
//        background-color: rgba($energized, 0.5);
    }
}

//
//.edit-pane{
//  padding-bottom: 42px;
//}

.edit-profile-types{
  .top{
    overflow: hidden;
    padding-bottom: 5px;

    .input-label{
      display: block;
      float: left;
    }
    button{
      float: right;
      border-width: 1px;
    }
  }

  input{
    background: none;
  }

  .selected-trailers{
    white-space: normal;

    li{
      display: inline-block;
      padding-right: 4px;
      padding-left: 5px;
      border-right:  1px solid #ddd;

      &:first-child{
        padding-left: 0;
      }

      &:last-child{
        border: 0;
        padding-right: 0;
      }
    }
  }
}


.profile-activity{
  >.title{
    display: block;
    font-size: 14px;
    line-height: 31px;
    font-weight: bold;
    color: #276b93;
    text-transform: uppercase;
    padding: 0 20px;
  }

  .no-feed-items{
    display: block;
    padding: 10px 20px 20px;
    font-size: 14px;
  }
  
  .item.card {
      margin-left: 1px;
      margin-right: 1px;
      background-color: $light;
  }
}

.profile-edit-list{
  .item{
    &.error{
      background: rgba(195, 113, 113, 0.12);;
    }
    .error-message{
      position: absolute;
      top: 5px;
      right: 5px;
      color: rgba(119, 6, 6, 0.5);
      font-weight: bold;
    }
    .email{
      font-size: 11px;
      line-height: 26px;
    }
  }
  .toggle-block{
    border-width: 0 0 1px;
  }
}

@media only screen
and (max-device-height : 568px) {
  .profile-visual{
    //top: 64px;
    height: 84px;

    &.compact{
      padding-top: 54px;
    }

    .photo{
      width: 94px;
      height: 94px;
      -webkit-background-size: 94px 94px;
      background-size: 94px 94px;
      border-width: 1px;
    }

    .contacts-amount{
      padding-bottom: 10px;
      padding-right: 10px;
      strong{
        font-size: 12px;
      }
      
    }
  }

  .input-label{
    font-size: 14px;
  }

  .edit-pane{
    .button.ion-log-out{
      line-height: 31px;
      max-height: 32px;

      &:before{
        font-size: 21px;
        line-height: 32px;
      }
    }
  }

  .profile-tabs{
    bottom: 59px;

    > .tab-nav{
      height: 49px;

      .tab-item{
        font-size: 12px;
        padding: 10px 0;
      }
    }

    .tab-content{
      padding-top: 50px;

      .content-button{
        font-size: 13px;
        min-height: 24px;

        .ico{
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }
  
  .content-button .button.button-block {
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
