.profile-visual{
  position: absolute;
  left: 15px;
  right: 15px;
  top:85px;
  height:84px;
  text-align: center;
  z-index: 2;

  .photo{
    display: inline-block;
    vertical-align: top;
    width: 104px;
    height: 104px;
    background: #333 url('../img/bg-profile-default.jpg') 50% no-repeat;
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
    border: 2px solid #8C8B8B;
    text-align: center;
    @include rounded-corner(100%);

    img{
      @include rounded-corner(100%);
      width: 100%;
      vertical-align: top;
    }
  }

  .contacts-amount{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;

    strong{
      vertical-align: middle;
    }
  }

  &.compact{
    position: static;
    left: auto;
    top:auto;
    right: auto;
    bottom: auto;
    height: auto;
    overflow: hidden;
    padding: 74px 20px 0;

    .photo{
      float: left;
      width: 60px;
      height: 60px;
      margin-right: 15px;
      -webkit-background-size: 60px 60px;
      background-size: 60px 60px;
    }
    .text{
      padding-top: 11px;
      overflow: hidden;
      text-align:left;

      strong,
      em{
        display: block;
        padding-bottom: 3px;
      }

      em{
        color: rgba(255,255,255,0.6);
        font-size: 12px;
      }

    }
  }

}

.profile-tabs{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 69px;
  right: 0;
  z-index: 1;

    > .tab-nav{
      top: 0 !important;
      position: absolute;
      left: 0;
      right: 0;
      height: 69px;
      background: $ribbon-bg;
      text-transform: uppercase;
      padding: 0;
      color: $secondary-text-action;

      .tab-item{
        font-weight: bold;
        font-size: 13px;
        padding: 20px 0;
        line-height: 30px;
        color: #999;

        &.tab-item-active{
          color: $white;
        }
      }
    }
    .tab-content{
      padding-top: 70px;
      padding-bottom: 42px;
      background: #eee;

      .content-button{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 14px;
        min-height: 44px;
        border-width: 1px 0 0;

        .ico{
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
}

.reviews-list{
  .item{
    margin-bottom: 2px;

    > .ico{
      float: left;
      margin-right: 15px;
    }

    .review{
      overflow: hidden;

      .top{
        padding: 5px 0;
        overflow: hidden;
        height: auto;

        .ratings{
          float: left;
          height: 12px;
          width: 72px;
          background: url('../img/bg-stars.png') 0 0 no-repeat;
          position: relative;

          &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width:0;
            background: url('../img/bg-stars.png') 0 100% no-repeat;
          }

          &[data-mark="1"]:after{width: 20%;}
          &[data-mark="2"]:after{width: 40%;}
          &[data-mark="3"]:after{width: 60%;}
          &[data-mark="4"]:after{width: 80%;}
          &[data-mark="5"]:after{width: 100%;}
        }

        .time{
          float: right;
        }
      }

      .title{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0 5px;
      }
      .message{
        margin: 0 0 5px;
        display: block;
        display: -webkit-box;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
      .button-holder{
        overflow: hidden;

        button{
          float: right;
          padding: 0 25px;
          min-height: 26px;
        }
      }
    }
  }
}

.profile-list{
  height: 100%;

  .list{
    margin: 0 20px;
    padding-top: 20px;
  }

  .item{
    background: none;
    padding: 10px 0 15px;
    border: none;

    &.endorsements-row{
      padding-top: 0;
      line-height: 31px;
    }

    &.item-divider{
      padding: 0;
      height: 1px;
      margin-bottom: 15px;
      min-height: 0;
      background: #D2D2D2;
    }

    .item-note{
      width: 40%;
      text-align: right;
      color: $content-body-text;
      white-space: normal;
    }
  }
}

.experience-list{
  .item{
    background: none;
    padding: 10px 15px 9px;
    border-bottom: 1px solid #ddd;
    font-size: 11px;
    color: #666;

    strong,
    p,
    em{
      display: block;
      padding-bottom: 5px;
    }

    strong{
      text-transform: uppercase;
    }

    p{
      font-size: 11px;
      white-space: normal;
      text-overflow: initial;
    }
    em{
      i{
        margin-right: 5px;
        vertical-align: text-top;
      }
    }
  }
}

.endorsements-list{
  float: right;
  width: 50%;
  text-align: right;
  white-space: normal;

  li{
    width: 36px;
    padding: 0 0 5px 5px;
    display: inline-block;

    .ico{
      width: 31px;
      height: 31px;
      -webkit-background-size: 1200px 1135px;
      background-size: 1200px 1135px;

      &.ico-doubletraileractive{background-position: -249px -233px;}
      &.ico-passengeractive{background-position: -815px -742px;}
      &.ico-tankvehicleactive{background-position: -1132px -1067px;}
      &.ico-hazardousmaterialsactive{background-position: -311px -295px;}
      &.ico-tankhazardousactive{background-position: -1070px -503px;}
    }
  }
}

// edit screen
.edit-fields-list {
  .item {
    border-width: 0 0 1px;
    input {
      color: $content-body-text;
      ::-webkit-input-placeholder {
        color: #333;
      }
    }
  }
}

.request-list{
  .top{
    padding-bottom: 5px;
  }
}

//
//.edit-pane{
//  padding-bottom: 42px;
//}


