.profile-visual{
  position: absolute;
  left: 15px;
  right: 15px;
  top:65px;
  height:104px;
  text-align: center;
  z-index: 2;

  .photo{
    display: inline-block;
    vertical-align: top;
    width: 104px;
    height: 104px;
    background: #333 url('../img/bg-profile-default.jpg') 50% no-repeat;
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
    border: 2px solid #8C8B8B;
    text-align: center;
    @include rounded-corner(100%);

    img{
      @include rounded-corner(100%);
      width: 100%;
      vertical-align: top;
    }
  }

  .contacts-amount{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -13px;

    strong{
      vertical-align: middle;
    }
  }
}

.profile-tabs{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 69px;
  right: 0;
  z-index: 1;

    > .tab-nav{
      top: 0;
      height: 69px;
      background: $ribbon-bg;
      text-transform: uppercase;
      padding: 20px 0;
      color: $secondary-text-action;

      .tab-item{
        font-weight: bold;
        font-size: 13px;
        line-height: 30px;
        color: #999;

        &.tab-item-active{
          color: $white;
        }
      }
    }
    .tab-content{
      padding-top: 70px;
      padding-bottom: 46px;
      background: #eee;

      .content-button{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-width: 1px 0 0;

        .ico{
          margin-right: 10px;
          vertical-align: middle;
        }
      }
    }
}

.reviews-list{
  height: 100%;

   .item > .ico{
    float: left;
    margin-right: 15px;
  }
  .review{
    overflow: hidden;

    .top{
      padding: 5px 0;
      overflow: hidden;

      .ratings{
        float: left;
        height: 12px;
        width: 72px;
        background: url('../img/bg-stars.png') 0 0 no-repeat;
        position: relative;

        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width:0;
          background: url('../img/bg-stars.png') 0 100% no-repeat;
        }

        &[data-mark="1"]:after{width: 20%;}
        &[data-mark="2"]:after{width: 40%;}
        &[data-mark="3"]:after{width: 60%;}
        &[data-mark="4"]:after{width: 80%;}
        &[data-mark="5"]:after{width: 100%;}
      }

      .time{
        float: right;
      }
    }

    .title{
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 0 5px;
    }
    .message{
      margin: 0 0 5px;
      display: block;
      display: -webkit-box;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
    .button-holder{
      overflow: hidden;

      button{
        float: right;
        padding: 0 25px;
        min-height: 26px;
      }
    }
  }
}

.profile-list{
  height: 100%;

  .list{
    border-bottom: 1px solid #999;
    margin: 0 20px;
    padding-top: 20px;
  }

  .item{
    background: none;
    padding: 10px 0 15px;
    border: none;
  }
}

.experience-list{
  height: 100%;

  .list{
    border-bottom: 1px solid #999;
    margin: 0 20px;
    padding-top: 20px;
  }

  .item{
    background: none;
    padding: 10px 0 15px;
    border: none;
  }
}
