ion-content {
  .signup-title {
    text-align: center;
    margin: 50px 0 80px;
    color:white;
  }

  .engagement-title {
    text-align: center;
    margin: 45px 0 35px 0;
    color:white;
  }

  .title {
    text-align: center;
    margin: 20px;
    color:white;
  }
}

.signup-form{
  .item {
    padding:0;
    border: 0;
    margin-bottom: 2px;
    background: $signup-entry-row-bg;
  }

  .item-input {
    padding:0;

    input{
      height: 50px;
      padding: 15px 30px;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
    }
  }


  .ng-dirty.ng-invalid {
    border-left: 5px solid red;
  }

  .ng-dirty.ng-valid {
    border:0;
  }
}

.bg-wrapper {
  width: 100%;
  height: 100%;
  .bg, .trailers-bg {
    max-width: 100%;
    min-height: 100%;
    background-size: cover;
  }
}


.avatar-wrapper{
  width:100%;
  margin: 0 0 50px;
  .avatar{
    margin:auto;
    width:75px;
  }
}



.license-content{
  padding-top: 50px;

  h4{
    color: $white;
    text-align: center;
    margin-bottom: 15px;
  }

  .license,
  .endorsements{
    text-align: center;
    margin:0 auto;
    max-width: 350px;

    .item{
      vertical-align: top;
      border: 0;
      margin-top: 0;
      text-align:left;
    }
  }
}

/*  license */
.license {
  margin: auto;
  width: 275px;

  .item-radio{
    background-color:transparent;

   .category-a,
   .category-b,
   .category-c,
   .category-a:checked ~ .item-content i,
   .category-b:checked ~ .item-content i,
   .category-c:checked ~ .item-content i{
      width: 118px;
      height: 117px;
    }

    input:checked ~ .item-content{
      background: none;
    }
    .category-a:checked ~ .item-content i{
      background-position: -746px -714px;
    }
    .category-b:checked ~ .item-content i{
      background-position: -946px -913px;
    }
    .category-c:checked ~ .item-content i{
      background-position: -1146px -1112px;
    }

    .item-content{
      background: none;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -41px 0 0 -41px;
    }

    input:checked ~ .item-content{
      position: static;
      left: auto;
      top:auto;
      margin: 0;
    }
  }


  .item{
    width: 118px;
    height: 118px;
    display: inline-block;
    vertical-align: top;
    margin: 2px -17px;
    font-size: 0;
    line-height: 0;
    /*margin:2px -25px;*/
  }

}

.checkbox-icon:before{
  background: none;
}

.endorsements{

  p{
    color: white;
    font-size: 10px;
    margin:10px 0;
    text-align:center;
    font-weight:bold;
    line-height: 12px;
  }

  .endorsements-bottom{
    width: 280px;
    margin: auto;
    .item{
      margin:0 18px;
    }
  }

  .item{
    margin: 0;
    padding: 0;
    display: inline-block;
    background: none;
    width: 100px;
    height: 130px;
  }

  .checkbox{
    position: inherit;
    vertical-align: top;
    left: 50%;
    margin: 0px -31px;
    padding: 0;

     input:checked:before,  input:checked + .checkbox-icon:before {
       background-image: url('../img/sprite3x.png');
       display: inline-block;
       vertical-align: top;
       pointer-events: none;
       -webkit-background-size: 2399px 2269px;
       background-size: 2399px 2269px;
       border-color: transparent;
       border:0;
    }

    input:before{
      background: none;
    }

    input:after{
      border:0;
    }


    input:before,  input + .checkbox-icon:before {
      background-image: url('../img/sprite3x.png');
      display: inline-block;
      vertical-align: top;
      pointer-events: none;
      -webkit-background-size: 2399px 2269px;
      background-size: 2399px 2269px;

      border-color: transparent;
      border:0;
    }

    input {
      width: 62px;
      height: 62px;
    }
  }

  .endorsement-a{

    .checkbox {
      input:checked:before, input:checked + .checkbox-icon:before {
        background-position: -498px -466px;
      }
      input:before, .checkbox-icon:before {
        background-position: -560px -528px;
      }
    }
  }

  .endorsement-b{

    .checkbox {
      input:checked:before, input:checked + .checkbox-icon:before {
        background-position: -1630px -1483px;
      }
      input:before, .checkbox-icon:before {
        background-position: -1692px -1545px;
      }
    }
  }

  .endorsement-c{
    .checkbox {
      input:checked:before, input:checked + .checkbox-icon:before {
        background-position: -2264px -2133px;
      }
      input:before, .checkbox-icon:before {
        background-position: -2326px -2195px;
      }
    }
  }

  .endorsement-d{
    .checkbox {
      input:checked:before, input:checked + .checkbox-icon:before {
        background-position: -622px -590px;
      }
      input:before, .checkbox-icon:before {
        background-position: -684px -652px;
      }
    }
  }

  .endorsement-e{

    .checkbox {
      input:checked:before, input:checked + .checkbox-icon:before {
        background-position: -2140px -2009px;
      }
      input:before, .checkbox-icon:before {
        background-position: -2202px -2071px;
      }
    }
  }

  .item {
    margin:0;
    padding: 0;
    display: inline-block;
    background: none;
    top: 50%;
    margin-top: -15px;
  }

}




/*  select truck */



.select-truck {

  .item-radio  {
    input ~ .item-content {
      background-color: $signup-entry-row-bg;
    }
    input:checked ~ .item-content {
      background-color: rgba(250,250,250, 1);
    }
  }

  .item{
    margin:1px 0;
    border: 0;
    background: none;

    p{
      position:absolute;
      color: #666;
      font-size: 22px;
      margin-bottom: 2px;
      top: 50%;
      margin-top: -15px;
    }

    .item-content{
      height:90px;

      .center-text{
        left:50%;
        margin-left: -30px;
      }
    }

    .logo {
      div{
        width: 102px;
        height: 72px;
        position: relative;
        left: 100%;
        margin-left: -50px;
        top: 50%;
        margin-top: -7px;
      }
    }
  }
}


/*  select trailer */

$but-height: 90px;

.select-trailer {
  .item-content{
    background-color: white;
    height:$but-height;
    position:relative;
    i{
      position:relative;
     /* top:-20px;*/
    }
  }

  .item{
    padding:0;
    margin:1px 0 0;
    height:$but-height;
    background-color:transparent;

    &:first-child{
      margin-top: 0;
    }

    p{
      position: absolute;
      z-index: 100;
      width: 100%;
      text-align: center;
      pointer-events: none;
      left:0;
      color:$dark;
      font-size: 22px;
      line-height: 26px;
      height:$but-height;
      padding-top:32px;
    }

    .center-text {
      top:-3px;
    }

  }

  .checkbox {
    margin:0;
    padding:0;
    right: 0;
    left: 0;
    top: 0;
    height: $but-height;

    .item-content{
      i{
        top: 50%;
        margin-top: -10px;
        left: 35px;
      }

      top: -20px;
      height: $but-height;
    }

    input:checked + .item-content{
      background-color: rgba(255, 255, 255, 0.8);
     // visibility:visible;
    }

    input + .item-content{
      background-color: $signup-entry-row-bg;
     // background: none;
     // visibility:hidden;
    }

    input:checked + .item-content i{
       visibility:visible;
    }

    input + .item-content i{
       visibility:hidden;
    }

    input:checked:before, input:checked + .checkbox-icon:before {
      background-position: -2140px -2009px;
      background:none;
      border:0;

    }
    input:before, .checkbox-icon:before {
      background-position: -2202px -2071px;
      background:none;
      border:0;
    }

    input:after, .checkbox-icon:after {
      border:0;
    }
  }

}





.signup-section{
  background: url("../img/welcomeBackground@3x.png") 0 0 no-repeat ;
  -webkit-background-size: cover;
  background-size: cover;


  .header,
  .bar,
  .pane{background: none;}

  .round-avatar{
    border-radius: 50px;
    border: 2px solid white;
    width: 75px;
    height: 75px;
  }

  input::-webkit-input-placeholder{
    color: #fff !important;
  }

  .button-other{
    background-color: $signup-entry-row-bg;
  }

  .bar{
    &.bar-subheader{
      top:50%;

      h3{
        font-weight: normal;
        color: #fff;
      }
    }
  }
}
.trailers-bg{
  background-image:url("../img/trailersBg.png");
}

.logo{
  .freightliner-logo{
    background-image:url("../img/freightliner_logo.png");
    width: 102px;
    height: 72px;
  }
  .kenworth-logo{
    background-image:url("../img/kenworth_logo.png");
    width: 102px;
    height: 72px;
  }
  .international-logo{
    background-image:url("../img/international_logo.png");
    width: 102px;
    height: 72px;
  }
  .mack-logo{
    background-image:url("../img/mack_logo.png");
    width: 102px;
    height: 72px;
  }
  .peterbilt-logo{
    background-image:url("../img/peterbilt_logo.png");
    width: 102px;
    height: 72px;
  }
  .volvo-logo{
    background-image:url("../img/volvo_logo.png");
    width: 102px;
    height: 72px;
  }
}



/* home */
.home-content{
  width: 300px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -80px;
  bottom: 0;
  overflow: auto;

  i{
    display: block;
    margin: auto;
  }

  h3{
    font: 14px Helvetica Neue, Helvetica, Arial;
    color: $white;
    font-weight: bold;
    text-align: center;
  }
}


/* login */
.login-content{
  position: absolute;
  width: 100%;
  top: 50%;
  height: 210px;
  margin-top: -125px;
  i{
    display: block;
    margin: auto;
  }

  h3{
    font: 14px Helvetica Neue, Helvetica, Arial;
    color: $white;
    font-weight: bold;
    text-align: center;
    margin:20px;
  }

  h4{
    color:red;
    text-align: center;
  }
}



/* edit avatar */
.edit-avatar {

  .cropArea {
    overflow: hidden;
    width:100%;
    height:100%;

    img-crop {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      overflow: hidden;

      canvas {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      }
    }
  }
}

.friends-screen {
  .friends-pane {
    padding-bottom: 44px;

    input {
      height: 40px;
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;
      color: white;
    }

    input::-webkit-input-placeholder {
      color:white
    }

    .search-bar{
      background-color: #76a2bd;
      .icon {
        font-size: 24px;
        padding-right: 14px;
      }
    }

    .list{
      margin-bottom: 0;
    }

    .manual-add{
      margin-top: 0;
      color: $content-body-text;
      font-size: 13px;

      .icon{
        color: #3EAEB1;
      }
    }

    .friends-list {
      .item {
        border-top: 1px solid #ddd;

        .item-content {
          display: inline-block;
          vertical-align: middle;

          strong{
            display: block;
            color: #ff8000;
          }
        }

        .button-small {
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -15px;
          padding: 0 20px;
          min-width: 100px;

          &.selected{
            background: #37afb2;
            color: #fff;
          }
        }

        > .ico{
          margin-right: 5px;
          vertical-align: middle;
        }

      }
    }

    &.user-friends-list .item .button{
      color: #31999c;
      background: #31999c;
    }

    .no-matches{
      .item-content{
        text-align: center;
        padding: 20px 0;
      }
    }

    .title {
      background-color: #2D729B;
      color: white;
      padding: 10px 16px;
      font-size: 14px;
      line-height: 20px;
    }

    .no-friends{
      padding: 10px 20px;
    }

  }
}


.friends-block{
  .scroll{
    padding: 0 30px;
  }
  .description{
    color: #fff;
    display: block;
    font-size: 13px;
    padding-bottom: 50px;
    text-align: center;
  }
  .choose-contacts-button{
    background: #3eaeb1;
    color: #fff;
    margin: 0 0 20px;
    padding: 5px 0;
    font-size: 15px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    border: 2px solid #fff;
  }
  .enter-manually-button{
    color: #fff;
  }
}

.welcome-screen{

  .pane,
  .view{
    background: #4c4c4c;
  }

  .welcome{
    background: url('../img/bg-welcome.png') no-repeat 50% 0;
    padding: 110px 30px 0;
    text-align: center;
    color: #fff;
    height: 300px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    left: 0;
  }

}
