ion-content {
  height: 100% !important;

  .signup-title {
    text-align: center;
    margin: 50px 0 80px;
    color: $dark;
  }

  .engagement-title {
    text-align: center;
    margin: 45px 0 35px 0;
    color: $dark;
  }

  .title {
    text-align: center;
    margin: 20px;
    color: $dark;
  }
}

.bg-wrapper {
  width: 100%;
  height: 100%;
  
  .bg, .trailers-bg {
    max-width: 100%;
    min-height: 100%;
    background-size: cover;
  }
}


.avatar-wrapper{
  width:100%;
  text-align: center;
  margin: 25px 0 35px;
  
  .avatar {
    cursor: pointer;
    margin:auto;
    background-color: transparent;
    border: none;
    padding: 15px;
    
    .button-clear {
      color: $light!important;
    }
    
    i.ico-photo-placeholder {
      box-shadow: 1px 1px 15px rgba($ribbon-bg, 0.8);
    }
    
    .ico.ico-photo-placeholder, img.round-avatar {
      width: 200px;
      height: 200px;
      background-size: 200px 200px;
      border: 4px solid rgba($search-bar, 0.6);
      background-color: 4px solid rgba($search-bar, 0.6);
      text-align: center;
      @include rounded-corner(100%);
    }
    
    &:active {
      i.ico-photo-placeholder {
        box-shadow: none
      }
    }
  }
}



.license-content {
  h4 {
    color: $light;
    text-align: center;
    margin-bottom: 15px;
  }

  .license, .endorsements {
    text-align: center;
    margin:0 auto;
    max-width: 350px;

    .item {
      vertical-align: top;
      border: 0;
      margin-top: 0;
      text-align:left;
    }
  }
}

/*  license */
.license {
  margin: auto;
  width: 275px;
  
  .oset-cb-item {
    background-color:transparent;
    width: 118px;
    height: 118px;
    display: inline-block;
    vertical-align: top;
    margin: 2px -17px;
    font-size: 0;
    line-height: 0;
      
    .item-content {
      background: none;
      position: static;
      left: auto;
      top:auto;
      margin: 0;
      padding: 14px;
    }
      
    &.active {
      z-index: 100;
      
      .item-content {
        padding: 0;
      }
    }     
  }
}

i.checkbox-icon:before {
  background: none;
}

i.checkbox-icon {
  @include vertical-align();
}

.signup-list {
  .list {
    margin-left: 12vw;
    margin-right: 12vw;
  }

  .item {
    background-color: transparent;
    color: $stable;
  }
}


.endorsements {
  p {
    color: $dark;
    margin:10px 0;
    text-align:center;
  }

  .endorsements-bottom {
    width: 280px;
    margin: auto;
    
    .item{
      margin:0 18px;
    }
  }

  .item {
    margin: 0;
    padding: 0;
    display: inline-block;
    background: none;
    width: 100px;
    height: 130px;
  }

  .special {
    height: 64px;
    width: 64px;
  }

  .checkbox {
    position: inherit;
    vertical-align: top;
    left: 50%;
    margin: 0px -31px;
    padding: 0;

    input:checked:before,  input:checked + .checkbox-icon:before {
      background-image: url('../img/sprite.png');
      display: inline-block;
      vertical-align: top;
      pointer-events: none;
      -webkit-background-size: (8994/3)+px (351)/3+px;
      background-size: (8994/3)+px (351)/3+px;
      border-color: transparent;
      border:0;
    }

    input:before {
      background: none;
    }

    input:after {
      border: 0;
    }

    input:before,  input + .checkbox-icon:before {
      background-image: url('../img/sprite.png');
      display: inline-block;
      vertical-align: top;
      pointer-events: none;
      -webkit-background-size: (8994/3)+px (351)/3+px;
      background-size: (8994/3)+px (351)/3+px;
      border-color: transparent;
      border:0;
    }

    input {
      width: 62px;
      height: 62px;
    }
  }

  .endorsement-a{ 
    .checkbox {
      input:checked:before, input:checked + .checkbox-icon:before {
        background-position: -478px 0;
      }
      
      input:before, .checkbox-icon:before {
        background-position: -540px 0;
      }
    }
  }

  .endorsement-b {
    .checkbox {
      input:checked:before, input:checked + .checkbox-icon:before {
        background-position: -1867px 0;
      }
      
      input:before, .checkbox-icon:before {
        background-position: -1929px 0;
      }
    }
  }

  .endorsement-c {
    .checkbox {
      input:checked:before, input:checked + .checkbox-icon:before {
        background-position: -2759px 0;
      }
      
      input:before, .checkbox-icon:before {
        background-position: -2822px 0;
      }
    }
  }

  .endorsement-d {
    .checkbox {
      input:checked:before, input:checked + .checkbox-icon:before {
        background-position: -731px 0;
      }
      
      input:before, .checkbox-icon:before {
        background-position: -793px 0;
      }
    }
  }

  .endorsement-e {
    .checkbox {
      input:checked:before, input:checked + .checkbox-icon:before {
        background-position: -2634px 0;
      }
      
      input:before, .checkbox-icon:before {
        background-position: -2696px 0;
      }
    }
  }

  .item {
    margin:0;
    padding: 0;
    display: inline-block;
    background: none;
    top: 50%;
    margin-top: -15px;
  }
}

/*  select truck */
$logo-native-height: 72px;
$logo-native-width: 102px;
$logo-inline-zoom: ($button-signup-height - ($padding-small-vertical)) / $logo-native-height;

.select-truck, .select-trailer {
  .item-radio {
    input ~ .radio-content {
      &  > .item-content {
        background-color: $signup-entry-row-inactive-bg; // $signup-entry-row-bg;
        font-weight: 400;
      }
    }
    
    input:checked ~ .radio-content, &.active {                
      & > .item-content {
        font-weight: 500;
        background-color: $balanced; 
        
        p {
          color: $light; 
        }
      }

      & > .radio-icon {
        display: none;
      }
    }
  }
  
  .item-checkbox {
    height: $button-signup-height;
    top: 0;
    margin-top: 0;
          
    &  > .item-content {
      background-color: $signup-entry-row-inactive-bg; // $signup-entry-row-bg;
      font-weight: 400;
      padding: $padding-large-horizontal;
    }
      
    .ico.ico-checkboxselected, .icon.ion-checkmark {
      display: none;
      position: absolute;
      right: 15px;
      margin-left: -50px;
      top: 50%;
      margin-top: -11px;
    }
    
    &.active { 
      & > .item-content {
        font-weight: 500; 
        background-color: $balanced; 
        
        p { 
          color: $light;
        }
      }
      
      .icon.ion-checkmark {
        color: $light;
        font-size: 1.7em;
      }

      .ico.ico-checkboxselected, .icon.ion-checkmark {
        display: inline-block;
      }
    }
  }   

  .item, .item-checkbox {
    padding: 0;
    margin: 2vw $list-side-gutter-width;
    border: 0;
    border-radius: $border-radius-large;
    
    &.active {
      box-shadow: 1px 1px 10px rgba($action-text, 0.8);
    }

    .item-content {
      height:$button-signup-height;

      .center-text{
        left:50%;
        margin-left: -30px;
      }
      
      p {
        position:absolute;
        color: $dark;
        font-size: 22px;
        top: 0;
        margin: 0;
        line-height: $button-signup-height;
      }
    }

    .logo {
      zoom: $logo-inline-zoom;
      width: 102px;
      height: 72px;
      position: absolute;
      right: 15px;
      margin-left: -50px;
      top: 50%;
      margin-top: -36px;
    }
  }
}


/*  select trailer */

$but-height: 70px;

.toggle-content {
  .content-body {      
    @include vertical-align(20%);
  }
  
  .list.toggle {     
    max-width: 510px;
    
    .toggle-item {
      width: 23vw;
      height: 23vw;
      min-width: $button-circle-diameter;
      min-height: $button-circle-diameter;
      max-width: 120px;
      max-height: 120px;
      margin: 2vw;
      display: inline-block;
      vertical-align: middle;
      border: $button-circle-border-width solid darken($action-text, 2%);
      border-radius: 50%;
      background-color: $signup-entry-row-inactive-bg;
      
      &.selected {
        border: $button-circle-border-width solid $light;
        box-shadow: 1px 1px 10px rgba($action-text, 0.8);        
        background-color: $balanced;  
        transform: scale(1.1);        
        
        .title-val {
          color: $light;
          font-size: 1.2em;
          font-weight: 500;
        }
        
        .outer-label {
          transform: scale(0.91) translateY(-2vw);
        }
      }
      
      .outer-label {
        position: absolute;
        top: 23vw;
      }
      
      .title-val {
        color: $dark;        
        position: relative;
        line-height: calc(22vw);
        left: 0;
        width: 100%;
        
        @media only screen and (min-device-width : 420px) {
          & {
            line-height: 120px;
            font-size: 1.2em;
          }
        }         
        
        &.gte::after {
          content: '+';
          font-size: 0.8em;
          right: -8px;
          top: 0;
          line-height: 10px;
        }
        
        &.lte::before {
          content: '<';
          font-size: 0.8em;
          left: -8px;
        }
      }
    
      .label-text {
        text-transform: uppercase;
        position: absolute;
        text-align: center;
        width: 100%;
        left: 0;
        font-size: 9px;
        letter-spacing: -0.5px;
        
        &.top {
          bottom: 70%;
        }
        
        &.bot {
          top: 60%;
        }
      }
      
      &.years-item {
        .title-val {
          top: -4px;
          font-size: 1.2em;
        }
      }
      
      &.license-class-item {  
          &.selected {
            font-size: 1.4em;
          }
          
        .title-val {
          font-size: 3em;
          
          &.gte::after {
              content: none;
          }
        }
      }
      
      &.endorsement {
        margin-bottom: 80px;
        
        div {
          width: 100%;
          height: 100%;
          
          i {
            position: absolute; 
            left: 50%;
            top: 50%;
            margin-left: -25px;
            margin-top: -25px;
          }
        }  
          
        p {
          margin-left: -8px;
          margin-right: -8px;
        }
              
        @media only screen and (max-device-width : 320px) {
          & {
            margin-bottom: 45px;
            
            p {
                font-size: 0.9em;
            }
          }
        }        
      }
      
      &.yes-no-item .title-val {
        font-size: 1.2em;
        
        &::before, &::after {
          display: none;
        }
      }
    }
  }
}

progress {  
  &::-webkit-progress-value {
    background-color: $progress-green;
    border-radius: $border-radius-base 0 0 $border-radius-base;
  }
  
  &, &::-webkit-progress-bar {
    background-color:  $signup-entry-row-inactive-bg; //rgba($signup-entry-row-bg, 0.4);
    border-radius: $border-radius-base;
  }
}

.signup-section {
  .header, .bar, .pane { 
    background: none;
  }
  
  .bar-header .button.button-icon {
    color: $positive;
  }
  
  .bar-subheader h3 {
    color: $dark;  
  }
  
  .bar-footer {
    .button.button-block {
      margin-left: $padding-base-horizontal+$padding-small-horizontal;
      margin-right: $padding-base-horizontal+$padding-small-horizontal;
      font-size: $font-size-base;
    }
    
    .sub-button-progress {
      text-align: center;
      position: absolute;
      left: 0;
      bottom: $button-bar-button-height + 2*$padding-large-vertical;
      width: 100%;
      padding: 0 $padding-base-horizontal+$padding-small-horizontal;
      
      .progress-bar {
        margin-top: $padding-small-vertical;
      }
    }
  }
  
  .progress {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  
  .description, .progress {
      padding: $padding-base-vertical ($padding-base-horizontal+$padding-small-horizontal);
      text-align: center;
          
      .item {
        background-color: transparent;
      }
      
      p {
        color: $dark;
        margin: $padding-large-vertical 0;
        font-size: $font-size-base;
        line-height: $line-height-base;
      }
      
      .progress-bar {
        margin-top: $padding-large-vertical;
        margin-bottom: $padding-small-vertical;
      }
      
      .progress-label {
        margin-top: 0;
        margin-bottom: $padding-large-vertical;
      }
  }
  
    .has-progress-footer {
      max-height: calc(100vh - 80px - 116px);
        
      & + .progress {
          bottom: 0;
      }
    }
  
  
  .button {
    border-radius: $border-radius-large;
  }

  .toggle-block {
    padding: 10px 30px;
    border: 0;
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: 2px;

    .label {
      color: $light;
      padding: 0;
      line-height: 30px;
      font-weight: bold;
      font-size: $font-size-base;
    }
    
    .button-bar .button {
      font-weight: 500;
      color: $light;
      
      &.active{
        color: $button-light-text;
        background: $light;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      } 
    }
  }

  .signup-form { 
    background-color: transparent;  

    .item {
      border: 1px solid $brand-blue;
      border-radius: $border-radius-base;
      margin: $padding-base-vertical $padding-base-horizontal;
      
      .label {
        background: $light;
      }
    }

    .item-input {
      .icon {
        color: $brand-blue;
        font-size: 26px;   
        position: relative;
        left: -9px;
      }
      
      .icon.validation-icon {
        font-size: 20px;
        color: $danger;
        right: 5px;
        left: unset;
        display: none;
      }
      
      input {
        color: $dark;
        padding-right: $padding-small-horizontal;
      }
    }

    &.ng-submitted {
      .ng-invalid.ng-dirty, .ng-invalid.ng-invalid-required {
        & + .validation-icon {
          display: block;
          color: $danger;
        }
      }

      .ng-valid {
        & + .validation-icon {
            display: none;
        }
      }
    }

    .ng-invalid-required, .ng-invalid-email {
      &.ng-touched {
        & + .validation-icon {
          display: block;
          color: $danger;
        }
      }
    } 
  }
}

.trailers-bg {
  background-image:url("../img/trailersBg.png");
}

.logo {  
  .freightliner-logo {
    @include truck-company-logo("../img/freightliner_logo.png");
  }
  
  .kenworth-logo { 
    @include truck-company-logo("../img/kenworth_logo.png");
  }
  
  .international-logo {
    @include truck-company-logo("../img/international_logo.png");
  }
  
  .mack-logo {
    @include truck-company-logo("../img/mack_logo.png");
  }
  
  .peterbilt-logo {
    @include truck-company-logo("../img/peterbilt_logo.png");
  }
  
  .volvo-logo {
    @include truck-company-logo("../img/volvo_logo.png");
  }
}

/* home */
.home-content {
  text-align: center;
  padding-top: 20%;
}

.home-slide-box {
  width: 100vw;
  
  .slider-slides {
    display: block;
    
    .slider-slide {
      overflow: auto;
      text-align: center;
      padding-bottom: 20px;
      padding-left: 10vw;
      padding-right: 10vw;
      
      div {
        overflow: auto;
        height: 100%;
      }
      
      h3 {
        font-size: 18px;
        color: $dark;
        font-weight: 300;
        text-align: center;
        line-height: 1.5em;
      }
    }
  }
  
  .slider-pager {
    top: initial;
    bottom: 0;
    
    .slider-pager-page {
      color: $dark;
    }
  }
}

.register-content {
  text-align: center;
  padding-top: 15px;
}

/* login */
.login-content{
  position: absolute;
  width: 100%;
  min-height: 210px;

  i {
    display: block;
    margin: auto;
  }
}
  .error {
    margin: $button-block-margin;
    padding: $padding-large-vertical $padding-base-horizontal;
    text-align: center;
    font-size: $font-size-base;
    background-color: $item-assertive-bg;
    color: $item-assertive-text;
    border: 1px solid $item-assertive-border;
    border-radius: $border-radius-small;
  }

/* edit avatar */
.edit-avatar {
  ion-pane {
    background-color: white;
  }
  
  .bar-header {
    background-color: $tab-selected;
    
    .button-icon, h1 {
      color: white;
    }
  }
  
  .bar-subheader.title {
    padding: 5px;
  }

  .cropArea {
    overflow: hidden;
    width:100%;
    height:100%;

    img-crop {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      overflow: hidden;

      canvas {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      }
    }
  }
}

.friends-screen {
  .friends-pane {
    padding-bottom: 44px;
    background-color: $stable;
    
    &.scroll-content {
      padding-top: 0;
    }

    input {
      height: 40px;
      width: 100%;
      font-size: $font-size-base;
      font-weight: bold;
      line-height: $line-height-computed;
      color: $light;
    }

    input::-webkit-input-placeholder {
      color: $light;
    }

    .search-bar {
      background-color: $search-bar;
      
      .icon {
        font-size: 24px;
        padding-right: 14px;
      }
    }

    .list {
      margin-bottom: 0;
    }

    .manual-add {
      margin-top: 0;
      color: $content-body-text;
      font-size: 13px;

      .icon {
        color: $balanced;
      }
    }

    .friends-list {
      .item {
        border-top: 1px solid #ddd;

        .item-content {
          display: inline-block;
          width: 100%;
          vertical-align: middle;
          text-transform: capitalize;

          &.has-button-offset{
            padding-right: 135px;
          }

          strong {
            display: block;
            color: $energized;
          }
        }

        .button-small {          
          color: $balanced;
          border-color: $balanced;
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -15px;
          min-width: 100px;
          max-width: 115px; 
          @include list-button;

          &.selected {
            background: #37afb2;
            color: $light;
          }
        }

        > .ico, img:first-child {
          margin-right: 5px;
          vertical-align: middle;
        }

        img:first-child {
          top: 50%;
          left: 15px;
          max-width: 25px;
          max-height: 25px;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      &.request-list .item .button {
        min-width: 50px;

        &.button-clear {
          border-width: 0;
          color: #d2d2d2;
          right: 105px;
          min-width: 30px;
          padding: 0;
        }
      }

      &.user-friends-list .item .button {
        color: $balanced;
        border-color: $balanced;
      }
    }

    .no-matches .item-content{
      text-align: center;
      padding: 20px 0;               
    }

    .title, .item.item-divider {
      background-color: $gradient-bottom;
      color: $light;
      padding: 10px 16px;
      font-size: $font-size-base;
      line-height: $line-height-computed;
    }

    .no-friends {
      padding: 10px 20px;
    }
  }
}

.intro-block {
  .image-holder {
    width: 100%;
    text-align: center;
    display: block;
    
    i {
      text-align: center;
      color: $light;
      font-size: 20em;
      font-weight: light;

      &.pic {
        $pscale: calc(100vw / 414px);
        transform: scale($pscale);
        width: 100vw;
      }

      &.icon {
        display: block;
      }
    }
  }
  
  &.scroll-content {
    .description p:last-child {
      margin-bottom: $bar-midsize-height; 
    }
  }  
}

.friends-block {
  .scroll {
    padding: 0 30px;
  }
  
  .image-holder {
    text-align: center;
    margin: auto;
    
    i {
      text-align: center;
      color: $light;
      display: block;
      font-size: 20em;
      font-weight: light;
    }
  }
  
  .description {
    color: $light;
    display: block;
    font-size: $font-size-base;
    line-height: $line-height-base;
    padding-bottom: 50px;
    text-align: center;
  }
  
  .choose-contacts-button {
    background: $balanced;
    color: $light;
    margin: 0 0 20px;
    padding: 5px 0;
    font-size: $font-size-large;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    border: 2px solid $light;
  }
  
  .enter-manually-button {
    color: $light;
  }
}

.welcome-screen { 
  background: none;

  .pane, .view {
    background: rgba(76,76,76,0.8);
  }

  .welcome {  
    padding: 0 25px;
    text-align: center;
    height: 300px;
    margin-top: -163px;
    position: absolute;
    top: 50%;
    left: 0;
    
    p {
      font-size: 1.4em;
      line-height: 1.2em;
    }
    
    h3, p {
      color: $light;
    }
  }
}


@media only screen and (max-device-height : 568px) {
  .signup-section {
    .button-other {
      background-color: $signup-entry-row-bg;
    }

    .bar.bar-subheader h3 {
      font-weight: normal; 
    }

    &.full-size { 
      .bar .bar-subheader{
        top:120px;
      }
    }

    .toggle-block {
      .label {
        line-height: 16px;
      }
    }

    .avatar-wrapper {
      margin: 10px 0;
    }

    .login-content {
      .app-logo {
        width: 130px;
        min-height: 146px;
        -webkit-background-size: 130px 146px;
        background-size: 130px 146px;
      }

      h3 {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    .signup-form .item-input input {
      height: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
