<section>
    <p ng-if="!vm.field.isObject && !vm.field.isArray && !vm.field.isDate" type="{{vm.field.ngType}}"
       class="form-control-static">
        {{(vm.model[vm.field.name] | titleCase) || 'not specified'}}
    </p>

    <p ng-if="vm.field.isDate"
       class="form-control-static">
        {{(vm.model[vm.field.name] | isoDatePrint) || '--'}}</p>

    <div ng-if="vm.field.isArray">
        <div ng-if="!vm.model[vm.field.name] || !vm.model[vm.field.name].length"><p
                class="text-muted">none specified</p></div>
        <div ng-repeat="(i,arrayItem) in vm.model[vm.field.name]">
            <div ng-repeat="df1 in vm.field.dataFields" class="well">
                <div class="col-xs-12" style="vertical-align: baseline;">
                    <label class="pull-left">{{df1.description}} #{{i+1}}</label>
                </div>
                <hr/>

                <div ng-repeat="df2 in df1.dataFields" ng-init="$ai = $index"
                     class="form-group">
                    <label class="col-sm-3 control-label">{{df2.description}}</label>

                    <div class="col-sm-8"
                         ng-class="{'text-muted': !vm.model[vm.field.name][i][df2.name]}">

                        <p ng-if="!df2.isDate" class="form-control-static">
                            {{(vm.model[vm.field.name][i][df2.name] | titleCase) || '--'}}</p>

                        <p ng-if="df2.isDate" class="form-control-static">
                            {{(vm.model[vm.field.name][i][df2.name] | isoDatePrint) || '--'}}
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="well" ng-if="vm.field.isObject">
        <div ng-repeat="dataField in vm.field.dataFields" class="form-group">
            <label class="col-sm-3 control-label"
                   data-ng-class="{'optional':!dataField.required}">{{dataField.description}}</label>

            <div class="col-sm-8"
                 ng-class="{'text-muted': !vm.model[vm.field.name][dataField.name]}">
                <p ng-if="!dataField.isDate" type="{{vm.field.ngType}}"
                   class="form-control-static">{{(vm.model[vm.field.name][dataField.name] |
                    titleCase) || '--'}}</p>

                <p ng-if="dataField.isDate" type="{{vm.field.ngType}}"
                   class="form-control-static">{{(vm.model[vm.field.name][dataField.name] |
                    isoDatePrint) || '--'}}</p>
                <pre ng-if="vm.debugMode">{{vm.model[vm.field.name][dataField.name]}}</pre>
            </div>
        </div>
    </div>
</section>
