
    <fieldset ng-class="{'text-muted': vm.disabled || vm.ispay}">

        <accordion ng-if="vm.debug">
            <accordion-group heading="View Model @ Form-Entry Directive Level">
                <pre>{{vm.model | prettyPrint}}</pre>
            </accordion-group>
        </accordion>


        <div class="form-group" ng-repeat="field in vm.fields"
             ng-class="{'has-error': (vm.form[field.name].$invalid || vm.form['hidden_'+field.name].$invalid) && (vm.form.$submitted || vm.form[field.name].$touched)}">
            <label class="col-sm-3 control-label"
                   data-ng-class="{'optional':!field.required}">
                {{field.description | titleCase}} </label>

            <input type="hidden" ng-model="vm.model[field.name]" name="hidden_{{field.name}}"
                   ng-required="field.required"
                   ng-maxlength="field.ngMaxLength || field.length"/>

            <div class="col-sm-9 col-md-8">
                <form-input field="field" ng-hide="vm.readOnly" model="vm.model"></form-input>
                <form-input field="field" ng-show="vm.readOnly" model="vm.model" mode="static"></form-input>
            </div>

            <div ng-if="vm.debug" class="visible-md visible-lg col-md-1">
                <span class="{{!!vm.form[field.name].$invalid ? 'text-danger' : 'text-muted'}}"><i class="fa fa-check"></i></span>
                <span class="{{!!vm.form['hidden_' + field.name].$invalid ? 'text-danger' : 'text-muted'}}"><i class="fa fa-check-circle-o"></i></span>
                <span class="{{!!vm.form[field.name].$touched ? 'text-success' : 'text-muted'}}"><i class="fa fa-hand-o-down"></i></span>
                <span class="{{!!vm.form.$submitted ? 'text-success' : 'text-muted'}}"><i class="fa fa-forward"></i></span>
            </div>
        </div>
    </fieldset>
