<ion-view>

   <div class="bg-wrapper">
        <div class="bg">
        </div>
     </div>

    <ion-nav-bar>
        <ion-nav-back-button>Back</ion-nav-back-button>
    </ion-nav-bar>

    <ion-header-bar align-title="center" class="bar bar-header bar-light">
        <h1 class="title">Create Account</h1>
    </ion-header-bar>


    <ion-content>
        <form name="mainForm" id="mainForm" class="list sign-up" ng-submit="continue()" role="form" novalidate >
        <p class="signup-title">Create your outset account below</p>

            <label class="item item-input">
                <input id="firstName" name="firstName" type="text" placeholder="First Name" ng-model="vm.user.firstName" required>
                <!--<span ng-show="mainForm.firstName.$dirty && mainForm.firstName.$error.required" class="help-block">
                    First name is required
                </span>-->
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name"  ng-model="user.lastName" required>
            </label>
            <label class="item item-input">
                <input type="email" name="email" placeholder="Email" ng-model="user.email" required>
                    <!--<p ng-show="mainForm.email.$dirty && mainForm.email.$error.required" class="help-block">
                    Email is required
                     </p>-->

               <!-- <div ng-show="mainForm.email.$dirty && mainForm.email.$error.required">Required: Tell us your email address</div>
                <div ng-show="mainForm.email.$dirty && mainForm.email.$error.email">Invalid: This is not a valid email address</div>-->
            </label>

            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password"  required>
            </label>
            <label class="item item-input item-ass">
                <input  name="confirmPassword" type="password" placeholder="Confirm Password" ng-model="user.confirmPassword" compare-to="user.password" required  >
            </label>
           <br>
           <br>
           <br>


        <p>user: {{ user }}</p>
        <p>valid:  {{ mainForm.$invalid }}</p>



        </form>




    </ion-content>

    <p>valid!!!:  {{ mainForm.$invalid }}</p>
    <!-- class="bar bar-footer bar-light submit-btn"-->


    <ion-footer-bar class="bar-light">
        <button class="submit-btn" ng-disabled="mainForm.$invalid" form="mainForm"  type="submit" >
            <p>valid:  {{ mainForm.$invalid }}</p>
        </button>
    </ion-footer-bar>

</ion-view>
