<section name="os-driver.directive" class="panel panel-default">
    <div class="panel-heading">
        <h4>About Me<a data-ng-if="vm.canEdit" class="btn btn-link pull-right"
                       ui-sref="drivers.edit({driverId: vm.driver._id })">edit driver profile
            <i class="fa fa-pencil-square-o"></i>
        </a></h4>
    </div>

    <div class="panel-body">
        <div data-ng-bind-html="vm.driver.about"></div>
    </div>

    <div class="panel-heading" ng-show="vm.driver.experience.length > 0">
        <h4>Experience:</h4>
    </div>
    <div class="panel-body" ng-repeat="exp in vm.driver.experience | orderBy : exp.time.end">

        <p><strong>{{exp.title}}</strong><br>{{exp.location}}<span class="text-muted pull-right" ng-bind="vm.getDateRangeString(exp.startDate, exp.endDate)"></span></p>

        <p>{{exp.description | limitTo : 1000}}</p>
        <hr ng-hide="$last"/>

        <p ng-hide="!!vm.driver.experience.length">None Added</p>
    </div>

    <div class="panel-heading" ng-show="vm.driver.interests.length > 0">
        <h4>Interests</h4>
    </div>
    <div class="panel-body text-center">
        <oset-categories model="vm.driver.interests" mode="view">
             <span ng-if="vm.canEdit">You can specify what kind of jobs you are interested in finding by <a
                     ui-sref="drivers.edit({driverId: vm.driver._id})">editing your driver profile</a>!</span>
            <span ng-if="!vm.canEdit">{{vm.driver.displayName}} has not yet entered any job type preferences or interests.</span></span>
        </oset-categories>

    </div>

    <div class="panel-heading">License</div>
    <div class="panel-body">

        <div ng-repeat="license in vm.driver.licenses" class="license">

            <p>
                <i class="fa fa-credit-card"></i> &nbsp;{{license.state.name}}<span
                    ng-if="license.type"><span ng-if="license.rating"> Class {{license.rating | uppercase }}</span> {{license.type}}</span>
                Driver License
                <span class="pull-right">
                    <span class="strong">Endorsements: </span>

                    <oset-list-endorsements model="vm.license.endorsements"></oset-list-endorsements>
                </span>
            </p>

        </div>
        <p ng-show="!vm.driver.licenses || vm.driver.licenses.length <= 0">No License on File</p>
    </div>

    <os-view-schedule data-ng-if="false" model="vm.driver.schedule"></os-view-schedule>
</section>
