<section name="os-driver.directive">

    <!--<a data-ng-if="vm.canEdit" class="btn btn-link pull-right"
                       ui-sref="drivers.edit({driverId: vm.driver._id })">edit driver profile
            <i class="fa fa-pencil-square-o"></i>
    </a>-->
    <div class="pnl-info portfolio">
        <div class="pnl-heading">
            <span class="title">MY PORTFOLIO</span>
            <a href="" class="icon" tooltip="securely share your documents">
               <i class="fa fa-share-square-o"></i>
            </a>
        </div>

        <div class="panel-body">
            <oset-document-list model="vm.driver" display-mode="inline"></oset-document-list>
        </div>

        <div id="portfolio-carousel" class="carousel" data-ride="carousel">

        </div>
    </div>

    <div class="pnl-info">
        <div class="pnl-heading">
            <span class="title" ng-show="vm.driver.experience.length > 0">
                EXPERIENCE
            </span>
        </div>
        <div class="panel-body" ng-switch="!!(vm.driver.experience.length)">
            <oset-experience-list ng-switch-when="true"
                                  list="vm.driver.experience" view-only="true" max-ct="5">

            </oset-experience-list>

            <p class="text-center" ng-switch-default>None Added</p>
        </div>
    </div>
    
    <div class="pnl-info">
        <div class="pnl-heading">
            <span class="title">
                About Me
            </span>
        </div>
        <div class="panel-body">
            <span class="about" data-ng-bind-html="vm.driver.about"></span>
        </div>
    </div>

    <div class="pnl-info">
        <div class="pnl-heading">
            <span class="title">
                Interests
            </span>
        </div>
        <div class="panel-body text-center">
            <oset-categories model="vm.driver.interests" mode="view">
                 <span ng-if="vm.canEdit">You can specify what kind of jobs you are interested in finding by <a
                         ui-sref="drivers.edit({driverId: vm.driver._id})">editing your driver profile</a>!</span>
                <span ng-if="!vm.canEdit">{{vm.driver.displayName}} has not yet entered any job type preferences or interests.</span></span>
            </oset-categories>
        </div>
    </div>
    

    <os-view-schedule data-ng-if="false" model="vm.driver.schedule"></os-view-schedule>
</section>
