<!--<os-profile-header model="vm.profile" can-edit="vm.canEdit"></os-profile-header>-->

<div>
    <div class="panel panel-oset" tooltip="{{vm.profile | prettyPrint}}">
        <div class="panel-header">Profile</div>
        <div class="panel-body">
            <os-driver-view data-ng-if="vm.profile" model="vm.profile"></os-driver-view>
        </div>
    </div>
    
    

    <button type="button" class="btn btn-cta btn-cta-primary center-block"
            ui-sref="drivers.create"
            data-ng-show="vm.canEdit">
        Create Your Driver Profile
    </button>
</div>