<section name="os-driver-inline.directive">

    <div class="col-md-2 text-center">
        <img ng-src="{{vm.driver.user.profileImageURL}}" class="img-thumbnail user-profile-picture" />
    </div>

    <!-- Driver Inline Template Begin -->

    <div class="col-md-10">
        <os-page-header title="{{vm.driver.user.displayName}}" level="h3">
            Member Since <span data-ng-bind="vm.driver.user.created | date:'mediumDate'"></span>
        </os-page-header>

        <div class="row col-sm-12">
            <div data-ng-bind-html="vm.driver.about"></div>

            <div class="col-sm-4">
                <label>Experience:</label>
                <div ng-repeat="exp in vm.driver.experience">
                    {{exp.title || 'Job'}} - {{exp.time.start | date: 'shortDate'}} to {{exp.time.end | date: 'shortDate'}}
                    <span ng-hide="$last">,&nbsp;</span>
                    <p ng-hide="vm.driver.experience && vm.driver.experience.length > 0">None Added</p>
                </div>
            </div>

            <div class="col-sm-4">
                <label>Location:</label>
                <span class="text-danger">TODO: Directivize</span>
                <ul><small>
                <li ng-show="vm.driver.user.addresses.length > 0" ng-repeat="address in vm.driver.user.addresses">
                    <strong>{{address.type}}</strong> {{address.city}}, {{address.state}} {{address.zipCode}}
                    <br ng-hide="$last"/>
                </li></small></ul>

                <p ng-hide="vm.driver.user.addresses && vm.driver.user.addresses.length > 0">No Address on File</p>
            </div>

            <div class="col-sm-4">
                <label>Licenses</label>
                <div ng-repeat="license in vm.driver.licenses">

                    <p>
                        <i class="fa fa-credit-card"></i> &nbsp;{{license.state}}<span ng-if="license.type"> {{license.type}}</span> Driver License
                        <span ng-if="license.rating">: Class {{license.rating}}</span>

                        <oset-list-endorsements model="vm.license.endorsements"></oset-list-endorsements>
                    </p>

                </div>
                <p ng-show="vm.driver.licenses.length === 0">No License on File</p>
            </div>

        </div>
    </div>
</section>
