<section name="experience-list.client.template">
    <div class="row profile-row">
        <div class="col-sm-12" ng-switch="!!(vm.models && vm.models.length > 0)" ng-form="vm.experienceForm">

            <oset-experience-item data-ng-repeat="exp in vm.models | limitTo: vm.maxCt"
                                  model="exp" is-last="$last" ng-switch-when="true"
                                  view-only="vm.viewOnly" can-edit="vm.canEdit" edit-mode="exp.isFresh && vm.isEditing"
                                  add-fn="vm.add" drop-fn="vm.drop" is-last="$last">
            </oset-experience-item>

            <div class="text-center" ng-switch-default>
                <button type="button" class="btn btn-oset-primary" ng-click="vm.add()">
                    <i class="fa fa-plus-circle" style="padding-right: 10px;"></i> Add Experience
                </button>
            </div>

            <p class="text-center" ng-if="vm.models.length > vm.maxCt">
                <button type="button" class="btn btn-oset-link" ng-click="(vm.maxCt = vm.maxCt+5);">view more ...
                </button>
            </p>

        </div>
    </div>
</section>
