<section class="experience">

    <!--Form When Editing is Active-->

    <div ng-form="{{'experienceItem_' +vm.modelIndex}}" ng-init="vm.activate()"
         class="edit form-horizontal" ng-show="vm.isEditing"
         ng-if="!vm.viewOnly">

        <div class="row" ng-show="vm.formItem.$invalid && (vm.formItem.$submitted || vm.formItem._submitted)">
            <div class="panel panel-danger mgn-btm col-md-8 col-md-offset-2">
                <div class="text-danger text-center mgn-vert">
                    {{vm.error || 'Please fill in required fields and correct errors'}}
                </div>
            </div>
        </div>

        <div class="row mgn-vert"
             ng-class="{'has-error':(vm.formItem.title.$invalid || vm.formItem['hidden_title'].$invalid) && (vm.formItem.$submitted || vm.formItem._submitted || vm.formItem.title.$touched)}">
            <label class="col-sm-2 control-label">Job Title</label>

            <div class="controls col-sm-9 controls">
                <input type="text" name="title" data-ng-model="vm.model.title" class="form-control"
                       placeholder="your title at this position"
                       ng-required="true"/>
            </div>
        </div>

        <div class="row mgn-vert"
             ng-class="{'has-error':(vm.formItem.description.$invalid || vm.formItem['hidden_description'].$invalid) && (vm.formItem.$submitted || vm.formItem._submitted || vm.formItem.description.$touched)}">
            <label class="col-sm-2 control-label">About</label>

            <div class="controls col-sm-9 controls">
                <textarea name="description" class="form-control" data-ng-model="vm.model.description"
                          rows="3" ng-required="true" placeholder="describe your experience"></textarea>
                <!--<textarea os-html-edit model="vm.model.description"></textarea>-->
            </div>
        </div>

        <div class="row mgn-vert">
            <label class="col-sm-2 control-label"
                   ng-class="{'has-error':(vm.formItem.time_start.$invalid || vm.formItem['hidden_time_start'].$invalid) && vm.formItem.$submitted || vm.formItem._submitted}">
                Time Period
            </label>

            <div class="col-sm-9 form-inline">
                <div class="col-sm-5 input-group"
                     ng-class="{'has-error':(vm.formItem.time_start.$invalid || vm.formItem['hidden_time_start'].$invalid) && (vm.formItem.$submitted || vm.formItem._submitted || vm.formItem.time_start.$touched)}">
                    <div class="input-group-addon">{{ 'start' | titleCase }}</div>
                    <date-input class="form-control" model="vm.model.startDate" os-name="time_start"
                                dformat="MM/DD/YYYY"></date-input>

                    <input type="hidden" ng-model="vm.model.startDate" ng-required="vm.isRequired"
                           name="hidden_time_start">
                </div>

                <div class="col-sm-5 input-group"
                     ng-class="{'has-error':(vm.formItem.time_end.$invalid || vm.formItem['hidden_time_end'].$invalid) && (vm.formItem.$submitted || vm.formItem._submitted || vm.formItem.time_end.$touched)}">
                    <div class="input-group-addon">{{ 'end' | titleCase }}</div>

                    <date-input class="form-control" model="vm.model.endDate" os-name="time_end"></date-input>
                    <input type="hidden" ng-model="vm.model.endDate" ng-required="vm.isRequired"
                           name="hidden_time_end">

                </div>
            </div>
        </div>

        <div class="row mgn-vert"
             ng-class="{'has-error':(vm.formItem.location.$invalid || vm.formItem['hidden_location'].$invalid) && (vm.formItem.$submitted || vm.formItem._submitted || vm.formItem.location.$touched)}">
            <label class="col-sm-2 control-label">Location</label>

            <div class="col-md-9 controls">
                <input type="text" data-ng-model="vm.model.location" class="form-control"
                       placeholder="where was this job?"
                       ng-required="true" name="location"/>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-sm-11">
                <div class="pull-right">
                    <button type="button" class="btn btn-link" ng-click="vm.cancel($event)">
                        cancel
                    </button>

                    <button type="button" class="btn btn-oset-primary" ng-click="vm.save('save')">
                        <i class="fa fa-check-circle" style="padding-right: 10px;"></i>save
                    </button>

                    <button type="button" class="btn btn-oset-primary" ng-click="vm.save('add')" ng-if="!!vm.addFn">
                        <i class="fa fa-plus-circle" style="padding-right: 10px;"></i> add another
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Display when Item is not Editing-->

    <section class="experience view col-xs-12" ng-hide="vm.isEditing" ng-switch="vm.confirmDelete"
             ng-class="{'last':vm.isLast && !vm.canEdit, 'expanded': vm.model.expanded}"
             ng-click="vm.model.expanded = !vm.model.expanded">
        <div class="top-header row">
            <div class="col-sm-12">
                <strong class="top-title">
                    {{vm.model.title}}
                </strong>
            </div>
            <div class="col-sm-12">
                <span class="location">
                    {{vm.model.location}}
                </span>
                <span class="work-time pull-right"
                      ng-bind="vm.getDateRangeString(vm.model.startDate, vm.model.endDate)">
                </span>
            </div>

        </div>

        <div class="row animated">
            <div class="pnl-body col-sm-12" ng-show="vm.model.expanded || vm.canEdit">
                <p>
                    <span ng-bind-html="vm.model.description"></span>
                </p>
            </div>

            <div class="col-sm-12 text-center">
                <a class="text-center more-details text-oset" ng-show="!vm.canEdit">
                    <span class="fa-stack fa">
                      <i ng-hide="!!vm.model.expanded" class="fa fa-circle-thin fa-stack-2x"></i>
                      <i class="fa {{ !!vm.model.expanded ? 'fa-chevron-up' : 'fa-chevron-down'}} fa-stack-1x"></i>
                    </span>
                </a>
            </div>
        </div>


        <p class="pnl-controls" ng-if="vm.canEdit">
            &nbsp;
            <span class="pull-right">
                <span class="text-danger" ng-switch-when="true">
                    Are you sure you wish to delete this experience item?
                    <button type="button" class="btn btn-oset-link btn-oset-danger"
                            ng-click="vm.drop(vm.model)">
                        YES
                    </button>
                    <button type="button" class="btn btn-oset-link btn-oset-danger"
                            ng-click="vm.confirmDelete = false;">
                        NO
                    </button>
                </span>

                <span ng-switch-default>
                    <button type="button" class="btn btn-oset-link"
                            ng-click="vm.confirmDelete = true;">
                        <i class="fa fa-trash"></i>delete
                    </button>

                    <button type="button" class="btn btn-oset-link" ng-click="vm.edit()">
                        <i class="fa fa-pencil"></i>edit
                    </button>
                </span>
            </span>
        </p>
        <div class="circle"></div>
    </section>
    <div class="pull-right" data-ng-show="vm.isLast && !vm.isEditing && vm.canEdit">
        <button type="button" class="btn btn-oset-primary" ng-click="vm.push()" ng-if="!!vm.push">
            <i class="fa fa-plus-circle" style="padding-right: 10px;"></i> add
        </button>
    </div>

</section>
