<section class="experience">

    <ng-form name="vm.experienceForm" ng-init="vm.activate()" class="edit form-horizontal" ng-show="vm.isEditing"
             ng-if="!vm.viewOnly">

        <div class="row" ng-show="vm.experienceForm.$invalid && (vm.experienceForm.$submitted)">
            <div class="panel panel-danger mgn-btm col-md-8 col-md-offset-2">
                <div class="text-danger text-center mgn-vert">
                    {{vm.error || 'Please fill in required fields and correct errors'}}
                </div>
            </div>
        </div>

        <div class="row mgn-vert"
             ng-class="{'has-error':(vm.experienceForm.title.$invalid || vm.experienceForm['hidden_title'].$invalid) && (vm.experienceForm.$submitted || vm.experienceForm.title.$touched)}">
            <label class="col-sm-2 control-label">Job Title</label>

            <div class="controls col-sm-9 controls">
                <input type="text" name="title" data-ng-model="vm.model.title" class="form-control"
                       placeholder="your title at this position"
                       ng-required="true"/>
            </div>
        </div>

        <div class="row mgn-vert"
             ng-class="{'has-error':(vm.experienceForm.description.$invalid || vm.experienceForm['hidden_description'].$invalid) && (vm.experienceForm.$submitted || vm.experienceForm.description.$touched)}">
            <label class="col-sm-2 control-label">About</label>

            <div class="controls col-sm-9 controls">
                <textarea name="description" class="form-control" data-ng-model="vm.model.description"
                          rows="3" ng-required="true" placeholder="describe your experience"></textarea>
                <!--<textarea os-html-edit model="vm.model.description"></textarea>-->
            </div>
        </div>

        <div class="row mgn-vert">
            <label class="col-sm-2 control-label"
                   ng-class="{'has-error':(vm.experienceForm.time_start.$invalid || vm.experienceForm['hidden_time_start'].$invalid) && vm.experienceForm.$submitted}">
                Time Period
            </label>

            <div class="col-sm-9 form-inline">
                <div class="col-sm-5 input-group"
                     ng-class="{'has-error':(vm.experienceForm.time_start.$invalid || vm.experienceForm['hidden_time_start'].$invalid) && (vm.experienceForm.$submitted || vm.experienceForm.time_start.$touched)}">
                    <div class="input-group-addon">{{ 'start' | titleCase }}</div>
                    <date-input class="form-control" model="vm.model.startDate" os-name="time_start"
                                dformat="MM/DD/YYYY"></date-input>

                    <input type="hidden" ng-model="vm.model.startDate" ng-required="vm.isRequired"
                           name="hidden_time_start">
                </div>

                <div class="col-sm-5 input-group"
                     ng-class="{'has-error':(vm.experienceForm.time_end.$invalid || vm.experienceForm['hidden_time_end'].$invalid) && (vm.experienceForm.$submitted || vm.experienceForm.time_end.$touched)}">
                    <div class="input-group-addon">{{ 'end' | titleCase }}</div>

                    <date-input class="form-control" model="vm.model.endDate" os-name="time_end"></date-input>
                    <input type="hidden" ng-model="vm.model.endDate" ng-required="vm.isRequired"
                           name="hidden_time_end">

                </div>
            </div>
        </div>

        <div class="row mgn-vert"
             ng-class="{'has-error':(vm.experienceForm.location.$invalid || vm.experienceForm['hidden_location'].$invalid) && (vm.experienceForm.$submitted || vm.experienceForm.location.$touched)}">
            <label class="col-sm-2 control-label">Location</label>

            <div class="col-md-9 controls">
                <input type="text" data-ng-model="vm.model.location" class="form-control"
                       placeholder="where was this job?"
                       ng-required="true" name="location"/>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-sm-11">
                <div class="pull-right">
                    <button type="button" class="btn btn-link" ng-click="vm.cancel($event)">
                        cancel
                    </button>

                    <button type="button" class="btn btn-oset-primary" ng-click="vm.save('save')">
                        <i class="fa fa-check-circle" style="padding-right: 10px;"></i>save
                    </button>

                    <button type="button" class="btn btn-oset-primary" ng-click="vm.save('add')" ng-if="!!vm.addFn">
                        <i class="fa fa-plus-circle" style="padding-right: 10px;"></i> add another
                    </button>
                </div>
            </div>
        </div>
    </ng-form>

    <section class="experience view col-xs-12" ng-hide="vm.isEditing" ng-switch="vm.confirmDelete"
             ng-class="{'last':vm.isLast && !vm.canEdit}">
        <p class="top-header">
            <strong>
                {{vm.model.title}}
            </strong>
            <small class="pull-right">
                {{vm.model.location}}
            </small>
        </p>

        <p class="sub-header" ng-class="{'no-mgn-btm': !vm.canEdit && !vm.model.expanded}">
            <small>
                <span ng-show="!vm.canEdit"
                      ng-click="vm.model.expanded = !vm.model.expanded"
                      class="pull-left pointer text-oset">
                    <i class="fa" ng-class="{'fa-caret-right': !vm.model.expanded, 'fa-caret-down': !!vm.model.expanded}"></i>
                    {{ !!vm.model.expanded ? 'hide' : 'show details...'}}
                </span>
                &nbsp;
                <span class="text-muted pull-right"
                      ng-bind="vm.getDateRangeString(vm.model.startDate, vm.model.endDate)">

                </span>
            </small>
        </p>

        <p class="pnl-body" ng-show="vm.model.expanded || vm.canEdit">{{vm.model.description}}</p>

        <p class="pnl-controls" ng-if="vm.canEdit">
            &nbsp;
            <span class="pull-right">
                <span class="text-danger" ng-switch-when="true">
                    Are you sure you wish to delete this experience item?
                    <button type="button" class="btn btn-oset-link btn-oset-danger"
                            ng-click="vm.drop(vm.model)">
                        YES
                    </button>
                    <button type="button" class="btn btn-oset-link btn-oset-danger"
                            ng-click="vm.confirmDelete = false;">
                        NO
                    </button>
                </span>

                <span ng-switch-default>
                    <button type="button" class="btn btn-oset-link"
                            ng-click="vm.confirmDelete = true;">
                        <i class="fa fa-trash"></i>delete
                    </button>

                    <button type="button" class="btn btn-oset-link" ng-click="vm.edit()">
                        <i class="fa fa-pencil"></i>edit
                    </button>
                </span>
            </span>
        </p>

    </section>
    <div class="pull-right" data-ng-show="vm.isLast && !vm.isEditing && vm.canEdit">
        <button type="button" class="btn btn-oset-primary" ng-click="vm.push()" ng-if="!!vm.push">
            <i class="fa fa-plus-circle" style="padding-right: 10px;"></i> add
        </button>
    </div>
</section>
