
    <div class="search input-group add-on">
        <input type="text" class="form-control" placeholder="Search" name="srch-term">
        <div class="icon">
            <div class="search-icon"></div>
        </div>
    </div>
    <div class="panel panel-oset">
        <h3 class="text-center">My Sidebar</h3>
    </div>
    <div class="check-wrapper">
        <os-bg-check-summary user="vm.user"></os-bg-check-summary>
    </div>

    <div class="panel panel-oset">
        <div class="map-wrapper">
            <!--<img src="modules/drivers/img/map.png">-->
            <os-map-location addresses="vm.profile.addresses"></os-map-location>
        </div>
    </div>
    <div class="panel panel-oset">
        <div class="panel-header"><h3>Friends</h3></div>
        <div class="news">
            
            <div class="news-item" ng-repeat="friend in vm.friends"
                ui-sref="users.view({userId: friend.id})">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="img">
                            <img ng-src="{{friend.profileImageURL}}" />
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="news-info" uib-tooltip="{{friend | prettyPrint}}">
                            <div class="news-head">
                                <span class="name" ng-bind-html="friend.displayName"></span>
                                <span class="news-desc">is a friend</span>
                            </div>
                            <div class="news-desc">
                                ID: {{friend.id}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="news-item" ng-show="!!vm.friends && vm.friends.length === 0">
                <div class="row"><div class="col-sm-12">No Friends :( {{vm.friends.length}} )</div></div>
            </div>
            
            
        </div>
    </div>

    <div class="panel panel-oset" ng-if="vm.profile.id === vm.user.id">
        <div class="panel-heading text-center">
            <h3 class="no-mgn" ng-hide="vm.profile.reports['resume']">Add your Resume</h3>

            <h3 class="no-mgn" ng-show="vm.profile.reports['resume']">Your Resume</h3>
        </div>
        <div class="panel-body no-pad-top" ng-hide="!!vm.profile.reports['resume']">
            <p class="text-center">

            <div class="report-badges uploader pull-right text-center">
                            <span class="fa-stack fa-3x report-badge" uib-tooltip="Resume">
                                <i class="fa fa-file fa-stack-2x"></i>
                                <i class="fa fa-question fa-1x"></i>
                            </span>
            </div>
            In addition to your profile, uploading a resume will help employers see why you are the best fit
            for the job.
            </p>


            <oset-file-upload mode="resume" hide-icon="true" auto-upload="true"
                              model="vm.profile.reports['resume']" model-id="vm.profile._id"
                              allow-blank="true"></oset-file-upload>
        </div>
        <div class="panel-body no-pad-top" ng-show="!!vm.profile.reports['resume']">
            <p class="text-center">

            <div class="report-badges uploader pull-right text-center">
                            <span class="fa-stack fa-3x report-badge available" uib-tooltip="Resume">
                                <i class="fa fa-file-o fa-stack-2x"></i>
                                <i class="fa fa-check fa-1x"></i>
                            </span>
            </div>
            Thanks for uploading your resume! It will be included with your job applications,
            and only available to employers after connecting with you.<br>

            <div class="btn-group btn-group-justified" role="group"
                 ng-hide="vm.resumeLoading || vm.resumeError">
                <div class="btn-group" role="group">

                    <oset-file-upload mode="resume" hide-icon="true" auto-upload="true"
                                      model="vm.profile.reports['resume']" model-id="vm.profile._id"
                                      upload-btn-class="btn-link" upload-btn-text="update"
                                      allow-blank="true"></oset-file-upload>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-link" ng-click="vm.openResumeFile()">
                        view <i class="fa fa-external-link mgn-left"></i>
                    </button>
                </div>
            </div>
            <div class="text-center" ng-show="vm.resumeLoading">
                <i class="fa fa-spinner fa-spin"></i> loading
            </div>
            <div class="text-center text-danger stronger" ng-show="vm.resumeError">
                <i class="fa fa-close fa-lg mgn-right" ng-click="vm.resumeError = null"></i> {{vm.resumeError
                || 'sorry, we were unable to load your resume at this time'}}
            </div>
            </p>


        </div>
    </div>
