html {
  background-color: #ffffff;
  background-image: url(../images/home-page-background.jpg);
  background-repeat: repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
  margin-top: 0 !important;
}
#absolute-wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto;
  height: 1px;
}
#absolute-wrapper .brand {
  background: rgba(0, 0, 0, 0);
  width: 147px;
  height: 49px;
  position: absolute;
  top: -124px;
  left: -10px;
}
#absolute-wrapper li.li-1 {
  width: 50px;
  height: 42px;
  position: absolute;
  top: 842px;
  left: -80px;
}
#absolute-wrapper .container-fluid {
  background: #0e2d4c;
  padding: 30px 20px 30px 20px;
  width: 940px;
  height: 108px;
  position: absolute;
  top: 878px;
  left: 0px;
}
#absolute-wrapper .navbar {
  height: 42px;
}
#absolute-wrapper .navbar .navbar-inner {
  background: #0e2d4c;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
}
#absolute-wrapper .navbar .responsive-container .nav-collapse.collapse .nav li a {
  text-shadow: none;
}
#absolute-wrapper p {
  font-family:"museo-sans";
  font-weight: 300;
  color: #ffffff;
  line-height: 36px;
}
#absolute-wrapper .nav.nav-1 {
  margin: 0px;
}
#absolute-wrapper .nav.nav-1 li a {
  font-family:"museo-sans";
  text-align: center;
  color: #cccccc;
}
.navbar.navbar-1 {
  height: 67px;
}
.navbar.navbar-1 .navbar-inner {
  background: #0e2d4c;
  border: none;
  border-radius: 0px;
  height: 67px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar.navbar-1 .navbar-inner .nav li a {
  padding: 20px 15px 10px 15px;
  text-shadow: none;
  font-family:"museo-sans";
  font-size: 17px;
  color: #ffffff;
  line-height: 40px;
}
.container .heading.heading-1 {
  font-family:"alternate-gothic-no-2-d";
}
.container .heading.heading-2 {
  font-weight: normal;
}
.container .heading {
  text-align: center;
}
.container .heading.heading-3 {
  color: #ffffff;
}
.container .heading.heading-4 {
  font-family:"museo-sans";
  font-size: 29px;
  color: #0e2d4c;
}
.container .heading.heading-5 {
  padding: 80px 0px 0px 0px;
  text-shadow: 1px 1px 1px #000000;
  font-size: 100px;
  line-height: 64px;
}
.container .image.image-1 {
  opacity: 0.5;
}
.container .image.image-2 {
  -moz-box-shadow: 1px 1px 2px 0px #000000;
  -webkit-box-shadow: 1px 1px 2px 0px #000000;
  -o-box-shadow: 1px 1px 2px 0px #000000;
  box-shadow: 1px 1px 2px 0px #000000;
}
.container .heading-1.heading-2.heading-3.heading-6 {
  text-shadow: 1px 1px 2px #000000;
  font-size: 50px;
  margin: 15px 0px 10px 0px;
}
.container .row-fluid.row-fluid-1 {
  padding: 10px 0px 0px 0px;
}
.container .row-fluid-1 .span6 .btn-success {
  background: #5475b6;
  background-image: -moz-linear-gradient(270deg, #5475b6 0%, #0f34a2 100%);
  background-image: -webkit-linear-gradient(270deg, #5475b6 0%, #0f34a2 100%);
  background-image: -o-linear-gradient(270deg, #5475b6 0%, #0f34a2 100%);
  background-image: linear-gradient(180deg, #5475b6 0%, #0f34a2 100%);
  font-family:"alternate-gothic-no-2-d";
  font-size: 40px;
  padding: 25px 60px 25px 60px;
  margin-top: 80px;
}
.container .heading-3.heading-7 {
  text-shadow: 0px 1px 2px #000000;
}
.container .row-fluid.row-fluid-2 {
  padding: 30px 0px 0px 0px;
}
.container .row-fluid-2 .span4 p {
  font-family:"museo-sans";
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  color: #0e2d4c;
}
.container .row-fluid-2 .span4 .image.image-3 {
  opacity: 0.8;
}