<section class="row" data-ng-init="init()">
    <div ng-include="'modules/dashboard/views/templates/dashboard-header.client.template.html'"></div>
    <section class="container opaque-bg">
        profile.client.view.html {{title}}
        <div class="page-header col-md-12">
            <span class="h2 pull-left" data-ng-show="profileOnly">{{profile.displayName}}</span>
            <span class="h2 pull-left" data-ng-hide="profileOnly">Your
                <span class="text-capitalize">{{ profile.type }}</span>&nbsp;profile
                <small>{{ profile.email }}</small>
            </span>
            <div class="pull-right" style="margin-top: 20px">
                <div class="col-md-12 text-right">Member Since {{ profile.created | date:'longDate' }}</div>
                <small class="col-md-12 text-right">Logged in via {{ profile.provider }} auth</small>
            </div>
        </div>

        <div class="col-xs-offset-0 col-xs-4 col-md-8">
            <fieldset>
                <!-- Begin include of primary User Information Display -->
                <os-profile profile="profile"></os-profile>

                <!-- Begin include of Driver Information Display -->
                <div ng-show="profile.type === 'driver'" ng-include="'modules/drivers/views/templates/drivers-list.client.template.html'"></div>

                <!-- Begin include of Company Information Display -->
                <div ng-show="profile.type === 'owner'" ng-include="'modules/companies/views/templates/company-list.client.template.html'"></div>

            </fieldset>
        </div>

        <div class="well well-sm col-md-4">
            <div ng-include="'modules/users/views/templates/addons.client.template.html'"></div>
        </div>
    </section>
</section>
