html {
  background-color: #457393;
  background-image: url(../images/dashboard-template-background.jpg);
  background-repeat: repeat;
  background-position: top center;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
  margin-top: 0 !important;
}
#absolute-wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto;
  height: 1px;
}
#absolute-wrapper .brand {
  background: rgba(0, 0, 0, 0);
  width: 147px;
  height: 49px;
  position: absolute;
  top: -124px;
  left: -10px;
}
#absolute-wrapper .badge {
  width: 36px;
  height: 14px;
  position: absolute;
  top: 606px;
  left: -387px;
}
.container {
  background: rgba(255, 255, 255, 0);
}
.container .center-block {
  margin: 20px 0px 20px 0px;
  width: 780px;
}
.container .center-block .span4 .well {
  background: rgba(245, 245, 245, 0.808594);
  padding: 10px 0px 0px 0px;
  border: 1px solid #000000;
  margin: 0px;
  height: 234px;
}
.container .row-fluid .span6.span6-1 {
  padding: 0px 0px 20px 0px;
}