 body {
   padding-left: 0;
   padding-right: 0;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .brand {
   background: rgba(0, 0, 0, 0);
   width: 147px;
   height: 49px;
   position: absolute;
   top: -124px;
   left: -10px;
 }
 #absolute-wrapper .badge {
   width: 36px;
   height: 14px;
   position: absolute;
   top: 606px;
   left: -387px;
 }
 .navbar {
   height: 78px;
 }
 .navbar .navbar-inner {
   background: #0e2d4c;
   border: none;
   border-radius: 0px;
   height: 78px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .navbar .navbar-inner .nav li a {
   padding: 20px 15px 10px 15px;
   font-family:"museo-sans";
   color: #ffffff;
   line-height: 40px;
   text-shadow: none;
 }
 .navbar .navbar-inner .nav li a .icon.icon-comments-alt {
   font-size: 31px;
   color: rgba(255, 255, 255, 0.796875);
   margin: -5px 0px 0px 0px;
   height: 31px;
   width: 39px;
 }
 .navbar .navbar-inner .nav li a .icon.icon-cog {
   font-size: 28px;
   color: rgba(255, 255, 255, 0.75);
   margin: -5px 0px 0px 0px;
   height: 28px;
   width: 33px;
 }
 .navbar .navbar-inner .image {
   margin: 15px 0px 0px 0px;
 }
 .container-fluid.container-fluid-1 {
   background: rgba(255, 255, 255, 0);
   padding: 0px 10px 10px 10px;
 }
 .container-fluid-1 .well.well-1 {
   border-radius: 0px;
 }
 .container-fluid-1 .well.well-2 {
   border: none;
 }
 .container-fluid-1 .well.well-3 {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
 }
 .container-fluid-1 .well.well-4 {
   background: rgba(14, 45, 76, 0.308594);
 }
 .container-fluid-1 .well.well-5 {
   padding: 20px 0px 5px 0px;
 }
 .container-fluid-1 .well.well-6 {
   -moz-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   -webkit-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   -o-box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   box-shadow: 0px 1px 2px 0px #000000, inset 0px 1px 1px 0px rgba(0, 0, 0, 0.046875);
   padding: 10px;
 }
 .container-fluid-1 .well.well-7 {
   padding: 0px;
   margin: 0px -10px 0px -10px;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 {
   margin: 0px -10px 0px 0px;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 .easel-inserted-link .heading {
   margin: 0px;
   font-family:"museo-sans";
   font-size: 32px;
   text-align: center;
   line-height: 40px;
   color: rgba(255, 255, 255, 0.488281);
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 .easel-inserted-link .row-fluid .span4 p {
   margin: 0px;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 .easel-inserted-link .row-fluid .span4 .badge {
   font-family:"museo-sans";
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 .easel-inserted-link .row-fluid .span4 .badge.badge-1 {
   background: rgba(255, 0, 0, 0.769531);
   margin: 5px 0px 0px 0px;
   text-align: center;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 .easel-inserted-link .row-fluid .span4 .badge-important {
   font-weight: normal;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 .easel-inserted-link .row-fluid .span4 p.p-1 {
   text-align: right;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-3.well-4.well-5.well-8 {
   margin: 0px -11px 0px -11px;
   border-top: none;
   border-bottom: none;
   border-right: 1px solid rgba(14, 45, 76, 0.179688);
   border-left: 1px solid rgba(14, 45, 76, 0.179688);
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-3.well-4.well-5.well-8 .easel-inserted-link .heading {
   margin: 0px;
   font-family:"museo-sans";
   text-align: center;
   color: rgba(255, 255, 255, 0.476562);
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-3.well-4.well-5.well-8 .easel-inserted-link .row-fluid .span3 p {
   margin: 0px;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-3.well-4.well-5.well-8 .easel-inserted-link .row-fluid .span6 .badge-important {
   font-weight: normal;
   font-family:"museo-sans";
   text-align: center;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-3.well-4.well-5.well-8 .easel-inserted-link .row-fluid .span3 p.p-2 {
   text-align: right;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-5.well-9 {
   background: #0e2d4c;
   margin: 0px 0px 0px -10px;
   -moz-box-shadow: 0px 1px 2px 0px #000000;
   -webkit-box-shadow: 0px 1px 2px 0px #000000;
   -o-box-shadow: 0px 1px 2px 0px #000000;
   box-shadow: 0px 1px 2px 0px #000000;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-5.well-9 .heading {
   margin: 0px;
   font-family:"museo-sans";
   font-size: 32px;
   text-align: center;
   line-height: 40px;
   color: #ffffff;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-5.well-9 .row-fluid .span4 p {
   margin: 0px;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-5.well-9 .row-fluid .span4 .badge-important {
   font-weight: normal;
   font-family:"museo-sans";
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-5.well-9 .row-fluid .span4 p.p-3 {
   text-align: right;
 }
 .container-fluid-1 .row-fluid.row-fluid-1 {
   margin: 10px 0px 0px 0px;
 }
 .container-fluid-1 .row-fluid-1 .span12 .btn-success {
   background: #62c462;
   background-image: -moz-linear-gradient(270deg, #62c462 0%, #51a351 100%);
   background-image: -webkit-linear-gradient(270deg, #62c462 0%, #51a351 100%);
   background-image: -o-linear-gradient(270deg, #62c462 0%, #51a351 100%);
   background-image: linear-gradient(180deg, #62c462 0%, #51a351 100%);
   font-family:"museo-sans";
 }
 .container-fluid-1 .row-fluid-1 .span12 .heading {
   font-family:"museo-sans";
   text-align: right;
   color: #0e2d4c;
   margin: 0px;
 }
 .container-fluid-1 .row-fluid .span12.span12-1 {
   padding: 0px 0px 10px 0px;
 }
 .container-fluid-1 .row-fluid .span12-1 .heading {
   margin: 0px 0px 10px 0px;
   font-family:"museo-sans";
   font-size: 24px;
   text-align: center;
   color: #0e2d4c;
 }
 .container-fluid-1 .well.well-6 .badge-warning {
   margin: 0px 0px 5px 0px;
   font-family:"museo-sans";
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span2 .heading {
   font-family:"museo-sans";
   color: #0e2d4c;
   text-align: center;
   font-size: 16px;
   margin: 0px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span2 .heading .easel-inserted-link .icon.icon-comments {
   font-size: 26px;
   height: 26px;
   width: 31px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span9 .heading {
   margin: 0px;
   font-family:"museo-sans";
   font-weight: normal;
   color: #0e2d4c;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span3 .btn-primary {
   background: #0088cc;
   background-image: -moz-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: -webkit-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: -o-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: linear-gradient(180deg, #0088cc 0%, #0044cc 100%);
   font-family:"museo-sans";
   border: none;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span3 p {
   font-family:"museo-sans";
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span3 p.p-4 {
   font-weight: bold;
   color: rgba(14, 45, 76, 0.476562);
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span3 p.p-5 {
   font-size: 10px;
   color: #0e2d4c;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span3 p.p-6 {
   margin: 5px 0px 10px 5px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span3 p.p-7 {
   margin: 5px 0px 10px 0px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span9 p {
   font-family:"museo-sans";
   font-weight: bold;
   color: rgba(14, 45, 76, 0.476562);
   font-size: 10px;
   margin: 0px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 p.p-8 {
   font-family:"museo-sans";
   color: #0e2d4c;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 p.p-9 {
   margin: 0px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 p.p-10 {
   margin: 5px 0px 10px 0px;
   font-weight: bold;
   font-size: 10px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span4 .icon.icon-map-marker {
   font-size: 22px;
   color: #f4821c;
   margin: 5px 0px 0px 0px;
   height: 22px;
   width: 23px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span2 .easel-inserted-link .image {
   height: 30px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span3 .icon.icon-credit-card {
   font-size: 19px;
   margin: 5px 0px 0px 0px;
   color: #0e2d4c;
   height: 25px;
   width: 19px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span3 .icon.icon-time {
   font-size: 24px;
   color: #0e2d4c;
   margin: 5px 0px 0px 0px;
   height: 24px;
   width: 24px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .btn-primary.btn-primary-1 {
   background: #0088cc;
   background-image: -moz-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: -webkit-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: -o-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: linear-gradient(180deg, #0088cc 0%, #0044cc 100%);
   font-family:"museo-sans";
   border: none;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span2 .easel-inserted-link .heading .icon.icon-comments {
   font-size: 26px;
   height: 26px;
   width: 31px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span12 .row-fluid .span10 .row-fluid .span2 .image.image-1 {
   height: 30px;
 }
 .container-fluid.container-fluid-2 {
   background: #ffffff;
   padding: 30px 20px 30px 20px;
 }
 .container-fluid-2 .container .row-fluid .span12 .pull-left p {
   font-weight: 300;
   color: #ffffff;
   line-height: 36px;
 }
 .container-fluid-2 .container .row-fluid .span12 .nav {
   margin: 0px;
 }
 .container-fluid-2 .container .row-fluid .span12 .nav li a {
   text-align: center;
   color: #cccccc;
 }