 body {
   padding-left: 0;
   padding-right: 0;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 980px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .brand {
   background: rgba(0, 0, 0, 0);
   width: 147px;
   height: 49px;
   position: absolute;
   top: -124px;
   left: -10px;
 }
 #absolute-wrapper .badge {
   width: 36px;
   height: 14px;
   position: absolute;
   top: 606px;
   left: -387px;
 }
 .navbar {
   height: 78px;
 }
 .navbar .navbar-inner {
   background: #0e2d4c;
   border: none;
   border-radius: 0;
   height: 78px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .navbar .navbar-inner .nav li a {
   padding: 20px 15px 10px 15px;
   font-family:"museo-sans";
   color: #ffffff;
   line-height: 40px;
   text-shadow: none;
 }
 .navbar .navbar-inner .nav li a .icon.icon-comments-alt {
   font-size: 31px;
   color: rgba(255, 255, 255, 0.796875);
   margin: 0;
   height: 31px;
   width: 39px;
 }
 .navbar .navbar-inner .nav li a .icon.icon-cog {
   font-size: 28px;
   color: rgba(255, 255, 255, 0.75);
   margin: -5px 0 0 0;
   height: 28px;
   width: 33px;
 }
 .navbar .navbar-inner .image {
   margin: 15px 0 0 0;
 }
 .container-fluid.container-fluid-1 {
   background: rgba(255, 255, 255, 0);
   padding: 0 10px 10px 10px;
 }
 .container-fluid-1 .well.well-1 {
   border-radius: 0;
 }
 .container-fluid-1 .well.well-2 {
   border: none;
 }
 .container-fluid-1 .well.well-3 {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   -o-box-shadow: none;
   box-shadow: none;
 }
 .container-fluid-1 .well.well-4 {
   padding: 20px 0 5px 0;
 }
 .container-fluid-1 .well.well-5 {
   background: rgba(14, 45, 76, 0.296875);
 }
 .container-fluid-1 .well.well-6 {
   -moz-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   -webkit-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   -o-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   padding: 10px;
 }
 .container-fluid-1 .well.well-7 {
   padding: 0;
   margin: 0 -10px 20px -10px;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-4.well-8 {
   background: #0e2d4c;
   margin: 0 -10px 0 0;
   -moz-box-shadow: 0 1px 2px 0 #000000;
   -webkit-box-shadow: 0 1px 2px 0 #000000;
   -o-box-shadow: 0 1px 2px 0 #000000;
   box-shadow: 0 1px 2px 0 #000000;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-4.well-8 .heading {
   margin: 0;
   font-family:"museo-sans";
   font-size: 32px;
   text-align: center;
   line-height: 40px;
   color: #ffffff;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-4.well-8 .row-fluid .span4 p {
   margin: 0;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-4.well-8 .row-fluid .span4 .badge {
   font-family:"museo-sans";
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-4.well-8 .row-fluid .span4 .badge.badge-1 {
   background: rgba(255, 0, 0, 0.769531);
   margin: 5px 0 0 0;
   text-align: center;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-4.well-8 .row-fluid .span4 .badge-important {
   font-weight: normal;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-4.well-8 .row-fluid .span4 p.p-1 {
   text-align: right;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-3.well-4.well-5.well-9 {
   margin: 0 -11px 0 -11px;
   border-top: none;
   border-bottom: none;
   border-right: 1px solid rgba(14, 45, 76, 0.179688);
   border-left: 1px solid rgba(14, 45, 76, 0.179688);
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-3.well-4.well-5.well-9 .easel-inserted-link .heading {
   margin: 0;
   font-family:"museo-sans";
   text-align: center;
   color: rgba(255, 255, 255, 0.484375);
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-3.well-4.well-5.well-9 .easel-inserted-link .row-fluid .span3 p {
   margin: 0;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-3.well-4.well-5.well-9 .easel-inserted-link .row-fluid .span6 .badge-important {
   font-weight: normal;
   font-family:"museo-sans";
   text-align: center;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-3.well-4.well-5.well-9 .easel-inserted-link .row-fluid .span3 p.p-2 {
   text-align: right;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 {
   margin: 0 0 0 -10px;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 .easel-inserted-link .heading {
   margin: 0;
   font-family:"museo-sans";
   font-size: 32px;
   text-align: center;
   color: rgba(255, 255, 255, 0.476562);
   line-height: 40px;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 .easel-inserted-link .row-fluid .span4 p {
   margin: 0;
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 .easel-inserted-link .row-fluid .span4 .badge-important {
   font-weight: normal;
   font-family:"museo-sans";
 }
 .container-fluid-1 .well.well-1.well-2.well-3.well-7 .row-fluid .span4 .well.well-1.well-2.well-3.well-4.well-5 .easel-inserted-link .row-fluid .span4 p.p-3 {
   text-align: right;
 }
 .container-fluid-1 .row-fluid.row-fluid-1 {
   margin: 20px 0 0 0;
 }
 .container-fluid-1 .row-fluid.row-fluid-2 {
   margin: 0 0 10px 0;
 }
 .container-fluid-1 .row-fluid-2 .span3 .image {
   -moz-box-shadow: 0 1px 2px 0 #000000;
   -webkit-box-shadow: 0 1px 2px 0 #000000;
   -o-box-shadow: 0 1px 2px 0 #000000;
   box-shadow: 0 1px 2px 0 #000000;
 }
 .container-fluid-1 .row-fluid-2 .span5 .heading {
   margin: 10px 0 0 0;
   font-family:"museo-sans";
   font-weight: normal;
   color: #0e2d4c;
 }
 .container-fluid-1 .row-fluid-2 .span5 p {
   margin: 0 0 0 10px;
   font-family:"museo-sans";
   color: #0e2d4c;
 }
 .container-fluid-1 .row-fluid-2 .span5 .btn {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%);
   margin: 0 0 0 10px;
   font-family:"museo-sans";
 }
 .container-fluid-1 .row-fluid-2 .span4 .btn-success {
   margin: 180px 0 0 0;
   background: #62c462;
   background-image: -moz-linear-gradient(270deg, #62c462 0%, #51a351 100%);
   background-image: -webkit-linear-gradient(270deg, #62c462 0%, #51a351 100%);
   background-image: -o-linear-gradient(270deg, #62c462 0%, #51a351 100%);
   background-image: linear-gradient(180deg, #62c462 0%, #51a351 100%);
   font-family:"museo-sans";
 }
 .container-fluid-1 .heading.heading-1 {
   margin: 0;
 }
 .container-fluid-1 .heading {
   font-family:"museo-sans";
 }
 .container-fluid-1 .heading.heading-2 {
   font-size: 32px;
   line-height: 40px;
 }
 .container-fluid-1 .heading.heading-3 {
   text-align: center;
 }
 .container-fluid-1 .heading.heading-4 {
   color: #0e2d4c;
 }
 .container-fluid-1 .heading.heading-5 {
   font-size: 26px;
 }
 .container-fluid-1 .heading.heading-6 {
   margin: 40px 0 0 0;
 }
 .container-fluid-1 .heading-3.heading-4 .btn {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%);
   font-family:"museo-sans";
 }
 .container-fluid-1 .well.well-6 .row-fluid .span8 .row-fluid .span12 p {
   font-family:"museo-sans";
   color: #0e2d4c;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span8 .row-fluid-1 .span10 p {
   font-family:"museo-sans";
   color: #0e2d4c;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span8 .row-fluid .span2 .icon.icon-credit-card {
   font-size: 40px;
   color: #0e2d4c;
   height: 40px;
   width: 67px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span8 .row-fluid .span10 p.p-4 {
   font-family:"museo-sans";
   color: #0e2d4c;
   line-height: 10px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span8 p.p-5 {
   font-family:"museo-sans";
   color: #0e2d4c;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span4 .well.well-6 {
   background: rgba(245, 245, 245, 0.777344);
   margin: 0;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span4 .well.well-6 p {
   padding: 0 0 5px 0;
   margin: 0 0 5px 0;
   font-family:"museo-sans";
   text-align: center;
   color: #0e2d4c;
   line-height: 14px;
 }
 .container-fluid-1 .well.well-6 .row-fluid .span4 .well.well-6 .btn-primary {
   background: #0088cc;
   background-image: -moz-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: -webkit-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: -o-linear-gradient(270deg, #0088cc 0%, #0044cc 100%);
   background-image: linear-gradient(180deg, #0088cc 0%, #0044cc 100%);
 }
 .container-fluid.container-fluid-2 {
   background: #ffffff;
   padding: 30px 20px 30px 20px;
 }
 .container-fluid-2 .container .row-fluid .span12 .pull-left p {
   font-weight: 300;
   color: #ffffff;
   line-height: 36px;
 }
 .container-fluid-2 .container .row-fluid .span12 .nav {
   margin: 0;
 }
 .container-fluid-2 .container .row-fluid .span12 .nav li a {
   text-align: center;
   color: #cccccc;
 }
