html {
  background-color: #f5f5f5;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
  margin-top: 0 !important;
}
#absolute-wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto;
  height: 1px;
}
#absolute-wrapper .row-fluid {
  width: 940px;
  height: 30px;
  position: absolute;
  top: -219px;
  left: -719px;
}
#absolute-wrapper .btn {
  width: 72px;
  height: 30px;
  position: absolute;
  top: 722px;
  left: -458px;
}
.container-fluid p {
  font-family:"museo-sans";
  color: #0e2d4c;
}
.container-fluid p.p-1 {
  font-weight: bold;
}
.container-fluid p.p-2 {
  font-size: 10px;
}
.container-fluid p.p-3 {
  font-size: 12px;
}
.container-fluid p.p-4 {
  margin: 0;
}
.container-fluid p.p-5 {
  text-align: right;
  margin: 10px 0 0 0;
}
.container-fluid .heading {
  font-family:"museo-sans";
  color: #0e2d4c;
}
.container-fluid .heading.heading-1 {
  margin: 0;
}
.container-fluid .heading.heading-2 {
  font-size: 30px;
  text-align: center;
}
.container-fluid .heading-2 .icon.icon-comments {
  margin: 0;
  font-size: 43px;
  height: 43px;
  width: 64px;
}
.container-fluid .heading.heading-3 {
  text-align: right;
}
.container-fluid .well.well-1 {
  padding: 5px;
}
.container-fluid .well.well-2 {
  margin: 0;
}
.container-fluid .well.well-3 {
  -moz-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
  -webkit-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
  -o-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
  box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
}
.container-fluid .well.well-4 {
  border-top: 1px dashed #0e2d4c;
  padding: 0;
  border-right: none;
  border-bottom: none;
  border-left: none;
  height: 67px;
}
.container-fluid .well.well-5 {
  border: 2px solid #e3e3e3;
  -moz-box-shadow: 0 1px 2px 0 #000000, 0 1px 2px 0 #000000;
  -webkit-box-shadow: 0 1px 2px 0 #000000, 0 1px 2px 0 #000000;
  -o-box-shadow: 0 1px 2px 0 #000000, 0 1px 2px 0 #000000;
  box-shadow: 0 1px 2px 0 #000000, 0 1px 2px 0 #000000;
  height: 524px;
}
.container-fluid .well.well-1.well-2.well-5 .well.well-1.well-3 .row-fluid .span1 .easel-inserted-link .image.image-1 {
  -moz-box-shadow: 0 1px 2px 0 #000000;
  -webkit-box-shadow: 0 1px 2px 0 #000000;
  -o-box-shadow: 0 1px 2px 0 #000000;
  box-shadow: 0 1px 2px 0 #000000;
  margin: 0 0 5px 0;
}
.container-fluid .well.well-1.well-2.well-5 .well.well-1.well-3 .row-fluid .span1 .easel-inserted-link .badge-important {
  font-family:"museo-sans";
}
.container-fluid .well.well-1.well-2.well-5 .well.well-1.well-3 .row-fluid .span1 .easel-inserted-link .badge-important.badge-important-1 {
  margin-top: 5px;
}
.container-fluid .well.well-1.well-2.well-5 .well.well-1.well-3 .row-fluid .span1 .easel-inserted-link .icon.icon-comments {
  font-size: 27px;
  margin: 0;
  color: #0e2c4d;
  height: 27px;
  width: 47px;
}
.container-fluid .well.well-1.well-2.well-5 .well.well-1.well-3 .row-fluid .span11 .row-fluid .span3 .icon.icon-map-marker {
  font-size: 22px;
  color: #f4821c;
  margin: 0;
  height: 22px;
  width: 23px;
}
.container-fluid .well.well-1.well-2.well-5 .well.well-1.well-3 .row-fluid .span11 .row-fluid .span3 .icon.icon-credit-card {
  font-size: 19px;
  color: #0e2d4c;
  margin: 0;
  height: 25px;
  width: 19px;
}
.container-fluid .well.well-1.well-2.well-5 .well.well-1.well-3 .row-fluid .span11 .row-fluid .span3 .btn-warning {
  background: #fbb450;
  background-image: -moz-linear-gradient(270deg, #fbb450 0%, #f89406 100%);
  background-image: -webkit-linear-gradient(270deg, #fbb450 0%, #f89406 100%);
  background-image: -o-linear-gradient(270deg, #fbb450 0%, #f89406 100%);
  background-image: linear-gradient(180deg, #fbb450 0%, #f89406 100%);
  font-family:"museo-sans";
}
.container-fluid .well.well-1.well-2.well-5 .well.well-1.well-3 .row-fluid .span11 .well.well-2.well-4 .row-fluid {
  margin: 5px 0 0 0;
}
.container-fluid .row-fluid .span12 .row-fluid .span12 {
  padding: 0 0 20px 0;
}
.container-fluid .row-fluid .span12 .row-fluid .span12 .well.well-1 {
  background: rgba(245, 245, 245, 0);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
}
