html {
  background-color: #f5f5f5;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
  margin-top: 0 !important;
}
#absolute-wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto;
  height: 1px;
}
#absolute-wrapper .row-fluid {
  width: 940px;
  height: 30px;
  position: absolute;
  top: -219px;
  left: -719px;
}
#absolute-wrapper .btn {
  width: 72px;
  height: 30px;
  position: absolute;
  top: 722px;
  left: -458px;
}
.container-fluid p {
  font-family:"museo-sans";
}
.container-fluid p.p-1 {
  font-weight: bold;
}
.container-fluid p.p-2 {
  text-align: right;
}
.container-fluid p.p-3 {
  color: #0e2d4c;
}
.container-fluid p.p-4 {
  color: rgba(14, 45, 76, 0.476562);
}
.container-fluid p.p-5 {
  margin: 0;
}
.container-fluid p.p-6 {
  font-size: 10px;
}
.container-fluid p.p-7 {
  margin: 5px 0 10px 0;
}
.container-fluid p.p-8 {
  text-align: center;
}
.container-fluid p.p-9 {
  margin: 10px 0 10px 0;
}
.container-fluid .heading {
  font-family:"museo-sans";
  color: #0e2d4c;
}
.container-fluid .heading.heading-1 {
  text-align: center;
}
.container-fluid .heading.heading-2 {
  font-weight: normal;
  font-size: 18px;
}
.container-fluid .heading.heading-3 {
  margin: 10px 0 20px 0;
  font-size: 30px;
}
.container-fluid .row-fluid .span4 .row-fluid .span12.span12-1 {
  padding: 0 0 20px 0;
}
.container-fluid .row-fluid .span4 .row-fluid .span12-1 .well {
  background: rgba(245, 245, 245, 0);
  padding: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
}
.container-fluid .row-fluid .span4 .row-fluid .span12-1 .well .image {
  -moz-box-shadow: 0 1px 2px 0 #000000;
  -webkit-box-shadow: 0 1px 2px 0 #000000;
  -o-box-shadow: 0 1px 2px 0 #000000;
  box-shadow: 0 1px 2px 0 #000000;
}
.container-fluid .row-fluid .span4 .row-fluid .span12-1 .heading-1.heading-2 {
  margin: 10px 0 0 0;
  border-bottom: 2px solid #0e2d4c;
}
.container-fluid .row-fluid .span4 .row-fluid .span12-1 .row-fluid .span12 .heading-2 {
  margin: 0;
}
.container-fluid .row-fluid .span4 .row-fluid .span12-1 .row-fluid .span6 .icon.icon-map-marker {
  font-size: 22px;
  color: #f4821c;
  margin: 5px 0 0 0;
  height: 22px;
  width: 23px;
}
.container-fluid .row-fluid .span4 .row-fluid .span12-1 .row-fluid .span6 .icon.icon-credit-card {
  font-size: 19px;
  margin: 5px 0 0 0;
  color: #0e2d4c;
  height: 25px;
  width: 19px;
}
.container-fluid .row-fluid .span4 .row-fluid .span12-1 .row-fluid .span6 .p-3.p-6.p-10 {
  margin: 5px 0 10px 5px;
}
.container-fluid .row-fluid .span4 .row-fluid .span12-1 .row-fluid .span6 .icon.icon-time {
  font-size: 24px;
  color: #0e2d4c;
  margin: 5px 0 0 0;
  height: 24px;
  width: 24px;
}
.container-fluid .row-fluid .span4 .btn-warning {
  font-family:"museo-sans";
}
.container-fluid .row-fluid .span8 .well.well-1 {
  background: #0e2d4c;
  padding: 5px;
}
.container-fluid .row-fluid .span8 .well.well-1 .well {
  padding: 10px 20px 10px 10px;
  border: 2px solid #e3e3e3;
  -moz-box-shadow: 0 1px 2px 0 #000000, 0 1px 2px 0 #000000;
  -webkit-box-shadow: 0 1px 2px 0 #000000, 0 1px 2px 0 #000000;
  -o-box-shadow: 0 1px 2px 0 #000000, 0 1px 2px 0 #000000;
  box-shadow: 0 1px 2px 0 #000000, 0 1px 2px 0 #000000;
  margin: 0;
  height: 492px;
}
.container-fluid .row-fluid .span8 .well.well-1 .well .p-3.p-8 {
  border-bottom: 2px solid #0e2d4c;
}
.container-fluid .row-fluid .span8 .well.well-1 .well .row-fluid.row-fluid-1 {
  margin: 10px;
}
.container-fluid .row-fluid .span8 .well.well-1 .well .row-fluid-1 .span1 .image {
  -moz-box-shadow: 0 1px 2px 0 #000000;
  -webkit-box-shadow: 0 1px 2px 0 #000000;
  -o-box-shadow: 0 1px 2px 0 #000000;
  box-shadow: 0 1px 2px 0 #000000;
}
.container-fluid .row-fluid .span8 .well.well-1 .well .row-fluid .span1 .image.image-1 {
  -moz-box-shadow: 0 1px 2px 0 #000000;
  -webkit-box-shadow: 0 1px 2px 0 #000000;
  -o-box-shadow: 0 1px 2px 0 #000000;
  box-shadow: 0 1px 2px 0 #000000;
}
.container-fluid .row-fluid .span8 .well.well-1 .row-fluid.row-fluid-2 {
  margin: 10px 0 0 0;
}
.container-fluid .row-fluid .span8 .well.well-1 .row-fluid-2 .span12 form {
  margin: 0;
}
.container-fluid .row-fluid .span8 .well.well-1 .row-fluid-2 .span12 form input.textinput {
  font-family:"museo-sans";
  margin: 0 0 5px 0;
}
.container-fluid .row-fluid .span8 .well.well-1 .row-fluid-2 .span12 .btn-success {
  background: #62c462;
  background-image: -moz-linear-gradient(270deg, #62c462 0%, #51a351 100%);
  background-image: -webkit-linear-gradient(270deg, #62c462 0%, #51a351 100%);
  background-image: -o-linear-gradient(270deg, #62c462 0%, #51a351 100%);
  background-image: linear-gradient(180deg, #62c462 0%, #51a351 100%);
  font-family:"museo-sans";
  text-align: left;
}
.container-fluid .row-fluid .span8 .well.well-2 {
  padding: 3px;
  -moz-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
  -webkit-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
  -o-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
  box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
}
.container-fluid .row-fluid .span8 .well.well-2 .row-fluid .span3 .image {
  height: 36px;
}
.container-fluid .row-fluid .span8 .well.well-2 .row-fluid .span5 .image {
  height: 33px;
}
.container-fluid .row-fluid .span8 .well.well-2 .row-fluid .span2 .image {
  height: 30px;
}
