 body {
   padding-left: 0;
   padding-right: 0;
 }
 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 700px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper .row-fluid {
   width: 940px;
   height: 30px;
   position: absolute;
   top: -219px;
   left: -719px;
 }
 #absolute-wrapper .form-inline {
   width: 689px;
   height: 791px;
   position: absolute;
   top: 150px;
   left: 11px;
 }
 #absolute-wrapper .pull-center.pull-center-1 {
   margin-bottom: 10px;
 }
 #absolute-wrapper .pull-center.pull-center-2 {
   width: 200px;
 }
 #absolute-wrapper .pull-center-1.pull-center-3 {
   height: 40px;
 }
 #absolute-wrapper .input-large.input-large-1 {
   height: 177px;
 }
 #absolute-wrapper .checkbox.checkbox-1 {
   margin: 0 0 5px 30px;
   font-family:"museo-sans";
 }
 #absolute-wrapper .form-actions {
   background: transparent;
   padding: 5px 20px 5px 20px;
   border: none;
   margin: 0;
 }
 #absolute-wrapper .btn.btn-1 {
   background: #ffffff;
   background-image: -moz-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -webkit-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: -o-linear-gradient(270deg, #ffffff 0%, #e6e6e6 100%);
   background-image: linear-gradient(180deg, #ffffff 0%, #e6e6e6 100%);
 }
 #absolute-wrapper .icon.icon-question-sign {
   position: absolute;
   top: 893px;
   left: -423px;
 }
 .container-fluid .row-fluid .span12 .heading {
   font-family:"museo-sans";
 }
 .container-fluid .row-fluid .span12 .heading.heading-1 {
   text-align: center;
   color: #0e2d4c;
 }
 .container-fluid .row-fluid .span12 .well {
   background: rgba(245, 245, 245, 0.773438);
   padding: 5px;
   margin: 5px;
   -moz-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   -webkit-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   -o-box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
   box-shadow: 0 1px 2px 0 #000000, inset 0 1px 1px 0 rgba(0, 0, 0, 0.046875);
 }
 .container-fluid .row-fluid .span12 .well .heading {
   margin: 0;
 }
 .container-fluid .row-fluid .span12 .well p span {
   background-color: #f5f5f5;
 }
