<section data-ng-controller="ApplicationsController" data-ng-init="findOne()">
    <div ng-include="'modules/dashboard/views/templates/dashboard-header.client.template.html'"></div>
    <section class="container opaque-bg">
        <span class="h3" data-ng-bind="application.job.name"></span class="h3">
        <div class="pull-right" data-ng-show="authentication.user._id == application.user._id">
            <a class="btn btn-primary" href="/#!/applications/{{application._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <small>
            <em class="text-muted">
                Applied on
                <span data-ng-bind="application.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="application.user.displayName"></span>
            </em>
        </small>
        <div class="container-fluid">
            <h4>Messages</h4>
            <dl class="dl-horizontal">
                <div ng-repeat="message in application.messages">
                    <dt>{{message.sender.displayName || 'UNKNOWN'}}<br/>
                        <small>
                            <em class="text-muted">
                                <span data-ng-bind="message.created | date:'short'"></span>
                            </em>
                        </small></dt>
                    <dd>{{message.text}}
                        <span class="label label-info">{{message.status}}</span>
                    </dd>
                </div>
            </dl>
            <div class="row">
                <form data-ng-submit="postMessage()" novalidate>
                    <div class="col-md-8 col-md-offset-1">
                        <textarea type="text" data-ng-model="message" class="form-control" placeholder="new message..." required></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" value="send">Send</button>
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>
