<section data-ng-controller="LicenseController">
	<label for="licenseType">Type</label>
	<input type="text" id="licenseType" name="licenseType" class="form-control" data-ng-model="license.type">

	<label for="licenseNumber">Number</label>
	<input type="text" id="licenseNumber" name="licenseNumber" class="form-control" data-ng-model="license.number">

	<label for="licenseState">State</label>
	<input type="text" id="licenseState" name="licenseState" class="form-control" data-ng-model="license.state">

	<label for="licenseIssued">Issued</label>
	<input type="text" id="licenseIssued" name="licenseIssued" class="form-control" data-ng-model="license.issued">

	<label for="licenseExpires">Expires</label>
	<input type="text" id="licenseExpires" name="licenseExpires" class="form-control" data-ng-model="license.expires">

	<label for="licenseEndorsements">Endorsements</label>
	<input type="text" id="licenseEndorsements" name="licenseEndorsements" class="form-control" data-ng-model="license.endorsements">
</section>