<section data-ng-init="initList()">
    <div ng-include="'modules/dashboard/views/templates/dashboard-header.client.template.html'"></div>
    <section class="container opaque-bg">
        <h3>{{listTitle}}</h3>
        <div class="list-group">
            <a data-ng-repeat="user in users" data-ng-href="#!/profiles/{{user._id}}" class="list-group-item">
                {{user.displayName}}
                <span class="label label-danger" ng-show="{{user.roles.indexOf('admin') !== -1}}">Administrator</span>

                <span class="label pull-right" ng-class="{driver:'label-primary', owner:'label-success'}[user.type]">{{user.type}}</span>

            </a>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
            No users yet, why don't you <a href="/#!/users/create">create one</a>?
        </div>
    </section>
</section>
