.main-tabs{
  > .tab-nav{
    height: 69px;

    .tab-item{
      padding: 10px 0;
      font-size: 10px;
      line-height: 16px;
      font-weight: bold;
      border: solid #333;
      border-width: 1px 0 0 1px;
      text-transform: uppercase;

      &.tab-item-active{
        background: $positive;
        color: #fff;
      }

      .ico{
        margin-bottom: 3px;
      }

    }
  }
}