<div class="row alert alert-info" role="alert" ng-click="toggle()" ng-class="{collapsed: collapsed}">
    <div ng-repeat="info in debugInfo" ng-hide="collapsed">
        <span class="col-xs-3 col-md-2 text-right">
            <b>{{info.key}}:</b>
        </span>
        <span class="col-xs-9">{{info.value || "UNDEFINED"}}</span>
    </div>
    <div ng-hide="!!collapsed">
        <span class="col-xs-3 col-md-2 text-right"><b>View Size:</b>
        </span>
        <span class="col-xs-9 visible-xs">XS</span>
        <span class="col-xs-9 visible-sm">SM</span>
        <span class="col-xs-9 visible-md">MD</span>
        <span class="col-xs-9 visible-lg">LG</span>
    </div>


    <i class="fa fa-plus-circle" style="padding-right: 10px;" ng-show="collapsed"></i>
</div>
