<section class="category-directive">
    <section ng-if="vm.mode === 'edit' || vm.mode === 'select'">
    <pre ng-if="vm.debug">Categories Model: {{vm.categories}}</pre>

        <label class="bgn btn-cta-secondary btn-md no-border oset-toggles {{vm.lblClass}}"
               ng-click="vm.allClicked()"
               ng-if="vm.mode==='select'"
               data-ng-class="{'active': vm.showAll}">All</label>

    <!-- List of available Categories -->
    <label ng-repeat="category in vm.categories"
           class="btn btn-cta-secondary btn-md no-border oset-toggles {{vm.lblClass}}"
           ng-click="vm.toggle(category)"
           ng-dblclick="vm.toggle(category, true)"
           data-ng-class="{'active':category.value}">
        <i class="fa pull-left"></i>

        <div class="col-xs-12">{{category.key}}</div>
    </label>

    <!-- Input for "other" -->
    <label class="btn btn-cta-secondary oset-input btn-md oset-toggles {{vm.lblClass}}"
           data-ng-if="vm.mode==='edit'"
           data-ng-class="{'active':vm.newCategory != null}">

        <div ng-click="vm.toggleCategory()">{{ vm.newCategory != null ? 'cancel' : 'other ...'}}
        </div>
        <input ng-show="vm.newCategory != null" type="text" style="display: inline;"
               ng-model="vm.newCategory">

        <div style="display: inline;" ng-show="vm.newCategory !== null" ng-click="vm.addCategory()">
            add&nbsp;<i class="fa fa-plus"></i>
        </div>

    </label>
    </section>

    <section ng-if="vm.mode === 'view'">
        <label ng-repeat="category in visibleCats = (vm.categories | filter: {value: true})"
               class="btn btn-cta-secondary btn-md no-border {{vm.lblClass}}"
               data-ng-class="{'active':category.value}">
            <i class="fa pull-left"></i>

            <div class="col-xs-12">{{category.key}}</div>
        </label>

        <p ng-if="!visibleCats.length" ng-transclude>
           </p>
    </section>

</section>
