<section class="content-section">
    <h3 class="title container text-center">Outset Partners, Inc. Privacy Policy</h3>

    <div class="content-container container text-center">
        <div class="content-container-inner">
            <div class="about">
                <p class="text-center">(POSTED September 5, 2014. EFFECTIVE IMMEDIATELY FOR USERS WHO JOIN WWW.JOINOUTSET.COM ON OR
                    AFTER
                    September 5, 2014 SUPERSEDES ALL PREVIOUS VERSIONS OF THE OUTSET PARTNERS, INC PRIVACY
                    POLICY.)</p>

                <div class="container-fluid row">

                    <p></p>

                    <p>Outset Partners, Inc. ("Outset") offers various services to help its users find, coordinate, and
                        maintain quality transportation and driver connections. Outset's Privacy Policy ("Privacy
                        Policy")
                        is designed to provide a clear understanding of the information we collect and how we use it to
                        provide our services and give users a better experience. It applies to any users of
                        www.joinoutset.com and any US affiliated websites, web pages, mobile applications and mobile
                        websites operated by Outset (the "Site"), including those who are seeking to find a service
                        provider
                        through Outset ("Job Providers") as well as those who are looking to promote their services
                        through
                        Outset ("Drivers"), and any users of any of the various services that Outset provides through
                        the
                        Site or any other channels, including over the telephone ("Services"). For purposes of this
                        Agreement, the terms "Outset," "we," "us," and "our" refer to Outset Partners, Inc. "You" refers
                        to
                        you, as a visitor or user or the Site or the Services. Please note that our subsidiaries have
                        separate privacy policies. In addition, this Privacy Policy does not apply to third party
                        entities
                        that may use the Outset Site or Services. Such entities' use of the Outset Site and Services are
                        subject to separate terms that they agreed when they registered with Outset.</p>

                    <p>By using the Site and/or the Services, you consent to our collection, storage, use and disclosure
                        of
                        your personal information and other information as described in this Privacy Policy.</p>

                    <p>I. [endif]Information We Collect
                        A. [endif]Information you provide
                        B. [endif]Information provided by others
                        C. [endif]Information you expressly authorize us to collect
                        D. [endif]Technical and usage information
                        II. [endif]How We Use Information
                        A. [endif]Personal Information
                        B. [endif]Non Personal Information
                        III. [endif]How We Share Information
                        A. [endif]Personal Information
                        B. [endif]Background checks
                        C. [endif]Non Personal Information
                        D. [endif]Business transactions
                        IV. [endif]Your Choices Regarding the Sharing of your Personal Information
                        V. [endif]Your Communication Choices
                        VI. [endif]Changing or Removing your Personal Information and Closing your Account
                        VII. [endif]Collection of Information from Children
                        VIII. [endif]How We Protect Information
                        IX. [endif]Links to other Websites
                        X. [endif]Changes to our Privacy Policy
                        XI. [endif]Contact Us</p>

                    <p>Information We Collect</p>

                    <p>We collect both "Personal Information" and "Non Personal Information" about our users. In this
                        policy, Personal Information is information that can be used to contact or identify you, such as
                        your full name and email address, and information that is linked to such information. "Non
                        Personal
                        Information" is information that cannot be used to contact or identify you and is not linked to
                        information that can be used to contact or identify you and includes passively collected
                        information
                        about your activities on our Site, such as usage data, to the extent that information is not
                        linked
                        to your Personal Information.</p>

                    <p>Site Visitors can access and browse certain portions of the Site without disclosing Personal
                        Information, although, like most websites, we passively collect certain information from your
                        computer, such as your IP address and web browser user agent, when you browse the Site. Visitors
                        who
                        access and browse the Site without registering are "Site Visitors". In order to utilize some of
                        the
                        Services offered by Outset, you must register with Outset. All users who

                        register with Outset are "Registered Users".</p>

                    <p>Information you provide</p>

                    <p>Regardless of whether you are a Site Visitor or a Registered User, all Personal Information that
                        you
                        provide to us when registering, posting a job, posting a profile, communicating through the
                        Site,
                        discussing service options over the phone, utilizing our mobile applications or that you
                        otherwise
                        provide on the Site or by phone, email or postal mail, will be stored by us. You represent and
                        warrant to us that you have the right and authority to provide us all Personal Information you
                        provide about yourself or others. You may provide us this Personal Information in various ways,
                        including:</p>

                    <p>When registering</p>

                    <p>When you register directly through Outset, we will collect and store the information that you
                        provide to us directly on our online registration forms. This may include, among other
                        information:</p>

                    <p>your first and last name your email address your home address your gender your birthday your
                        phone
                        number</p>

                    <p>Some users may have the opportunity to register with Outset by connecting through Facebook's
                        application programming interface (API). Please see Section I.B.4 below to learn about the
                        information we access, collect and store if you register for Outset through Facebook.</p>

                    <p>If you register for a Service that requires you to pay a fee, Outset will also collect your
                        credit
                        card type, number, expiration date, and security code as well as your billing address for
                        payment
                        purposes and your birthday, if not previously provided.</p>

                    <p>When posting a job</p>

                    <p>If you are a Job Provider, we collect and store all of the additional information that you
                        provide
                        to us on your job posting or that is otherwise included in an auto-generated job posting. This
                        may
                        include, among other information:</p>

                    <p>the type of service you are looking for, your schedule, location, hourly rate, licensing
                        requirements, narrative job description, requirements for a Driver (such as ability to drive,
                        distances to drive, and other service related notes) pictures you choose to provide
                        any other information you choose to include in your job posting</p>

                    <p>When posting a profile</p>

                    <p>If you are a Driver, we collect and store all of the additional information that you provide to
                        us
                        in your profile. This may include, among other information:</p>

                    <p>details on the services you offer, including for example the type of service you provide, your
                        availability, your location, your level of education, licenses you have, languages you speak,
                        your
                        ability to drive
                        related services you provide pictures you choose to post your phone numbers
                        references, if you choose to provide them
                        any other information you choose to include in your profile

                        By telephone</p>

                    <p>Both Site Visitors and Registered Users may provide Personal Information to Outset when they
                        contact
                        Member Services or utilize certain Services Outset may offer by telephone. For example, if you
                        call
                        a Outset to discuss service options over the phone, we will collect and store all of the
                        Personal
                        Information you chose to provide to us, including but not limited to financial information,
                        license
                        information, information about the services you or your corporation needs, your contact
                        information,
                        etc. If you provide information about someone other than yourself, you represent that you have
                        authority to do so.</p>

                    <p>Otherwise through the Site or by telephone, email, postal mail or chat</p>

                    <p>Certain Registered Users may provide Personal Information on the Site through other Site features
                        and offerings such as our online communications, messaging, groups and payment platforms. In
                        some
                        cases, Site Visitors may have the ability to provide us Personal Information through the Site,
                        such
                        as contact information. In addition, both Registered Users and Site Visitors may choose to
                        provide
                        us additional Personal Information by phone, email, postal mail, or chat. We collect and store
                        all
                        of the Personal Information you provide us through these channels. Moreover, if you provide
                        information about someone other than yourself through any of these channels, you represent that
                        you
                        have authority to do so.</p>

                    <p>Information provided by others
                        By Site Visitors, Registered Users and others</p>

                    <p>Outset also captures and collects information that Site Visitors, Registered Users and others
                        provide about each other. For example, Drivers may invite Site Visitors, Registered Users or
                        others
                        to rate and indicate their relationship to the Driver on the Site. Additionally, certain Outset
                        Registered Users may post reviews about individual Drivers. In addition, certain Registered
                        Users
                        may communicate directly with each other through Outset platforms. Site Visitors, Registered
                        Users
                        and others also may provide us information about Registered Users by phone, email or postal
                        mail.
                        Outset captures and stores all information it receives from Site Visitors, Registered Users and
                        others about other Registered Users and Site Visitors.</p>

                    <p>By Facebook if you connect to Outset through Facebook</p>

                    <p>You may have the opportunity to connect to Outset through Facebook's API when you register for
                        Outset or after you have registered for Outset. If you connect to Outset through Facebook,
                        either
                        when you register or after you have registered, we will collect, store, and use in accordance
                        with
                        this Privacy Policy any and all information you agreed that Facebook could provide to Outset
                        through
                        its API. Your agreement (and our access to your information) takes place when you instruct,
                        accept
                        or allow Facebook to register you for an Outset account or otherwise connect to Outset through
                        Facebook. The information Outset may access, collect and store may include the following, among
                        other information, as allowed by you, Facebook's API, and your Facebook privacy settings:</p>

                    <p>your name
                        your profile picture your email address your gender
                        your birthday
                        your location (i.e. city)
                        the names and pictures of your Facebook friends

                        your interests and affinity networks
                        other information you make publicly available via Facebook</p>

                    <p>By service providers you use in connection with our Services</p>

                    <p>If you engage a service provider through Outset, such as a licensing agency, or a payments
                        processor, that service provider may provide us Personal Information about you or your
                        corporation
                        such as information relating to your transactions with them.</p>

                    <p>By other sources</p>

                    <p>In addition, we may obtain from other sources publicly available Personal Information, such as
                        demographic data, and other information to enable us to comply with regulatory requirements,
                        ensure
                        the accuracy of data, better understand your likely interests, prevent fraud, etc.</p>

                    <p>Information you expressly authorize us to collect</p>

                    <p>We may from time to time request permission for collect Personal Information from or about you.
                        For
                        example, if you use a Outset mobile application, we may request permission to access information
                        about the contacts listed in your mobile device phone book when you initiate an address book
                        search
                        for friends who have downloaded the application. We may also request permission to access and
                        store
                        your location. If you grant your permission, we will access and or store such information unless
                        you
                        subsequently opt out by adjusting the settings in your mobile device.</p>

                    <p>Technical and usage information
                        Log files, IP addresses and information about your computer and mobile device</p>

                    <p>When you visit the Site, Outset receives the internet protocol ("IP") address of your computer
                        (or
                        the proxy server you use to access the internet), your computer operating system and type of web
                        browser you are using. If you are using a mobile device, Outset may also receive your mobile
                        device
                        id (UDID), or another unique identifier, and mobile operating system. We may correlate this
                        information with other Personal Information we have about you. Additionally, when you visit the
                        Outset website we and any third parties we use to place ads on our Site automatically receive
                        the
                        URL of the webpage from which you came. If you click on an ad, we and any such third party may
                        also
                        receive the URL of the page you were on when you clicked the ad and the URL of the site
                        associated
                        with the ad that you clicked.</p>

                    <p>Cookies and other technologies</p>

                    <p>Like most websites, we and our service providers use cookies and tracking pixels to track Site
                        usage
                        and trends, evaluate the effectiveness of our ads both on and off our Site, customize your
                        experience on the Site and improve the quality of our Services. For example, using these
                        technologies we can determine, among other things, which pages of our Site you visit and which
                        ads
                        you click on. A cookie is a tiny data file that resides on your computer, mobile phone, or other
                        device, and allows us to recognize you when you return to the Site using the same computer (or
                        mobile device) and web browser. You can remove or block cookies using the settings in your
                        browser,
                        but in some cases doing so may impact your ability to use Outset. Tracking pixels do not
                        identify
                        individual users and the analysis of data obtained by tracking pixels is performed on an
                        aggregate
                        basis.</p>

                    <p>When you visit our Site or open one of our emails, we may allow authorized third parties, such as
                        ad
                        servers, ad agencies, ad exchanges, ad technology vendors and research firms, to place or
                        recognize
                        a unique cookie, pixel, and/or similar technologies on your browser in order to provide you
                        relevant
                        Outset advertisements as you surf the Internet. These advertisements may be targeted to you
                        based on
                        information these authorized third parties know or infer about you and include in the cookies
                        placed
                        on your browser and/or information about your Internet browsing activities gathered through your
                        browser. If you prefer not to receive these online behavioral advertisements, you may opt-out
                        here.
                        In order for the opt-out to work, your browser must be set to accept third party cookies.
                        Furthermore, if you buy a new computer or mobile device, change web browsers or delete the
                        opt-out
                        cookie, you will need to perform the opt-out task again. Please note that if you opt-out you may
                        continue to receive Outset advertisements as you surf the Internet, including contextual ads
                        based
                        on the content on a webpage you are visiting. However, these advertisements will not be
                        displayed
                        based on information contained in, or collected by, cookies or other technologies

                        placed on your browser when you visit our Site or open our emails.</p>

                    <p>Social media features and widgets</p>

                    <p>Our Site may include social media features and widgets, such as the Facebook "Like" button and
                        the
                        Facebook "Share" button. These features may collect your IP address, the URL of the page you are
                        visiting on our Site, and may set a cookie to enable the feature to function properly. Social
                        media
                        features and widgets are either hosted by a third party or hosted directly on our Site. Your
                        interactions with these features are governed by the privacy policy of the company providing
                        it.</p>

                    <p>How We Use Information
                        Personal Information</p>

                    <p>In general, the Personal Information we collect is used (1) to improve our Services and enhance
                        your
                        experience with Outset, (2) to enable us to provide a safer community for all of our Registered
                        Users, and (3) to help us communicate with you. For example, we may use your Personal
                        Information
                        to:</p>

                    <p>register and service your account.
                        include in Job Provider job postings and Driver profiles.
                        contact you in response to questions and solicit feedback and input from you.
                        enable Job Providers and Drivers to search based on the Personal Information the other has made
                        available on the Site, and the information others have provided about them.
                        connect Job Providers with Drivers that appear to meet their needs and preferences.
                        enable Registered Users to search for, find, interact, connect and share information with other
                        Registered Users they may have an interest in interacting with.
                        enable Registered Users who connect to Outset through Facebook to see which of their Facebook
                        friends who have connected to Outset through Facebook are Registered Users or friends with other
                        Registered Users who have connected to Outset through Facebook.
                        verify information you provide us as well as the representations and warranties you make to us
                        in
                        the Terms of Use or on the Site.
                        otherwise help protect the safety and integrity of the Site and Outset users.
                        target promotional messages or content on the Site, via email or other ads on Outset or third
                        party
                        sites.
                        Non Personal Information</p>

                    <p>In general, we use the Non Personal Information we collect to help us improve our Services and
                        customize the user experience, such as by providing targeted useful features and promotions
                        based on
                        the type of Service you seek. We also aggregate the information collected via cookies and
                        similar
                        technologies to use in statistical analysis to help us track trends, evaluate the effectiveness
                        of
                        our ads and analyze patterns in the use of Outset.</p>

                    <p>How We Share Information</p>

                    <p>In addition to using the information collected by Outset for the purposes described above, we may
                        also share your information with various third parties, as described below. Please review our
                        sharing policy closely, especially with respect to your Personal Information. By using our Site
                        or
                        our Services, you agree to allow us to share the Personal Information you provide to us in the
                        ways
                        described below. Your ability to make changes to what information is shared is described below
                        in
                        Section IV.</p>

                    <p>Personal Information
                        With All Site Visitors and Registered Users</p>

                    <p>If you are a Job Provider or a Driver, in order to increase your chances of finding a job or
                        finding
                        the services you need, we share with Site Visitors and Registered Users the information that is
                        included in your job posting or profile, aside from your contact information, as well as the
                        following registration information, which we may include in your job posting or profile: your
                        first
                        name, first initial of your last name, city, state, profile picture, licensing details,
                        background
                        check and MVR details and if you are a Driver, unless you opt-out, your age. With certain
                        exceptions, you choose how much detail you want to include in either your job posting or your
                        profile; the more information you share, however, the better

                        chance you have of finding either drivers or a job. We may also share on your profile or job
                        posting
                        any company reviews you have posted on our Site and whether you have connected to Outset through
                        Facebook. If you are a Driver and have elected to verify certain information with Outset or to
                        have
                        a background check or MVR performed, we may also disclose that information in your profile in
                        addition to any payment or payroll preferences you have indicated.</p>

                    <p>If you post information in an Outset online group forum, that information may be viewed by any
                        Site
                        Visitor or Registered User who accesses the forum.</p>

                    <p>We may display personal testimonials of Registered Users and other endorsements on our Site or in
                        other marking materials. These testimonials or endorsements may include Non Personal Information
                        such as the Registered User's first name, first initial of last name, town and state. With a
                        Registered User's consent, we may include Personal Information such as their full name.</p>

                    <p>With other Registered Users and corporate providers</p>

                    <p>In addition to the information that is provided to all visitors to Outset, Driver reviews and
                        references are made available to certain Registered Users. If you are a Driver, your phone
                        number
                        and other contact information may be visible to certain Registered Users if you elect to share
                        it in
                        your profile.</p>

                    <p>If you are a Job Provider or a Driver, you will appear in search result listings if you match the
                        search criteria used by a Driver or Job Provider, as applicable. Similarly, you may appear in
                        emails
                        sent to Drivers or Job Providers in your area. Job Providers may opt-out of being included in
                        Driver
                        search results and in certain emails sent to Drivers.</p>

                    <p>If you connect to Outset through Facebook, we may allow any of your Facebook friends who have
                        connected to Outset through Facebook to see that you are a Registered User. In addition, other
                        Registered Users who have connected to Outset through Facebook will be able to see if you are
                        friends with any of their Facebook friends or if you share certain affinities or interests with
                        them.</p>

                    <p>If we terminate your registration for any reason, we reserve the right to send a notice of your
                        termination to other Registered Users with whom we believe you have corresponded.</p>

                    <p>With vendors/service providers</p>

                    <p>We also share Personal Information with vendors who perform services on behalf of Outset,
                        including
                        without limitation vendors who provide email services, demographic information, or geo-location
                        information, vendors who perform background checks (including MVRs and other verification
                        checks),
                        vendors who process credit card payments, vendors who run classified advertising businesses, and
                        vendors who send SMS messages to Registered Users' mobile phone numbers, in each case to the
                        extent
                        applicable. Outset has selected vendors who maintain high standards with respect to privacy and
                        agree to use the Personal Information only to perform specific services on behalf of Outset.</p>

                    <p>With listings in Google and other public search engines</p>

                    <p>In an effort to further facilitate the ability for Job Providers or Drivers to find a drivers or
                        job, selected information contained in Job Provider job postings and Driver profiles, which may
                        include photo, first name, first initial of last name, city, state, and job/provider
                        description,
                        may also be shared with third party search engines, job boards, job sites, trade publications,
                        newspapers, broadcast media organizations and other vendors who run classified advertising
                        businesses, and thus may be listed in third party web site search results (e.g., Google,
                        Craigslist,
                        Indeed, etc.), which would make that information available to the public and allow them to link
                        to
                        your Outset posting.</p>

                    <p>
                        With Facebook if you connect to Outset through Facebook</p>

                    <p>If you connect to Outset through Facebook's API, you may elect to post certain of your activities
                        on
                        Outset back to your Facebook account. You will be prompted to decide whether or not to share
                        those
                        Outset activities back to your

                        Facebook account.</p>

                    <p>As required by law or for reasons of safety</p>

                    <p>You acknowledge and agree that we may disclose information we've collected about you if required
                        to
                        do so by law or if we, in our sole discretion, believe that disclosure is reasonable to comply
                        with
                        the law, requests or orders from law enforcement, or any legal process (whether or not such
                        disclosure is required by applicable law), or to protect or defend Outset's, or a third party's,
                        rights or property. We may also reserve the right to disclose information we've collected about
                        you
                        for purposes of protecting the health and safety of our community and Registered Users, such as
                        in
                        the case of risk of harm or violence against any person (including you).</p>

                    <p>With our affiliates</p>

                    <p>You acknowledge and agree that to the maximum extent permitted by law we may disclose any of the
                        information we've collected about you to any of our affiliates or subsidiaries, for the purposes
                        of
                        providing you with the Services, operating the Site, and our other commercial purposes.</p>

                    <p>With Your Consent</p>

                    <p>We also may share your Personal Information with a third party if you consent to the sharing.</p>

                    <p>Background checks</p>

                    <p>If you request us to do so, Outset can provide background check services on you which are
                        prepared
                        by a consumer reporting agency. If you request and order a Background Check (including a Motor
                        Vehicle Record Report) to be run on you in response to a request by a Job Provider who is
                        considering hiring you, we will forward the report to you. It is your decision and
                        responsibility to
                        authorize the background check to be forwarded to the prospective Job Provider, if you wish to
                        do
                        so. Please be aware that Outset will also view the background check report and Outset may
                        suspend or
                        terminate your account with Outset, based on information contained in that report. The
                        information
                        and results of a Background Check (including the Motor Vehicle Records Report) that resulted in
                        Outset suspending or terminating your account will not be shared with other parties including
                        Site
                        Visitors and Registered Users unless you specifically request us to do so. If you have
                        requested
                        a background check through Outset, a statement may be included in your profile to confirm that
                        you
                        have completed that background check. The consumer reporting agency who completes the background
                        check may send the results to you by email or postal mail. You acknowledge that sensitive
                        material
                        may be included in your background check, and that you are responsible for providing us and our
                        service provider (if applicable) with correct mailing information.</p>

                    <p>Non Personal Information</p>

                    <p>This Privacy Policy does not limit our use or disclosure of any Non Personal Information, such as
                        information passively collected from your computer via cookies, web beacons, or standard logging
                        of
                        website activity. If you do not wish to share this information with Outset, then you should take
                        steps to limit the passive collection of data about your activities on our site, for example, by
                        changing your browser settings to disable cookies. We reserve the right to use and disclose such
                        Non
                        Personal Information, as well as any other Non Personal Information we collect, with our
                        advertisers
                        and other third parties at our discretion.</p>

                    <p>Business transactions</p>

                    <p>In the event we go through a business transition such as a merger, acquisition by another
                        company,
                        or sale of all or a portion of our assets, your Personal Information may be among the assets
                        transferred. You acknowledge and consent that such transfers may occur and are permitted by this
                        Privacy Policy, and that any acquirer of ours or that acquirer's affiliates may continue to
                        process
                        your Personal Information as set forth in this Privacy Policy.</p>

                    <p>Your Choices Regarding the Sharing of your Personal Information</p>

                    <p>Registered Users have control over what optional Personal Information they choose to share with
                        us
                        when utilizing

                        our Services (such as pictures, certain details in a job description or profile, etc.).</p>

                    <p>In addition, Registered Users have the following opt out choices with respect to the sharing of
                        their Personal Information:</p>

                    <p>Registered Users who have connected to Outset through Facebook may subsequently opt out of having
                        certain of their Facebook information shared with Outset and certain of their Outset information
                        shared with Facebook by disabling Facebook Connect in their account settings.
                        If a Driver has chosen to have their phone number made available to other Registered Users but
                        later
                        decides they no longer wish to make it available, they may change their election.
                        Drivers can opt out of having their age visible to Registered Users.
                        Job Providers can opt out of appearing in Driver search results and in certain Driver emails by
                        adjusting their account settings to not allow Drivers to initiate contact with them.
                        Users of an Outset mobile application, who have given Outset permission to access certain
                        information from their mobile device such as their location, may subsequently opt out of that
                        information sharing by adjusting the settings in their mobile device.</p>

                    <p>Except as otherwise provided above, you may adjust your account settings to opt out of any of the
                        above information sharing that is applicable to your account. Your opt out preferences will take
                        effect within 10 days of receipt of your request.</p>

                    <p>Your Communication Choices</p>

                    <p>By becoming a Outset Registered User, you are consenting to receive certain email communications
                        from us, such as special offers, tips and advice, notifications of new Job Providers or Drivers
                        in
                        your area, customer surveys and administrative notices.</p>

                    <p>You have a choice at any time to stop us from sending you emails for marketing purposes by
                        adjusting
                        your settings in your account settings. You also have the option to opt out of receiving certain
                        other emails from Outset, such as certain educational emails, by adjusting your settings in your
                        account settings. Go to your account settings for a complete list of the email types you may opt
                        out
                        of receiving. If you receive promotional or other email communications from us that you have the
                        option to opt out of, you also will be able to opt out of receiving further communications of
                        that
                        type by following the unsubscribe instructions provided in the e-mail. Please note that despite
                        any
                        indicated email marketing preferences, we may send you administrative emails regarding Outset,
                        including, for example, notices of updates to our Privacy Policy, notifications of new Job
                        Providers
                        or Drivers in your area, responses to job postings from Drivers, and responses to job
                        applications
                        from Drivers, if we choose to provide such notices to you in this manner.</p>

                    <p>If you are a Job Provider, certain Drivers may initiate contact with you directly using the
                        messaging features of the Outset Site. You have an option at any time to stop permitting Drivers
                        from initiating contact with you by adjusting your settings in your account settings.</p>

                    <p>Changing or Removing your Personal Information and Closing your Account</p>

                    <p>If the Personal Information you provided when you registered changes, you may update this
                        information by logging into your account and accessing your account settings. If you would like
                        to
                        remove some of the Personal Information you have posted on the Site, such as information you
                        posted
                        in profiles and job postings, you may do so by editing or deleting that item in your Profile &
                        Settings sections or your Jobs section. To request removal of other Personal Information you
                        have
                        voluntarily posted on our Site, such as information you may have posted in online group forums,
                        contact support@joinoutset.com In some cases, we may not be able to reasonably accommodate your
                        request to remove your Personal Information, in which case we will let you know if we are unable
                        to
                        do so and why.</p>

                    <p>If you no longer wish to participate in our Services you may close your account directly in the
                        account settings portion of your account.</p>

                    <p>If you close your Outset account, we will remove your name and other Personal Information from
                        our
                        publicly viewable database. If you close your account, we have no obligation to retain your
                        information, and may delete any or all of your account information without liability. However,
                        we
                        may retain information related to you if we believe it may

                        be necessary to prevent fraud or future abuse, or for legitimate business purposes, such as
                        analysis
                        of aggregated, Non Personal Information, account recovery, auditing our records, enforcing our
                        rights and obligations under our agreements or if required by law. Outset may also retain and
                        use
                        your information if necessary to provide the Services to other Registered Users. For example,
                        just
                        as an email you may send to another person through an email service provider resides in that
                        person's inbox even after you delete it from your sent files or close your account, emails you
                        send
                        to others through Outset to other Users, as well as your contributions to Outset groups, may
                        remain
                        visible to others after you have closed your account. Similarly, other information you have
                        shared
                        with others, or that others have copied, may also remain visible. Outset disclaims any liability
                        in
                        relation to the deletion or retention (subject to the terms herein) of information or any
                        obligation
                        not to delete the information. Outset does not control when search engines update their search
                        index
                        or cache, which may contain certain job post, profile or other information that has since been
                        removed from Outset's Site.</p>

                    <p>Collection of Information from Children</p>

                    <p>Outset's Site and Services are not intended for individuals under the age of 18. Accordingly,
                        Outset
                        does not knowingly collect, either online or offline, personal information from individuals
                        under
                        the age of 18.</p>

                    <p>How We Protect Information</p>

                    <p>We have implemented industry-recognized safeguards to help protect your information from
                        unauthorized access. These safeguards include:</p>

                    <p>Outset uses SSL (Secure Socket Layer), the industry standard method for computers to communicate
                        securely without risk of manipulation or recipient impersonation. We utilize SSL in the online
                        registration process, in the login process, and in the account management section of the Site.
                        Outset uses strong encryption technology to protect sensitive information.
                        Outset employs firewalls, intrusion detection systems, and system monitoring to protect against
                        unauthorized access of our systems.</p>

                    <p>Your user accounts are also protected by the password you use to access your online account with
                        Outset, and we urge you to take steps to keep your password safe. If you feel your password has
                        been
                        compromised, you should change it immediately by logging into your account and visiting the
                        "Settings" section. After you have finished using our Site, you should log out of your Outset
                        account and exit your browser.</p>

                    <p>WE TAKE THESE PRECAUTIONS IN AN EFFORT TO PROTECT YOUR INFORMATION AGAINST SECURITY BREACHES.
                        HOWEVER, THIS IS NOT A GUARANTEE THAT SUCH INFORMATION MAY NOT BE ACCESSED, DISCLOSED, ALTERED,
                        OR
                        DESTROYED BY BREACH OF SUCH FIREWALLS AND SECURE SERVER SOFTWARE. BY USING OUR SITE, YOU
                        ACKNOWLEDGE
                        THAT YOU UNDERSTAND AND AGREE TO ASSUME THESE RISKS.</p>

                    <p>Links to Other Websites</p>

                    <p>Outset may provide links to other web sites that we believe may be of interest to our users.
                        However, we are not responsible for the privacy practices employed by those web sites, nor are
                        we
                        responsible for the information or content they contain. This Privacy Policy applies solely to
                        information collected by us through Outset; thus when you use a link to go from our web site to
                        another third party web site, this policy is no longer in effect. We encourage our users to read
                        the
                        privacy policies of these other web sites before proceeding to use them.</p>

                    <p>Changes to Our Privacy Policy</p>

                    <p>Outset reserves the right to change this Privacy policy and our Terms of Service at any time. We
                        will notify you about significant changes in the way we treat Personal Information by sending a
                        notice to the email address registered in your account, or by placing a prominent notice on our
                        Site, so that you can choose whether to continue using our Services. Significant changes will go
                        into effect 30 days after we notify. Non-material changes or clarifications will take effect
                        immediately upon posting of the updated policy on our Site. You should
                        periodically
                        check www.joinoutset/privacy for updates. Your use of the Site or the Services after such
                        effective
                        date will constitute acceptance by you of such changes.</p>

                    <p>Contact Us</p>

                    <p>If you have any questions on our Privacy Policy, you can contact us via email at
                        info@joinoutset.com
                        or at:</p>

                    <p>Attn: Legal Department Outset Partners, Inc</p>

                    <p>2269 Chestnut St #607 San Francisco, CA 94123</p>
                </div>
            </div>
        </div>
    </div>
</section>
