<section class="row" data-ng-init="viewCtrl.init()" data-ng-controller="SettingsController as viewCtrl">
    <section class="container">
        <div class="col-md-12">
            <span class="h2 pull-left">{{header}}</span>
            <div class="pull-right" style="margin-top: 20px">
                <div class="col-md-12 text-right">Member Since {{ viewCtrl.user.created | date:'longDate' }}</div>
                <small class="col-md-12 text-right">Logged in via {{ viewCtrl.user.provider }} auth</small>
            </div>
        </div>

        <div class="col-xs-offset-0 col-xs-4 col-md-8">
            <fieldset>
                <!-- Begin include of primary User Information Display -->
                <os-profile profile="viewCtrl.user" edit-mode="viewCtrl.editMode" edit-fn='viewCtrl.edit()'></os-profile>

                <os-edit-profile profile="viewCtrl.user" edit-mode="viewCtrl.editMode" cancel-fn='viewCtrl.cancel()'></os-edit-profile>

                <!-- Begin include of Driver Information Display -->
                <div ng-if="viewCtrl.user.type === 'driver'" ng-init="profile = viewCtrl.user" ng-include="'modules/drivers/views/templates/driver-badge.client.template.html'"></div>

                <!-- Begin include of Company Information Display -->
                <div ng-if="viewCtrl.user.type === 'owner'" ng-include="'modules/companies/views/templates/company-list.client.template.html'"></div>

            </fieldset>
        </div>

        <div class="well well-sm col-md-4">
            <div ng-include="'modules/users/views/templates/addons.client.template.html'"></div>
        </div>
    </section>
</section>
