<a class="btn btn-link" data-ng-click="show()">edit
    <i class="fa fa-pencil-square-o"></i>

    <script type="text/ng-template" id="uploadPictureModal.html">

        <div class="modal-header">
            <span class="modal-title h3 text-center">Upload a new picture</span>
            <div class="pull-right">
                <button type="button" class="close modal-title" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;<span class="sr-only">Close</span></span></button>
            </div>

            <div class="modal-body">
                <span ng-transclude></span>
            </div>

            <div class="modal-footer">


            </div>

        </div>

    </script>
</a>


