<section class="content-section" data-ng-controller="SettingsController as viewCtrl">
    <h3 class="title container text-center">{{vm.listTitle || 'Account Settings'}}</h3>

    <div class="content-container container text-center ">
            <div class="content-container-inner well">

                <div class="container-fluid row">
                    <nav class="col-sm-3 col-md-4 text-right">
                        <ul class="nav nav-pills nav-stacked ">
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="settings.profile">Edit Profile</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="settings.picture">Change Profile Picture</a>
                            </li>
                            <li data-ui-sref-active="active" data-ng-show="viewCtrl.user.provider === 'local'">
                                <a data-ui-sref="settings.password">Change Password</a>
                            </li>
                            <li data-ui-sref-active="active" data-ng-if="false">
                                <a data-ui-sref="settings.accounts">Manage Social Accounts</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="col-sm-9 col-md-8 settings-view">
                        <div data-ui-view class="well"></div>
                    </div>
                </div>
            </div>
        </div>
</section>
