<section>
    <os-page-header title="{{vm.pageTitle || 'Job Application Details'}}"
                    sub-title="{{vm.application.job.name}}"></os-page-header>

    <div class="application panel panel-default">
        <div class="panel-body">

            <!--- DRIVER VIEW - Shows Company Information ---->
            <div class="row" ng-if="vm.user.type==='driver'">
                <h4 class="strong col-xs-12">Employer: {{vm.application.company.name}}
                    <small class="pull-right">Applied on {{vm.application.created | date:'mediumDate'}}</small>
                    <hr/>
                </h4>
                <div class="col-sm-4">
                    <img class="img-responsive center-block" ng-src="{{vm.application.company.profileImageURL}}"/>
                </div>
                <div class="col-sm-8">
                    <p ng-bind-html="vm.application.job.description">
                        {{vm.application.job.description}}
                    </p>
                </div>
                <div class="col-sm-12">
                    <p ng-show="vm.application.messages && vm.application.messages.length">
                        {{vm.application.messages.length}} Total Messages<a href="#messaging" class="pull-right btn btn-link">send a new message</a>
                    </p>
                    <p class="panel panel-info" ng-hide="vm.application.messages && vm.application.messages.length">
                        Now that you are connected, use the messaging functionality to communicate with the {{vm.user.type === 'driver' ? 'Employer' : 'Applicant'}}.
                        You can ask and answer questions, and coordinate a telephone or in-person interview.<br/>
                        <a href="#messaging" class="center-block btn btn-primary">Click Here to Begin</a>
                    </p>
                </div>
            </div>


            <!--- OWNER VIEW - Shows Applicant Information ---->
            <div ng-if="vm.user.type==='owner'">
                <oset-applicant application="vm.application" scroll-to-message-fn="vm.scrollToMessages()"></oset-applicant>
            </div>

            <!--- Show Connection Information VIEW ---->
            <div class="row item"
                 ng-hide="vm.connecting || vm.application.connection || vm.application.connection.isValid">
                <p class="text-center col-sm-10 col-sm-offset-1" ng-bind-html="vm.text.noconnection"></p>

                <div class="col-xs-12 text-right col-sm-10 col-sm-offset-1" ng-show="vm.user.type === 'owner'">
                    <button type="button" class="btn btn-cta btn-cta-primary hidden"><i class="fa fa-trash"></i>Reject
                    </button>
                    <button type="button" class="btn btn-cta btn-cta-secondary" ng-click="vm.createConnection()">
                        Connect
                    </button>
                </div>
            </div>

            <div class="row item" ng-show="vm.connecting">
                <h3 class="text-center"><i class="fa fa-spinner fa-spin"></i>&nbsp;Connecting...</h3>
            </div>

            <div class="row item" ng-show="vm.newlyConnected">
                <p class="text-center">You are now connected to {{vm.application.user.displayName}}. You will now be
                    able to view any reports they have ordered and message directly with them.</p>
            </div>

            <div class="row item" ng-show="vm.application.connection">
                <div class="col-sm-12">
                    <h4>Messages <small class="pull-right">
                        <em>
                            <strong>Connection Status</strong>
                            Me:
                            <div class="label"
                                 ng-class="{'label-success': vm.status.me, 'label-warning':vm.status.me === false, 'label-default': vm.status.me === null}">
                                <i class="fa fa-circle"></i></div>
                            Them:
                            <div class="label"
                                 ng-class="{'label-success': vm.status.them, 'label-warning':vm.status.them === false, 'label-default': vm.status.them === null}">
                                <i class="fa fa-circle"></i></div>
                        </em>
                    </small></h4>


                    <div class="chat-section" ng-show="vm.application.messages && vm.application.messages.length">
                        <div class="row chat-box" ng-repeat="message in vm.application.messages"
                             ng-init="message.username = message.username || message.sender.username"
                             ng-class="{'me': message.username === vm.user.username, 'other': message.username !== vm.user.username }">

                            <span ng-if="message.type !== 'status'">
                                <div class="col-sm-2">
                                    <img class="profile-image medium" ng-show="message.username !== vm.user.username"
                                         ng-src="{{message.profileImageURL || message.sender.profileImageURL}}">
                                </div>

                                <div class="col-sm-8" ng-if="message.type === 'message' || message.type === undefined">
                                    <blockquote><p>{{message.text}}</p></blockquote>
                                    <span class="timestamp smaller">{{message.created | date: 'short' }}</span>
                                </div>

                                <div class="col-sm-2">
                                    <img class="profile-image medium" ng-show="message.username === vm.user.username"
                                         ng-src="{{message.profileImageURL || message.sender.profileImageURL}}">
                                </div>
                            </span>

                            <div class="col-sm-8 col-sm-offset-2 text-center" ng-if="message.type === 'status'">
                                <p>
                                    <span class="timestamp smaller">{{message.sender.displayName}} {{message.text}} : {{message.created | date: 'short' }}</span>
                                </p>
                            </div>

                        </div>

                    </div>
                    <div class="chat-entry" id="messaging">
                        <div class="row">
                            <div class="col-sm-9 col-xs-8">
                                <input type="text" ng-show="vm.messageMode === 'text'"
                                       data-ng-model="vm.message" class="form-control "
                                       placeholder="new message ..."/>

                                <textarea type="text" ng-show="vm.messageMode === 'multiline'" rows="3"
                                          data-ng-model="vm.message" class="form-control"
                                          placeholder="new message..." modal-focus="vm.msgFocus"></textarea>

                                <os-html-edit ng-show="vm.messageMode === 'html'"
                                              model="vm.message"></os-html-edit>
                            </div>
                            <div class="col-sm-3 col-xs-4 center-block text-center">
                                <!--<div class="btn-group" dropdown>-->
                                <button type="button" class="btn btn-oset-primary btn-block" value="send"
                                        ng-click="vm.postMessage();"
                                        ng-class="{'disabled':(vm.sending || !vm.message)}">Send
                                </button>
                            </div>
                            <div data-ng-show="vm.error" class="text-danger">
                                <strong data-ng-bind="vm.error"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
