<section>
    <os-page-header title="{{vm.pageTitle || 'Job Application Details'}}"
                    sub-title="{{vm.application.job.name}}"></os-page-header>

    <div class="application panel panel-default">
        <div class="container-fluid">
            <div class="row" ng-if="vm.user.type==='driver'">
                <h4 class="strong col-xs-12">Employer: {{vm.application.company.name}}
                    <small class="pull-right">Applied on {{vm.application.created | date:'mediumDate'}}</small><hr/>
                </h4>
                <div class="col-sm-4">
                    <img class="img-responsive center-block" ng-src="{{vm.application.company.profileImageURL}}"/>
                </div>
                <div class="col-sm-8">
                    <p ng-bind-html="vm.application.job.description">
                        {{vm.application.job.description}}
                    </p>
                </div>
            </div>
            <div class="row" ng-if="vm.user.type==='owner'">
                <h4 class="strong col-xs-12">Applicant: {{vm.application.user.displayName}}
                    <small class="pull-right">Applied on {{vm.application.created | date:'mediumDate'}}</small><hr/>
                </h4>
                <div class="col-sm-4">
                    <img class="img-responsive center-block" ng-src="{{vm.application.user.profileImageURL}}"/>
                </div>
                <div class="col-sm-8">
                    <p>
                        {{vm.application.introduction}}
                    </p>
                </div>
            </div>


            <div class="row item">
                <div class="col-md-8">
                    <h3 class="title">Messages</h3>

                    <div class="chat-section">

                        <div class="row chat-box" ng-repeat="message in vm.application.messages" ng-init="message.username = message.username || message.sender.username"
                             ng-class="{'me': message.username === vm.user.username, 'other': message.username !== vm.user.username }">

                            <div class="col-sm-2">
                                <img class="img-responsive img-circle" ng-show="message.username !== vm.user.username"
                                     ng-src="{{message.profileImageURL || message.sender.profileImageURL}}">
                            </div>

                            <div class="col-sm-8" ng-if="message.type === 'status'">
                                <blockquote><p></p></blockquote>
                                <span class="timestamp smaller">{{message.sender.displayName}} {{message.text}} : {{message.created | date: 'short' }}</span>
                            </div>

                            <div class="col-sm-8" ng-if="message.type === 'message' || message.type === undefined">
                                <blockquote><p>{{message.text}}</p></blockquote>
                                <span class="timestamp smaller">{{message.created | date: 'short' }}</span>
                            </div>

                            <div class="col-sm-2">
                                <img class="img-responsive img-circle" ng-show="message.username === vm.user.username"
                                     ng-src="{{message.profileImageURL || message.sender.profileImageURL}}">
                            </div>

                        </div>

                    </div>
                    <div class="chat-entry">
                        <form data-ng-submit="vm.postMessage()" name="vm.messageText" novalidate>
                            <div class="col-md-9">
                                <input type="text" ng-show="vm.messageMode === 'text'"
                                       data-ng-model="vm.message" class="form-control"
                                       placeholder="new message ..." required/>
                                        <textarea type="text" ng-show="vm.messageMode === 'multiline'" rows="3"
                                                  data-ng-model="vm.message" class="form-control"
                                                  placeholder="new message..." required></textarea>
                                <os-html-edit ng-show="vm.messageMode === 'html'" toolbar="[]"
                                              model="vm.message"></os-html-edit>
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group" dropdown>
                                    <button type="submit" class="btn btn-primary" value="send">Send</button>
                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                            is-open="vm.isopen">
                                        <span class="caret"></span>
                                        <span class="sr-only">Message Type Options</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"
                                               ng-click="vm.messageMode='text'; vm.isopen = false;"
                                               ng-class="{'strong' : vm.messageMode === 'text'}">Text</a></li>
                                        <li><a href="#"
                                               ng-click="vm.messageMode='multiline'; vm.isopen = false;"
                                               ng-class="{'strong' : vm.messageMode === 'multiline'}">Multi-line</a>
                                        </li>
                                        <li><a href="#"
                                               ng-click="vm.messageMode='html'; vm.isopen = false;"
                                               ng-class="{'strong' : vm.messageMode === 'html'}">Formatted</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div data-ng-show="vm.error" class="text-danger">
                                <strong data-ng-bind="vm.error"></strong>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row item">
                <h3>Application Messages (raw)</h3>
                <pre>{{vm.rawMessages}}</pre>
            </div>
        </div>
    </div>
</section>
