/** Body **/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #0e2d4c;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
}
/** Simple Stylings **/
.strong {
  font-weight: bold !important;
}
.stronger {
  font-weight: bolder !important;
}
.pad-left {
  padding-left: 15px!important;
}
.pad-right {
  padding-right: 15px!important;
}
.pad-bottom {
  padding-bottom: 15px!important;
}
.pad-top {
  padding-top: 15px!important;
}
.mgn-left {
  margin-left: 15px!important;
}
.mgn-right {
  margin-right: 15px!important;
}
.mgn-bottom {
  margin-bottom: 15px!important;
}
.mgn-top {
  margin-top: 15px!important;
}
.text-center-force {
  text-align: center!important;
}
.text-left-force {
  text-align: left!important;
}
.text-right-force {
  text-align: right!important;
}
.application {
  padding-top: 80px;
  padding-bottom: 80px;
}
.application .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
}
.application .intro {
  color: #999999;
  margin-bottom: 30px;
  font-size: 18px;
}
.application .item {
  padding: 90px 0;
  border-bottom: 1px solid #eeeeee;
}
.application .item.last-item {
  border-bottom: none;
}
.application .item .title {
  font-size: 26px;
  color: #4a6781;
  margin-top: 0;
  margin-bottom: 15px;
}
.application .item .desc {
  margin-bottom: 60px;
}
.application .item .desc .fa {
  margin-right: 5px;
}
.application .item .chat-entry {
  border: solid 0 1px 1px 1px #eeeeee;
  background-color: #f5f5f5;
}
.application .item .chat-entry .btn {
  margin: auto;
}
.application .item .chat-entry .input {
  text-align: left;
}
.application .item .chat-section {
  border: solid 1px #eee;
  border-top: solid 2px #5da830;
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.application .item .chat-section .chat-box.chat-text-space p {
  margin-bottom: 10px;
}
.application .item .chat-section .chat-box {
  padding: 5px;
  background: #fff;
  margin-bottom: 0px;
  color: #666666;
  position: relative;
}
.application .item .chat-section .chat-box h2 {
  font-size: 14px;
  line-height: 18px;
}
.application .item .chat-section .chat-box h2 small {
  color: #cccccc;
  font-size-adjust: -3;
}
.application .item .chat-section .chat-box p {
  margin-bottom: 0;
}
.application .item .chat-section .chat-box .chat-profile {
  position: absolute;
}
.application .item .chat-section .chat-box .chat-content {
  margin-left: 90px;
  background: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 14px;
  padding: 15px;
}
.application .item .chat-section .chat-box .chat-content:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 25px;
}
.application .item .chat-section .chat-box.other .chat-profile {
  left: 20px;
}
.application .item .chat-section .chat-box.other .chat-content {
  border-left: 4px solid #e8e8e8;
  margin-left: 90px;
  margin-right: 120px;
}
.application .item .chat-section .chat-box.other .chat-content:before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e8e8e8;
  left: 100px;
}
.application .item .chat-section .chat-box.other .timestamp,
.application .item .chat-section .chat-box.other blockquote {
  text-align: left;
}
.application .item .chat-section .chat-box.me .chat-profile {
  right: 20px;
}
.application .item .chat-section .chat-box.me .chat-content {
  border-right: 4px solid #e8e8e8;
  margin-left: 120px;
  margin-right: 90px;
}
.application .item .chat-section .chat-box.me .chat-content:before {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e8e8e8;
  right: 100px;
}
.application .item .chat-section .chat-box.me .timestamp,
.application .item .chat-section .chat-box.me blockquote {
  text-align: right;
}
.application .item .chat-section .chat-box blockquote {
  border-left: none;
  font-style: italic;
  color: #666666;
  font-size: 16px;
  padding: 0;
  margin-bottom: 10px;
}
.application .item .chat-section .chat-box .timestamp {
  color: #999999;
  font-size: 13px;
  margin-bottom: 0;
}
.application .item .chat-section .chat-box .timestamp a {
  color: #999999;
}
.application .item .chat-section .chat-box .timestamp a:hover {
  color: #808080;
}
/* ======= Standardized Header BG Page : based on "story" ======= */
.content-section {
  padding-top: 90px;
  position: relative;
  z-index: 10;
}
.content-section .title {
  font-size: 36px;
  margin-bottom: 60px;
  margin-top: 0;
  color: #fff;
  font-weight: 300;
}
.content-section .title.h3 {
  font-size: 28px;
  margin-bottom: 20px;
}
.content-section .title.h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.content-section .content-container-inner {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: left;
}
.content-section .about {
  padding: 30px;
}
.content-section .message {
  border-color: #f19180;
  padding: 15px 30px;
  font-family: 'Roboto slab', serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  margin: 60px 30px;
  color: #666666;
}
.content-section .section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.content-section .section .title {
  color: #333333;
  font-size: 28px;
}
.headline-bg.headline-sm + .content-section {
  padding-top: 10px;
}
.headline-bg.headline-sm + .content-section os-page-header h2,
.headline-bg.headline-sm + .content-section h3 {
  margin-bottom: 20px;
}
.clear-bg {
  background-color: #cccccc;
  background-color: transparent;
}
.semi-bg {
  background-color: #cccccc;
  background-color: rgba(238, 238, 238, 0.4);
}
.opaque-bg {
  background-color: #cccccc;
  background-color: rgba(238, 238, 238, 0.9);
}
.blue-bg {
  background-color: #0e2d4c;
}
.headline-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 600px;
  background: #0e2d4c url('/modules/core/img/home-country-road.jpg') no-repeat 50% 75% !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.headline-bg > .overlay {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
  /* IE6-9 */
  width: 100%;
  height: 100%;
}
.headline-bg.headline-sm {
  height: 250px;
}
.bg-slider-wrapper {
  height: 100%;
  width: 100%;
  max-height: 780px!important;
  background: #f6f6f6 url('/modules/core/img/home-country-road.jpg') no-repeat 50% 75% !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.black_mask {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.landing-page {
  /* Intro Sections - EG: Examples; */
}
.landing-page .promo {
  padding-top: 80px;
  position: relative;
  color: #fff;
  margin-bottom: 80px;
  height: 75%;
  z-index: 10;
}
.landing-page .promo .title {
  margin-top: 20px;
}
.landing-page .promo.section .intro {
  color: #f6f6f6;
}
.landing-page .promo .btn-cta {
  font-size: 18px;
}
.landing-page .promo .btn-link {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  text-decoration: none;
}
.landing-page .promo .btn-link:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  text-decoration: none;
}
.landing-page .promo .btn-link:focus {
  outline: none;
}
.landing-page .promo .btn-link .fa {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
  top: 2px;
}
.landing-page .sections-wrapper .section {
  background-color: #FFF;
  padding: 25px 0;
  min-height: 25%;
}
.landing-page .sections-wrapper .section.subhero {
  padding: 0 0;
}
.landing-page .sections-wrapper .section.subhero .container {
  padding: 25px 0;
}
.landing-page .sections-wrapper .section .darken {
  background-color: #f6f6f6 !important;
}
.landing-page .sections-wrapper .section .three-cols h2 {
  text-align: center;
}
.landing-page .sections-wrapper .section .three-cols .lead {
  text-align: justify;
}
.landing-page .sections-wrapper .section .three-cols .col-md-4 > p {
  padding: 0 15px;
}
.landing-page .intro-break {
  position: relative;
  overflow: hidden;
  background: url('/modules/core/img/phx_skyline.png') no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 250px;
}
.landing-page .brand-lead {
  text-align: center;
  position: relative;
  top: 2em;
}
.landing-page .brand-lead img {
  width: 80%;
  max-width: 913px;
}
.landing-page .leader {
  text-align: center;
  position: relative;
  top: 2em;
  color: #fff;
}
.landing-page .leader h1 {
  font-size: 64px;
}
.landing-page div.section-fade {
  height: 49px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.landing-page .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.landing-page .section-heading {
  margin-bottom: 30px;
}
.landing-page .lead {
  font-size: 18px;
  font-weight: 400;
}
.landing-page img {
  vertical-align: middle;
}
i.fa.fa-stack-1x.text-primary {
  top: -4px;
}
.header {
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
}
.header.navbar-fixed-top h1.logo,
.header h1.logo {
  font-family: "Roboto Slab", arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 15px;
  float: left;
}
.header.navbar-fixed-top h1.logo a,
.header h1.logo a {
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  display: inline-block;
  text-align: center;
  line-height: 1.4;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  font-size: 20px;
}
.header.navbar-fixed-top h1.logo a:hover,
.header h1.logo a:hover {
  text-decoration: none;
}
.header.navbar-fixed-top h1.logo a .logo-title,
.header h1.logo a .logo-title {
  min-width: 108px;
  min-height: 36px;
  background-position: center;
  background-repeat: no-repeat;
}
.header.navbar-fixed-top h1.logo a {
  color: #0e2d4c;
  background-color: transparent;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -ms-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  -webkit-transition: background-image 0.4s ease-in-out;
  -moz-transition: background-image 0.4s ease-in-out;
  -ms-transition: background-image 0.4s ease-in-out;
  -o-transition: background-image 0.4s ease-in-out;
}
.header.navbar-fixed-top h1.logo a .logo-title {
  background-image: url('/modules/core/img/brand/logo-dblue.png');
}
.header.navbar-landing h1.logo a {
  color: #fff;
  background-color: #0e2d4c;
}
.header.navbar-landing h1.logo a .logo-title {
  background-image: url('/modules/core/img/brand/logo-white.png');
}
.header h1.logo a {
  background-color: transparent;
}
.header h1.logo a .logo-title {
  background-image: url('/modules/core/img/brand/logo-dblue.png');
}
/** Responsive Override **/
@media (min-width: 992px) {
  .header.navbar-fixed-top h1.logo a {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-nav.navbar-right {
    float: right !important;
  }
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  header.header,
  header.header.navbar-fixed-top {
    height: 40px;
  }
  header.header h1.logo a,
  header.header.navbar-fixed-top h1.logo a {
    padding-top: 2px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: transparent;
  }
  header.header h1.logo a .logo-title,
  header.header.navbar-fixed-top h1.logo a .logo-title {
    background-image: url('/modules/core/img/brand/logo-dblue.png');
    background-size: 50%;
  }
  header.header .main-nav,
  header.header.navbar-fixed-top .main-nav {
    margin-top: 0;
  }
  header.header .main-nav .navbar-toggle,
  header.header.navbar-fixed-top .main-nav .navbar-toggle {
    top: 3px;
  }
}
.well os-page-header .h1,
.well os-page-header .h2,
.well os-page-header .h3,
.well os-page-header .h4,
.well os-page-header .h5,
.well os-page-header .h6 {
  color: #333333;
  text-align: left!important;
}
header.header {
  background-color: #a1a1a1;
  background-color: rgba(255, 255, 255, 0.8);
}
header.header.navbar-landing {
  background-color: rgba(161, 161, 161, 0.4);
}
header.header .header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
header.header .open .header-profile-image,
header.header a:hover .header-profile-image {
  opacity: 1;
}
header.header .user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
/***** FORMS *********/
form {
  /* XS and SMALL (Tablets and phones, 992px and lower) */
}
form .form-group label > small {
  color: #777777;
  display: block;
}
form .form-group label > small:before {
  top: -5px;
}
form .form-group.disabled label,
form .form-group .disabled label,
form .form-group.disabled .btn,
form .form-group .disabled .btn {
  color: #777777 !important;
}
form .form-group.disabled .btn,
form .form-group .disabled .btn {
  border-color: #dfdfdf !important;
}
form .form-group.disabled .btn.active,
form .form-group .disabled .btn.active,
form .form-group.disabled .btn:hover,
form .form-group .disabled .btn:hover,
form .form-group.disabled .btn:active,
form .form-group .disabled .btn:active {
  background: transparent!important;
  cursor: default;
}
form .form-group label.disabled {
  color: #777777;
}
form .form-group label.optional {
  font-weight: normal;
  color: #404040;
}
@media (max-width: 992px) {
  form .form-group label.control-label {
    display: block;
    text-align: left!important;
  }
}
/***** PRICING *******/
.pricing .price-lead {
  height: 550px;
}
.pricing .price-lead > .row {
  position: relative;
  top: 100px;
}
.pricing .price-lead .title {
  font-size: 42px;
  font-weight: 400;
  text-shadow: 0 0 50px #000;
}
.pricing .title {
  padding: 20px 0;
}
.pricing .item {
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: transform .2s;
  top: 15px;
}
.pricing .item:hover {
  z-index: 15;
  -ms-transform: scale(1.03);
  /* IE 9 */
  -webkit-transform: scale(1.03);
  /* Chrome, Safari, Opera */
  transform: scale(1.03);
}
.pricing .item.best-buy .item-content {
  padding-bottom: 0;
}
.pricing .item.horizontal .item-content {
  padding: 0 15px;
  padding-top: 0 !important;
  font-size: 14px;
}
.pricing .item.horizontal .item-inner .item-content > * {
  display: table-cell;
  vertical-align: middle;
}
.pricing .item .item-inner {
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: transform .2s;
}
.pricing .item .item-inner:hover {
  background: #FFF;
}
.pricing .item .fa-stack .price-figure-inner .number {
  color: #f3f3f3;
}
.pricing .item .fa-stack .price-figure-inner .currency {
  color: #f0f0f0;
}
.pricing .item .fa-stack .text-primary {
  color: #0e2d4c;
}
.pricing .item .feature-list li .fa {
  margin-right: 5px;
}
.pricing .item .feature-list li .fa-check {
  color: #4a6781;
}
.pricing .item .feature-list li .fa-plus {
  color: #3c763d;
}
.pricing .item .feature-list li .fa-times {
  color: #999999;
}
.modal.tos .modal-dialog {
  width: 80%!important;
  max-width: 1024px!important;
}
[tos] button.btn-link,
tos button.btn-link {
  pading-left: 0px!important;
  padding-right: 0px!important;
  padding: 0 0!important;
}
[tos] ol,
tos ol,
[tos] ol > li,
tos ol > li {
  list-style-type: none!important;
}
