/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .config-wrapper {
    display: none;
  }
  #topcontrol {
    display: none !important;
  }
  .header h1.logo {
    float: none;
    margin: inherit;
    text-align: center;
  }
  .header h1.logo a {
    margin: 0 auto;
  }
  .header.navbar-fixed-top {
    position: relative;
  }
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 90px;
    position: absolute;
    background: #253340;
    z-index: 45;
  }
  .navbar-collapse .nav {
    margin: 0;
  }
  .header .main-nav .nav .dropdown-menu:before {
    display: none;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit;
  }
  .has-full-screen-bg.access-page .upper-wrapper {
    background: #384d60;
  }
  .access-section {
    padding-top: 15px;
  }
  .headline-bg + .section,
  .bg-slider-wrapper + .section {
    padding-top: 45px;
  }
  .pricing .intro {
    margin-bottom: 45px;
  }
  .features-video iframe {
    padding: 5px;
  }
  .features-tabbed {
    padding-top: 160px;
  }
  .access-section {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
  }
  .signup-page .form-box .intro {
    margin-bottom: 45px;
  }
  .login-page .form-box .title {
    margin-bottom: 45px;
  }
  .section .title {
    font-size: 32px;
  }
  .section .intro {
    font-size: 16px;
  }
  .promo {
    height: 420px;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 58px;
    margin-left: -30px;
  }
  .why .item .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .testimonials .item .profile {
    position: static;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .testimonials .item .content {
    padding-left: 60px;
  }
  .testimonials .item blockquote {
    font-size: 18px;
  }
  .pricing .item.best-buy {
    position: static;
    z-index: inherit;
  }
  .nav-tabs > li > a {
    padding: 10px 5px;
  }
  .apps-section .phone-holder {
    -webkit-background-size: 280px auto;
    -moz-background-size: 280px auto;
    -o-background-size: 280px auto;
    background-size: 280px auto;
  }
  .apps-section .phone-holder .screenshot {
    width: 242px;
    top: 66px;
  }
  .searchbox-container .searchbox {
    width: 100%;
    top: inherit;
    float: none;
    margin-bottom: 30px;
  }
  .searchbox-icon {
    display: none;
  }
  .searchbox-icon,
  .searchbox-submit {
    background: #ec6952;
    color: #fff;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .searchbox-icon:hover,
  .searchbox-submit:hover {
    color: #fff;
  }
  .main-nav .navbar-collapse .navbar-nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .blog-page .header h1.logo {
    float: left;
    margin: inherit;
  }
  .blog-page .header .main-nav .navbar-toggle {
    margin-bottom: 0;
    top: 20px;
  }
  .blog-page .header .main-nav .navbar-toggle .icon-bar {
    background-color: #384d60;
  }
  .blog-page .header .main-nav .navbar-toggle:hover .icon-bar {
    background-color: #253340;
  }
  .blog-page .flexslider {
    margin-top: 0;
  }
  .blog-category {
    margin-top: 0;
  }
  .blog-page .navbar-collapse {
    top: 80px;
  }
  .blog-page .header.navbar-fixed-top .main-nav .nav .nav-item a {
    color: #fff;
  }
  .blog-slider .flex-caption .title {
    font-size: 36px;
  }
  .searchbox-container .searchbox .searchbox-input {
    position: static;
  }
  .footer-col {
    margin-bottom: 30px;
  }
  .footer-col .form-control {
    width: auto;
  }
  .footer .footer-col .navbar-form {
    padding-left: 15px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .footer .footer-col .navbar-form .form-control {
    display: inline-block;
  }
  .modal.modal-video .modal-dialog {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .download-page .headline-bg {
    height: 1600px;
  }
  .story-section .about {
    padding: 0;
  }
  .story-section .belife {
    margin-left: 0;
    margin-right: 0;
  }
  .story-section .team {
    padding: 0;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .config-wrapper {
    display: none;
  }
  .header {
    height: inherit;
  }
  .header.navbar-fixed-top {
    position: relative;
  }
  .blog-slider {
    margin-top: 0;
  }
  .blog {
    margin-top: 0;
  }
  .header h1.logo {
    float: none;
    text-align: center;
  }
  .header h1.logo a {
    margin: 0 auto;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 10px;
  }
  .main-nav.navbar-right {
    float: none !important;
  }
  .blog-page .main-nav.navbar-right {
    float: right !important;
  }
  .navbar-collapse.collapse {
    text-align: center;
  }
  .navbar-collapse.collapse .navbar-nav {
    float: none;
    margin: 0 auto;
    display: inline-block;
  }
  .blog-page .header h1.logo {
    float: left;
    margin: inherit;
  }
  .promo {
    height: 420px;
    padding-top: 80px;
  }
  .promo.section .intro {
    margin-bottom: 30px;
  }
  .promo .btn-link {
    margin-top: 15px;
  }
  .why .item .content {
    margin-bottom: 60px;
  }
  .why .control {
    top: 128px;
    margin-left: -45px;
  }
  .why .item .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .apps-section .phone-holder {
    -webkit-background-size: 280px auto;
    -moz-background-size: 280px auto;
    -o-background-size: 280px auto;
    background-size: 280px auto;
  }
  .apps-section .phone-holder .screenshot {
    width: 242px;
    top: 66px;
  }
  .footer-col {
    margin-bottom: 30px;
  }
  .modal.modal-video .modal-dialog {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .access-page .navbar-collapse.collapse .navbar-nav {
    display: none;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .config-wrapper {
    display: block;
  }
  .header {
    height: 80px;
  }
  .header.navbar-fixed-top {
    position: fixed;
    background: #fff;
    z-index: 1000;
    height: 80px;
    top: 0;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  .header.navbar-fixed-top h1.logo a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #ec6952;
    background: #fff;
    padding-left: 0;
    padding-top: 25px;
  }
  .main-nav {
    float: right !important;
  }
  .navbar-form .form-control {
    width: 280px;
  }
  .header h1.logo {
    float: left;
    margin: inherit;
  }
  .header .main-nav .nav .nav-item {
    margin-right: 15px;
  }
  .main-nav.navbar-right {
    float: right !important;
  }
  .promo {
    height: 620px;
    padding-top: 120px;
  }
  .promo.section .intro {
    margin-bottom: 45px;
  }
  .promo .btn-link {
    margin-top: 15px;
  }
  .why .item .content {
    margin-bottom: inherit;
  }
  .why .control {
    top: 128px;
    margin-left: -28px;
  }
  .modal.modal-video .modal-dialog {
    width: 760px;
    padding-left: 0;
    padding-right: 0;
  }
  .access-page .navbar-collapse.collapse .navbar-nav {
    display: none;
  }
  .access-section .divider {
    text-align: center;
    margin-bottom: 30px;
    color: #999999;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  .access-section .divider span {
    background: #fff;
    display: inline-block;
    padding: 10px 0;
    position: relative;
    top: 80px;
    margin-left: -10px;
  }
  .access-section .divider:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #e5e5e5;
    height: 100%;
    width: 1px;
  }
  .access-section .social-btns {
    padding-left: 65px;
  }
  .access-section .social-btns .note {
    text-align: left;
  }
  .blog-slider {
    margin-top: 80px;
  }
  .why .item .title {
    margin-bottom: 15px;
    text-align: left;
  }
  .why .figure {
    text-align: left;
  }
  .blog-page .blog-category,
  .blog-page .blog-archive {
    margin-top: 80px;
  }
  .blog-entry-wrapper {
    margin-top: 80px;
  }
  /* Only show QR code for desktop */
  .download-area {
    overflow: hidden;
  }
  .download-area .download-list {
    float: left;
  }
  .download-area .qrcode-holder {
    float: left;
    margin-left: 45px;
    text-align: center;
  }
  .download-area .qrcode-holder .qrcode {
    max-width: 140px;
    margin: 0 auto;
  }
  .download-area .qrcode-holder .qrcode .caption {
    font-size: 12px;
    background: #fff;
    padding: 0 15px;
    padding-bottom: 15px;
    color: #253340;
    font-family: arial, sans-serif;
  }
  .navbar-fixed-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* Large devices (large desktops, 1200px and up) */
