@import "outset.less";

/** Bootstrap Grid Overrides */
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* Color Related Overrides */
.darken {
  background-color : @subtle-white !important;
}

/* Font Size/Weight Overrides */
.strong {
  font-weight : bold !important;
}

.stronger {
  font-weight : bolder !important;
}

.bigger {
  font-size : larger;
}

.big {
  font-size : large;
}

.smaller {
  font-size : smaller !important;
}

.small {
  font-size : small !important;
}

/** Text Alignment Overrides **/
.text-center-force {
  text-align : center !important;
}

.text-left-force {
  text-align : left !important;
}

.text-right-force {
  text-align : right !important;
}

/** Padding Overrides **/

.no-pad {
  padding-top    : 0 !important;
  padding-left   : 0 !important;
  padding-bottom : 0 !important;
  padding-right  : 0 !important;
}

.no-pad-sides {
  padding-left  : 0 !important;
  padding-right : 0 !important;
}

.no-pad-top {
  padding-top : 0 !important;
}

.no-pad-bottom {
  padding-bottom : 0 !important;
}

.no-pad-left {
  padding-left : 0 !important;
}

.no-pad-right {
  padding-right : 0 !important;
}

.pad-vert {
  padding-top : 10px !important;
  padding-bottom : 10px !important;
}
.pad-sides {
  padding-left : 10px !important;
  padding-right : 10px !important;
}

.pad-left {
  padding-left : 15px !important;
}

.pad-right {
  padding-right : 15px !important;
}

.pad-bottom, .pad-btm {
  padding-bottom : 15px !important;
}

.pad-top {
  padding-top : 15px !important;
}

.pad {
  padding: 20px 10px!important;
}


/** Margin Overrides **/
.no-margin {
  margin-top    : 0 !important;
  margin-left   : 0 !important;
  margin-bottom : 0 !important;
  margin-right  : 0 !important;
}

.mgn-left {
  margin-left : 15px !important;
}

.mgn-right {
  margin-right : 15px !important;
}

.mgn-bottom, .mgn-btm {
  margin-bottom : 15px !important;
}

.mgn-top {
  margin-top : 15px !important;
}

.mgn-vert {
  margin-bottom : 15px !important;
  margin-top : 15px !important;
}

.mgn-sides {
  margin-left : 15px !important;
  margin-right : 15px !important;
}
