@import "mixins.less";
@import "theme-default.less";
@import "/public/lib/bootstrap/less/variables.less";

@outset-blue: #0e2d4c;
@outset-blue-2: darken(#5DA830, 20%);
@outset-success: darken(@ribbon, 15%);
@subtle-white: #f6f6f6;
@body-bgcolor: darken(#fff, 2%);

/** Body **/
html, body {
  width              : 100%;
  height             : 100%;
  margin             : 0;
  padding            : 0;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

body {
  background-color : @body-bgcolor;
  padding-top      : 50px;
  padding-bottom   : 50px;
  width            : 100%;
  height           : 100%;
}

span.cta-outline {
  border        : 1px solid #a94442;
  border-radius : 4px;
  padding       : 4px;
}

.content > section > *:last-child {
  padding-bottom : 50px;

  &.superbase {
    padding-bottom : 0 !important;
  }
}

/* Map Container */
.angular-google-map-container {
  min-height : 300px;
  width      : 100%;
  border     : 1px solid #AAA;
}

/** Button Stylings **/
a {
  color : @color;
  .transition (all 0.4s ease-in-out);
  &:hover {
    text-decoration : underline;
    color           : darken(@color, 10%);
  }
}

.btn, a.btn {
  .transition (all 0.4s ease-in-out);
  font-weight : bold;
  .fa {
    color        : #fff;
    margin-right : 5px;
  }
}

a.btn-cta, .btn-cta {
  padding : 8px 30px;
}

a.btn-cta-primary, .btn-cta-primary {
  background : @color;
  border     : 2px solid @color;
  color      : #fff;
  &:hover {
    background : darken(@color, 5%);
    border     : 2px solid darken(@color, 5%);
    color      : #fff;
  }
}

a.btn.btn-cta-secondary, .btn.btn-cta-secondary {
  background : none;
  border     : 2px solid @color;
  color      : @color;
  &:hover {
    background-color : lighten(@color, 90%);
    border           : 2px solid @color;
    color            : darken(@color, 10%);
    &.active { color : lighten(@color, 90%); }
  }
  &:active {
    background : lighten(@color, 95%);
    &.active { background-color : lighten(@color, 10%); }
    border     : 2px solid @color;
    color      : #fff;
  }
  &.active {
    background : @color;
    color      : #fff
  }
}

a.btn-ghost, .btn-ghost {
  background     : none;
  border         : 1px solid #fff;
  color          : #fff !important;
  padding        : 8px 20px;
  vertical-align : middle;
  &:hover {
    background : lighten(@color-2, 20%);
    border     : 1px solid lighten(@color-2, 20%);
    color      : #fff;
  }
  .fa {
    margin-right : 10px;
    font-size    : 22px;
  }
  .text {
    position : relative;
    top      : -2px;
  }
}

/** Btn Sizing **/

.btn-cta {
  font-size : 18px;
}

.btn-cta {
  font-size : 20px;
}

/** Simple Stylings **/

.application {
  padding-top    : 0;
  padding-bottom : 0;
  .title {
    font-size   : 36px;
    font-weight : 300;
    margin-top  : 0;
  }
  .intro {
    color         : @grey;
    margin-bottom : 30px;
    font-size     : 18px;
  }
  .item {
    padding       : 90px 0;
    border-bottom : 1px solid @divider;
    &.last-item {
      border-bottom : none;
    }
    .title {
      font-size     : 26px;
      color         : lighten(@color-2, 20%);
      margin-top    : 0;
      margin-bottom : 15px;
    }
    .desc {
      margin-bottom : 60px;
      .fa {
        margin-right : 5px;
      }
    }
    .chat-entry {
      border           : solid 1px @divider;
      border-top       : solid 2px @ribbon;
      background-color : @smoky-white;

      .btn {
        margin         : auto;
        vertical-align : 50%;
        display        : block;
      }
      input, textarea {
        text-align : left;
      }
    }
    .chat-section {
      min-height : 400px;
      max-height : 800px;
      height     : 40%;
      overflow-y : scroll;
      overflow-x : hidden;
      border     : solid 1px @divider;
      border-top : solid 2px @ribbon;

      .chat-box.chat-text-space p {
        margin-bottom : 10px;
      }

      .chat-box {
        padding          : 5px;
        background-color : #FFF;
        margin-bottom    : 0px;
        color            : @darker-grey;
        position         : relative;

        &.me {
          text-align : right;
        }
        &.other {
          text-align : left;
        }

        h2 {
          font-size   : 14px;
          line-height : 18px;

          small {
            color            : @light-grey;
            font-size-adjust : -3;
          }
        }

        p {
          margin-bottom : 0;
        }
        .chat-profile {
          position : absolute;
        }
        .chat-content {
          margin-left : 90px;
          background  : @smoky-white;
          .border-radius(4px);
          font-size   : 14px;
          padding     : 15px;
          &:before {
            content  : "";
            display  : block;
            width    : 0;
            height   : 0;
            position : absolute;
            top      : 25px;
          }
        }
        &.other {
          .chat-profile {
            left : 20px;
          }
          .chat-content {
            border-left  : 4px solid darken(@smoky-white, 5%);
            margin-left  : 90px;
            margin-right : 120px;
            &:before {
              border-top    : 10px solid transparent;
              border-bottom : 10px solid transparent;
              border-right  : 10px solid darken(@smoky-white, 5%);
              left          : 100px;
            }
          }
          .timestamp, blockquote {
            text-align : left;
          }
        }
        &.me {
          .chat-profile {
            right : 20px;
          }
          .chat-content {
            border-right : 4px solid darken(@smoky-white, 5%);
            margin-left  : 120px;
            margin-right : 90px;
            &:before {
              border-top    : 10px solid transparent;
              border-bottom : 10px solid transparent;
              border-left   : 10px solid darken(@smoky-white, 5%);
              right         : 100px;
            }
          }
          .timestamp, blockquote {
            text-align : right;
          }
        }
        blockquote {
          border-left   : none;
          font-style    : italic;
          color         : @text-color-secondary;
          font-size     : 16px;
          padding       : 0;
          margin-bottom : 10px;
        }
        .timestamp {
          color         : @grey;
          font-size     : 13px;
          margin-bottom : 0;
          a {
            color : @grey;
            &:hover {
              color : darken(@grey, 10%);
            }
          }
        }
      }
    }
  }
}

/* ======= Standardized Header BG Page : based on "story" ======= */
.content-section { // .story-section
  padding-top : 90px;
  position    : relative;
  z-index     : 10;
  .title {
    font-size     : 36px;
    margin-bottom : 60px;
    margin-top    : 0;
    color         : #fff;
    font-weight   : 300;

    &.h3 {
      font-size     : 28px;
      margin-bottom : 20px;
    }

    &.h4 {
      font-size     : 20px;
      margin-bottom : 10px;
    }
  }
  .content-container-inner { // .story-container-inner
    max-width        : 900px;
    margin           : 0 auto;
    background-color : #FFF;
    padding          : 30px;
    .border-radius(4px);
    text-align       : left;
  }
  .about {
    padding : 30px;
  }
  .message {
    border-color : lighten(@color, 10%);
    padding      : 15px 30px;
    font-family  : 'Roboto slab', serif;
    font-weight  : 300;
    font-style   : italic;
    font-size    : 20px;
    margin       : 60px 30px;
    color        : @text-color-secondary;
  }
  .section { // .press-kit
    padding-top    : 60px;
    padding-bottom : 60px;
    .title {
      color     : @text-color;
      font-size : 28px;
    }

  }
}

.headline-bg.headline-sm {
  + .content-section {
    padding-top : 10px;

    os-page-header h2, h3 {
      margin-bottom : 20px;
    }
  }
}

/* Page Headers and Profiles */
// All uploaded pictures should now be 200x200
img.user-profile-picture {
  max-height : 200px;
  min-height : 200px;
  max-width  : 300px;
}

.profile-floater {
  //position   : absolute;
  //right      : 0;
  text-align : center;

  div {
    position : absolute;
    bottom   : -50px;
    right    : 0;
    img.user-profile-picture {
    }
    a {
      position  : absolute;
      bottom    : 0;
      right     : 0;
      margin    : 0 4px;
      opacity   : 0.5;
      width     : 100%;
      max-width : 300px;
      i {
        opacity : 0.0;
      }
    }
    &:hover a {
      opacity          : 1;
      background-color : rgb(255, 255, 255);
      background-color : rgba(255, 255, 255, 0.5);
      i {
        display : inline;
        color   : #000066 !important;
      }
    }

  }

}

.clear-bg {
  background-color : @light-grey;
  background-color : transparent;
}

.semi-bg {
  background-color : @light-grey;
  background-color : rgba(238, 238, 238, 0.4);
}

.opaque-bg {
  background-color : @light-grey;
  background-color : rgba(238, 238, 238, 0.9);
}

.blue-bg {
  background-color : #0e2d4c;
}

.headline-bg {
  position   : absolute;
  width      : 100%;
  top        : 0;
  left       : 0;
  height     : 600px;
  background : @outset-blue url('/modules/core/img/home-country-road.jpg') no-repeat 50% 75% !important;
  .background-size(cover);

  > .overlay {
    background : -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6+ */
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5))); /* Chrome,Safari4+ */
    background : -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /* Chrome10+,Safari5.1+ */
    background : -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /* Opera 11.10+ */
    background : -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /* IE10+ */
    background : linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /* W3C */
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0); /* IE6-9 */
    width      : 100%;
    height     : 100%
  }
  &.headline-sm {
    height : 250px;
  }
}

.bg-slider-wrapper {
  height     : 100%;
  width      : 100%;
  max-height : 780px !important;
  background : @subtle-white url('/modules/core/img/home-country-road.jpg') no-repeat 50% 75% !important;
  .background-size(cover);
}

.black_mask {
  background-color : transparent;
  background-color : fade(@outset-blue, 70%); // TODO: Filterize?
  background-size  : cover;
  position         : relative;
  width            : 100%;
  height           : 100%;
  z-index          : 3;
}

@media (max-width : 768px) {

  .container {
    padding-left  : 0 !important;
    padding-right : 0 !important;

    .row {
      margin-left  : 0 !important;
      margin-right : 0 !important;
    }
  }

  .signup-type {
    .lead-question {
      //padding-bottom: 2em;
    }

    .type-option {
      border        : 2px solid @outset-blue;
      .border-radius(1.2em);
      padding       : 1em;
      margin-bottom : 1em;
    }
  }
}

.landing-page {

  .promo {
    padding-top   : 80px;
    position      : relative;
    color         : #fff;
    margin-bottom : 80px;
    height        : 75%;
    z-index       : 10;

    .brand-lead {
      text-align : center;
      position   : relative;

      @media (min-width : 767px) {
        top : 1.2em;
      }

      @media (min-width : 992px) {
        top : 1.4em;
      }

      @media (max-width : 767px) {
        top : 0em;
      }

      img {
        width     : 50%;
        max-width : 700px;
      }
    }

    .title {
      margin-top : 20px;
    }

    &.section .intro {
      color       : @subtle-white;
      text-shadow : 0 1px 1px rgba(0, 0, 0, 0.5);
    }

    .btn-cta {
      font-size : 18px;
    }

    .btn-link {
      color           : #fff;
      font-weight     : bold;
      text-transform  : uppercase;
      font-size       : 12px;
      .opacity(0.7);
      text-decoration : none;
      //text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      &:hover {
        .opacity(1);
        text-decoration : none;
      }
      &:focus {
        outline : none;
      }
      .fa {
        margin-right : 5px;
        font-size    : 18px;
        position     : relative;
        top          : 2px;
      }
    }
  }

  .sections-wrapper .section {
    background-color : #FFF;
    padding          : 25px 0;
    min-height       : 25%;
    &.subhero {
      padding : 0 0;
      .panel {
        padding  : 25px 0;
        position : relative;
        top      : -40px;
      }
    }

    .darken {
      background-color : @subtle-white !important;
    }
    .three-cols {
      h2 {
        text-align : center;
      }
      .lead {
        text-align : justify;
      }
      .col-md-4 > p {
        padding : 0 15px;
      }
    }

    //    &.subhero {
    //      position: relative;
    //      bottom: 0; //: 75%;
    //      width: 100%;
    //      height: 25%;
    //    }
  }

  .intro-break {
    position   : relative;
    overflow   : hidden;
    background : url('/modules/core/img/phx_skyline.png') no-repeat center top fixed;
    .background-size(cover);
    height     : 250px;
    //font-family             : 'Pathway Gothic One', 'alternate-gothic-no-2-d', sans-serif;
  }

  .leader {
    text-align : center;
    position   : relative;
    top        : 2em;
    color      : #fff;
  }

  .leader h1 {
    font-size : 64px;
  }

  div.section-fade {
    height   : 49px;
    position : absolute;
    bottom   : 0;
    width    : 100%;
  }

  /* Intro Sections - EG: Examples; */

  .img-responsive {
    display   : block;
    max-width : 100%;
    height    : auto;
  }

  .section-heading {
    margin-bottom : 30px;
  }

  .lead {
    font-size   : 18px;
    font-weight : 400;
  }

  img {
    vertical-align : middle;
  }

  .cta-section {
    background : @outset-blue none !important;
    padding    : 50px 0 75px 0 !important;
  }
}

// Restrict hoizontal scrolling in mobile devices
// from: http://stackoverflow.com/questions/19337482/twitter-bootstrap-3-horizontal-scrolling-issue
@media (max-width : 767px) {
  .container {
    padding-right : 0;
    padding-left  : 0;
    margin-right  : auto;
    margin-left   : auto;
  }
}

i.fa.fa-stack-1x.text-primary {
  top : -4px;
}

header {
  &.header {

    &.navbar-landing {
      background-color : rgba(255, 255, 255, 0.9);
      //background-color : rgba(161, 161, 161, 0.4);

      &.navbar-fixed-top {
        //background-color : rgba(216,216,216, 0.8);
        background-color : rgba(255, 255, 255, 0.95);
      }
    }

    h1.logo {
      a {
        color            : @outset-blue;
        background-color : transparent !important;
      }

      a .logo-title {
        background-image : url('/modules/core/img/brand/logo-dblue.png');
      }
    }

    background-color : rgba(255, 255, 255, 0.8);

    .header-profile-image {
      opacity       : 0.8;
      height        : 28px;
      width         : 28px;
      border-radius : 50%;
      margin-right  : 5px;
    }

    .open .header-profile-image, a:hover .header-profile-image {
      opacity : 1;
    }

    .user-header-dropdown-toggle {
      padding-top    : 11px !important;
      padding-bottom : 11px !important;
    }
  }
}

.header {
  .transition (background-color 0.4s ease-in-out);

  a {
    .transition (background-color 0.4s ease-in-out);
    .transition (background-image 0.4s ease-in-out);
  }

  &.navbar-fixed-top .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary, .main-nav .nav .nav-item.nav-item-cta a.btn-cta-secondary:hover {
    color : #ffffff !important;
  }

  &.navbar-fixed-top h1.logo, & h1.logo {
    font-family   : "Roboto Slab", arial, sans-serif;
    margin-top    : 0;
    margin-bottom : 0;
    font-weight   : bold;
    font-size     : 15px;
    float         : left;

    a {
      padding-top    : 15px;
      padding-right  : 30px;
      padding-bottom : 15px;
      padding-left   : 30px;
      display        : inline-block;
      text-align     : center;
      line-height    : 1.4;
      .border-radiuses(0, 4px, 4px, 0);
      position       : relative;
      font-size      : 20px;

      &:hover {
        text-decoration : none;
      }

      .logo-title {
        min-width           : 108px;
        min-height          : 36px;
        background-position : center;
        background-repeat   : no-repeat;
      }
    }
  }

  &.navbar-landing .nav li.nav-item:hover {
    color : white;
  }

  .nav li.nav-item {
    cursor : pointer;
    cursor : hand;
  }

}

/** Responsive Override **/
@media (min-width : 992px) {
  .header.navbar-fixed-top {
    h1.logo a {
      padding-top    : 15px;
      padding-right  : 30px;
      padding-bottom : 15px;
      padding-left   : 30px;
      .border-radiuses(0, 4px, 4px, 0);
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width : 768px) {
  .main-nav.navbar-right {
    float : right !important;
  }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width : 767px) {

  header.header, header.header.navbar-fixed-top, header.header.navbar-fixed-top.navbar-landing {
    height : 40px;

    h1.logo {
      a {
        padding-top      : 2px;
        padding-right    : 0;
        padding-bottom   : 0;
        padding-left     : 0;
        .border-radiuses(0, 0, 0, 0);
        background-color : transparent;

        .logo-title {
          background-image : url('/modules/core/img/brand/logo-dblue.png');
          background-size  : 50%;
        }
      }
    }

    .main-nav {
      margin-top : 0;

      .navbar-toggle {
        top : 3px;
      }
    }

  }

}

os-html-edit {
  ta-editor {
    min-height : 96px !important;
  }
  button[disabled] {
    display : none !important;
  }
}

.well {
  os-page-header {
    .h1, .h2, .h3, .h4, .h5, .h6 {
      color      : @text-color;
      text-align : left !important;
    }
  }
}

footer {

  .btn-cta, a.btn-cta {
    padding : 9px 10px;
  }

}

/***** FORMS *********/
form {
  textarea.form-control {
    height : auto !important;
  }

  .readonly-validation p.form-control-static {
    boder-bottom   : 1px dotted @text-color-secondary;
    padding-bottom : 2px;
  }

  .form-control {
    .box-shadow(none);
    height       : 40px;
    border-color : darken(@divider, 10%);
    .placeholder(lighten(@grey, 5%));
    &:focus {
      border-color : darken(@divider, 5%);
      .box-shadow(none);
    }

  }

  .form-group {
    label > small {
      color   : @text-muted;
      display : block;
      &:before {
        top : -5px;
      }
    }

    &.disabled, .disabled {
      label, .btn {
        color : @text-muted !important;
      }
      .btn {
        border-color : lighten(desaturate(@color, 100%), 25%) !important;

        &.active, &:hover, &:active {
          background : transparent !important;
          cursor     : default;
        }
      }
    }

    label.disabled {
      color : @text-muted;
    }

    .btn-group {
    }

    label.optional {
      font-weight : normal;
      color       : lighten(@text-color, 5%);
    }

  }

  label.no-border {
    &, :hover, :active {
      border : none !important;
    }
    margin : 4px 8px;
  }

  label.btn-cta-secondary.oset-toggles {
    &.active {
      .box-shadow(none);
    }

    &:active, &:hover {
      .box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
    }

    i.fa {
      padding-top : 3px;
      color       : inherit !important;
    }
    i.fa::before {
      content  : "\F10C"; // fa-circle-o
      position : absolute;
    }

    &:hover i.fa::before {
      content : "\F128"; // fa-question
    }

    &.active i.fa::before {
      content : "\F058"; // fa-check-circle
    }

    &.active:hover i.fa::before {
      content : "\F00C"; // fa-check
    }

    &.oset-input {
      * {
        display : inline;
        .transition (all 0.3s ease-in-out)
      }
      input {
        color   : @color;
        outline : none;
      }
    }
  }

  button, input {
    &.input-inline {
      i {
        padding-left  : 8px;
        padding-right : 5px;
      }
    }
  }
  .input-inline {
    &button {
      padding : 0;
      i {
        padding-left  : 8px;
        padding-right : 5px;
      }
    }

    &input {
    }
  }

  /* XS and SMALL (Tablets and phones, 992px and lower) */
  @media (max-width : 992px) {
    .form-group label.control-label {
      display    : block;
      text-align : left !important;
    }
  }
}

label.no-border {
  &, :hover, :active {
    border : none !important;
    cursor : auto;
  }
  margin : 4px 4px;
}

label.btn-cta-secondary {
  &.active {
    .box-shadow(none);
  }
}

os-bg-check-summary > .pricing {
  padding-top    : 0;
  padding-bottom : 0;

  h3 {
    margin-top : 0;
  }
}

/***** PRICING *******/
.pricing {
  &.section.section-on-bg {
    padding-top : 0;
  }
  .price-lead {
    height        : 350px;
    margin-bottom : 50px;
    > .row {
      position : relative;
      top      : 0px;
    }
    .title {
      font-size   : 42px;
      font-weight : 400;
      text-shadow : 0 0 50px #000;
      color       : white;

      &.secondary {
        padding-top : 30px;
        font-size   : 36px;
      }
    }

  }
  .title {
    padding : 0 0 0 0;
  }
  .item {
    -webkit-transition : -webkit-transform .2s, -webkit-box-shadow .2s;
    transition         : transform .2s;
    top                : 15px;

    &:hover {
      z-index           : 15;
      -ms-transform     : scale(1.03); /* IE 9 */
      -webkit-transform : scale(1.03); /* Chrome, Safari, Opera */
      transform         : scale(1.03);
    }
    &.best-buy .item-content {
      padding-bottom : 0;
    }
    &.horizontal .item-content {
      padding     : 0 15px;
      padding-top : 0 !important;
      font-size   : 14px;
    }
    &.horizontal .item-inner .item-content > * {
      display        : table-cell;
      vertical-align : middle;
    }
    .heading .title {
      font-size : 22px;
    }
    .item-inner {
      -webkit-transition : -webkit-transform .2s, -webkit-box-shadow .2s;
      transition         : transform .2s;
      &:hover {
        background-color : #FFF;
      }
    }
    .fa-stack {
      .price-figure-inner .number {
        color : #f3f3f3;
      }
      .price-figure-inner .currency {
        color : #f0f0f0;
      }
      .text-primary {
        color : #0e2d4c;
      }
    }
    .feature-list li {
      .fa {
        margin-right : 5px;
      }
      .fa-check {
        color : #4a6781;
      }
      .fa-plus {
        color : #3c763d;
      }
      .fa-times {
        color : #999999;
      }
    }
  }
}

.profile-image {
  &.small {
    width  : 28px;
    height : 28px;
  }
  &.medium {
    width  : 56px;
    height : 56px;
  }
  &.round {
    border-right : 50%;
  }
}

.modal {
  &.tos {
    .modal-dialog {
      width     : 80% !important;
      max-width : 1024px !important;
    }
  }
}

[tos], tos {
  button.btn-link {
    pading-left   : 0px !important;
    padding-right : 0px !important;
    padding       : 0 0 !important;
  }

  ol, ol > li {
    list-style-type : none !important;
  }
}

.endorsement.label {
  margin : 0 6px 0 0;
}

.faq {

  .panel {

    .panel-heading {
      padding : 15px 30px;
    }
    .panel-body {
      padding : 10px 15px;
      color   : @text-color-secondary;
    }
  }
}

.payment-form {
  .dropin {
    background-color : white;
    padding-top      : 20px;
  }
}

.application {
  .cover-letter {
    accordion-group .panel.panel-default {
      border     : none;
      background : transparent;
      color      : inherit;
    }
  }
}

.date-label {
  background : @smoky-white;
  display    : inline-block;
  width      : 50px;
  height     : 60px;
  text-align : center;
  font-size  : 13px;
  position   : absolute;
  left       : 15px;
  top        : 30px;
  color      : #fff;
  .box-shadow(1px 1px 3px rgba(0, 0, 0, .15));

  .month {
    background     : @color-2;
    display        : block;
    font-size      : 13px;
    text-transform : uppercase;
    padding        : 2px 0;
  }

  .date-number {
    clear       : left;
    display     : block;
    padding-top : 5px;
    font-size   : 18px;
    font-family : 'open sans', arial, sans-serif;
    font-weight : 500;
    color       : @color-2;
  }

}

// NEW LIST STYLES /////
.blog-archive {

  .job-list .post .content {
    padding-left : 80px;
  }

  .post {
    position : relative;
  }

}

.post {
  position : relative;
  .date-label {
    background : @smoky-white;
    display    : inline-block;
    width      : 50px;
    height     : 60px;
    text-align : center;
    font-size  : 13px;
    position   : absolute;
    left       : 15px;
    top        : 30px;
    color      : #fff;
    .month {
      background     : @color-2;
      display        : block;
      font-size      : 13px;
      text-transform : uppercase;
      padding        : 2px 0;
    }

    .date-number {
      clear       : left;
      display     : block;
      padding-top : 5px;
      font-size   : 18px;
      font-family : 'open sans', arial, sans-serif;
      font-weight : 500;
      color       : @color-2;
    }

  }

}

.application-list, .outset-list {
  margin-top : 40px;
  .page-title {
    margin-top    : 0;
    margin-bottom : 60px;
    font-weight   : 300;
    font-size     : 36px;
    padding-top   : 80px;
    .fa {
      color        : lighten(@color-2, 10%);
      margin-right : 10px;
      font-size    : 30px;
    }
  }
  .job-list .post {

    .content {

      &.lead-content {
        padding-left : 140px;
      }

      .list-picture {
        display    : inline-block;
        width      : 130px;
        text-align : center;
        position   : absolute;
        left       : 0;
        top        : 20px;
        overflow   : hidden;
      }

      .list-date {
        background-color : white;
        padding-left     : 10px;
        display          : inline-block;
        width            : auto;
        text-align       : right;
        position         : absolute;
        right            : 15px;
        top              : 30px;
      }

      .post-title {
        font-size     : 20px;
        margin-bottom : 8px;
      }
      .meta ul {
        border-top     : none;
        border-bottom  : 1px solid @divider;
        padding-bottom : 15px;
        padding-top    : 5px;
      }
    }
  }
  .blog-category-list.job-list {
    .post {
      margin-bottom : 20px;
    }
  }

  table {
    margin-bottom : 0;
  }

}

.application-list, .outset-list {
  .post {
    padding       : 0 15px;
    margin-bottom : 30px;
    .post-inner {
      background : #FFFFFF;
      padding    : 0;
      position   : relative;
      border     : 1px solid @divider;
      .border-radius(4px);
      .box-shadow(0 4px 1px rgba(0, 0, 0, .05));
      overflow   : hidden; // prevent images from overflowing
    }

    .post-thumb {
      background : @color-2;
      overflow   : hidden;
      .border-radiuses(4px, 0, 0, 4px);
      img {
        .opacity(1);
        .transition(all .2s ease-in-out;);
        .border-radiuses(4px, 0, 0, 4px);
        margin     : 0 auto;
        text-align : center;

        &:hover {
          .transform (scale(1.1));
          .opacity(0.6);
          .transition(all .4s ease-in-out;);
        }

      }

    }

    &.job-post {
      .content {
        padding-left : 30px !important;
      }
    }
    .content {
      padding        : 30px;
      padding-left   : 80px;
      padding-bottom : 15px;
      color          : @text-color-secondary;

      &.lead-content {
        padding-bottom : 0px;
      }

      &.body {
        padding-top  : 0px;
        padding-left : 30px;
      }

      .post-title {
        margin-top : 0;
        font-size  : 18px;
        a {
          color : @color-2;
        }

      }
      .post-entry {
        margin-bottom : 15px;
      }
      .meta {
        font-size     : 13px;
        color         : @grey;
        margin-bottom : 0;
        ul {
          margin-left : 0;
          border-top  : 1px solid @divider;
          padding-top : 15px;
        }
        li {
          &:first-child {
            padding-left : 0;
          }
          &.post-author {
          }
          .fa {
            margin-right : 5px;
          }
          a {
            color : @grey;
            &:hover {
              color : @color;
            }
          }
        }
      }
    }
  }

}

// ** BUTTONS ** /

a.btn-oset-primary, .btn-oset-primary {
  background : @outset-blue;
  border     : 2px solid @outset-blue;
  color      : #fff;
  &:hover {
    background : darken(@outset-blue, 5%);
    border     : 2px solid darken(@outset-blue, 5%);
    color      : #fff;
  }
}

a.btn-oset-secondary, .btn-oset-secondary {
  background : none;
  border     : 2px solid @outset-blue;
  color      : @outset-blue;
  &:hover {
    background : darken(@outset-blue, 2%);
    border     : 2px solid @outset-blue;
    color      : darken(#fff, 10%);
    &.active {
      background : lighten(@outset-blue, 5%);
    }
  }
  &:active {
    background : darken(@outset-blue, 5%);
    border     : 2px solid @outset-blue;
    color      : #fff;
  }
  &.active {
    background : @outset-blue;
    color      : #fff
  }
}

a.btn-oset-success, .btn-oset-success {
  background : none;
  border     : 2px solid @outset-success;
  color      : @outset-success;
  &:hover {
    background : darken(@outset-success, 2%);
    border     : 2px solid @outset-success;
    color      : darken(#fff, 10%);
    &.active {
      background : lighten(@outset-success, 5%);
    }
  }
  &:active {
    background : darken(@outset-success, 5%);
    border     : 2px solid @outset-success;
    color      : #fff;
  }
  &.active {
    background : @outset-success;
    color      : #fff
  }
}

a.btn-oset-ghost, .btn-oset-ghost {
  background     : none;
  border         : 1px solid #fff;
  color          : #fff !important;
  padding        : 8px 20px;
  vertical-align : middle;
  &:hover {
    background : lighten(@outset-blue-2, 20%);
    border     : 1px solid lighten(@outset-blue-2, 20%);
    color      : #fff;
  }
  .fa {
    margin-right : 10px;
    font-size    : 22px;
  }
  .text {
    position : relative;
    top      : -2px;
  }
}

text-angular {

  .ta-toolbar.focused {
    border-top-left-radius  : 4px;
    border-top-right-radius : 4px;
    margin-left             : 0px;
    margin-bottom           : 0px;
    padding                 : 7px 5px 9px 5px;
    display                 : block;
    background-color        : @smoky-white;
    border                  : 1px solid @divider;
    border-bottom-width     : 0;
  }

  .ta-editor {
    border-top-left-radius  : 0;
    border-top-right-radius : 0;
  }

  a.btn-cta-toolbar, .btn-cta-toolbar {
    background : @smoky-white;
    border     : 2px solid @divider;
    &, & .fa {
      color : @text-color-secondary;
    }
    &:hover {
      background : darken(@smoky-white, 2%);
      &, & .fa { color : darken(@text-color-secondary, 10%); }
      &.active {
        background : darken(@divider, 5%);
      }
    }
    &:active {
      background : @divider;
      border     : 2px solid @divider;
      &, & .fa { color : darken(@text-color, 2%); }
    }
    &.active {
      background : @divider;
      &, & .fa { color : @text-color; }
    }
  }
}

div, .btn, a, .btn-cta {
  > .fa {
    color : inherit !important;
  }
}

.btn-tab {
  padding : 4px 8px;
  color   : @color;
  .transition (all 0.4s ease-in-out);
  &:hover {
    text-decoration : underline;
    color           : darken(@color, 10%);
  }

  &.active {
    background-color : @color;
    color            : #FFFFFF;
  }

  &[disabled] {
    opacity : 0.0;
  }
}

.tab-body {
  border-top  : 2px solid @color;
  padding-top : 10px;
}

.bg-primary {
  background-color : @outset-blue;
}

.bg-success {
  background-color : @outset-success;
}

*[href] {
  cursor : pointer;
}

dl.mini-table {
  dt {
    padding-top : 2px;
    dd p {
      margin-bottom : 0px;
    }
  }
}

.applicant {
  .panel.letter {
    padding    : 8px 12px;
    min-height : 56px;
  }

  dd {
    padding-bottom : 8px;
    min-height     : 30px;
  }

  dl.mini-table dd {
    padding-bottom : 6px;
    min-height     : 16px;

    p {
      padding-bottom : 0;
    }
  }

}

.report-badges {

  &.not-visible .report-badge {
    .badge-info .badge-info-inner i.fa.fa-1x {
      display : none;
    }
  }

  &.not-available, &.not-visible {
    .available {
      cursor : default;
    }

    i.fa-certificate.fa, i.fa.fa-file {
      color : @light-grey !important;
      color : fade(@text-color-secondary, 15%) !important;
    }

    .available i.fa-certificate.fa, .available i.fa.fa-file {
      color : @darker-grey !important;
      color : fade(@text-color-secondary, 50%) !important;
    }
  }

  //  .fa.fa-check, .fa.fa-times, .fa.fa-question {
  //    display : none;
  //  }

  .report-badge {
    &.available .fa.fa-certificate, &.available .fa.fa-file {
      color       : @outset-blue;
      text-shadow : 1px 1px 2px rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }

    .title {
      font-size   : 16px;
      font-weight : bold;
      color       : white;
    }

    &.available {
      .fa.fa-check, .fa.fa-times, .fa.fa-question {
        display : inherit;
      }
    }

    .fa.fa-1x {
      position : absolute;
      right    : 5px;
      top      : 5px;

      &.fa-check {
        color : #006400 !important;
      }
      &.fa-times {
        color : #8b0000 !important;
      }
      &.fa-question {
        color : @text-color-secondary;
      }
    }
  }
}

//Job Application Modal
form.applicant-form {
  textarea.form-control {
    min-height : 250px;
    resize     : vertical;
  }
}
