<div>
    <span ng-show="!!vm.hasLicense" class="license">
        <p>
            <span ng-if="!!(vm.license.state || vm.license.class)">
                {{vm.license.state}}
                <span ng-if="vm.license.class"> Class {{vm.license.class | uppercase }}</span>
                {{!vm.license.class ? '' : vm.license.type || 'Commercial'}}
                 Driver License
            </span>
            <span class="endorsements" ng-if="!!vm.showEndorsements">
             <br ng-if="!!(vm.license.state || vm.license.class)"/>
                <small class="strong">Endorsements: </small>
                <oset-list-endorsements ng-if="!!vm.showEndorsements"
                                    model="vm.license.endorsements"></oset-list-endorsements>
            </span>
        </p>
    </span>

    <em class="small text-muted" ng-hide="!!vm.hasLicense">no license on file</em>
</div>
