<ng-form name="vm.licenseForm">
    <div class="container-fluid license-details">
        <div class="well"><pre>{{vm.license}}</pre></div>
        <div class="row profile-row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label class="col-sm-12 col-md-6 control-label">License Type</label>

                    <div class="controls col-sm-10 col-md-6">
                        <div class="btn-group">
                            <label ng-repeat="licenseType in vm.licenseTypes" class="btn btn-cta-secondary btn-sm"
                                   ng-model="vm.license.type"
                                   btn-radio="licenseType">{{licenseType}}</label>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'disabled':vm.license.type != 'Commercial'}">
                    <label class="control-label col-sm-6">
                        Class Rating
                    </label>

                    <div class="controls col-sm-10 col-md-6 ">
                        <div class="btn-group">
                            <label ng-repeat="val in vm.ratings" class="btn btn-cta-secondary btn-sm"
                                   ng-model="vm.license.rating"
                                   btn-radio="val">{{val}}</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12 col-md-6 control-label">State
                    </label>

                    <div class="controls col-sm-10 col-md-6" syle>
                        <pre>Model: {{vm.license.state | json}}</pre>
                        <input type="text" ng-model="vm.license.state" typeahead="state as state.name for state in vm.states | filter:$viewValue | limitTo:8" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12 col-md-6 control-label">Expiration Date </label>

                    <div class="controls col-sm-10 col-md-6">
                        <input type="text" class="form-control" ng-model="vm.shadow.expires" ui-mask="{{vm.maskFormat}}"
                               placeholder="{{vm.dateFormat}}" name="expires" id="expiration"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-12 col-md-6 control-label">Date of Birth
                        <br/>
                        <small>Your birthdate</small>
                    </label>

                    <div class="controls col-sm-10 col-md-6">
                        <input type="text" class="form-control" ng-model="vm.shadow.dateOfBirth"
                               ui-mask="{{vm.maskFormat}}" placeholder="{{vm.dateFormat}}" name="dob"/>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">


                <div class="form-group">
                    <label class="control-label col-md-8 col-md-offset-2 col-xs-12 text-left-force">Endorsements<br>
                        <small>any endorsements on your license?</small>
                    </label>

                    <div class="controls col-md-8 col-md-offset-2 col-xs-12">
                        <div class="btn-group btn-group-vertical center-block">
                            <label ng-repeat="endorsement in vm.endorsements"
                                   class="btn btn-cta-secondary btn-md container-fluid" ng-model="vm.license.endorsements[endorsement.key]"
                                   btn-checkbox data-ng-class="{'active':endorsement.value}">
                                <i data-ng-class="{'fa-circle-o': !endorsement.value, 'fa-check-circle':endorsement.value}"
                                   class="fa pull-left"></i>
                                <div class="col-xs-4 text-left">{{endorsement.key}}</div>
                                <div class="col-xs-7 text-left">
                                    <small>{{endorsement.description}}
                                    </small>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
