<ng-form name="vm.licenseForm">
    <div class="container-fluid license-details">
        <div class="row profile-row">
            <div class="col-sm-6">

                <div class="form-group row">
                    <label class="col-sm-6 control-label">License Type
                    </label>

                    <div class="controls col-sm-6">
                        <select class="form-control" data-ng-model="vm.model.type" name="licenseType">
                            <option ng-selected="true">Standard</option>
                            <option>Commercial</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-6 control-label">State
                        <br/>
                        <small>The state which issued the license</small>
                    </label>

                    <div class="controls col-sm-6" syle>
                        <select class="form-control" data-ng-model="vm.model.state" name="licenseState">
                            <option value="AZ">AZ</option>
                            <option value="CA">CA</option>
                            <option value="NV">NV</option>
                            <option value="------">------</option>
                            <option value="-more-">-more-</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-6 control-label">Expiration
                        <br/>
                        <small>The date your license expires</small>
                    </label>

                    <div class="controls col-sm-6">
                        <input type="text" class="form-control" ng-model="vm.shadow.expires" ui-mask="{{vm.maskFormat}}"
                               placeholder="{{vm.dateFormat}}"  name="expires" id="expiration"/>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-6 control-label">Date of Birth
                        <br/>
                        <small>Your birthdate</small>
                    </label>

                    <div class="controls col-sm-6">
                        <input type="text" class="form-control" ng-model="vm.shadow.dateOfBirth"
                               ui-mask="{{vm.maskFormat}}" placeholder="{{vm.dateFormat}}" name="dob"/>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">

                <div class="row">
                    <label class="col-sm-6 control-label">Class Rating
                        <br/>
                        <small>the license class rating</small>
                    </label>

                    <div class="controls col-sm-6">
                        <div class="btn-group">
                            <label ng-repeat="val in vm.ratings" class="btn btn-primary btn-sm"
                                   ng-model="vm.model.rating"
                                   btn-radio="val">{{val}}</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-6 control-label">Endorsements

                        <br/>
                        <small>any endorsements on the license</small>
                    </label>

                    <div class="controls col-sm-6">
                        <div class="btn-group btn-group-vertical">
                            <label ng-repeat="endorsement in vm.endorsements"
                                   class="btn btn-primary btn-md container-fluid" ng-model="endorsement.value"
                                   btn-checkbox>
                                <div data-ng-class="{'fa-circle-o': !endorsement.value, 'fa-check-circle':endorsement.value}"
                                     class="fa pull-left"></div>
                                <div class="col-xs-4 text-left">{{endorsement.key}}</div>
                                <div class="col-xs-7 text-left">
                                    <small>{{endorsement.description}}
                                    </small>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>
