<section class="content-section">
	<h3 class="title container text-center">Login Required!</h3>

	<div class="content-container container text-center">
		<div class="content-container-inner">
			<div class="about">
				<p class="text-center">In order to access that part of Outset, you will need to create an account!</p>

				<div class="container-fluid row">
					<div class="text-center">

						<button class="btn btn-large btn-cta btn-cta-primary" signup-modal>Sign Up</button>


					</div>
				</div>
				<br>

				<p class="text-center">Or, if you have already created an account, please sign in!</p>

				<div class="container-fluid row">
					<div div class="text-center">

						<button class="btn btn-large btn-cta btn-cta-secondary" login-modal>Sign In</button>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
