html, body, .content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #0e2d4c;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
}
.content > section {
    padding-bottom: 100px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
.header-profile-image {
    opacity: 0.8;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}
.open .header-profile-image, a:hover .header-profile-image {
    opacity: 1;
}
.user-header-dropdown-toggle {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}
.navbar {
    background: rgba(161, 161, 161, 0.4);
}
.navbar-brand > div.brand-img {
    display: block;
    height: 40px;
    width: 144px;
    position: relative;
    top: -10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-inverse .navbar-brand > div {
    background: url('../img/brand/logo-white.png') no-repeat;
}
.navbar-default .navbar-brand > div {
    background: url('../img/brand/logo-blue.png') no-repeat;
}
.clear-bg {
    background-color: rgba(238, 238, 238, 0.0);
}
.semi-bg {
    background-color: rgba(238, 238, 238, 0.4);
}
.opaque-bg {
    background-color: rgba(238, 238, 238, 0.9);
}
.blue-bg {
    background-color: #0e2d4c;
    background-color: transparent(0.9);
}
/* Forms Specific Styling */

div.controls > input, div.controls > .input-group {
    top: 10px;
    position: relative;
}
div.controls > label.control-label {
    float: right;
}
label > small {
    font-weight: normal;
}
/* Home/Intro Styling */

.intro {
    position: relative;
    overflow: hidden;
    height: auto;
    background: url('../img/home-country-road.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Pathway Gothic One', 'alternate-gothic-no-2-d', sans-serif;
}
.intro-break {
    position: relative;
    overflow: hidden;
    height: auto;
    background: url('../img/phx_skyline.png') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 250px;
    font-family: 'Pathway Gothic One', 'alternate-gothic-no-2-d', sans-serif;
}
.brand-lead {
    text-align: center;
    position: absolute;
    top: 10%;
}
.leader {
    text-align: center;
    position: absolute;
    bottom: 60px;
    padding-bottom: 20px;
    color: #fff;
}
.leader h1 {
    font-size: 64px;
}
.signup {
    padding: 10px 0 0 0;
}
.signup .btn-primary {
    font-family: 'Pathway Gothic One', 'alternate-gothic-no-2-d', sans-serif;
    font-size: 32px;
    padding: 25px 60px 25px 60px;
    margin-top: 80px;
}
div.fade-blue {
    background: url('../img/fade-blue.png') repeat-x;
}
div.fade-black {
    background: url('../img/fade-black.png') repeat-x;
}
div.fade-white {
    background: url('../img/fade-white.png') repeat-x;
}
div.section-fade {
    height: 49px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Intro Sections - EG: Examples; */

.intro-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
.intro-section {
    background-color: #FFF;
    padding: 50px 0;
    color: #333;
    min-height: 25%;
}
.intro-section.darken {
    background-color: #DDD;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.section-heading {
    margin-bottom: 30px;
}
.lead {
    font-size: 18px;
    font-weight: 400;
}
img {
    vertical-align: middle;
}
/* Debug Info */

os-debug-info > div {
    position: fixed;
    bottom: 50px;
    right: 0;
    z-index: 1500;
}
os-debug-info > div.collapsed > div {
    display: none;
    min-height: 20px;
}
