<section class="container-fluid">
    
    <os-page-header title="Edit Company Profile">
        <span>Joined on <span class="strong">{{::vm.company && (vm.company.created || vm.company.owner.created) || vm.user.created | date:'mediumDate'}}</span></span>.
        <span ng-if="!!vm.company.modified && vm.company.modifed != vm.company.created">Last Modified: <span class="strong">{{::vm.company.modified | date:'mediumDate'}}</span></span>
    </os-page-header>

    <form class="form-horizontal" data-ng-submit="vm.submit()" novalidate>
        <fieldset>

            <div class="row">
                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="name">General Information</label></span>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="name">Business
                                    Name
                                    <br/>
                                    <small class="text-muted">the name of your business</small>
                                </label>

                                <div class="controls col-sm-8">
                                    <div ng-class="{'input-group' : !!vm.hasTitle}">
                                        <input type="text" data-ng-model="vm.company.name"  data-ng-show="!!vm.editName || !!vm.editing"
                                               id="name" class="form-control h5" placeholder="Name" required/>
                                        <p type="text" data-ng-show="!vm.editName && !vm.editing"
                                              class="h4 static-control" placeholder="Name" required>{{vm.company.name}}</p>
                                        <span class="input-group-btn" ng-if="!!vm.hasTitle"><button type="button" class="btn btn-link" ng-click="vm.editName = !vm.editName">
                                            <i class="fa fa-lg" ng-class="{'fa-close':!!vm.editing || vm.editName, 'fa-edit':!vm.editing && !vm.editName}"></i><span ng-if="!vm.editing && !vm.editName">&nbsp;edit</span>
                                        </button></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="name">Legal Entity Name
                                    <br/>
                                    <small class="text-muted">the legal entity name of your business</small>
                                </label>

                                <div class="controls col-sm-8">
                                    <input type="text" data-ng-model="vm.company.legalEntityName" id="legalEntityName" class="form-control"
                                           placeholder="{{vm.company.name}}"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="about">About
                                    <br/>
                                    <small class="text-muted">a short introduction to your business</small>
                                </label>

                                <div class="controls col-sm-8">
                                    <textarea os-html-edit id="about" data-ng-model="vm.company.about"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="sku">Gateway Information</label></span>
                            <button type="button" class="btn btn-link pull-right" ng-click="vm.editGW = !vm.editGW">
                                <i class="fa fa-lg" ng-class="{'fa-close':!!vm.editGW, 'fa-edit':!vm.editGW}"></i><span ng-if="!vm.editGW">&nbsp;edit</span>
                            </button>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="sku">Gateway SKU</label>

                                <div class="controls col-sm-8">
                                    <div ng-class="{'input-group' : !!vm.hasTitle}">
                                        <input type="text" data-ng-model="vm.company.gateway.sku"  data-ng-show="!!vm.editGW"
                                               id="sku" class="form-control h5" placeholder="SKU" required/>
                                        <p type="text" data-ng-show="!vm.editGW"
                                              class="h4 static-control" placeholder="sku" required>{{vm.company.gateway.sku}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="required">Required</label>

                                <div class="controls col-sm-8">
                                    <div class="btn-group pull-right">
                                        <label class="btn btn-oset-secondary" ng-model="vm.company.gateway.required" btn-radio="true">Yes</label>
                                        <label class="btn btn-oset-secondary" ng-model="vm.company.gateway.required" btn-radio="false">No</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="payment">Gateway Payment</label>

                                <div class="controls col-sm-8">
                                    <div ng-class="{'input-group' : !!vm.hasTitle}">
                                        <input type="text" data-ng-model="vm.company.gateway.payment"  data-ng-show="!!vm.editGW"
                                               id="payment" class="form-control h5" placeholder="Payment" required/>
                                        <p type="text" data-ng-show="!vm.editGW"
                                              class="h4 static-control" placeholder="Payment" required>{{vm.company.gateway.payment}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="name">Gateway Release Type</label>

                                <div class="controls col-sm-8">
                                    <div ng-class="{'input-group' : !!vm.hasTitle}">
                                        <input type="text" data-ng-model="vm.company.gateway.releaseType"  data-ng-show="!!vm.editGW"
                                               id="releaseType" class="form-control h5" placeholder="Release Type" required/>
                                        <p type="text" data-ng-show="!vm.editGW"
                                              class="h4 static-control" placeholder="Release Type" required>{{vm.company.gateway.releaseType}}</p>
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="h4"><label class="control-label" for="name">Business Location</label></span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            </div>

                            <div class="col-sm-4">

                                <div class="form-group">
                                    <label class="control-label" for="zip">Location
                                        <small class="text-muted">where your business is located</small>
                                    </label>

                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        <input type="text" data-ng-model="vm.company.zipCode" id="zip" class="form-control"
                                               placeholder="XXXXX" ng-model-options="{ updateOn: 'blur' }"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <os-edit-address-list models="vm.company.locations" inline-edit="true"  required="false" full-width="true"></os-edit-address-list>
                                </div>

                            </div>

                            <div class="col-sm-8">
                                <os-map-location address="vm.company.locations[0]"
                                                 zip-code="vm.company.zipCode"></os-map-location>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4"><label class="control-label" for="name">Contact Information</label></span>
                </div>
                <div class="panel-body">

                    <div class="form-group">

                        <label class="col-sm-3 control-label" for="phone">Business Phone
                            <br/>
                            <small class="text-muted">primary business number</small>
                        </label>

                        <div class="controls col-sm-8">
                            <input type="text" data-ng-model="vm.company.phone" id="phone" class="form-control"
                                   placeholder="(xxx) xxx-xxxx" required/>
                        </div>
                    </div>

                    <div class="form-group">

                        <label class="col-sm-3 control-label" for="email">Business Email
                            <br/>
                            <small class="text-muted">for notifications</small>
                        </label>

                        <div class="controls col-sm-8">
                            <input type="text" data-ng-model="vm.company.email" id="email" class="form-control"
                                   placeholder="jobs@your_company.com"/>
                        </div>
                    </div>
                </div>
            </div>

            <os-form-actions submit-text="{{vm.submitText}}" cancel-fn="vm.cancel" error-text="vm.error"></os-form-actions>
        </fieldset>
    </form>
</section>
