<section class="container-fluid opaque-bg">
    <div class="row">
        <div class="col-sm-12 page-header">
            <h1>Companies <span class="label label-primary">{{vm.companies.length}}</span></h1>
        </div>
    </div>

    <div class="row list-group">
        <div class="col-sm-12">
            <a data-ng-repeat="company in vm.companies" data-ng-href="companies/{{company._id}}"
               class="row list-group-item">
                <os-company class="col-sm-12" company="company" inline="true"></os-company>
            </a>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!!vm.companies || !!vm.companies.length">
            No Companies yet, why don't you <a href="/companies/create">create one</a>?
        </div>
    </div>
</section>
