<section class="section section-on-bg no-pad-bottom">
    <div class="container">

        <div class="price-lead">
            <div class="row" ng-if="vm.subscription">
                <h3 class="title text-center" ng-bind-html="vm.text.lead"></h3>

                <div class="item horizontal price-1 col-xs-12 text-center">
                    <div class="item-inner">
                        <div class="row item-content">
                            <div class="col-sm-12">
                                <h2>{{vm.subscription.name}}</h2>
                            </div>
                            <pre>{{vm.subscription}}</pre>
                        </div>
                    </div>
                </div>
                <!--//item-->
                <div class="clearfix"></div>

                <h3 class="title secondary text-center" data-ng-bind-html="vm.text.sub"></h3>
            </div>

            <div class="row" ng-if="!vm.subscription">
                <h3 class="title text-center" ng-bind-html="vm.text.lead"></h3>


                <div class="item horizontal price-1 col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 col-xs-12 text-center"
                     ng-click="vm.orderSubscription(vm.subscriptions.packages[0].planId)">
                    <div class="item-inner">
                        <div class="row item-content">
                            <div class="col-md-3 col-xs-4">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                                    <span class="price-figure">
                                        <span class="price-figure-inner fa fa-stack-1x"
                                              ng-class="{'price-promo': !!vm.subscriptions.packages[0].promo}">
                                            <span class="currency">$</span>
                                            <span class="number">{{vm.subscriptions.packages[0].promo || vm.subscriptions.packages[0].price || 5}}</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-9 col-xs-8">
                                <h3 class="lead"><span ng-bind-html="vm.subscriptions.packages[0].name">Trial</span><br>
                                    <span class="small" ng-bind-html="vm.subscriptions.packages[0].description">Get Started Today!</span>
                                </h3>
                            </div>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-->
                    <div class="clearfix"></div>

                    <h3 class="title secondary text-center" data-ng-bind-html="vm.text.sub"></h3>
                </div>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="row">
                <oset-subscription-info user="vm.user" companyid="vm.companyId"></oset-subscription-info>
            </div>
        </div>

    </div>
    <!--//container-->
</section>

<section class="container-fluid opaque-bg">
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center mgn-bottom">Frequently Asked Questions</h2>
            <hr>

            <accordion class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <accordion-group class="panel" ng-repeat="faq in vm.faqs">
                        <accordion-heading class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq1"><i
                                    class="fa fa-plus-square"></i>{{faq.question}}</a></h4>
                        </accordion-heading>

                        <p class="panel-body" data-ng-bind-html="faq.answer">
                        </p>

                        <div class="label label-muted hidden" ng-repeat="key in faq.keywords track by $index">{{key}}
                        </div>
                    </accordion-group>
                    <!--//panel-->
                </div>
            </accordion>
            <!--//row-->
        </div>
        <!--//container-->
    </section>
</section>
