<div class="section section-on-bg no-pad">
    <div class="container">
        <div class="price-lead">
            <div class="row" ng-if="!!vm.subscription.isValid">


                <div class="item horizontal price-1 col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="item-inner panel panel-default">
                        <div class="panel-heading">
                            <h2 class="text-center">{{vm.text.lead}}: {{vm.subscription.name}}</h2>
                        </div>

                        <div class="panel-body">
                            <ul class="col-sm-8 col-sm-offset-2">
                                <li ng-repeat="name in vm.features"
                                    ng-init="feature = vm.subscription.features[name]"
                                    ng-show="!!feature.value">
                                    {{name}}: <span ng-if="!!feature.text" ng-bind="feature.text"></span>
                                    <i class="fa fa-check text-success" ng-if="!feature.text && !!feature.value"></i>
                                </li>
                            </ul>

                            <p class="h3 col-sm-8 col-sm-offset-2 text-center">
                                {{vm.subscription.statusMessage}}
                            </p>

                            <p class="col-sm-8 col-sm-offset-2 text-center">
                                <em>Your subscription will renew on <strong>{{vm.subscription.renews | amDateFormat :
                                    'L' }}</strong></em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--//item-->
            <div class="clearfix"></div>

            <h2 class="title secondary text-center">&nbsp;</h2>
        </div>

        <div class="row" ng-if="false && !vm.subscription.isValid">
            <div class="item horizontal price-1 col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="item-inner panel panel-default">

                    <div class="panel-body text-center">
                        <h3 ng-bind-html="vm.text.lead"></h3>

                        <h4 ng-bind-html="vm.text.sub"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="row">
                <oset-subscription-info user="vm.user" companyid="vm.companyId"
                                        subscription="vm.subscription"></oset-subscription-info>
            </div>
        </div>
    </div>

    <!--//container-->
</div>

<section class="container-fluid opaque-bg">
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center mgn-bottom">Frequently Asked Questions</h2>
            <hr>

            <accordion class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <accordion-group class="panel" ng-repeat="faq in vm.faqs">
                        <accordion-heading class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq1"><i
                                    class="fa fa-plus-square"></i>{{faq.question}}</a></h4>
                        </accordion-heading>

                        <p class="panel-body" data-ng-bind-html="faq.answer">
                        </p>

                        <div class="label label-muted hidden" ng-repeat="key in faq.keywords track by $index">{{key}}
                        </div>
                    </accordion-group>
                    <!--//panel-->
                </div>
            </accordion>
            <!--//row-->
        </div>
        <!--//container-->
    </section>
</section>
