<section class="pricing section section-on-bg no-pad-bottom">
    <div class="container">


        <div class="price-lead">
            <div class="row">
                <h3 class="title text-center" ng-bind-html="vm.text.lead"></h3>

                <div class="item horizontal price-1 col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 col-xs-12 text-center"
                     ng-click="vm.orderSubscription(vm.subscriptions.base.planId)">

                    <div class="item-inner">
                        <div class="row item-content">
                            <div class="col-md-3 col-xs-4">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                                    <span class="price-figure">
                                        <span class="price-figure-inner fa fa-stack-1x"
                                              ng-class="{'price-promo': !!vm.subscriptions.base.promo}">
                                            <span class="currency">$</span>
                                            <span class="number">{{vm.subscriptions.base.promo || vm.subscriptions.base.price || 5}}</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-9 col-xs-8">
                                <h3 class="lead"><span ng-bind-html="vm.subscriptions.base.name">Trial</span><br>
                                    <span class="small" ng-bind-html="vm.subscriptions.base.description">Get Started Today!</span>
                                </h3>
                            </div>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
                <div class="clearfix"></div>

                <h3 class="title secondary text-center" data-ng-bind-html="vm.text.sub"></h3>
            </div>

        </div>


        <div class="price-cols row">
            <div class="items-wrapper col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">

                <div class="item price-1 col-sm-offset-2 col-md-4 col-sm-4 col-xs-12 text-center mgn-right"
                     ng-click="vm.orderSubscription(vm.subscriptions.base.planId)">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title" ng-bind="vm.subscriptions.base.name"></h3>

                            <p class="price-figure"><span class="price-figure-inner"><span
                                    class="currency">$</span>
                                <span class="number" ng-bind="vm.subscriptions.base.price"></span>
                                <br><span class="unit">per month</span></span></p>
                        </div>
                        <div class="item-content">
                            <ul class="list-unstyled feature-list">
                                <li ng-repeat="feature in vm.subscriptions.base.features"
                                    class="{{feature.classes}}">
                                    <i class="{{feature.icon || 'fa fa-plus'}} {{feature.classes}}"></i>
                                    <span ng-bind-html="feature.text"></span>
                                </li>
                            </ul>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->

                <div class="item price-3 col-md-4 col-sm-4 col-xs-12 text-center mgn-left"
                     ng-click="vm.orderSubscription(vm.subscriptions.enterprise.planId)">
                    <div class="item-inner">
                        <div class="heading">
                            <h3 class="title" ng-bind="vm.subscriptions.enterprise.name"></h3>

                            <p class="price-figure"><span class="price-figure-inner"><span
                                    class="currency">$</span>
                                <span class="number"
                                      ng-bind="vm.subscriptions.enterprise.price"></span>
                                <br><span class="unit">per month</span></span>
                            </p>
                        </div>
                        <div class="item-content">
                            <ul class="list-unstyled feature-list">
                                <li ng-repeat="feature in vm.subscriptions.enterprise.features"
                                    class="{{feature.classes}}">
                                    <i class="{{feature.icon || 'fa fa-plus'}} {{feature.classes}}"></i>
                                    <span ng-bind-html="feature.text"></span>
                                </li>
                            </ul>
                        </div>
                        <!--//item-content-->
                    </div>
                    <!--//item-inner-->
                </div>
                <!--//item-->
            </div>
            <!--//items-wrapper-->
        </div>
        <!--//row-->

        <div class="price-cols row" ng-if="vm.subscriptions.enterprise.enabled">
            <div class="item horizontal price-1 col-md-8 col-sm-10 col-md-offset-2 col-sm-offset-1 col-xs-12 text-center"
                 ng-click="vm.orderSubscription(vm.subscriptions.best.planId)">

                <div class="item-inner">
                    <div class="row item-content">
                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="col-md-3 col-xs-4">
                                <span class="fa-stack fa-3x">
                                    <i class="fa fa-certificate fa-stack-2x text-primary"></i>
                                    <span class="price-figure">
                                        <span class="price-figure-inner fa fa-stack-1x"
                                              ng-class="{'price-promo': !!vm.subscriptions.enterprise.promo}">
                                            <span class="currency">$</span>
                                            <span class="number">{{vm.subscriptions.enterprise.price.length > 2 ? '?' : vm.subscriptions.enterprise.price}}</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-10">
                            <h3 class="lead">
                                <span ng-bind-html="vm.subscriptions.enterprise.name"></span>
                                <br>
                                <span class="small" ng-bind-html="vm.subscriptions.enterprise.description">Get Started Today!</span>
                            </h3>

                        </div>
                    </div>
                    <!--//item-content-->
                </div>
                <!--//item-inner-->
            </div>
        </div>

    </div>
    <!--//container-->
</section>


</section>


<section class="container-fluid opaque-bg">
    <section class="faq section has-bg-color">
        <div class="container">
            <h2 class="title text-center mgn-bottom">Frequently Asked Questions</h2>
            <hr>

            <accordion class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <accordion-group class="panel" ng-repeat="faq in vm.faqs">
                        <accordion-heading class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse"
                                                       class="panel-toggle" href="#faq1"><i
                                    class="fa fa-plus-square"></i>{{faq.question}}</a></h4>
                        </accordion-heading>

                        <p class="panel-body" data-ng-bind-html="faq.answer">
                        </p>

                        <div class="label label-muted hidden" ng-repeat="key in faq.keywords track by $index">{{key}}
                        </div>
                    </accordion-group>
                    <!--//panel-->
                </div>
            </accordion>
            <!--//row-->
        </div>
        <!--//container-->
    </section>
