    <section class="container-fluid">

        <os-page-header title="{{vm.titleText}}"
                        sub-title="Hi {{vm.user.displayName}}, Welcome to Outset Phoenix!&nbsp;" show-edit="!!vm.company && vm.canEdit"
                        picture-url="vm.imageURL" picture-edit-fn="vm.showModal()">
            Member Since <span data-ng-bind="vm.company.created | date:'mediumDate'"></span>
        </os-page-header>

        <div class="row" ng-if="!!vm.company" ng-show="vm.showPhotoEdit">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <span class="h4">Change Profile Picture
                    <div class="pull-right">
                        <button type="button" class="close modal-title" ng-click="vm.hideModal()"><span
                                aria-hidden="true">&times;<span class="sr-only">Close</span></span></button>
                    </div></span>
                    </div>
                    <div class="panel-body">
                        <os-picture-uploader model="vm.company" title="{{vm.company.name}}" mode="company"
                                             success-callback="vm.successFunction" shape="rectangle">
                        </os-picture-uploader>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8" data-ng-class="{'col-md-offset-2': !vm.company}">
                <os-company company="vm.company" config="vm.config"></os-company>

                <os-job-list ng-if="!!vm.company && vm.company.about" header="Open Jobs" company="vm.company" company-id="{{vm.company._id}}"
                             show-post="vm.user._id === vm.company.owner._id" show-search="false"></os-job-list>
            </div>

            <div class="gutter right col-md-4" ng-if="!!vm.company">

                <button class="btn btn-cta-primary btn-lg btn-block bigger mgn-bottom"
                        dta-ng-if="vm.canEdit"
                        ui-href="jobs.create({'companyId' : (vm.company._id || vm.company) }">
                    Post a New Job!
                </button>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="h4">Where we are</span>
                    </div>
                    <div class="panel-body">
                        <os-map-location zip-code='vm.company.zipCode' addresses="vm.company.locations"></os-map-location>

                        <os-address-list models="vm.company.locations" can-edit="false" full-width="true"></os-address-list>
                    </div>
                </div>

            </div>
        </div>
    </section>
