<section class="container-fluid">
    <os-page-header title="{{vm.company.name}}" edit-sref="companies.edit({companyId: '{{vm.company._id}}'})" show-edit="vm.authentication.user._id === vm.company.owner._id">
        Joined on
        <span data-ng-bind="vm.company.created | date:'mediumDate'"></span>.
        Owner:
        <span data-ng-bind="vm.company.owner.displayName"></span>
    </os-page-header>

    <div class="row">
        <div class="col-md-8">
            <os-company company="vm.company"></os-company>

            <os-job-list header="Open Jobs" company="vm.company" company-id="{{vm.company._id}}" show-post="vm.authentication.user._id === vm.company.owner._id" ></os-job-list>
        </div>

        <div class="gutter right col-md-4">
            <span class="evilNonSemanticSpacer"></span>

            <div class="profile-floater">
                <img data-ng-src="{{vm.imageURL}}" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture">
                <a class="btn btn-link" href="/companies/{{vm.company._id}}/edit/picture">edit
                    <i class="fa fa-pencil-square-o"></i>
                </a>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">Where we are</span>
                </div>
                <div class="panel-body">
                    <os-map-location zip-code='{{vm.company.zipCode}}'></os-map-location>
                    <os-address model="vm.company.location[0]"></os-address>
                </div>
            </div>

        </div>
    </div>
</section>
