<!-- os-address : address.client.template.html -->
<div class="panel" ng-if="!!vm.address">
     <div class="panel-heading">
        <span class="h4">{{vm.address.typeVal}}</span>
        <button data-ng-if="vm.allowEdit" type="button" class="pull-right btn-link" value="edit"
                ng-click="vm.editAddress(this)">
            <i class="fa fa-pencil"></i>
        </button>
        <button data-ng-show="vm.enableRemove()" type="button" class="pull-right btn-link" value="delete"
                ng-click="vm.remove(this)">
            <i class="fa fa-trash-o"></i>
        </button>
    </div>
    <div class="panel-body">
        <address>
            <div ng-repeat="(s,street) in vm.address.streetAddresses track by s">
                {{vm.address.streetAddresses[s]}}
            </div>
            {{vm.address.city}}, {{vm.address.state}} {{vm.address.zipCode}}
            <br/>
        </address>
    </div>
</div>


<script type="text/ng-template" id="addressEditModal.html" ng-if="vm.allowEdit">

    <div class="modal-header">
        <span class="modal-title h3 text-center">Add Address</span>

        <div class="pull-right">
            <button class="btn btn-text" ng-click="$dismiss('cancel')">X</button>
        </div>
    </div>

    <form role="form" data-ng-submit="signin()" class="signin form-horizontal" spellcheck="false" novalidate>
        <div class="modal-body">
            <os-edit-address address="vm.address" enable-edit="true"></os-edit-address>
        </div>

        <div class="modal-footer">
            <div class="text-center form-group">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>
    </form>

</script>
