<!-- os-edit-address : edit-address.client.template.html -->
<section class="well">
    <div class="animate-show" ng-animate="'animate'">

        <div ng-class="{'input-group' : !!vm.address.type}">

            <span class="dropdown input-group-btn" dropdown is-open="vm.ddlStatus.isopen" on-toggle="vm.toggled(open)">
                <button type="button" class="btn btn-oset-link dropdown-toggle" dropdown-toggle
                        ng-class="{'btn-block':!vm.address.type}" >
                    <b><span ng-show="!vm.address.type">select address type<span class="caret"></span></span>
                    <span ng-show="!!vm.address.type">address type:</span></b>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="type in vm.types"><a href="#" ng-click="vm.setType(type, $event)">{{type}}</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="vm.setType('other', $event)">other ...</a></li>
                </ul>
            </span>

            <p class="form-control-static" ng-show="vm.address.type !== 'other' && !!vm.address.type"><b>{{vm.address.type | titleCase }}</b></p>
            <input type="text" id="typeOther" name="typeOther" class="form-control" data-ng-model="vm.address.typeOther"
                   data-ng-show="vm.address.type === 'other'" placeholder="Address Type"/>
            <!-- /btn-group -->

        </div>

        <div ng-repeat="(s,street) in vm.address.streetAddresses track by s">
            <input type="text" id="street-address" name="street-address" class="form-control"
                   ng-required="false"
                   data-ng-model="vm.address.streetAddresses[s]"
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                   placeholder="Street Address {{$index+1}}">
        </div>

        <label class="sr-only" for="city">City</label>
        <input type="text" id="city" name="city" class="form-control" data-ng-model="vm.address.city"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
               placeholder="City" ng-required="false">

        <label class="sr-only" for="state">State</label>
        <input type="text" id="state" name="state" class="form-control" data-ng-model="vm.address.state"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
               placeholder="State" ng-required="false">

        <label class="sr-only" for="address-zip">Zip Code</label>
        <input type="text" id="address-zip" name="zip" class="form-control" data-ng-model="vm.address.zipCode"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
               placeholder="ZIP">
    </div>
</section>
