<!-- os-edit-address : edit-address.client.template.html -->
<section>
    <div ng-show="vm.enableEdit">
        <div class="form-group">
            <select ng-model="vm.address.type" ng-options="type as type for type in vm.types" class="form-control">
                <option value="">-- choose type --</option>
            </select>
            <input type="text" id="typeOther" name="typeOther" class="form-control" data-ng-model="vm.address.typeOther"
                   data-ng-show="vm.address.type === 'other'" />

            <div ng-repeat="(s,street) in vm.address.streetAddresses track by s">
                <input type="text" id="street-address" name="street-address" class="form-control"
                       data-ng-model="vm.address.streetAddresses[s]" ng-model-options="{ updateOn: 'blur' }" placeholder="Street Address {{$index+1}}">
            </div>

            <label class="sr-only" for="city">City</label>
            <input type="text" id="city" name="city" class="form-control" data-ng-model="vm.address.city"
                   ng-model-options="{ updateOn: 'blur' }" placeholder="City">

            <label class="sr-only" for="state">State</label>
            <input type="text" id="state" name="state" class="form-control" data-ng-model="vm.address.state"
                   ng-model-options="{ updateOn: 'blur' }" placeholder="State">

            <label class="sr-only" for="address-zip">Zip Code</label>
            <input type="text" id="address-zip" name="zip" class="form-control" data-ng-model="vm.address.zipCode"
                   ng-model-options="{ updateOn: 'blur' }" placeholder="ZIP">
        </div>
    </div>
</section>
